Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Fix stargate and grpc query docs
  packages/std/src/query/mod.rs
Due: cosmwasm-std

Add GrpcQuery to QueryRequest conversion
  packages/std/src/query/mod.rs
Due: cosmwasm-std

Update schemas
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
Due: none

Improve wording
  packages/std/src/query/mod.rs
Due: cosmwasm-std

Feature-gate grpc query
  docs/CAPABILITIES-BUILT-IN.md
  packages/std/Cargo.toml
  packages/std/src/query/mod.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add changelog entry for grpc query
  CHANGELOG.md
Due: none

Throw compiler error if std feature is not enabled
  packages/std/src/prelude.rs
Due: cosmwasm-std

Fix builds
  .circleci/config.yml
  contracts/cyberpunk/Cargo.toml
  contracts/hackatom/Cargo.toml
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.toml
  devtools/check_workspace.sh
  packages/std/src/lib.rs
  packages/std/src/prelude.rs
  packages/vm/Cargo.toml
Due: cosmwasm-std

Make grpc query fields public
  packages/std/src/query/mod.rs
Due: cosmwasm-std

Add migrating entry for grpc query
  MIGRATING.md
Due: none

Expose sub-queriers directly in MockQuerier
  contracts/cyberpunk/src/contract.rs
  contracts/hackatom/src/contract.rs
  contracts/ibc-reflect/src/contract.rs
  contracts/staking/src/contract.rs
  packages/std/src/testing/mock.rs
  packages/vm/src/testing/querier.rs
Due: cosmwasm-std

Add migrating entry
  MIGRATING.md
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Remove update_* functions from MockQuerier
  CHANGELOG.md
  MIGRATING.md
  contracts/staking/src/contract.rs
  packages/std/src/testing/mock.rs
  packages/vm/src/testing/querier.rs
Due: cosmwasm-std

Set version: 2.0.0-beta.0
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std

Update changelog
  CHANGELOG.md
Due: none

Require cosmwasm-vm and cosmwasm-std to match cosmwasm-check version
  CHANGELOG.md
  packages/check/Cargo.toml
Due: none

Rename BackendApi functions
  CHANGELOG.md
  packages/vm/src/backend.rs
  packages/vm/src/imports.rs
  packages/vm/src/testing/mock.rs
Due: none

Keep track of number of functions, args and ouputs
  packages/vm/src/parsed_wasm.rs
Due: none

Add function number checks
  packages/vm/src/compatibility.rs
Due: none

Catch panic
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add BackendApi::addr_validate
  CHANGELOG.md
  packages/vm/src/backend.rs
  packages/vm/src/imports.rs
  packages/vm/src/testing/mock.rs
Due: none

Set version: 1.4.2
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Set version: 1.2.8
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Set version: 1.3.4
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Set version: 1.5.1
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Avoid the need for BackendApi to be Copy
  packages/vm/src/backend.rs
  packages/vm/src/environment.rs
  packages/vm/src/instance.rs
Due: none

Rename variable to gas_total
  packages/vm/src/testing/mock.rs
Due: none

Improve try_with_gas readability
  packages/vm/src/backend.rs
  packages/vm/src/testing/mock.rs
Due: none

Rename to unwrap_or_return_with_gas and use in addr_validate
  packages/vm/src/backend.rs
  packages/vm/src/testing/mock.rs
Due: none

Store engine together with Module to fix memory increase issue
  packages/vm/src/cache.rs
  packages/vm/src/modules/cached_module.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/mod.rs
  packages/vm/src/modules/pinned_memory_cache.rs
Due: none

Add CHANGELOG entry for fixing #1978
  CHANGELOG.md
Due: none
