Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

fixes:
  - "/root/project/::" # reduce root, e.g. "/root/project/path/" => "path/"

flags:
  cosmwasm-check:
    paths:
      - packages/check/
  #cosmwasm-core:
  #  paths:
  #    - packages/core/
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-schema-derive:
    paths:
      - packages/schema-derive/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-vm:
    paths:
      - packages/vm/
  cosmwasm-vm-derive:
    paths:
      - packages/vm-derive/

Upgraded ed25519-zebra dependency.
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Upgraded ed25519-zebra dependency. (#2681)
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Updates.
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Updates.
  Cargo.lock
  Cargo.toml
  packages/crypto/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-vm

Updates.
  Cargo.lock
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Updates.
  Cargo.toml
  packages/crypto/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-std, cosmwasm-vm

Updates.
  Cargo.lock
  Cargo.toml
  packages/check/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
Due: cosmwasm-check, cosmwasm-schema

Updates.
  Cargo.lock
  packages/vm-derive/Cargo.toml
Due: cosmwasm-vm-derive

Updates.
  Cargo.lock
  a.txt
  packages/vm/Cargo.toml
Due: cosmwasm-vm

Updates.
  Cargo.lock
  packages/vm/Cargo.toml
Due: cosmwasm-vm

Updates.
  Cargo.lock
  Cargo.toml
  packages/crypto/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-std, cosmwasm-vm

Updates.
  a.txt
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/benches/main.rs
Due: cosmwasm-vm

Upgraded dependencies (#2682)
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm-derive/Cargo.toml
  packages/vm/Cargo.toml
  packages/vm/benches/main.rs
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-schema, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Extracted metering function.
  contracts/cyberpunk/tests/integration.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/metering.rs
  packages/vm/src/wasm_backend/mod.rs
Due: cosmwasm-vm

Updates.
  packages/vm/src/wasm_backend/metering.rs
Due: cosmwasm-vm

Updates.
  packages/vm/src/wasm_backend/engine.rs
Due: cosmwasm-vm

Updates.
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/mod.rs
Due: cosmwasm-vm

Added tests.
  Taskfile.yml
  packages/vm/src/wasm_backend/metering.rs
Due: cosmwasm-vm

Extracted metering functionality (#2683)
  Taskfile.yml
  contracts/cyberpunk/tests/integration.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/metering.rs
  packages/vm/src/wasm_backend/mod.rs
Due: cosmwasm-vm

Published version v3.1.0-rc.0
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/ibc2/Cargo.lock
  contracts/ibc2/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/replier/Cargo.lock
  contracts/replier/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
Due: none

Refactoring.
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/metering.rs
Due: cosmwasm-vm

Refactored metering infrastructure.
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
  packages/vm/src/wasm_backend/limiting_tunables.rs
  packages/vm/src/wasm_backend/metering.rs
  packages/vm/src/wasm_backend/mod.rs
Due: cosmwasm-vm

Initial refactoring.
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/wasm_backend/engine.rs
Due: cosmwasm-vm

Updates.
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/wasm_backend/engine.rs
Due: cosmwasm-vm

Added descriptions in cost function.
  packages/vm/src/wasm_backend/engine.rs
Due: cosmwasm-vm

Fixed typos and style.
  Taskfile.yml
  packages/vm/benches/main.rs
  packages/vm/src/cache.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/engine.rs
Due: cosmwasm-vm

Refactored imports and unused prefixes.
  packages/check/src/main.rs
  packages/vm/examples/module_size.rs
  packages/vm/src/imports.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
  packages/vm/src/wasm_backend/limiting_tunables.rs
Due: cosmwasm-check, cosmwasm-vm

Added compile_module function.
  packages/check/src/main.rs
  packages/vm/examples/module_size.rs
  packages/vm/src/cache.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/lib.rs
  packages/vm/src/limited.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
  packages/vm/src/modules/versioning.rs
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/mod.rs
Due: cosmwasm-check, cosmwasm-vm

Fixed clippy warnings.
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/modules/versioning.rs
Due: cosmwasm-vm

Fixed typos and style. (#2688)
  Taskfile.yml
  packages/vm/benches/main.rs
  packages/vm/src/cache.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/engine.rs
Due: cosmwasm-vm

Refactored imports and unused prefixes. (#2689)
  packages/check/src/main.rs
  packages/vm/examples/module_size.rs
  packages/vm/src/imports.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
  packages/vm/src/wasm_backend/limiting_tunables.rs
Due: cosmwasm-check, cosmwasm-vm

Fixed clippy warnings.
  packages/vm/src/modules/in_memory_cache.rs
Due: cosmwasm-vm

Added `compile_module` function (#2690)
  packages/check/src/main.rs
  packages/vm/examples/module_size.rs
  packages/vm/src/cache.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/lib.rs
  packages/vm/src/limited.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
  packages/vm/src/modules/versioning.rs
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/mod.rs
Due: cosmwasm-check, cosmwasm-vm

Prepared version v3.0.8
  Taskfile.yml
  packages/check/src/main.rs
  packages/vm/benches/main.rs
  packages/vm/examples/module_size.rs
  packages/vm/src/cache.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/lib.rs
  packages/vm/src/limited.rs
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
  packages/vm/src/wasm_backend/limiting_tunables.rs
  packages/vm/src/wasm_backend/mod.rs
Due: cosmwasm-check, cosmwasm-vm

Updates.
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/ibc2/Cargo.lock
  contracts/ibc2/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/replier/Cargo.lock
  contracts/replier/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
  packages/vm/src/modules/versioning.rs
Due: cosmwasm-vm
