Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Fix `no_std` compile issues
  packages/core/src/binary.rs
  packages/core/src/errors/backtrace.rs
  packages/core/src/errors/core_error.rs
  packages/core/src/lib.rs
  packages/core/src/math/conversion.rs
  packages/core/src/math/decimal.rs
  packages/core/src/math/decimal256.rs
  packages/core/src/math/fraction.rs
  packages/core/src/math/int128.rs
  packages/core/src/math/int256.rs
  packages/core/src/math/int512.rs
  packages/core/src/math/int64.rs
  packages/core/src/math/signed_decimal.rs
  packages/core/src/math/signed_decimal_256.rs
  packages/core/src/math/uint128.rs
  packages/core/src/math/uint256.rs
  packages/core/src/math/uint512.rs
  packages/core/src/math/uint64.rs
  packages/core/src/serde.rs
  packages/core/src/testing/assertions.rs
Due: none

Add CI jobs
  .circleci/config.yml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/core/Cargo.toml
  packages/std/src/errors/std_error.rs
Due: cosmwasm-std

Format README
  README.md
Due: none

Move `serde` module back to `cosmwasm-std`
  Cargo.lock
  packages/core/Cargo.toml
  packages/core/src/binary.rs
  packages/core/src/lib.rs
  packages/core/src/math/decimal.rs
  packages/core/src/math/decimal256.rs
  packages/core/src/math/int128.rs
  packages/core/src/math/int256.rs
  packages/core/src/math/int512.rs
  packages/core/src/math/int64.rs
  packages/core/src/math/signed_decimal.rs
  packages/core/src/math/signed_decimal_256.rs
  packages/core/src/math/uint128.rs
  packages/core/src/math/uint256.rs
  packages/core/src/math/uint512.rs
  packages/core/src/math/uint64.rs
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/std/src/results/contract_result.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/empty.rs
  packages/std/src/results/submessages.rs
  packages/std/src/serde.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Remove `alloc` imports
  packages/std/src/serde.rs
Due: cosmwasm-std

Add cargo config to `cosmwasm-core`
  packages/core/.cargo/config
Due: none

Update contract schemas
  contracts/crypto-verify/schema/crypto-verify.json
  contracts/crypto-verify/schema/raw/query.json
  contracts/cyberpunk/schema/cyberpunk.json
  contracts/cyberpunk/schema/raw/response_to_mirror_env.json
  contracts/hackatom/schema/hackatom.json
  contracts/hackatom/schema/raw/response_to_other_balance.json
  contracts/hackatom/schema/raw/sudo.json
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/acknowledgement_msg_balances.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect-send/schema/raw/response_to_account.json
  contracts/ibc-reflect-send/schema/raw/response_to_list_accounts.json
  contracts/ibc-reflect/schema/ibc/acknowledgement_msg_balances.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  contracts/staking/schema/raw/execute.json
  contracts/staking/schema/raw/instantiate.json
  contracts/staking/schema/raw/response_to_balance.json
  contracts/staking/schema/raw/response_to_claims.json
  contracts/staking/schema/raw/response_to_investment.json
  contracts/staking/schema/staking.json
Due: none

Add `no_std` checks
  .circleci/config.yml
  packages/core/.cargo/config
  packages/core/Cargo.toml
Due: none

Remove `forward_ref` dependency
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/core/Cargo.toml
  packages/core/src/forward_ref.rs
  packages/core/src/math/decimal.rs
  packages/core/src/math/decimal256.rs
  packages/core/src/math/int128.rs
  packages/core/src/math/int256.rs
  packages/core/src/math/int512.rs
  packages/core/src/math/int64.rs
  packages/core/src/math/signed_decimal.rs
  packages/core/src/math/signed_decimal_256.rs
  packages/core/src/math/uint128.rs
  packages/core/src/math/uint256.rs
  packages/core/src/math/uint512.rs
  packages/core/src/math/uint64.rs
Due: none

Fix CI config for WASM target
  .circleci/config.yml
Due: none

Move `HexBinary`
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/core/Cargo.toml
  packages/core/src/errors/core_error.rs
  packages/core/src/hex_binary.rs
  packages/core/src/lib.rs
  packages/std/Cargo.toml
  packages/std/src/errors/std_error.rs
  packages/std/src/lib.rs
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Move addresses
  Cargo.lock
  packages/core/Cargo.toml
  packages/core/src/addresses.rs
  packages/core/src/lib.rs
  packages/core/src/math/signed_decimal.rs
  packages/core/src/math/signed_decimal_256.rs
  packages/core/testdata/instantiate2_addresses.json
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/std/src/types.rs
Due: cosmwasm-std

Update lockfiles
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Fix imports
  packages/std/src/imports.rs
Due: cosmwasm-std

Move encoding logic into public functions
  packages/core/src/binary.rs
  packages/core/src/encoding.rs
  packages/core/src/hex_binary.rs
  packages/core/src/lib.rs
Due: none

Add some documentation
  packages/core/src/encoding.rs
Due: none

Add tests to the encoding module
  packages/core/src/encoding.rs
Due: none

Test coverage of core error
  packages/core/src/errors/core_error.rs
Due: none

Only export needed types via __internal module
  packages/core/src/__internal.rs
  packages/core/src/errors/backtrace.rs
  packages/std/src/errors/mod.rs
Due: cosmwasm-std

Make it obvious macro is internal only and reexport via `__internal`
  packages/core/src/__internal.rs
  packages/core/src/forward_ref.rs
  packages/core/src/lib.rs
  packages/std/src/results/events.rs
Due: cosmwasm-std

Tests for core error conversion
  packages/std/src/errors/std_error.rs
Due: cosmwasm-std

Allow disabling cranelift
  packages/vm/Cargo.toml
  packages/vm/src/static_analysis.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
  packages/vm/src/wasm_backend/mod.rs
Due: none

Reintroduce `cranelift` feature for debugging purposes
  packages/vm/Cargo.toml
  packages/vm/src/wasm_backend/engine.rs
Due: none

Update `check` tests
  packages/check/tests/cosmwasm_check_tests.rs
Due: none

Address review
  packages/vm/Cargo.toml
  packages/vm/src/wasm_backend/engine.rs
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Run coverage reports with all features
  .circleci/config.yml
Due: none

Address review
  contracts/crypto-verify/schema/crypto-verify.json
  contracts/crypto-verify/schema/raw/query.json
  contracts/cyberpunk/schema/cyberpunk.json
  contracts/cyberpunk/schema/raw/response_to_mirror_env.json
  contracts/hackatom/schema/hackatom.json
  contracts/hackatom/schema/raw/response_to_other_balance.json
  contracts/hackatom/schema/raw/sudo.json
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/acknowledgement_msg_balances.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect-send/schema/raw/response_to_account.json
  contracts/ibc-reflect-send/schema/raw/response_to_list_accounts.json
  contracts/ibc-reflect/schema/ibc/acknowledgement_msg_balances.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  contracts/staking/schema/raw/execute.json
  contracts/staking/schema/raw/instantiate.json
  contracts/staking/schema/raw/response_to_balance.json
  contracts/staking/schema/raw/response_to_claims.json
  contracts/staking/schema/raw/response_to_investment.json
  contracts/staking/schema/staking.json
  packages/core/Cargo.toml
  packages/core/src/binary.rs
  packages/core/src/hex_binary.rs
  packages/core/src/math/decimal.rs
  packages/core/src/math/decimal256.rs
  packages/core/src/math/fraction.rs
  packages/core/src/math/int128.rs
  packages/core/src/math/int256.rs
  packages/core/src/math/int512.rs
  packages/core/src/math/int64.rs
  packages/core/src/math/signed_decimal.rs
  packages/core/src/math/signed_decimal_256.rs
  packages/core/src/math/uint128.rs
  packages/core/src/math/uint256.rs
  packages/core/src/math/uint512.rs
  packages/core/src/math/uint64.rs
  packages/core/src/testing/assertions.rs
Due: none

Make `cosmwasm-crypto` compatible with `no_std`
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/benches/main.rs
  packages/crypto/src/backtrace.rs
  packages/crypto/src/ed25519.rs
  packages/crypto/src/errors.rs
  packages/crypto/src/lib.rs
  packages/crypto/src/secp256k1.rs
  packages/crypto/src/secp256r1.rs
  packages/std/Cargo.toml
  packages/std/src/testing/mock.rs
  packages/vm/Cargo.toml
  packages/vm/src/imports.rs
Due: cosmwasm-crypto, cosmwasm-std

Fix CI fails
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/src/errors.rs
  packages/crypto/src/secp256k1.rs
  packages/crypto/src/secp256r1.rs
  packages/std/src/testing/mock.rs
  packages/vm/src/imports.rs
Due: cosmwasm-crypto, cosmwasm-std

Actually fix CI failures
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/src/ed25519.rs
  packages/crypto/src/secp256k1.rs
  packages/crypto/src/secp256r1.rs
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
  packages/vm/src/imports.rs
Due: cosmwasm-crypto, cosmwasm-std

Add `extern crate` declaration to the top of the crates
  packages/core/src/lib.rs
  packages/crypto/src/ed25519.rs
  packages/crypto/src/lib.rs
  packages/crypto/src/secp256k1.rs
  packages/crypto/src/secp256r1.rs
Due: cosmwasm-crypto

Move full `StdError` to `cosmwasm-core`
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/core/Cargo.toml
  packages/core/src/__internal.rs
  packages/core/src/errors/backtrace.rs
  packages/core/src/errors/core_error.rs
  packages/core/src/errors/mod.rs
  packages/core/src/errors/recover_pubkey_error.rs
  packages/core/src/errors/system_error.rs
  packages/core/src/errors/verification_error.rs
  packages/core/src/lib.rs
  packages/std/src/coin.rs
  packages/std/src/coins.rs
  packages/std/src/errors/mod.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/ibc.rs
  packages/std/src/imports.rs
  packages/std/src/iterator.rs
  packages/std/src/lib.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/system_result.rs
  packages/std/src/serde.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Mark core as 'Internal only' in the README
  README.md
Due: none

Mark `std` feature in `cosmwasm-std` as deprecated
  packages/std/Cargo.toml
  packages/std/src/lib.rs
  packages/std/src/prelude.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Fix reexports
  packages/std/src/lib.rs
  packages/std/src/pagination.rs
  packages/std/src/results/empty.rs
  packages/std/src/timestamp.rs
Due: cosmwasm-std

Allow recover ID 2 and 3 for secp256r1_recover_pubkey
  packages/crypto/src/secp256r1.rs
  packages/crypto/tests/wycheproof_secp256k1.rs
  packages/crypto/tests/wycheproof_secp256r1.rs
Due: cosmwasm-crypto

Add second PR to secp256r1 verifier
  CHANGELOG.md
Due: none

Update packages/crypto/tests/wycheproof_secp256r1.rs
  packages/crypto/tests/wycheproof_secp256r1.rs
Due: cosmwasm-crypto
