Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Add 2.1 feature gate to WriteAcknowledgement
  contracts/ibc-reflect/Cargo.toml
  packages/std/src/ibc.rs
Due: cosmwasm-std

Skip ibc-reflect cosmwasm-check in CI
  .circleci/config.yml
Due: none

Fix schemas
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

docs: fix broken links on README.md
  README.md
Due: none

make order (de)serialize
  packages/std/src/iterator.rs
Due: cosmwasm-std

updated CHANGELOG
  CHANGELOG.md
Due: none

Bump curve25519-dalek
  Cargo.lock
Due: none

tests and docs for Order serialization
  docs/MESSAGE_TYPES.md
  packages/std/src/iterator.rs
Due: cosmwasm-std

order serialization
  packages/std/src/iterator.rs
Due: cosmwasm-std

format md
  docs/MESSAGE_TYPES.md
Due: none

Update version of self_cell to 1.0.4 in lockfiles
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Don't publish go-gen
  packages/go-gen/Cargo.toml
Due: none

chore: Release
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std

Remove unnecessary dependency
  Cargo.lock
  packages/schema/Cargo.toml
Due: cosmwasm-schema

Rename config to config.toml
  contracts/burner/.cargo/config.toml
  contracts/crypto-verify/.cargo/config.toml
  contracts/cyberpunk/.cargo/config.toml
  contracts/empty/.cargo/config.toml
  contracts/floaty/.cargo/config.toml
  contracts/hackatom/.cargo/config.toml
  contracts/ibc-callbacks/.cargo/config.toml
  contracts/ibc-reflect-send/.cargo/config.toml
  contracts/ibc-reflect/.cargo/config.toml
  contracts/queue/.cargo/config.toml
  contracts/reflect/.cargo/config.toml
  contracts/staking/.cargo/config.toml
  contracts/virus/.cargo/config.toml
  packages/core/.cargo/config.toml
  packages/std/.cargo/config.toml
Due: cosmwasm-std

Move classifier to tests
  contracts/floaty/src/floats.rs
Due: none

Store checksums as byte arrays in pinned metrics
  packages/vm/src/cache.rs
Due: none

Upgrade Wasmer to 4.3.3
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
Due: none

fix grammar & typo
  README.md
Due: none

fix ci lint
  README.md
Due: none

Fix IbcDestinationCallbackMsg docs
  packages/std/src/ibc/callbacks.rs
Due: cosmwasm-std

Update schemas
  contracts/ibc-callbacks/schema/ibc-callbacks.json
  contracts/ibc-callbacks/schema/raw/response_to_callback_stats.json
Due: none

Improve docs for IbcReceiveResponse constructors
  packages/std/src/ibc.rs
Due: cosmwasm-std

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std

Adjust wording
  README.md
Due: none

Add doc comments and tests
  packages/vm/src/compatibility.rs
  packages/vm/src/parsed_wasm.rs
Due: none

Make IbcAckCallbackMsg and IbcTimeoutCallbackMsg fields public
  packages/std/src/ibc/callbacks.rs
Due: cosmwasm-std

Migrate to Prettier 3.3.3 and reformat
  contracts/ibc-callbacks/README.md
  devtools/format_md.sh
  devtools/format_yml.sh
  docs/PINNING.md
Due: none

Try autofix for text formatting
  .github/workflows/autofix.yml
Due: none

Mess up some formatting
  .mergify.yml
  CHANGELOG.md
  devtools/check_contracts_full.sh
Due: none

Try autofix for text formatting (#2189)
  .github/workflows/autofix.yml
Due: none

Add default impl for Storage::range
  packages/std/src/traits.rs
Due: cosmwasm-std

Use unimplemented
  packages/std/src/traits.rs
Due: cosmwasm-std

Change gas
  contracts/hackatom/tests/integration.rs
  packages/vm/src/instance.rs
  packages/vm/src/wasm_backend/engine.rs
Due: none

binary types: compact serialization
  packages/std/src/binary.rs
  packages/std/src/hex_binary.rs
Due: cosmwasm-std

tests for `Binary`/`HexBinary` compact serialization
  Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/binary.rs
  packages/std/src/hex_binary.rs
Due: cosmwasm-std

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
