Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Only create BTreeSet of names for the error message
  packages/vm/src/compatibility.rs
Due: none

Limit number of imports during static validation
  CHANGELOG.md
  packages/vm/src/compatibility.rs
Due: none

Upgrade parity-wasm to 0.45
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
Due: none

Remove check_contract example
  CHANGELOG.md
  packages/vm/Cargo.toml
  packages/vm/examples/check_contract.rs
Due: none

Add comment on discourages non-empty msg values
  packages/std/src/addresses.rs
Due: cosmwasm-std

Add ability to query how much gas was used by the contract
  packages/std/src/imports.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

update comment
  packages/std/src/traits.rs
Due: cosmwasm-std

fix gas_evaporate return val
  packages/std/src/imports.rs
Due: cosmwasm-std

Merge master/gas evaporate
  packages/std/src/imports.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

std: Add BankQuery::AllDenomMetadata gated by cosmwasm_1_3 feature flag
  .circleci/config.yml
  CHANGELOG.md
  MIGRATING.md
  docs/CAPABILITIES-BUILT-IN.md
  docs/USING_COSMWASM_STD.md
  packages/check/src/main.rs
  packages/std/Cargo.toml
  packages/std/src/exports.rs
  packages/std/src/lib.rs
  packages/std/src/metadata.rs
  packages/std/src/query/bank.rs
  packages/std/src/query/mod.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/testing/instance.rs
Due: cosmwasm-std

std: Update BankQuery::AllDenomMetadata query with pagination and add BankQuery::DenomMetadata also gated by cosmwasm_1_3 feature flag
  MIGRATING.md
  packages/std/src/lib.rs
  packages/std/src/metadata.rs
  packages/std/src/pagination.rs
  packages/std/src/query/bank.rs
  packages/std/src/query/mod.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Merge with our master. Fix some errors of mock/testing types
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Add last message marker
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Improve section on depth-first execution order
  SEMANTICS.md
Due: none

Rename test contracts to 1_2.wasm and add missing abort import
  packages/vm/README.md
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
Due: none

Bump optimizer to 0.12.13
  .circleci/config.yml
  README.md
  contracts/README.md
  packages/vm/README.md
Due: none

Recompile testdata .wasm files for vm tests and adjust tests
  packages/vm/src/cache.rs
  packages/vm/src/instance.rs
  packages/vm/testdata/cyberpunk.wasm
  packages/vm/testdata/floaty.wasm
  packages/vm/testdata/floaty_1.2.wasm
  packages/vm/testdata/hackatom.wasm
  packages/vm/testdata/hackatom_1.2.wasm
  packages/vm/testdata/ibc_reflect.wasm
  packages/vm/testdata/ibc_reflect_1.2.wasm
Due: none

Fix argon2 benchmarking (not in hackatom anymore)
  packages/vm/benches/main.rs
Due: none

Upgrade criterion to 0.4
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto

Cleanup benchmarking branch list in CI
  .circleci/config.yml
Due: none

Bump clippy to Rust 1.68.2
  .circleci/config.yml
Due: none

Crate name alias example
  Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/std-alias/Cargo.toml
  packages/std-alias/src/lib.rs
  packages/storage-alias/Cargo.toml
  packages/storage-alias/src/lib.rs
  packages/storage/Cargo.toml
  packages/storage/src/bucket.rs
  packages/storage/src/lib.rs
  packages/storage/src/namespace_helpers.rs
  packages/storage/src/prefixed_storage.rs
  packages/storage/src/sequence.rs
  packages/storage/src/singleton.rs
  packages/storage/src/type_helpers.rs
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-storage

Update cosmos_msg.rs
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Create draft of JsonAck
  packages/std/src/json_ack.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Make is_success/is_error non-const to please older Rust versions
  packages/std/src/json_ack.rs
Due: cosmwasm-std

Track call depth
  packages/vm/src/environment.rs
  packages/vm/src/errors/vm_error.rs
Due: none

compiles properly now
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/std/src/types.rs
Due: cosmwasm-std

Fixed tests
  packages/std/src/types.rs
Due: cosmwasm-std

Upgrade clippy to latest version and adapt codebase
  .circleci/config.yml
  contracts/crypto-verify/src/ethereum.rs
  packages/crypto/benches/main.rs
  packages/vm/src/cache.rs
  packages/vm/src/imports.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
  packages/vm/src/wasm_backend/store.rs
Due: cosmwasm-crypto

Update clippy version and adapt codebase
  .circleci/config.yml
  contracts/floaty/src/contract.rs
  contracts/hackatom/src/contract.rs
  packages/crypto/src/ed25519.rs
  packages/profiler/src/measure.rs
  packages/std/src/binary.rs
  packages/storage/src/bucket.rs
  packages/storage/src/singleton.rs
  packages/vm/src/cache.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/errors/vm_error.rs
  packages/vm/src/imports.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
  packages/vm/src/wasm_backend/store.rs
Due: cosmwasm-crypto, cosmwasm-std, cosmwasm-storage

Set version: 1.2.4
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Set version: 1.1.10
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Set version: 1.0.1
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

fixed tests
  packages/crypto-compat/src/lib.rs
  packages/derive/Cargo.toml
Due: cosmwasm-derive

fixed tests
  packages/std/examples/schema.rs
  packages/std/src/addresses.rs
  packages/std/src/assertions.rs
  packages/std/src/binary.rs
  packages/std/src/coin.rs
  packages/std/src/hex_binary.rs
  packages/std/src/ibc.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
  packages/std/src/query/mod.rs
  packages/std/src/results/contract_result.rs
  packages/std/src/results/response.rs
  packages/std/src/results/submessages.rs
  packages/std/src/results/system_result.rs
  packages/std/src/testing/mock.rs
  packages/std/src/timestamp.rs
  packages/std/src/traits.rs
  packages/std/src/types.rs
  packages/storage/src/bucket.rs
  packages/storage/src/namespace_helpers.rs
  packages/storage/src/prefixed_storage.rs
  packages/storage/src/sequence.rs
  packages/storage/src/singleton.rs
  packages/storage/src/type_helpers.rs
Due: cosmwasm-std, cosmwasm-storage

Avoid using loupe for module sizes
  packages/vm/src/cache.rs
  packages/vm/src/modules/file_system_cache.rs
Due: none
