Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Remove `forward_ref` dependency
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/core/Cargo.toml
  packages/core/src/forward_ref.rs
  packages/core/src/math/decimal.rs
  packages/core/src/math/decimal256.rs
  packages/core/src/math/int128.rs
  packages/core/src/math/int256.rs
  packages/core/src/math/int512.rs
  packages/core/src/math/int64.rs
  packages/core/src/math/signed_decimal.rs
  packages/core/src/math/signed_decimal_256.rs
  packages/core/src/math/uint128.rs
  packages/core/src/math/uint256.rs
  packages/core/src/math/uint512.rs
  packages/core/src/math/uint64.rs
Due: none

Move full `StdError` to `cosmwasm-core`
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/core/Cargo.toml
  packages/core/src/__internal.rs
  packages/core/src/errors/backtrace.rs
  packages/core/src/errors/core_error.rs
  packages/core/src/errors/mod.rs
  packages/core/src/errors/recover_pubkey_error.rs
  packages/core/src/errors/system_error.rs
  packages/core/src/errors/verification_error.rs
  packages/core/src/lib.rs
  packages/std/src/coin.rs
  packages/std/src/coins.rs
  packages/std/src/errors/mod.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/ibc.rs
  packages/std/src/imports.rs
  packages/std/src/iterator.rs
  packages/std/src/lib.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/system_result.rs
  packages/std/src/serde.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Add `extern crate` declaration to the top of the crates
  packages/core/src/lib.rs
  packages/crypto/src/ed25519.rs
  packages/crypto/src/lib.rs
  packages/crypto/src/secp256k1.rs
  packages/crypto/src/secp256r1.rs
Due: cosmwasm-crypto

Add custom message conversion
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/response.rs
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

Add changelog entry
  CHANGELOG.md
Due: none

fix: avoid div with zero in assert_approx_eq
  packages/core/src/testing/assertions.rs
Due: none

test: Add tests for assert_approx_eq with zero
  packages/core/src/testing/assertions.rs
Due: none

Add test for Response::change_custom
  packages/std/src/results/response.rs
Due: cosmwasm-std

Fix test
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Add PR link to new CHANGELOG entries
  CHANGELOG.md
Due: none

Improve docs of Timestamp::minus_* and use panicking_sub
  CHANGELOG.md
  packages/std/src/timestamp.rs
Due: cosmwasm-std

Add panicking_sub to Uint64/Uint128/Uint256/Uint512
  CHANGELOG.md
  packages/core/src/math/uint128.rs
  packages/core/src/math/uint256.rs
  packages/core/src/math/uint512.rs
  packages/core/src/math/uint64.rs
Due: none

Add Uint{64,128,256,512}::panicking_add
  CHANGELOG.md
  packages/core/src/math/uint128.rs
  packages/core/src/math/uint256.rs
  packages/core/src/math/uint512.rs
  packages/core/src/math/uint64.rs
Due: none

Make overflow behaviour explicit for Timestamp
  CHANGELOG.md
  packages/std/src/timestamp.rs
Due: cosmwasm-std

Add #[inline] annotations to plus_seconds/minus_seconds
  packages/std/src/timestamp.rs
Due: cosmwasm-std

Add panicking_sub to Uint64/Uint128/Uint256/Uint512
  CHANGELOG.md
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Add Uint{64,128,256,512}::panicking_add
  CHANGELOG.md
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Fix CHANGELOG
  CHANGELOG.md
Due: none

Use zero() and one() from functions in tests
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

refactor: Make equal check in assert_approx_eq more explicit
  packages/core/src/testing/assertions.rs
Due: none

Rename math functions to strict_add/strict_sub
  CHANGELOG.md
  packages/core/src/math/uint128.rs
  packages/core/src/math/uint256.rs
  packages/core/src/math/uint512.rs
  packages/core/src/math/uint64.rs
  packages/std/src/timestamp.rs
Due: cosmwasm-std

Optimize isqrt max bound
  packages/core/src/math/isqrt.rs
  packages/core/src/math/uint128.rs
  packages/core/src/math/uint256.rs
  packages/core/src/math/uint512.rs
  packages/core/src/math/uint64.rs
Due: none
