Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Update contracts/ibc-callbacks/src/state.rs
  contracts/ibc-callbacks/src/state.rs
Due: none

Update contracts/reflect/src/state.rs
  contracts/reflect/src/state.rs
Due: none

Format
  contracts/staking/src/state.rs
Due: none

Remove blanket conversion for StdError
  contracts/cyberpunk/src/contract.rs
  contracts/cyberpunk/src/errors.rs
  contracts/hackatom/src/contract.rs
  contracts/hackatom/src/errors.rs
  contracts/reflect/src/contract.rs
  contracts/reflect/src/errors.rs
  contracts/staking/src/state.rs
  contracts/virus/src/errors.rs
  packages/check/tests/cosmwasm_check_tests.rs
  packages/std/src/coins.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/exports/imports.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/std/src/results/contract_result.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-check, cosmwasm-std

Add constructor for StdError
  packages/std/src/errors/std_error.rs
Due: cosmwasm-std

thiserror compatibility
  contracts/cyberpunk/src/errors.rs
  contracts/hackatom/src/errors.rs
  contracts/reflect/src/errors.rs
  contracts/virus/src/errors.rs
  packages/std/src/errors/std_error.rs
Due: cosmwasm-std

Add Changelog entry
  CHANGELOG.md
Due: none

Classify more errors
  packages/std/src/coins.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
Due: cosmwasm-std

Add info to cw-schema Cargo.toml
  packages/cw-schema-derive/Cargo.toml
  packages/cw-schema/Cargo.toml
Due: none

Add cw-schema CI jobs
  .circleci/config.yml
Due: none

chore: Release
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/cw-schema/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-schema, cosmwasm-std, cosmwasm-vm

cargo update
  Cargo.lock
Due: none

Update CI Rust versions
  .circleci/config.yml
Due: none

Bump contract minimum CosmWasm version
  .circleci/config.yml
Due: none

Fix benchmark temp dirs clippy lint
  packages/vm/benches/main.rs
  packages/vm/examples/heap_profiling.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
Due: cosmwasm-vm

Bump Rust in github workflows
  .github/workflows/contract.yml
  .github/workflows/workspace.yml
Due: none

Suppress schema warnings for now
  packages/std/src/metadata.rs
Due: cosmwasm-std

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/cw-schema/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-schema, cosmwasm-std, cosmwasm-vm

Rename to ty to satisfy spell check
  packages/cw-schema-codegen/tests/python_tpl.rs
Due: none

Add Go orb
  .circleci/config.yml
  packages/cw-schema-codegen/tests/go-e2e/go.mod
Due: none

Install up-to-date Go
  .circleci/config.yml
Due: none

Install Rust via Orb
  .circleci/config.yml
Due: none

Fix file
  .circleci/config.yml
Due: none

Fix tests
  packages/cw-schema-codegen/tests/python_tpl.rs
Due: none

Reverse codegen process
  packages/cw-schema-codegen/src/main.rs
  packages/cw-schema-codegen/tests/python_tpl.rs
Due: none

Update to Rust 1.86
  .circleci/config.yml
Due: none

Snapshot upgrade
  packages/cw-schema-codegen/tests/rust-e2e/src/gen.rs
  packages/cw-schema-codegen/tests/snapshots/rust_tpl__complex_enum.snap
  packages/cw-schema-codegen/tests/snapshots/rust_tpl__empty_enum.snap
  packages/cw-schema-codegen/tests/snapshots/rust_tpl__empty_struct.snap
  packages/cw-schema-codegen/tests/snapshots/rust_tpl__named_struct.snap
  packages/cw-schema-codegen/tests/snapshots/rust_tpl__simple_enum.snap
  packages/cw-schema-codegen/tests/snapshots/rust_tpl__tuple_struct.snap
Due: none

Install NodeJS
  .circleci/config.yml
Due: none

Install pip
  .circleci/config.yml
Due: none

Allow breaking system packages
  .circleci/config.yml
Due: none

Install via apk
  .circleci/config.yml
Due: none

Update schema generation scripts
  contracts/ibc-reflect-send/src/bin/schema.rs
  contracts/ibc-reflect/src/bin/schema.rs
  devtools/update_schemas.sh
Due: none

Remove outdated files
  contracts/hackatom/schema/raw/response_to_other_balance.json
  contracts/ibc2/schema/raw/execute.json
Due: none

Fix Go single tuple enum variant codegen
  packages/cw-schema-codegen/src/go/mod.rs
  packages/cw-schema-codegen/templates/go/enum.tpl.go
Due: none

Install npm in coverage job
  .circleci/config.yml
Due: none

Fix unit variant serialization in Go
  packages/cw-schema-codegen/src/go/mod.rs
  packages/cw-schema-codegen/src/go/template.rs
  packages/cw-schema-codegen/templates/go/enum.tpl.go
  packages/cw-schema-codegen/tests/go.rs
Due: none

Fix ts codegen single tuple enum variant
  packages/cw-schema-codegen/templates/typescript/enum.tpl.ts
  packages/cw-schema-codegen/tests/snapshots/typescript__codegen_snap-5.snap
Due: none

Add failing python template test
  packages/cw-schema-codegen/tests/python_tpl.rs
  packages/cw-schema-codegen/tests/snapshots/python_tpl__simple_enum-4.snap
  packages/cw-schema-codegen/tests/snapshots/python_tpl__simple_enum.snap
Due: none

Path conditions:
  cosmwasm-check: any of: packages/check/
  cosmwasm-crypto: any of: packages/crypto/
  cosmwasm-derive: any of: packages/derive/
  cosmwasm-schema: any of: packages/schema/
  cosmwasm-schema-derive: any of: packages/schema-derive/
  cosmwasm-std: any of: packages/std/
  cosmwasm-vm: any of: packages/vm/
  cosmwasm-vm-derive: any of: packages/vm-derive/
