Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Improved code coverage for `decimal256` (#2632)
  Taskfile.yml
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/cw_schema/raw/execute.json
  contracts/reflect/schema/cw_schema/reflect.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  contracts/staking/schema/cw_schema/raw/instantiate.json
  contracts/staking/schema/cw_schema/raw/response_to_investment.json
  contracts/staking/schema/cw_schema/staking.json
  contracts/staking/schema/raw/instantiate.json
  contracts/staking/schema/raw/response_to_investment.json
  contracts/staking/schema/staking.json
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/tests/test_math/test_decimal.rs
  packages/std/tests/test_math/test_decimal256.rs
Due: cosmwasm-std

Clarify WasmMsg instantiate comments (#2634)
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Fixed comments.
  contracts/ibc-reflect-send/schema/cw_schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/cw_schema/raw/execute.json
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/cw_schema/raw/execute.json
  contracts/reflect/schema/cw_schema/reflect.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
Due: none

Fixed typos.
  packages/go-gen/tests/cosmwasm_std__WasmMsg.go
Due: none

Fixed comments in schema (#2635)
  contracts/ibc-reflect-send/schema/cw_schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/cw_schema/raw/execute.json
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/cw_schema/raw/execute.json
  contracts/reflect/schema/cw_schema/reflect.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  packages/go-gen/tests/cosmwasm_std__WasmMsg.go
Due: none

sync-generated-message-comment-fixes
  contracts/ibc-reflect-send/schema/cw_schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/cw_schema/raw/execute.json
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/cw_schema/raw/execute.json
  contracts/reflect/schema/cw_schema/reflect.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  packages/go-gen/tests/cosmwasm_std__DistributionMsg.go
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

sync-generated-message-comment-fixes (#2636)
  contracts/ibc-reflect-send/schema/cw_schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/cw_schema/raw/execute.json
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/cw_schema/raw/execute.json
  contracts/reflect/schema/cw_schema/reflect.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  packages/go-gen/tests/cosmwasm_std__DistributionMsg.go
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Fix Empty comment typo in generated schemas
  contracts/cyberpunk/schema/cw_schema/cyberpunk.json
  contracts/cyberpunk/schema/cw_schema/raw/instantiate.json
  contracts/cyberpunk/schema/cyberpunk.json
  contracts/cyberpunk/schema/raw/instantiate.json
  contracts/floaty/schema/cw_schema/floaty.json
  contracts/floaty/schema/cw_schema/raw/instantiate.json
  contracts/floaty/schema/floaty.json
  contracts/floaty/schema/raw/instantiate.json
  contracts/ibc-callbacks/schema/cw_schema/ibc-callbacks.json
  contracts/ibc-callbacks/schema/cw_schema/raw/instantiate.json
  contracts/ibc-callbacks/schema/ibc-callbacks.json
  contracts/ibc-callbacks/schema/raw/instantiate.json
  contracts/ibc-reflect-send/schema/cw_schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/cw_schema/raw/execute.json
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/cw_schema/ibc-reflect.json
  contracts/ibc-reflect/schema/cw_schema/raw/migrate.json
  contracts/ibc-reflect/schema/ibc-reflect.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/ibc-reflect/schema/raw/migrate.json
  contracts/ibc2/schema/cw_schema/ibc2.json
  contracts/ibc2/schema/cw_schema/raw/instantiate.json
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/instantiate.json
  contracts/queue/schema/cw_schema/queue.json
  contracts/queue/schema/cw_schema/raw/response_to_open_iterators.json
  contracts/queue/schema/queue.json
  contracts/queue/schema/raw/response_to_open_iterators.json
  packages/std/src/results/empty.rs
Due: cosmwasm-std

fix: error: linking with `cc` failed: exit status: 1; rustc 1.91.1 (ed61e7d7e 2025-11-07)
  Cargo.toml
Due: none

fix: Error parsing ExecuteMsg in deployed contract: "Invalid type" error
  Cargo.toml
Due: none

Fix Empty comment typo in generated schemas (#2637)
  contracts/cyberpunk/schema/cw_schema/cyberpunk.json
  contracts/cyberpunk/schema/cw_schema/raw/instantiate.json
  contracts/cyberpunk/schema/cyberpunk.json
  contracts/cyberpunk/schema/raw/instantiate.json
  contracts/floaty/schema/cw_schema/floaty.json
  contracts/floaty/schema/cw_schema/raw/instantiate.json
  contracts/floaty/schema/floaty.json
  contracts/floaty/schema/raw/instantiate.json
  contracts/ibc-callbacks/schema/cw_schema/ibc-callbacks.json
  contracts/ibc-callbacks/schema/cw_schema/raw/instantiate.json
  contracts/ibc-callbacks/schema/ibc-callbacks.json
  contracts/ibc-callbacks/schema/raw/instantiate.json
  contracts/ibc-reflect-send/schema/cw_schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/cw_schema/raw/execute.json
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/cw_schema/ibc-reflect.json
  contracts/ibc-reflect/schema/cw_schema/raw/migrate.json
  contracts/ibc-reflect/schema/ibc-reflect.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/ibc-reflect/schema/raw/migrate.json
  contracts/ibc2/schema/cw_schema/ibc2.json
  contracts/ibc2/schema/cw_schema/raw/instantiate.json
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/instantiate.json
  contracts/queue/schema/cw_schema/queue.json
  contracts/queue/schema/cw_schema/raw/response_to_open_iterators.json
  contracts/queue/schema/queue.json
  contracts/queue/schema/raw/response_to_open_iterators.json
  packages/std/src/results/empty.rs
Due: cosmwasm-std

Short-circuit zero results in decimal from_atomics (#2633)
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/std/tests/test_math/test_decimal.rs
  packages/std/tests/test_math/test_decimal256.rs
Due: cosmwasm-std

Fixed typo.
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

Clarify WasmQuery comments in reflect schemas
  contracts/reflect/schema/cw_schema/raw/query.json
  contracts/reflect/schema/cw_schema/reflect.json
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

Clarify Stargate query comments in reflect schemas
  contracts/reflect/schema/cw_schema/raw/query.json
  contracts/reflect/schema/cw_schema/reflect.json
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
  packages/std/src/query/mod.rs
Due: cosmwasm-std

Clarify WasmQuery comments in reflect schemas (#2640)
  contracts/reflect/schema/cw_schema/raw/query.json
  contracts/reflect/schema/cw_schema/reflect.json
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

Clarify Stargate query comments in reflect schemas (#2641)
  contracts/reflect/schema/cw_schema/raw/query.json
  contracts/reflect/schema/cw_schema/reflect.json
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
  packages/std/src/query/mod.rs
Due: cosmwasm-std

Backported changes from v3.0.x to main.
  packages/vm/src/cache.rs
Due: cosmwasm-vm

Backported changes from v3.0.x to main. (#2642)
  packages/vm/src/cache.rs
Due: cosmwasm-vm

fix: Compiling `cosmwasm-check` breaks for Rust 1.89.0
  packages/vm/Cargo.toml
Due: cosmwasm-vm

fix: Rename `SubMsg`
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

fix: Rename `SubMsg`
  contracts/reflect/src/contract.rs
Due: none

Switched to development mode.
  Cargo.lock
  Cargo.toml
Due: none

Applied changes.
  contracts/ibc2/src/contract.rs
  contracts/ibc2/src/state.rs
  packages/std/src/ibc2.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Switched contracts to development mode.
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/ibc2/Cargo.lock
  contracts/ibc2/Cargo.toml
  contracts/ibc2/schema/cw_schema/ibc2.json
  contracts/ibc2/schema/cw_schema/raw/response_to_query_state.json
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/response_to_query_state.json
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/replier/Cargo.lock
  contracts/replier/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
Due: none

Updated CHANGELOG.
  CHANGELOG.md
Due: none

Published version v3.0.5-rc.0
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.toml
  contracts/ibc2/Cargo.toml
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.toml
  contracts/replier/Cargo.toml
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.toml
Due: none

Upgraded contracts to version v3.0.5-rc.0
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Published version v3.0.5
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/ibc2/Cargo.lock
  contracts/ibc2/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/replier/Cargo.lock
  contracts/replier/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
Due: none

Updates.
  Taskfile.yml
Due: none

Backported changes from v3.0.x
  contracts/ibc2/schema/cw_schema/ibc2.json
  contracts/ibc2/schema/cw_schema/raw/response_to_query_state.json
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/response_to_query_state.json
  contracts/ibc2/src/contract.rs
  contracts/ibc2/src/state.rs
  packages/std/src/ibc2.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Updated CHAMGELOG.
  CHANGELOG.md
Due: none

Updated README.
  README.md
Due: none

Forward-ported changes from `release/v3.0.x` (#2647)
  CHANGELOG.md
  README.md
  contracts/ibc2/schema/cw_schema/ibc2.json
  contracts/ibc2/schema/cw_schema/raw/response_to_query_state.json
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/response_to_query_state.json
  contracts/ibc2/src/contract.rs
  contracts/ibc2/src/state.rs
  packages/std/src/ibc2.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Bumped version in README.
  README.md
Due: none

Bumped version in README. (#2648)
  README.md
Due: none

chore: remove extra space in comment
  packages/crypto/src/secp256k1.rs
  packages/crypto/src/secp256r1.rs
Due: cosmwasm-crypto

chore: remove extra space in comment (#2649)
  packages/crypto/src/secp256k1.rs
  packages/crypto/src/secp256r1.rs
Due: cosmwasm-crypto

Path conditions:
  cosmwasm-check: any of: packages/check/
  cosmwasm-crypto: any of: packages/crypto/
  cosmwasm-derive: any of: packages/derive/
  cosmwasm-schema: any of: packages/schema/
  cosmwasm-schema-derive: any of: packages/schema-derive/
  cosmwasm-std: any of: packages/std/
  cosmwasm-vm: any of: packages/vm/
  cosmwasm-vm-derive: any of: packages/vm-derive/
