Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Updated CHANGELOG.
  CHANGELOG.md
Due: none

Published version v3.0.8
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/ibc2/Cargo.lock
  contracts/ibc2/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/replier/Cargo.lock
  contracts/replier/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
Due: none

Reverted runners to windows-latest.
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
Due: none

Published version v2.3.4
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
Due: none

Published version v3.0.9
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/ibc2/Cargo.lock
  contracts/ibc2/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/replier/Cargo.lock
  contracts/replier/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
Due: none

Syncronized changes from v3.0.9
  .github/workflows/contracts.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/src/compatibility.rs
  packages/vm/src/config.rs
  packages/vm/src/instance.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/metering.rs
  packages/vm/src/wasm_backend/mod.rs
Due: cosmwasm-vm

Syncronized changes from v3.0.9 (#2694)
  .github/workflows/contracts.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/src/compatibility.rs
  packages/vm/src/config.rs
  packages/vm/src/instance.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/metering.rs
  packages/vm/src/wasm_backend/mod.rs
Due: cosmwasm-vm

Bumped Rust toolchain version to 1.96.0
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
  Taskfile.yml
Due: none

Gas metering for bulk-memory operations (#2684)
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/metering.rs
Due: cosmwasm-vm

Bumped Rust toolchain in devtools to 1.96.0
  devtools/check-contracts.sh
  devtools/update-schemas.sh
Due: none

Set Rust toolchain back to 1.95.0
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
  Taskfile.yml
  devtools/check-contracts.sh
  devtools/update-schemas.sh
Due: none

Published version v2.2.9
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/nested-contracts/Cargo.lock
  contracts/nested-contracts/Cargo.toml
  contracts/nested-contracts/inner-contract/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
Due: none

Updated CHANGELOG v2.2.9
  CHANGELOG.md
Due: none

Updated CHANGELOG v2.3.4
  CHANGELOG.md
Due: none

Updated CHANGELOG v3.0.9
  CHANGELOG.md
Due: none

Updated CHANGELOG v2.2.9 (#2697)
  CHANGELOG.md
Due: none

Updated CHANGELOG v2.3.4 (#2698)
  CHANGELOG.md
Due: none

Updated CHANGELOG v3.0.9 (#2699)
  CHANGELOG.md
Due: none

Synchronized new chnages from main.
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
  devtools/check-contracts.sh
  packages/check/src/main.rs
  packages/vm/examples/module_size.rs
  packages/vm/src/cache.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/config.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/lib.rs
  packages/vm/src/limited.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
  packages/vm/src/modules/versioning.rs
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
  packages/vm/src/wasm_backend/limiting_tunables.rs
  packages/vm/src/wasm_backend/metering.rs
  packages/vm/src/wasm_backend/mod.rs
Due: cosmwasm-check, cosmwasm-vm

Updates.
  packages/vm/src/parsed_wasm.rs
Due: cosmwasm-vm

Updates.
  Taskfile.yml
  packages/vm/src/instance.rs
Due: cosmwasm-vm

Updates.
  packages/std/Cargo.toml
Due: cosmwasm-std

Updates.
  packages/vm/src/wasm_backend/metering.rs
Due: cosmwasm-vm

Updates.
  Taskfile.yml
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/metering.rs
Due: cosmwasm-vm

Updates.
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/metering.rs
  packages/vm/src/wasm_backend/mod.rs
Due: cosmwasm-vm

Updates.
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/metering.rs
Due: cosmwasm-vm

Updates.
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/wasm_backend/engine.rs
Due: cosmwasm-vm

Path conditions:
  cosmwasm-check: any of: packages/check/
  cosmwasm-crypto: any of: packages/crypto/
  cosmwasm-derive: any of: packages/derive/
  cosmwasm-schema: any of: packages/schema/
  cosmwasm-schema-derive: any of: packages/schema-derive/
  cosmwasm-std: any of: packages/std/
  cosmwasm-vm: any of: packages/vm/
  cosmwasm-vm-derive: any of: packages/vm-derive/
