Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Add missing cosmwasm_1_2 features
  .circleci/config.yml
  devtools/check_workspace.sh
  packages/check/src/main.rs
  packages/vm/src/testing/instance.rs
Due: none

Remove msg argument from instantiate2_address
  packages/std/src/addresses.rs
Due: cosmwasm-std

Link update PR #1554 to instantiate2_address/Instantiate2 CHANGELOGs
  CHANGELOG.md
Due: none

Remove fix_msg argument from Instantiate2
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Format code
  packages/std/src/query/bank.rs
Due: cosmwasm-std

Improve documentation for query response constructors
  packages/std/src/query/bank.rs
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

supplyresponse::new
  packages/std/src/query/bank.rs
Due: cosmwasm-std

Add CHANGELOG entry for SupplyResponse::new
  CHANGELOG.md
Due: none

Bump clippy to and fix some new warnings
  .circleci/config.yml
  contracts/crypto-verify/src/ethereum.rs
  packages/crypto/benches/main.rs
  packages/crypto/src/secp256k1.rs
  packages/vm/src/cache.rs
  packages/vm/src/imports.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
  packages/vm/src/wasm_backend/store.rs
Due: cosmwasm-crypto

Fix errors parsing in querier
  packages/std/src/results/contract_result.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Add constructor functions for use by cw-sdk
  packages/std/Cargo.toml
  packages/std/src/query/bank.rs
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

Remove a whitespace
  packages/std/Cargo.toml
Due: cosmwasm-std

Create constants ED25519_VERIFY_CODE_{IN,}VALID and SECP256K1_VERIFY_CODE_{IN,}VALID
  packages/vm/src/imports.rs
Due: none

Adapt CHANGELOG entry and add follow-up PR link
  CHANGELOG.md
Due: none

Add QueryResponseType trait
  packages/std/src/query/bank.rs
  packages/std/src/query/mod.rs
  packages/std/src/query/query_response.rs
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

Improve doc string of ContractInfo
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

Make clippy happy
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

Deprecate ContractInfoResponse::new
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

Enable cosmwasm_1_2 in coverage testing
  .circleci/config.yml
Due: none

Add more features to coverage
  .circleci/config.yml
Due: none

Bump min thiserror version to 1.0.26 for consistency
  contracts/cyberpunk/Cargo.toml
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.toml
  contracts/reflect/Cargo.toml
  packages/crypto/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-schema, cosmwasm-std

Add Never type for to avoid ibc_packet_receive errors
  CHANGELOG.md
  IBC.md
  contracts/ibc-reflect-send/src/ibc.rs
  contracts/ibc-reflect/src/contract.rs
  packages/std/src/lib.rs
  packages/std/src/never.rs
Due: cosmwasm-std

Improve CHANGELOG
  CHANGELOG.md
Due: none

Improve Never documentation
  packages/std/src/never.rs
Due: cosmwasm-std

Make unreachable implementation type-safe
  packages/std/src/never.rs
Due: cosmwasm-std

Check workspace with different features
  devtools/check_workspace.sh
Due: none

Add new `WasmQuery::CodeInfo`
  CHANGELOG.md
  packages/std/src/errors/system_error.rs
  packages/std/src/lib.rs
  packages/std/src/query/mod.rs
  packages/std/src/query/wasm.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add query_wasm_code_info to querier
  packages/std/src/traits.rs
Due: cosmwasm-std

Fix WasmQuery::CodeInfo testing code
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add code_id to CodeInfoResponse
  packages/std/src/query/wasm.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Test cosmwasm_1_1,cosmwasm_1_2 in local cosmwasm-std testing
  devtools/test_workspace.sh
Due: none

Make checksum HexBinary
  packages/std/src/query/wasm.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Export Instantiate2AddressError and make it usable
  packages/std/src/addresses.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Add virus contract
  contracts/README.md
  contracts/virus/.cargo/config
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
  contracts/virus/README.md
  contracts/virus/schema/raw/execute.json
  contracts/virus/schema/raw/instantiate.json
  contracts/virus/schema/virus.json
  contracts/virus/src/bin/schema.rs
  contracts/virus/src/contract.rs
  contracts/virus/src/errors.rs
  contracts/virus/src/lib.rs
  contracts/virus/src/msg.rs
  contracts/virus/tests/integration.rs
Due: none

Test contract_virus in CI
  .circleci/config.yml
Due: none

Let feature cosmwasm_1_2 enable cosmwasm_1_1 in cosmwasm-std
  .circleci/config.yml
  devtools/check_workspace.sh
  devtools/test_workspace.sh
  packages/std/Cargo.toml
Due: cosmwasm-std

Add Cache::remove_wasm
  CHANGELOG.md
  packages/vm/src/cache.rs
Due: none

Add FileSystemCache::remove
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add random feature and type to env
  packages/std/Cargo.toml
  packages/std/src/types.rs
Due: cosmwasm-std

Set version: 1.2.0-beta.1
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
