Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Add metered cost for aggregation
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
Due: none

Fix import warnings
  packages/crypto/src/ed25519.rs
Due: cosmwasm-crypto

Feature-gate imports
  packages/std/src/imports.rs
Due: cosmwasm-std

Remove unused impls
  packages/crypto/src/bls12_318/points.rs
Due: cosmwasm-crypto

Add some mock testing
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Move to arkworks BLS implementation
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/crypto-verify/tests/integration.rs
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/src/bls12_318/constants.rs
  packages/crypto/src/bls12_318/hash.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/tests/bls12_381.rs
  packages/vm/src/environment.rs
  packages/vm/src/testing/instance.rs
Due: cosmwasm-crypto

Adjust gas values
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/testing/instance.rs
Due: none

Adjust gas values to represent it more accurately
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
Due: none

Re-export error type
  packages/crypto/src/bls12_318/aggregate.rs
  packages/std/src/lib.rs
Due: cosmwasm-crypto, cosmwasm-std

Fix aggregate verify
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/lib.rs
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Pre-allocate storage for terms
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/lib.rs
Due: cosmwasm-crypto

Add Changelog entry
  CHANGELOG.md
Due: none

Adjust gas metering for aggregated pairing equality
  packages/vm/src/imports.rs
Due: none

Add hash-to-curve tests
  packages/crypto/src/bls12_318/hash.rs
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Add batch verify test
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Add generator tests
  packages/crypto/src/bls12_318/constants.rs
Due: cosmwasm-crypto

Add CI step for crypto without default features
  .circleci/config.yml
Due: none

Add supported imports
  packages/vm/src/compatibility.rs
  packages/vm/src/imports.rs
Due: none

Run crypto benchmarks with std feature
  .circleci/config.yml
Due: none

Add benches for aggregation
  packages/crypto/benches/main.rs
Due: cosmwasm-crypto

Replace `.inspect_err` with `.map_err`
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Bench hash-to-curve and meter gas usage
  packages/crypto/benches/main.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
Due: cosmwasm-crypto

Add aggregation test for G1 elements
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add BLS branch to benchmarking filter
  .circleci/config.yml
  packages/vm/src/imports.rs
Due: none

Fix imports errors
  packages/std/src/imports.rs
Due: cosmwasm-std

Add aggregate pairing equality test
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add benchmark for aggregated pairing equality
  packages/crypto/benches/main.rs
Due: cosmwasm-crypto

Add fast aggregate verify
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Add BLS verify tests
  .circleci/config.yml
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/src/lib.rs
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Implement more fine-grained errors for aggregation pairing equality
  packages/core/src/errors/mod.rs
  packages/core/src/errors/recover_pubkey_error.rs
  packages/core/src/errors/verification_error.rs
  packages/core/src/lib.rs
  packages/crypto/src/bls12_318/constants.rs
  packages/crypto/src/bls12_318/hash.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/src/errors.rs
  packages/crypto/src/lib.rs
  packages/std/src/imports.rs
  packages/std/src/lib.rs
  packages/vm/src/imports.rs
Due: cosmwasm-crypto, cosmwasm-std

Add pairing equality test to crypto-verify contract
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/crypto-verify/schema/crypto-verify.json
  contracts/crypto-verify/schema/raw/query.json
  contracts/crypto-verify/schema/raw/response_to_verify_bls12_pairing_equality.json
  contracts/crypto-verify/src/bls12_381.rs
  contracts/crypto-verify/src/contract.rs
  contracts/crypto-verify/src/lib.rs
  contracts/crypto-verify/src/msg.rs
  contracts/crypto-verify/tests/integration.rs
  packages/std/src/imports.rs
  packages/vm/src/testing/instance.rs
Due: cosmwasm-std

Convert to byte-based API
  packages/crypto/src/bls12_318/aggregate.rs
  packages/crypto/src/bls12_318/constants.rs
  packages/crypto/src/bls12_318/hash.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/src/lib.rs
Due: cosmwasm-crypto

Update contracts/crypto-verify/tests/integration.rs
  contracts/crypto-verify/tests/integration.rs
Due: none

Remove par_bridge usage
  packages/crypto/src/bls12_318/pairing.rs
Due: cosmwasm-crypto

Fix contract tests
  contracts/crypto-verify/tests/integration.rs
Due: none

Export constants
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/crypto-verify/tests/integration.rs
  packages/crypto/benches/main.rs
  packages/crypto/src/bls12_318/constants.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/lib.rs
  packages/crypto/tests/bls12_381.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-crypto, cosmwasm-std

Use primitive casts
  packages/std/src/imports.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Attach functions to the VM
  packages/core/src/errors/recover_pubkey_error.rs
  packages/core/src/errors/verification_error.rs
  packages/crypto/Cargo.toml
  packages/crypto/benches/main.rs
  packages/crypto/src/bls12_318/aggregate.rs
  packages/crypto/src/bls12_318/hash.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/src/errors.rs
  packages/crypto/src/lib.rs
  packages/std/src/traits.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: cosmwasm-crypto, cosmwasm-std

Revert test change
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Remove generic parameters from hashing to the subgroups
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
Due: cosmwasm-crypto

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
