Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Prepared all code coverage reporting.
  Taskfile.yml
Due: none

Applied local paths to dependencies for development mode.
  Taskfile.yml
  packages/check/Cargo.toml
  packages/core/Cargo.toml
  packages/crypto/Cargo.toml
  packages/cw-schema-derive/Cargo.toml
  packages/cw-schema/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm-derive/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Added -dev suffix for version 3.0.2
  Cargo.lock
  Cargo.toml
Due: none

Updated dependencies.
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Added tests.
  Taskfile.yml
  packages/core/tests/test_bls12_381.rs
Due: none

Updates.
  Taskfile.yml
Due: none

Unified dependencies for cosmwasm-check.
  Cargo.toml
  packages/check/Cargo.toml
Due: cosmwasm-check

Unified dependencies for all packages.
  Cargo.lock
  Cargo.toml
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/cw-schema/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-schema, cosmwasm-std, cosmwasm-vm

Reverted serde_json version upgrade.
  Cargo.lock
  packages/vm/Cargo.toml
Due: cosmwasm-vm

fix link
  packages/check/src/main.rs
Due: cosmwasm-check

fix note
  packages/crypto/src/lib.rs
Due: cosmwasm-crypto

Prepared coverage generation.
  Cargo.lock
  Cargo.toml
Due: none

Merged changes in README.
  README.md
Due: none

Added code coverage results.
  README.md
Due: none

Added code coverage.
  README.md
Due: none

Removed invalid info.
  README.md
Due: none

Added code coverage tasks.
  Taskfile.yml
Due: none

Added more tasks.
  Taskfile.yml
Due: none

Update README (#2531)
  README.md
Due: none

fix link
  packages/cw-schema-derive/src/lib.rs
Due: none

Update lib.rs
  packages/cw-schema/src/lib.rs
Due: none

Update lib.rs
  packages/vm/src/lib.rs
Due: cosmwasm-vm

Update lib.rs
  packages/vm-derive/src/lib.rs
Due: cosmwasm-vm-derive

Update lib.rs
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Update lib.rs
  packages/schema/src/lib.rs
Due: cosmwasm-schema

Update lib.rs
  packages/schema-derive/src/lib.rs
Due: cosmwasm-schema-derive

Update lib.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

docs(staking): fix broken path
  contracts/staking/README.md
Due: none

chore: fix typos
  packages/std/src/exports/exports.rs
  packages/std/src/exports/imports.rs
Due: cosmwasm-std

chore: fix typos (#2537)
  packages/std/src/exports/exports.rs
  packages/std/src/exports/imports.rs
Due: cosmwasm-std

docs: add and fix crate-level documentation for all CosmWasm crates (#2510)
  packages/check/src/main.rs
  packages/core/src/lib.rs
  packages/crypto/src/lib.rs
  packages/cw-schema-derive/src/lib.rs
  packages/cw-schema/src/lib.rs
  packages/derive/src/lib.rs
  packages/schema-derive/src/lib.rs
  packages/schema/src/lib.rs
  packages/std/src/lib.rs
  packages/vm-derive/src/lib.rs
  packages/vm/src/lib.rs
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

docs(staking): fix broken path (#2535)
  contracts/staking/README.md
Due: none

Prepared checngelog for version v3.0.2
  CHANGELOG-pre-1.0.0.md
  CHANGELOG.md
Due: none

Prepared checngelog for version v3.0.2 (#2538)
  CHANGELOG-pre-1.0.0.md
  CHANGELOG.md
Due: none

Changed version to the release 3.0.2
  Cargo.lock
  Cargo.toml
Due: none

Published version v3.0.2
  Cargo.lock
  Cargo.toml
Due: none

Prepared development version 3.0.3-dev
  Cargo.lock
  Cargo.toml
Due: none

Bumped released versions in crate diagram.
  README.md
Due: none

Upgraded dependencies.
  .github/workflows/contracts.yml
  Taskfile.yml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Path conditions:
  cosmwasm-check: any of: packages/check/
  cosmwasm-crypto: any of: packages/crypto/
  cosmwasm-derive: any of: packages/derive/
  cosmwasm-schema: any of: packages/schema/
  cosmwasm-schema-derive: any of: packages/schema-derive/
  cosmwasm-std: any of: packages/std/
  cosmwasm-vm: any of: packages/vm/
  cosmwasm-vm-derive: any of: packages/vm-derive/
