Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Fix Int64 and Int128 Display impls
  packages/std/src/math/int128.rs
  packages/std/src/math/int64.rs
Due: cosmwasm-std

Improve Int64 and Int128 constructor
  packages/std/src/math/int128.rs
  packages/std/src/math/int64.rs
Due: cosmwasm-std

Add missing stats call
  CHANGELOG.md
  packages/vm/src/cache.rs
Due: none

Test recompiling modules from Wasm
  packages/vm/src/cache.rs
Due: none

Remove breaking checked_neg implementations
  packages/std/src/errors/std_error.rs
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/mod.rs
Due: cosmwasm-std

Actually test constructors
  packages/std/src/math/int128.rs
  packages/std/src/math/int64.rs
Due: cosmwasm-std

Don't fix bnum version
  packages/std/Cargo.toml
Due: cosmwasm-std

Add signed int trait check back in
  packages/std/src/math/mod.rs
Due: cosmwasm-std

Add changelog entry
  CHANGELOG.md
Due: none

Set version: 1.3.0-rc.0
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Update changelog
  CHANGELOG.md
Due: none

Fix clippy lints
  packages/std/src/errors/std_error.rs
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
Due: cosmwasm-std

Fix changelog
  CHANGELOG.md
Due: none

memo support
  contracts/ibc-reflect-send/src/contract.rs
  contracts/ibc-reflect-send/src/ibc.rs
  contracts/ibc-reflect-send/tests/integration.rs
  packages/std/src/ibc.rs
Due: cosmwasm-std

fmt and proper skip serde for memo
  contracts/ibc-reflect-send/src/contract.rs
  packages/std/src/ibc.rs
Due: cosmwasm-std

Use Addr in DelegatorWithdrawAddressResponse
  packages/std/src/query/distribution.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Update WasmMsg::Migrate to have more consistent field names
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Create hidden constructor for query responses
  packages/std/src/query/bank.rs
  packages/std/src/query/distribution.rs
  packages/std/src/query/ibc.rs
  packages/std/src/query/mod.rs
  packages/std/src/query/staking.rs
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

Remove Default impls
  packages/std/src/query/bank.rs
  packages/std/src/query/query_response.rs
Due: cosmwasm-std

Add cw_prost derive macros
  packages/schema-derive/src/cw_prost.rs
  packages/schema-derive/src/lib.rs
Due: none

Basic test of macros working
  Cargo.lock
  packages/schema-derive/src/cw_prost.rs
  packages/schema-derive/src/lib.rs
  packages/schema/src/lib.rs
  packages/std/Cargo.toml
  packages/std/src/lib.rs
  packages/std/src/prost_demo.rs
Due: cosmwasm-schema, cosmwasm-std

Show how to do use newtypes with prost
  packages/std/src/prost_demo.rs
Due: cosmwasm-std

Add u128 encoding for protobuf
  packages/std/src/prost_demo.rs
Due: cosmwasm-std

Fix failing test
  packages/schema-derive/src/cw_prost.rs
Due: none

Add newtype wrapper macro
  packages/schema-derive/src/cw_prost.rs
  packages/schema-derive/src/lib.rs
  packages/schema/src/lib.rs
  packages/std/src/prost_demo.rs
Due: cosmwasm-schema, cosmwasm-std

Move almost all types to cw_serde
  packages/std/Cargo.toml
  packages/std/src/addresses.rs
  packages/std/src/coin.rs
  packages/std/src/errors/system_error.rs
  packages/std/src/ibc.rs
  packages/std/src/metadata.rs
  packages/std/src/pagination.rs
  packages/std/src/query/bank.rs
  packages/std/src/query/distribution.rs
  packages/std/src/query/ibc.rs
  packages/std/src/query/mod.rs
  packages/std/src/query/staking.rs
  packages/std/src/query/wasm.rs
  packages/std/src/results/contract_result.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/empty.rs
  packages/std/src/results/events.rs
  packages/std/src/results/response.rs
  packages/std/src/results/submessages.rs
  packages/std/src/results/system_result.rs
  packages/std/src/serde.rs
  packages/std/src/types.rs
Due: cosmwasm-std

Port all types to new macros except math types
  packages/schema-derive/src/cw_prost.rs
  packages/schema-derive/src/lib.rs
  packages/schema/src/lib.rs
  packages/std/src/addresses.rs
  packages/std/src/binary.rs
  packages/std/src/hex_binary.rs
  packages/std/src/math/uint64.rs
  packages/std/src/timestamp.rs
Due: cosmwasm-schema, cosmwasm-std

int/uint 64/128 support prost
  packages/std/src/math/int128.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/uint128.rs
  packages/std/src/prost_demo.rs
Due: cosmwasm-std

Main types that can be imported, outside of Msg/Query JSON API, now proto-compatible
  packages/schema-derive/src/lib.rs
  packages/schema/src/lib.rs
  packages/std/src/coin.rs
  packages/std/src/ibc.rs
  packages/std/src/metadata.rs
  packages/std/src/pagination.rs
  packages/std/src/query/ibc.rs
  packages/std/src/results/empty.rs
  packages/std/src/types.rs
Due: cosmwasm-schema, cosmwasm-std

cargo fmt
  packages/schema-derive/src/lib.rs
  packages/schema/src/lib.rs
Due: cosmwasm-schema

Update Cargo.lock on sample contracts
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Update contract schemas
  contracts/cyberpunk/schema/cyberpunk.json
  contracts/cyberpunk/schema/raw/instantiate.json
  contracts/cyberpunk/schema/raw/response_to_denom.json
  contracts/cyberpunk/schema/raw/response_to_denoms.json
  contracts/cyberpunk/schema/raw/response_to_mirror_env.json
  contracts/floaty/schema/floaty.json
  contracts/floaty/schema/raw/response_to_other_balance.json
  contracts/hackatom/schema/hackatom.json
  contracts/hackatom/schema/raw/response_to_other_balance.json
  contracts/hackatom/schema/raw/sudo.json
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect-send/schema/raw/response_to_account.json
  contracts/ibc-reflect-send/schema/raw/response_to_list_accounts.json
  contracts/ibc-reflect/schema/acknowledgement_msg_balances.json
  contracts/ibc-reflect/schema/ibc-reflect.json
  contracts/ibc-reflect/schema/packet_msg.json
  contracts/ibc-reflect/schema/raw/migrate.json
  contracts/queue/schema/queue.json
  contracts/queue/schema/raw/response_to_open_iterators.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/raw/response_to_sub_msg_result.json
  contracts/reflect/schema/reflect.json
  contracts/staking/schema/raw/response_to_investment.json
  contracts/staking/schema/staking.json
Due: none

Fix ibc serialization tests
  packages/schema-derive/src/cw_serde.rs
  packages/schema-derive/src/lib.rs
  packages/schema/src/lib.rs
  packages/std/src/ibc.rs
Due: cosmwasm-schema, cosmwasm-std

Add prost version of from_slice / to_vec
  packages/std/src/lib.rs
  packages/std/src/prost.rs
Due: cosmwasm-std

Allow writing empty bytes, as prost often does
  packages/std/src/storage.rs
Due: cosmwasm-std

add csdb
  packages/vm/src/calls.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/testdata/counter.wasm
Due: none

add supported imports _ex
  packages/vm/src/compatibility.rs
Due: none

fmt code
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: none

fix ut
  packages/vm/src/calls.rs
Due: none
