Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-core, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std

Let Uint512::new take an u128 argument
  CHANGELOG.md
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Add links to ticket #2367
  CHANGELOG.md
Due: none

Add example to Decimal::new / Decimal256::new using the new Uint256::new
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Also adds #[inline] to the trivial decimal constructors
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
Due: cosmwasm-std

Add example for SignedDecimal::new and SignedDecimal256::new
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
Due: cosmwasm-std

Deprecate {Decimal,Decimal256,SignedDecimal,SignedDecimal256}::raw
  CHANGELOG.md
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
Due: cosmwasm-std

Fix coverage job
  .circleci/config.yml
  codecov.yml
Due: none

Update MIGRATING.md
  MIGRATING.md
Due: none

Fix flags
  .circleci/config.yml
Due: none

Fix
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: none

Fix
  packages/vm/src/imports.rs
Due: none

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-schema, cosmwasm-std

Add changelog entry
  CHANGELOG.md
Due: none

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-schema, cosmwasm-std

Let Int256::new take an i128 argument
  CHANGELOG.md
  packages/std/src/math/int256.rs
Due: cosmwasm-std

Let Uint256::new take an u128 argument
  CHANGELOG.md
  packages/std/src/math/uint256.rs
Due: cosmwasm-std

Let Int512::new take an i128 argument
  CHANGELOG.md
  packages/std/src/math/int512.rs
Due: cosmwasm-std

Use grow_be_int to write sign extension code more compact
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
Due: cosmwasm-std

Add #[must_use] to constructors
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Deprecate Uint256::from_u128 and Int256::from_i128
  CHANGELOG.md
  packages/std/src/math/decimal256.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/std/src/math/uint256.rs
Due: cosmwasm-std

feat: Add IBCv2 receive entrypoint; Rename Eureka to IBCv2
  .circleci/config.yml
  .mergify.yml
  CHANGELOG.md
  Cargo.lock
  contracts/README.md
  contracts/ibcv2/.cargo/config.toml
  contracts/ibcv2/Cargo.lock
  contracts/ibcv2/Cargo.toml
  contracts/ibcv2/schema/ibcv2.json
  contracts/ibcv2/schema/raw/instantiate.json
  contracts/ibcv2/schema/raw/query.json
  contracts/ibcv2/schema/raw/response_to_query_state.json
  contracts/ibcv2/src/bin/schema.rs
  contracts/ibcv2/src/contract.rs
  contracts/ibcv2/src/lib.rs
  contracts/ibcv2/tests/integration.rs
  docs/CAPABILITIES-BUILT-IN.md
  packages/check/src/main.rs
  packages/go-gen/tests/cosmwasm_std__ContractInfoResponse.go
  packages/std/Cargo.toml
  packages/std/src/exports.rs
  packages/std/src/ibcv2.rs
  packages/std/src/lib.rs
  packages/std/src/query/wasm.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/Cargo.toml
  packages/vm/src/calls.rs
  packages/vm/src/lib.rs
  packages/vm/src/static_analysis.rs
Due: cosmwasm-std

Add info about ibc_v2 entrypoint to AnalysisReport (#2401)
  packages/vm/src/cache.rs
  packages/vm/src/static_analysis.rs
  packages/vm/testdata/ibcv2.wasm
Due: none

chore: fix some comments
  contracts/ibc-reflect/src/contract.rs
  packages/vm/src/wasm_backend/limiting_tunables.rs
Due: none

Update Cargo.toml
  packages/vm/Cargo.toml
Due: none

Update README.md
  packages/vm/README.md
Due: none

chore: Update after review
  CHANGELOG.md
  Cargo.lock
  packages/std/src/ibcv2.rs
  packages/vm/src/calls.rs
Due: cosmwasm-std

chore: fix entrypoint method and add tests
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
  packages/vm/src/calls.rs
  packages/vm/src/testing/instance.rs
  packages/vm/testdata/ibcv2.wasm
Due: cosmwasm-std

Path conditions:
  cosmwasm-core: any of: packages/core/, but not: contracts, usr/local, rustc, src, target, tests, examples
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, usr/local, rustc, src, target, tests, examples
  cosmwasm-derive: any of: packages/derive/, but not: contracts, usr/local, rustc, src, target, tests, examples
  cosmwasm-schema: any of: packages/schema/, but not: contracts, usr/local, rustc, src, target, tests, examples
  cosmwasm-schema-derive: any of: packages/schema-derive/, but not: contracts, usr/local, rustc, src, target, tests, examples
  cosmwasm-std: any of: packages/std/, but not: contracts, usr/local, rustc, src, target, tests, examples
