Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Improve memo and Any message documentation
  packages/std/src/ibc.rs
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Re-generate schemas
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
Due: none

Explicitly allow unknown fields
  packages/schema-derive/src/cw_serde.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

Set additionalProperties to false in macro
  packages/schema/src/schema_for.rs
Due: cosmwasm-schema

Use visitor
  packages/schema/src/schema_for.rs
Due: cosmwasm-schema

Regenerate schemas
  contracts/cyberpunk/schema/cyberpunk.json
  contracts/cyberpunk/schema/raw/instantiate.json
  contracts/cyberpunk/schema/raw/response_to_denom.json
  contracts/cyberpunk/schema/raw/response_to_denoms.json
  contracts/cyberpunk/schema/raw/response_to_mirror_env.json
  contracts/floaty/schema/floaty.json
  contracts/floaty/schema/raw/instantiate.json
  contracts/hackatom/schema/hackatom.json
  contracts/hackatom/schema/raw/response_to_other_balance.json
  contracts/hackatom/schema/raw/sudo.json
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/acknowledgement_msg_balances.json
  contracts/ibc-reflect-send/schema/ibc/acknowledgement_msg_who_am_i.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect-send/schema/raw/response_to_account.json
  contracts/ibc-reflect-send/schema/raw/response_to_list_accounts.json
  contracts/ibc-reflect/schema/ibc-reflect.json
  contracts/ibc-reflect/schema/ibc/acknowledgement_msg_balances.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/ibc-reflect/schema/raw/migrate.json
  contracts/queue/schema/queue.json
  contracts/queue/schema/raw/response_to_open_iterators.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/raw/response_to_sub_msg_result.json
  contracts/reflect/schema/reflect.json
  contracts/staking/schema/raw/response_to_investment.json
  contracts/staking/schema/staking.json
Due: none

Update changelog
  CHANGELOG.md
Due: none

Add `CosmosMsg::Stargate` case back
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Add Changelog entry, allow deprecated
  CHANGELOG.md
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Update packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Set version: 2.0.1
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std

chore: fix some comments
  packages/std/src/testing/mock.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/testing/mock.rs
Due: cosmwasm-std

Fix schemas
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
Due: none

Set the crate version centrally via the workspace
  Cargo.lock
  Cargo.toml
  packages/check/Cargo.toml
  packages/core/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std

Add back version specifiers
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-derive, cosmwasm-schema, cosmwasm-std

Markdown formatting
  CHANGELOG.md
Due: none

Set `cargo-release` up
  CHANGELOG.md
  Cargo.toml
  devtools/set_version.sh
  packages/core/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/vm/Cargo.toml
Due: none

Capitalize 'Unreleased'
  CHANGELOG.md
Due: none

Fix up weird looking Changelog header
  CHANGELOG.md
  packages/vm/Cargo.toml
Due: none

Format Markdown
  CHANGELOG.md
Due: none

Add release checks
  devtools/release_checks.sh
  packages/vm/Cargo.toml
Due: none

Make replacement case-insensitive
  CHANGELOG.md
  packages/vm/Cargo.toml
Due: none

Fix the new-line annoyance
  CHANGELOG.md
  packages/vm/Cargo.toml
Due: none

Use nextest in CI
  .circleci/config.yml
Due: none

Run doc tests (nextest is unable to run doctests at the moment)
  .circleci/config.yml
Due: none

Format YAML
  .circleci/config.yml
Due: none

Remove doctest step from check package
  .circleci/config.yml
Due: none

Implement add for Uint* more consistently
  CHANGELOG.md
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
