Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Update contracts' cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Update packages/crypto/Cargo.toml
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Add CHANGELOG entry for backtraces fix
  CHANGELOG.md
Due: none

Upgrade tempfile dependency
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Remove unnecessary double references
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add CHANGELOG entry for #1620
  CHANGELOG.md
Due: none

Add #[must_use] annotations to Timestamp math functions
  CHANGELOG.md
  packages/std/src/timestamp.rs
Due: cosmwasm-std

Update packages/crypto/src/secp256k1.rs
  packages/crypto/src/secp256k1.rs
Due: cosmwasm-crypto

Set version: 1.2.2
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Use saturating increments for Stats fields
  CHANGELOG.md
  packages/vm/src/cache.rs
Due: none

Discourage the use of u128/i128 as message fields
  docs/MESSAGE_TYPES.md
Due: none

Split payment and cleanup implementations
  contracts/burner/schema/burner.json
  contracts/burner/schema/raw/migrate.json
  contracts/burner/src/contract.rs
  contracts/burner/src/msg.rs
  contracts/burner/tests/integration.rs
Due: none

Remove license files at contract level
  contracts/burner/LICENSE
  contracts/burner/NOTICE
Due: none

Add me to authors
  contracts/burner/Cargo.toml
Due: none

Bump to cosmwasm/rust-optimizer:0.12.11
  .circleci/config.yml
  README.md
  contracts/README.md
  packages/vm/README.md
Due: none

Added random as a feature to cw
  packages/std/Cargo.toml
  packages/std/src/exports.rs
  packages/std/src/types.rs
Due: cosmwasm-std

dev: api func for gas evaporation
  packages/std/src/imports.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Add additional information about submessage data handling to SEMANTICS.md
  SEMANTICS.md
Due: none

return val
  packages/std/src/imports.rs
Due: cosmwasm-std

return val
  packages/std/src/traits.rs
Due: cosmwasm-std

return val
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

make evaporate u32
  packages/std/src/imports.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Add new entry_point_adv macro
  packages/derive/Cargo.toml
  packages/derive/src/lib.rs
  packages/std/src/lib.rs
Due: cosmwasm-derive, cosmwasm-std

Add new AdvResult, AdvContractResult types
  packages/std/src/exports.rs
  packages/std/src/lib.rs
  packages/std/src/results/adv_result.rs
  packages/std/src/results/mod.rs
Due: cosmwasm-std

Demo using entry_point_adv in ibc-reflect-send
  contracts/ibc-reflect-send/src/ibc.rs
  packages/std/Cargo.toml
  packages/std/src/exports.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

fix gas_evaporate description
  packages/std/src/traits.rs
Due: cosmwasm-std

Cleanup and remove wasm compile warnings
  packages/std/src/exports.rs
  packages/std/src/results/adv_result.rs
  packages/vm/src/calls.rs
  packages/vm/src/testing/calls.rs
Due: cosmwasm-std

change evaporate return type to void
  packages/std/src/imports.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Move random to env (to support ibc entry points)
  packages/std/src/types.rs
Due: cosmwasm-std

Set version: 1.2.3
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Use trait 🪄🪄 to allow different result types in ibc_packet_receive
  contracts/ibc-reflect-send/src/ibc.rs
  packages/std/src/exports.rs
  packages/std/src/lib.rs
  packages/std/src/results/ibc_contract_result.rs
  packages/std/src/results/ibc_result.rs
  packages/std/src/results/mod.rs
Due: cosmwasm-std

Check table section
  CHANGELOG.md
  packages/vm/src/compatibility.rs
Due: none

Add Cache::save_wasm_unchecked
  CHANGELOG.md
  packages/vm/src/cache.rs
Due: none

Remove unnecessary vector clone
  packages/vm/src/compatibility.rs
Due: none

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
