Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Apply suggestions from code review
  docs/idl.md
Due: none

IDL docs: rephrase
  docs/idl.md
Due: none

Add ibc-callbacks contract
  contracts/ibc-callbacks/.cargo/config
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-callbacks/README.md
  contracts/ibc-callbacks/schema/ibc-callbacks.json
  contracts/ibc-callbacks/schema/raw/execute.json
  contracts/ibc-callbacks/schema/raw/instantiate.json
  contracts/ibc-callbacks/schema/raw/query.json
  contracts/ibc-callbacks/schema/raw/response_to_callback_stats.json
  contracts/ibc-callbacks/src/bin/schema.rs
  contracts/ibc-callbacks/src/contract.rs
  contracts/ibc-callbacks/src/lib.rs
  contracts/ibc-callbacks/src/msg.rs
  contracts/ibc-callbacks/src/state.rs
Due: none

Add callback entrypoint function to vm
  packages/vm/src/calls.rs
  packages/vm/src/lib.rs
Due: none

Add ibc_callbacks wasm to testdata
  packages/vm/README.md
  packages/vm/testdata/ibc_callbacks.wasm
Due: none

Fix doctest
  packages/std/src/ibc/callbacks.rs
Due: cosmwasm-std

Fix gas limit type
  contracts/ibc-callbacks/src/contract.rs
Due: none

Add source callback test
  packages/vm/src/calls.rs
Due: none

Fix imports
  contracts/ibc-callbacks/src/msg.rs
  packages/std/src/exports.rs
Due: cosmwasm-std

Fix import
  packages/vm/src/calls.rs
Due: none

Add callback entrypoint to cosmwasm-std
  contracts/ibc-callbacks/src/contract.rs
  contracts/ibc-callbacks/src/msg.rs
  packages/std/src/exports.rs
  packages/std/src/ibc.rs
  packages/std/src/ibc/callbacks.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Omit src_callback and dst_callback of None
  packages/std/src/ibc/callbacks.rs
Due: cosmwasm-std

Update ibc-callbacks schema and add to circleci
  .circleci/config.yml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/schema/ibc-callbacks.json
  contracts/ibc-callbacks/schema/raw/execute.json
Due: none

Optimize isqrt max bound
  packages/std/src/math/isqrt.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Remove redundant clone
  contracts/ibc-callbacks/src/contract.rs
Due: none

Calculate max sqrt precision
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

Add integration test stub
  contracts/ibc-callbacks/tests/integration.rs
Due: none

Bump min version of colored to remove unmaintained atty from tree
  Cargo.lock
  packages/check/Cargo.toml
Due: none

Add docs to msg_responses
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

Update reflect schema
  contracts/reflect/schema/raw/response_to_sub_msg_result.json
  contracts/reflect/schema/reflect.json
Due: none

Add Pinning docs
  docs/PINNING.md
Due: none

Implement `From<&Vec>` for Binary and HexBinary
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/binary.rs
  packages/std/src/hex_binary.rs
Due: cosmwasm-std

add IntoEvent derive macro
  Cargo.lock
  packages/derive/Cargo.toml
  packages/derive/src/into_event.rs
  packages/derive/src/lib.rs
  packages/derive/tests/test.rs
  packages/std/src/lib.rs
Due: cosmwasm-derive, cosmwasm-std

make `add_event` and `add_events` able to takes types implements `IntoEvent`
  packages/std/src/results/response.rs
Due: cosmwasm-std

update contracts' Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Add stub crate cosmwasm-core
  Cargo.lock
  packages/core/Cargo.toml
  packages/core/README.md
  packages/core/src/lib.rs
Due: none

Rename example to heap_profiling
  packages/vm/Cargo.toml
  packages/vm/examples/heap_profiling.rs
Due: none

Bump dhat version
  Cargo.lock
  packages/vm/Cargo.toml
Due: none

Reduce default time to 30s
  packages/vm/examples/heap_profiling.rs
Due: none

Add missing capabilities
  packages/vm/examples/heap_profiling.rs
Due: none

Add runtime argument
  packages/vm/examples/heap_profiling.rs
Due: none

improve code and add tests
  packages/derive/src/into_event.rs
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Update wasmer
  Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
  packages/vm/src/wasm_backend/limiting_tunables.rs
Due: none

Fix wasmer module version
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/versioning.rs
Due: none

Fix lock files
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Bump CI Rust versions
  .circleci/config.yml
  .github/workflows/ci.yml
Due: none

Exhaustively specify all WasmFeatures
  packages/vm/src/parsed_wasm.rs
Due: none

Update comment
  packages/vm/src/modules/file_system_cache.rs
Due: none

Update changelog
  CHANGELOG.md
Due: none

Update docs/ERROR_HANDLING.md
  docs/ERROR_HANDLING.md
Due: none

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
