Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Added Rust toolchains to commands.
  .github/workflows/contracts.yml
Due: none

Added Rust toolchains.
  .github/workflows/contracts.yml
Due: none

Bumped version.
  Cargo.lock
  Cargo.toml
Due: none

Fixed workflow.
  .github/workflows/contracts.yml
Due: none

Upgraded Wasmer to version v7.4.2
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  contracts/burner/Cargo.lock
  contracts/burner/integration/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/integration/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/integration/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/empty/integration/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/floaty/integration/Cargo.lock
  contracts/floaty/integration/tests/integration.rs
  contracts/hackatom/Cargo.lock
  contracts/hackatom/integration/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/integration/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/integration/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/integration/Cargo.lock
  contracts/nested-contracts/Cargo.lock
  contracts/nested-contracts/integration/Cargo.lock
  contracts/nested-contracts/integration/tests/integration.rs
  contracts/queue/integration/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/reflect/integration/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/staking/integration/Cargo.lock
  contracts/virus/Cargo.lock
  contracts/virus/integration/Cargo.lock
  contracts/virus/integration/tests/integration.rs
  devtools/check-contracts.sh
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
Due: cosmwasm-vm

Updates.
  devtools/check-contracts.sh
Due: none

Upgraded Wasmer to version v7.4.2
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
Due: cosmwasm-vm

Updated nested-contracts dependencies.
  contracts/nested-contracts/Cargo.toml
  contracts/nested-contracts/inner-contract/Cargo.toml
  contracts/nested-contracts/integration/Cargo.toml
Due: none

Added macos checks for test contracts
  .github/workflows/contracts.yml
Due: none

Added macos to matric for floaty.
  .github/workflows/contracts.yml
Due: none

Updated CHANGELOG v2.2.10
  CHANGELOG.md
Due: none

Updated CHANGELOG v2.3.5
  CHANGELOG.md
Due: none

Updated CHANGELOG v3.0.10
  CHANGELOG.md
Due: none

Updated lock file v3.0.10
  Cargo.lock
Due: none

Fixed Rust version in workflow.
  .github/workflows/contracts.yml
Due: none

Fixed workflows.
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
Due: none

Updated minimal Rust version.
  packages/check/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-check, cosmwasm-vm

Updated Rust version.
  packages/check/Cargo.toml
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
Due: cosmwasm-check, cosmwasm-vm

Path conditions:
  cosmwasm-check: any of: packages/check/
  cosmwasm-crypto: any of: packages/crypto/
  cosmwasm-derive: any of: packages/derive/
  cosmwasm-schema: any of: packages/schema/
  cosmwasm-schema-derive: any of: packages/schema-derive/
  cosmwasm-std: any of: packages/std/
  cosmwasm-vm: any of: packages/vm/
  cosmwasm-vm-derive: any of: packages/vm-derive/
