Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-core, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

fix dead link in README.md
  README.md
Due: none

fix dead link in README.md (#2483)
  README.md
Due: none

Provide more info for transfer destination callback
  packages/std/src/ibc/callbacks.rs
Due: cosmwasm-std

Add funds to IbcDestinationCallbackMsg
  packages/std/src/ibc/callbacks.rs
Due: cosmwasm-std

Update contract schemas
  contracts/ibc-callbacks/schema/ibc-callbacks.json
  contracts/ibc-callbacks/schema/raw/response_to_callback_stats.json
Due: none

Add more information to destination callback transfer case
  packages/std/src/ibc/callbacks.rs
Due: cosmwasm-std

Add assertion to ibc-callbacks contract
  contracts/ibc-callbacks/src/contract.rs
Due: none

Fix contract
  contracts/ibc-callbacks/src/contract.rs
Due: none

Export transfer callback type
  packages/std/src/lib.rs
Due: cosmwasm-std

Upgraded derive_more dependency.
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/std/Cargo.toml
Due: cosmwasm-std

Add RawRange query variant
  packages/std/src/query/wasm.rs
  packages/std/src/storage_keys/mod.rs
  packages/std/src/storage_keys/range.rs
Due: cosmwasm-std

Fix tests
  packages/go-gen/Cargo.toml
  packages/go-gen/src/schema.rs
  packages/go-gen/tests/cosmwasm_std__WasmQuery.go
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Export RawRangeResponse
  packages/std/src/lib.rs
Due: cosmwasm-std

Add cosmwasm_3_0 capability
  docs/CAPABILITIES-BUILT-IN.md
  packages/std/Cargo.toml
  packages/std/src/exports/exports.rs
  packages/std/src/query/wasm.rs
  packages/std/src/storage_keys/mod.rs
  packages/std/src/testing/mock.rs
  packages/vm/src/testing/instance.rs
Due: cosmwasm-std, cosmwasm-vm

Fix clippy lint
  packages/std/src/storage_keys/range.rs
Due: cosmwasm-std

Fix distribution test feature gate
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Support RawRangeResponse in go-gen
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
  packages/go-gen/tests/cosmwasm_std__RawRangeResponse.go
Due: none

Add RawRangeResponse test
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

Use tuple as RawRangeEntry
  packages/go-gen/tests/cosmwasm_std__RawRangeResponse.go
  packages/std/src/query/wasm.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Fix RawRangeQuery go type
  packages/go-gen/tests/cosmwasm_std__WasmQuery.go
Due: none

Fix slice handling in go-gen
  packages/go-gen/src/go.rs
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
Due: none

Improve test
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Disable go-gen WasmQuery test
  packages/go-gen/src/main.rs
  packages/go-gen/tests/cosmwasm_std__WasmQuery.go
Due: none

Adjust go type again
  packages/go-gen/src/main.rs
  packages/go-gen/tests/cosmwasm_std__RawRangeResponse.go
Due: none

Revert "Undo go-gen array change"
  packages/go-gen/src/schema.rs
Due: none

Add RawRangeEntry type
  packages/go-gen/tests/cosmwasm_std__RawRangeResponse.go
  packages/std/src/lib.rs
  packages/std/src/query/wasm.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Undo go-gen array change
  packages/go-gen/src/schema.rs
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Apply editorconfig rules to all .go files
  .editorconfig
  packages/go-gen/tests/cosmwasm_std__BankQuery.go
  packages/go-gen/tests/cosmwasm_std__BondedDenomResponse.go
  packages/go-gen/tests/cosmwasm_std__ContractInfoResponse.go
  packages/go-gen/tests/cosmwasm_std__DelegatorWithdrawAddressResponse.go
  packages/go-gen/tests/cosmwasm_std__DistributionQuery.go
  packages/go-gen/tests/cosmwasm_std__RawRangeResponse.go
  packages/go-gen/tests/cosmwasm_std__StakingQuery.go
  packages/go-gen/tests/cosmwasm_std__SupplyResponse.go
  packages/go-gen/tests/cosmwasm_std__WasmQuery.go
Due: none

Fix num-bigint min version
  Cargo.lock
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Update contract lockfiles
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

chore: Release
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-schema, cosmwasm-std, cosmwasm-vm

Path conditions:
  cosmwasm-check: any of: packages/check/
  cosmwasm-core: any of: packages/core/
  cosmwasm-crypto: any of: packages/crypto/
  cosmwasm-derive: any of: packages/derive/
  cosmwasm-schema: any of: packages/schema/
  cosmwasm-schema-derive: any of: packages/schema-derive/
  cosmwasm-std: any of: packages/std/
  cosmwasm-vm: any of: packages/vm/
  cosmwasm-vm-derive: any of: packages/vm-derive/
