Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

fixes:
  - "/root/project/::" # reduce root, e.g. "/root/project/path/" => "path/"

flags:
  cosmwasm-check:
    paths:
      - packages/check/
  #cosmwasm-core:
  #  paths:
  #    - packages/core/
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-schema-derive:
    paths:
      - packages/schema-derive/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-vm:
    paths:
      - packages/vm/
  cosmwasm-vm-derive:
    paths:
      - packages/vm-derive/

chore: Remove duplicate words to make the comments more readable
  packages/std/src/query/staking.rs
Due: cosmwasm-std

Unified security policy.
  SECURITY.md
Due: none

Update contract.rs
  contracts/cyberpunk/src/contract.rs
Due: none

Update contract.rs
  contracts/hackatom/src/contract.rs
Due: none

Update msg.rs
  contracts/hackatom/src/msg.rs
Due: none

Update ibc.rs
  contracts/ibc-reflect-send/src/ibc.rs
Due: none

chore: fix typos in function names
  packages/crypto/src/bls12_381/aggregate.rs
Due: cosmwasm-crypto

Fix typos in function names (#2542)
  packages/crypto/src/bls12_381/aggregate.rs
Due: cosmwasm-crypto

Remove duplicate words to make the comments more readable (#2540)
  packages/std/src/query/staking.rs
Due: cosmwasm-std

Fix grammar issues in contracts and IBC code comments (#2541)
  contracts/cyberpunk/src/contract.rs
  contracts/hackatom/src/contract.rs
  contracts/hackatom/src/msg.rs
  contracts/ibc-reflect-send/src/ibc.rs
Due: none

Updated schemas.
  Taskfile.yml
  contracts/hackatom/schema/cw_schema/hackatom.json
  contracts/hackatom/schema/cw_schema/raw/sudo.json
  contracts/hackatom/schema/hackatom.json
  contracts/hackatom/schema/raw/sudo.json
  contracts/reflect/schema/cw_schema/raw/query.json
  contracts/reflect/schema/cw_schema/reflect.json
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
  devtools/update-schemas.sh
Due: none

Updated schemas. (#2544)
  Taskfile.yml
  contracts/hackatom/schema/cw_schema/hackatom.json
  contracts/hackatom/schema/cw_schema/raw/sudo.json
  contracts/hackatom/schema/hackatom.json
  contracts/hackatom/schema/raw/sudo.json
  contracts/reflect/schema/cw_schema/raw/query.json
  contracts/reflect/schema/cw_schema/reflect.json
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
  devtools/update-schemas.sh
Due: none

Moved CHECKS.md content to Wiki.
  docs/CHECKS.md
Due: none

Moved CHECKS.md content to Wiki. (#2545)
  docs/CHECKS.md
Due: none

Moved MSRV.md to Wiki.
  CHANGELOG-pre-1.0.0.md
  README.md
  docs/MSRV.md
Due: none

Moved MSRV.md to Wiki. (#2546)
  CHANGELOG-pre-1.0.0.md
  README.md
  docs/MSRV.md
Due: none

docs: fix typo
  MIGRATING.md
Due: none

Update state.rs
  contracts/ibc-reflect-send/src/state.rs
Due: none

Update state.rs
  contracts/ibc-reflect/src/state.rs
Due: none

Fixed typo (#2547)
  MIGRATING.md
Due: none

Minor fixes.
  contracts/ibc-reflect/README.md
  contracts/reflect/README.md
Due: none

Minor grammar fixes. (#2549)
  contracts/ibc-reflect/README.md
  contracts/reflect/README.md
Due: none

Update state.rs
  contracts/staking/src/state.rs
Due: none

Update contract.rs
  contracts/reflect/src/contract.rs
Due: none

chore: fix minor typos (#2550)
  contracts/reflect/src/contract.rs
  contracts/staking/src/state.rs
Due: none

Updates.
  Cargo.lock
  contracts/burner/Cargo.lock
  packages/check/Cargo.toml
  packages/vm/src/compatibility.rs
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: cosmwasm-check, cosmwasm-vm

chore: fix minor typos
  packages/vm/src/calls.rs
Due: cosmwasm-vm

Fix minor typos (#2551)
  packages/vm/src/calls.rs
Due: cosmwasm-vm

replace circleci with gh actions
  .circleci/config.yml
  .github/workflows/autofix.yml
  .github/workflows/contract.yml
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
  .github/workflows/toml.yml
  .github/workflows/typo-check.yml
  .github/workflows/workspace.yml
Due: none

update
  .mergify.yml
  .prettierignore
  .prettierrc.json
  .taplo.toml
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  _typos.toml
  codecov.yml
  packages/check/Cargo.toml
  packages/core/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm-derive/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

update cargo lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/nested-contracts/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

update
  .github/workflows/packages.yml
Due: none

replace deprecated method
  packages/vm/benches/main.rs
  packages/vm/examples/heap_profiling.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
Due: cosmwasm-vm

docs: fix typos
  packages/std/src/traits.rs
Due: cosmwasm-std

docs: fix typo
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

docs: fix typos
  packages/vm/src/backend.rs
Due: cosmwasm-vm

fix
  Cargo.lock
  packages/check/Cargo.toml
  packages/core/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
Due: cosmwasm-check, cosmwasm-schema, cosmwasm-std

update
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

update
  Cargo.toml
Due: none

Update contracts.yml
  .github/workflows/contracts.yml
Due: none
