Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

docs: Remove docs files that are duplicated in cw documentation website
  EntryPoints.md
  IBC.md
  SEMANTICS.md
Due: none

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-schema, cosmwasm-std

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-schema, cosmwasm-std

Add changelog entry
  CHANGELOG.md
Due: none

chore: Contract that tests replies and msg execution order
  contracts/replier/.cargo/config.toml
  contracts/replier/Cargo.lock
  contracts/replier/Cargo.toml
  contracts/replier/schema/hackatom.json
  contracts/replier/schema/raw/execute.json
  contracts/replier/schema/raw/instantiate.json
  contracts/replier/schema/raw/migrate.json
  contracts/replier/schema/raw/query.json
  contracts/replier/schema/raw/response_to_get_int.json
  contracts/replier/schema/raw/response_to_other_balance.json
  contracts/replier/schema/raw/response_to_recurse.json
  contracts/replier/schema/raw/response_to_verifier.json
  contracts/replier/schema/raw/sudo.json
  contracts/replier/src/bin/schema.rs
  contracts/replier/src/lib.rs
  contracts/replier/src/schema/raw/execute.json
  contracts/replier/src/schema/raw/instantiate.json
  contracts/replier/src/schema/raw/query.json
  contracts/replier/src/schema/replier.json
Due: none

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-schema, cosmwasm-std, cosmwasm-storage

chore: Update python codegen
  Cargo.lock
  packages/cw-schema-codegen/Cargo.toml
  packages/cw-schema-codegen/src/python/mod.rs
  packages/cw-schema-codegen/templates/python/struct.tpl.py
  packages/cw-schema-codegen/tests/python_tpl.rs
  packages/cw-schema-codegen/tests/snapshots/python_tpl__simple_enum-2.snap
  packages/cw-schema-codegen/tests/snapshots/python_tpl__simple_enum-3.snap
  packages/cw-schema-codegen/tests/snapshots/python_tpl__simple_enum-4.snap
Due: none

Add store_code to cache
  packages/vm/src/cache.rs
Due: none

Add unchecked flag
  packages/vm/src/cache.rs
Due: none

Fix docs and tests
  packages/vm/benches/main.rs
  packages/vm/examples/heap_profiling.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
Due: none

Add test for store_code without persisting
  packages/vm/src/cache.rs
Due: none

Only set unset `additionalProperties` fields to `false`
  Cargo.lock
  packages/schema/Cargo.toml
  packages/schema/src/schema_for.rs
  packages/schema/tests/idl.rs
  packages/schema/tests/snapshots/idl__assert_maps_generate_correctly.snap
Due: cosmwasm-schema

I'm an expert. I'm allowed to do this
  Cargo.lock
Due: none

Revert "Add changelog entry"
  CHANGELOG.md
Due: none

Revert "Support reference-types proposal"
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: none

Revert "Use upper Rust version to compile hackatom"
  .circleci/config.yml
Due: none

Revert "Update Rust CI version"
  .circleci/config.yml
Due: none

Fix typos
  packages/std/src/math/signed_decimal_256.rs
  packages/vm/src/modules/file_system_cache.rs
Due: cosmwasm-std

Revert "Update Rust CI version"
  .circleci/config.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/std/src/math/signed_decimal_256.rs
  packages/vm/Cargo.toml
  packages/vm/src/calls.rs
  packages/vm/src/imports.rs
  packages/vm/src/modules/file_system_cache.rs
Due: cosmwasm-crypto, cosmwasm-schema, cosmwasm-std

Fix conflict
  packages/vm/src/modules/file_system_cache.rs
Due: none
