Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Add changelog entry
  CHANGELOG.md
Due: none

Rename math functions to strict_add/strict_sub (#2107)
  CHANGELOG.md
  packages/core/src/math/uint128.rs
  packages/core/src/math/uint256.rs
  packages/core/src/math/uint512.rs
  packages/core/src/math/uint64.rs
  packages/std/src/timestamp.rs
Due: cosmwasm-std

Rename math functions to strict_add/strict_sub (#2107)
  CHANGELOG.md
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
  packages/std/src/timestamp.rs
Due: cosmwasm-std

Improve isqrt implementation further
  packages/core/src/math/isqrt.rs
Due: none

Fix CHANGELOG
  CHANGELOG.md
Due: none

Add ### Changed section to Unreleased CHANGELOG
  CHANGELOG.md
Due: none

Fix test code from merge
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

fix: avoid div with zero in assert_approx_eq (#2101)
  packages/core/src/testing/assertions.rs
Due: none

fix: avoid div with zero in assert_approx_eq (#2101)
  packages/std/src/testing/assertions.rs
Due: cosmwasm-std

Move Timestamp to core
  packages/core/src/lib.rs
  packages/core/src/timestamp.rs
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/types.rs
Due: cosmwasm-std

Fix
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Invalidate circleci cache
  .circleci/config.yml
Due: none

Add rootberg secp256k1 tests
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/testdata/rootberg/README.md
  packages/crypto/testdata/rootberg/ecdsa_normalized_secp256k1_keccak256_raw.json
  packages/crypto/testdata/rootberg/ecdsa_normalized_secp256k1_sha_256_raw.json
  packages/crypto/tests/rootberg_secp256k1.rs
Due: cosmwasm-crypto

PoC call function by param_arity
  packages/vm/src/environment.rs
Due: none

add sha1_calculate to crypt
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/src/lib.rs
  packages/crypto/src/sha1.rs
Due: cosmwasm-crypto

add sha1 bench
  .circleci/config.yml
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/benches/main.rs
Due: cosmwasm-crypto

add sha1 calculate to API
  packages/std/src/imports.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: cosmwasm-std

add benchmarking for sha1 wasm vm api
  Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/benches/main.rs
  packages/vm/testdata/bench_sha1.wasm
Due: none

add bench-sha1 contract
  contracts/README.md
  contracts/bench-sha1/.cargo/config
  contracts/bench-sha1/Cargo.lock
  contracts/bench-sha1/Cargo.toml
  contracts/bench-sha1/LICENSE
  contracts/bench-sha1/NOTICE
  contracts/bench-sha1/README.md
  contracts/bench-sha1/src/contract.rs
  contracts/bench-sha1/src/lib.rs
  contracts/bench-sha1/src/msg.rs
Due: none

add uuid
  Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/lib.rs
  packages/std/src/uuid.rs
Due: cosmwasm-std

update contracts' Cargo.lock
  contracts/bench-sha1/Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Add grpc query helper and docs
  packages/std/src/query/mod.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Update schema
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
Due: none

Fix rootberg tests
  packages/crypto/tests/rootberg_secp256k1.rs
Due: cosmwasm-crypto

Fix misspellings in the MIGRATING doc
  MIGRATING.md
Due: none

Add `set_contract_state_version` macro
  packages/derive/src/lib.rs
  packages/std/src/lib.rs
Due: cosmwasm-derive, cosmwasm-std

Only allow macro to be called on migrate functions
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Integrate the macro logic into the `entry_point` macro
  packages/derive/src/lib.rs
  packages/std/src/lib.rs
Due: cosmwasm-derive, cosmwasm-std

deprecate compact serialization of some types
  packages/core/src/binary.rs
  packages/core/src/hex_binary.rs
  packages/std/src/checksum.rs
Due: cosmwasm-std

changelog
  CHANGELOG.md
Due: none

deprecate compact serialization of some types
  packages/std/src/binary.rs
  packages/std/src/hex_binary.rs
Due: cosmwasm-std

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
