Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

schema macros: disambiguate expanded paths, hide deps
  packages/schema-derive/src/cw_serde.rs
  packages/schema-derive/src/generate_api.rs
  packages/schema-derive/src/query_responses.rs
  packages/schema/src/lib.rs
Due: cosmwasm-schema

schema: use serde and schemars reexports in one more spot
  packages/schema-derive/src/cw_serde.rs
Due: none

Remove unnecessary deps from cyberpunk
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Set version: 1.1.1
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Turn testing module into folder
  packages/std/src/deps.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Add macro `assert_approx_eq!`
  CHANGELOG.md
  contracts/hackatom/tests/integration.rs
  packages/std/src/testing/assertions.rs
  packages/std/src/testing/mod.rs
Due: cosmwasm-std

Add some more panic message testing
  packages/std/src/testing/assertions.rs
Due: cosmwasm-std

Document CosmWasm message types
  docs/MESSAGE_TYPES.md
Due: none

Add HexBinary to docs
  docs/MESSAGE_TYPES.md
Due: none

Add Binary <-> HexBinary conversion
  packages/std/src/hex_binary.rs
Due: cosmwasm-std

Add HexBinary
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/hex_binary.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Add InvalidHex error type
  packages/std/src/errors/std_error.rs
  packages/std/src/hex_binary.rs
Due: cosmwasm-std

Add 0x prefixed test
  packages/std/src/hex_binary.rs
Due: cosmwasm-std

Link MESSAGE_TYPES.md
  contracts/crypto-verify/schema/crypto-verify.json
  contracts/hackatom/schema/hackatom.json
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/packet_msg.json
  contracts/ibc-reflect/schema/packet_msg.json
  contracts/reflect/schema/reflect.json
  packages/std/schema/cosmos_msg.json
  packages/std/schema/query_request.json
  packages/std/src/binary.rs
Due: cosmwasm-std

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Update docs/MESSAGE_TYPES.md
  docs/MESSAGE_TYPES.md
Due: none

Bump MODULE_SERIALIZATION_VERSION to v4
  CHANGELOG.md
  packages/vm/src/modules/file_system_cache.rs
Due: none

have the QueryResponses macro handle generics
  packages/schema-derive/src/query_responses.rs
Due: none

test for QueryMsgs with generics implementing QueryResponses
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

style
  packages/schema-derive/src/query_responses.rs
Due: none

CHANGELOG
  CHANGELOG.md
Due: none

fmt CHANGELOG
  CHANGELOG.md
Due: none

correct CHANGELOG entry
  CHANGELOG.md
Due: none

Set version: 1.1.2
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Add u128/i128
  docs/MESSAGE_TYPES.md
Due: none

Use strings and booleans for Vec<T> example
  docs/MESSAGE_TYPES.md
Due: none

Create stronger warning for &str and usize
  docs/MESSAGE_TYPES.md
Due: none

initial commit
  packages/vm/examples/old_contract.rs
  packages/vm/src/calls.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/instance.rs
  packages/vm/testdata/oraichain_nft.wasm
Due: none

fix mock to test pass
  packages/vm/examples/old_contract.rs
  packages/vm/src/testing/mock.rs
Due: none

Update to Wasmer 3.0.0-beta (dirty)
  Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/memory.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
  packages/vm/src/static_analysis.rs
  packages/vm/src/testing/instance.rs
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
  packages/vm/src/wasm_backend/limiting_tunables.rs
  packages/vm/src/wasm_backend/store.rs
Due: none

Remove implicit Engine clone
  packages/vm/src/wasm_backend/store.rs
Due: none

Restore old `from_module`/`from_code` workflow
  packages/vm/src/instance.rs
  packages/vm/src/wasm_backend/mod.rs
Due: none

Another attempt at aligning Wasmer 3.0.0-beta (dirty)
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/instance.rs
Due: none

Make IntegrityError public
  packages/schema/src/lib.rs
Due: cosmwasm-schema

CHANGELOG update
  CHANGELOG.md
Due: none

Set version: 1.1.3
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Update CHANGELOG (1.1.3)
  CHANGELOG.md
Due: none

Properly analyzing schemas generated for untagged enums
  CHANGELOG.md
  packages/schema/src/query_response.rs
Due: cosmwasm-schema
