Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Fix a bunch of warning across the workspace
  packages/crypto/src/secp256r1.rs
  packages/std/src/addresses.rs
  packages/std/src/binary.rs
  packages/std/src/hex_binary.rs
  packages/std/src/ibc.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/mod.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/conversion.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/lib.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/testing/mock.rs
  packages/vm/src/testing/querier.rs
Due: cosmwasm-crypto, cosmwasm-std

Add docs to allow attributes
  packages/std/src/math/mod.rs
  packages/std/src/query/query_response.rs
Due: cosmwasm-std

Pass `--tests` to the clippy invocation
  .circleci/config.yml
Due: none

Make `generate_api` and `write_api` configurable
  packages/schema-derive/src/generate_api.rs
Due: none

Make `cw_serde` configurable
  packages/schema-derive/src/cw_serde.rs
  packages/schema-derive/src/lib.rs
Due: none

Make crate for `QueryResponses` configurable, fix `generate_api` macro
  packages/schema-derive/src/generate_api.rs
  packages/schema-derive/src/query_responses.rs
  packages/schema-derive/src/query_responses/context.rs
Due: none

Update tests
  packages/schema-derive/src/cw_serde.rs
Due: none

Add expansion test
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/derive/Cargo.toml
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Add tests
  packages/schema-derive/src/cw_serde.rs
  packages/schema-derive/src/generate_api.rs
  packages/schema-derive/src/query_responses.rs
  packages/schema-derive/src/query_responses/context.rs
Due: none

Run cosmwasm-check in CI
  .circleci/config.yml
Due: none

Add cosmwasm_2_1 cargo feature
  packages/std/Cargo.toml
  packages/std/src/imports.rs
Due: cosmwasm-std

Introduce `min_version` parameter in CI
  .circleci/config.yml
Due: none

Fix feature flag
  packages/std/src/imports.rs
Due: cosmwasm-std

Update GitHub action
  .github/workflows/ci.yml
Due: none

Fix CircleCI
  .circleci/config.yml
Due: none

Fix crypto_verify
  .circleci/config.yml
  contracts/crypto-verify/Cargo.toml
Due: none

Force install cosmwasm-check
  .circleci/config.yml
Due: none

Remove 1.4 check
  .circleci/config.yml
Due: none

Remove double checks
  .circleci/config.yml
Due: none

Use 1.3 for cyberpunk contract
  .circleci/config.yml
Due: none

Add Webauthn example using the secp256r1 API
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/crypto-verify/src/contract.rs
  contracts/crypto-verify/src/lib.rs
  contracts/crypto-verify/src/msg.rs
  contracts/crypto-verify/src/webauthn.rs
  contracts/crypto-verify/tests/integration.rs
  packages/vm/src/testing/instance.rs
Due: none

Update schemas
  contracts/crypto-verify/schema/crypto-verify.json
  contracts/crypto-verify/schema/raw/query.json
  contracts/crypto-verify/schema/raw/response_to_verify_webauthn.json
Due: none

Don't compress affine coordinates
  contracts/crypto-verify/src/webauthn.rs
Due: none

Shrink buffer down to length to uphold safety invariant
  packages/std/src/memory.rs
Due: cosmwasm-std

Abstract away the source behind an unsafe trait
  packages/std/src/imports.rs
  packages/std/src/memory.rs
Due: cosmwasm-std

Remove `AsRef<[u8]>` bounds
  packages/std/src/memory.rs
Due: cosmwasm-std

Update packages/std/src/memory.rs
  packages/std/src/memory.rs
Due: cosmwasm-std

Adjust documentation
  packages/std/src/memory.rs
Due: cosmwasm-std

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix Changelog
  CHANGELOG.md
Due: none

Add documentation about representation, bring gas usage under 500k
  contracts/crypto-verify/src/msg.rs
  contracts/crypto-verify/src/webauthn.rs
  packages/vm/src/testing/instance.rs
Due: none

Regenerate schemas
  contracts/crypto-verify/schema/crypto-verify.json
  contracts/crypto-verify/schema/raw/query.json
Due: none

Implement TryFrom for the decimals' respective integers
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Add Changelog entry
  CHANGELOG.md
Due: none

Implement for signed decimals
  CHANGELOG.md
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
Due: cosmwasm-std

Assert that the conversion was lossless
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
Due: cosmwasm-std

Update all dependencies across the workspace
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
  packages/std/Cargo.toml
  packages/std/src/binary.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/testing/mock.rs
  packages/vm/Cargo.toml
  packages/vm/src/testing/mock.rs
Due: cosmwasm-crypto, cosmwasm-std

Remove thread mode
  contracts/cyberpunk/src/contract.rs
Due: none

Fix staking contract
  contracts/staking/src/errors.rs
Due: none

Update packages/crypto/Cargo.toml
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto
