Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

TODO
  packages/std/Cargo.toml
  packages/std/src/eureka.rs
  packages/std/src/exports.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
  packages/vm/src/calls.rs
  packages/vm/src/lib.rs
  packages/vm/src/static_analysis.rs
  packages/vm/src/testing/calls.rs
Due: cosmwasm-std

chore: Update after review
  contracts/ibc-callbacks/schema/ibc-callbacks.json
  contracts/ibc-callbacks/schema/raw/execute.json
  contracts/ibc-callbacks/src/contract.rs
  contracts/ibc-callbacks/src/msg.rs
  packages/go-gen/tests/cosmwasm_std__IbcMsg.go
  packages/std/src/ibc.rs
  packages/std/src/ibc/transfer_msg_builder.rs
  packages/std/src/ibc/transfer_msg_builder_v2.rs
Due: cosmwasm-std

feat: Add Unwind to Forwarding in TransferV2
  packages/go-gen/tests/cosmwasm_std__IbcMsg.go
  packages/std/src/ibc.rs
  packages/std/src/ibc/transfer_msg_builder_v2.rs
Due: cosmwasm-std

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-schema, cosmwasm-std, cosmwasm-storage

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-schema, cosmwasm-std

Fix lockfile version
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Fix lockfile version
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-schema, cosmwasm-std

Fix cosmwasm-crypto to patch updates
  packages/std/Cargo.toml
Due: cosmwasm-std

feat: Add eureka receive entrypoint
  Cargo.lock
  Cargo.toml
  packages/std/Cargo.toml
  packages/std/src/eureka.rs
  packages/std/src/exports.rs
  packages/std/src/lib.rs
  packages/vm/src/calls.rs
  packages/vm/src/lib.rs
  packages/vm/src/static_analysis.rs
  packages/vm/src/testing/calls.rs
Due: cosmwasm-std

feat: Add Eureka test contract
  contracts/eureka/.cargo/config.toml
  contracts/eureka/Cargo.toml
  contracts/eureka/src/contract.rs
  contracts/eureka/src/error.rs
  contracts/eureka/src/lib.rs
  contracts/eureka/src/msg.rs
Due: none

Add new len param to instantiate2_address_impl
  CHANGELOG.md
  packages/std/src/addresses.rs
Due: cosmwasm-std

Inline instantiate2_address_impl
  packages/std/src/addresses.rs
Due: cosmwasm-std

Make instantiate2_address_impl public
  CHANGELOG.md
  packages/std/src/addresses.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Add example for instantiate2_address_evm_compatible
  packages/std/src/addresses.rs
Due: cosmwasm-std

Fix contracts/README.md link
  contracts/README.md
Due: none

Change link name
  contracts/README.md
Due: none

feat: Add Eureka test contract
  .circleci/config.yml
  .mergify.yml
  Cargo.lock
  Cargo.toml
  contracts/README.md
  contracts/eureka/.cargo/config.toml
  contracts/eureka/Cargo.lock
  contracts/eureka/Cargo.toml
  contracts/eureka/schema/eureka.json
  contracts/eureka/schema/raw/instantiate.json
  contracts/eureka/src/bin/schema.rs
  contracts/eureka/src/contract.rs
  contracts/eureka/src/lib.rs
  contracts/eureka/tests/integration.rs
  packages/check/src/main.rs
  packages/vm/src/static_analysis.rs
  packages/vm/src/testing/calls.rs
Due: none

Add test case instantiate2_address_impl_matches_wasmd_for_len_24
  packages/std/src/addresses.rs
Due: cosmwasm-std

Ensure Install shfmt step fails when download fails
  .circleci/config.yml
Due: none

Update wasmer and refactor Gatekeeper
  Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/compatibility.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/versioning.rs
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: none

Use wasmer's Metering
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/metering.rs
  packages/vm/src/wasm_backend/mod.rs
Due: none

Fix cargo.locks
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Update CI Rust versions
  .circleci/config.yml
Due: none

Fix clippy lint
  contracts/crypto-verify/tests/integration.rs
Due: none

Install gcc in CI
  .circleci/config.yml
Due: none

Fix github actions
  .github/workflows/contract.yml
  .github/workflows/workspace.yml
Due: none

Remove debug env
  .circleci/config.yml
Due: none

feat: Improve TransferV2 API
  contracts/ibc-callbacks/src/contract.rs
  packages/go-gen/tests/cosmwasm_std__IbcMsg.go
  packages/std/src/ibc.rs
  packages/std/src/ibc/transfer_msg_builder_v2.rs
Due: cosmwasm-std

Extend BLS12-381 documentation a bit
  packages/std/src/traits.rs
Due: cosmwasm-std

Move ProposalValidator outside of function
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: none

Add missing derives
  packages/std/src/eureka.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/types.rs
Due: cosmwasm-std

Add changelog entry
  CHANGELOG.md
Due: none

Add support for maps (because that's a thing people do apparently)
  packages/cw-schema-codegen/src/go/mod.rs
  packages/cw-schema-codegen/src/python/mod.rs
  packages/cw-schema-codegen/src/rust/mod.rs
  packages/cw-schema-codegen/src/typescript/mod.rs
  packages/cw-schema/src/default_impls.rs
  packages/cw-schema/src/lib.rs
Due: none

Fix lockfiles
  Cargo.lock
  packages/cw-schema-codegen/tests/rust-e2e/Cargo.lock
Due: none

Fix CI failures
  contracts/nested-contracts/Cargo.lock
  contracts/replier/Cargo.lock
  packages/cw-schema-codegen/src/rust/mod.rs
Due: none

Add compiler error for incorrect entry_point macro usage
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Improve comment and error message
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Update test
  packages/derive/src/lib.rs
Due: cosmwasm-derive
