Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Fix go-gen dependency version
  packages/go-gen/Cargo.toml
Due: none

Update changelog
  CHANGELOG.md
Due: none

Use cosmwasm_1_4 feature in ci
  .circleci/config.yml
Due: none

Fix mock
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add DelegatorValidators query
  packages/std/src/lib.rs
  packages/std/src/query/distribution.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Fix build
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add cosmwasm_1_4 capability docs
  docs/CAPABILITIES-BUILT-IN.md
  docs/USING_COSMWASM_STD.md
Due: none

Disable clippy lint
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Link to protobuf files instead of generated code
  packages/std/src/query/distribution.rs
Due: cosmwasm-std

Add DelegationRewards query
  packages/std/src/lib.rs
  packages/std/src/query/distribution.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Add tests for new distribution querier mocks
  packages/std/src/query/distribution.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add DelegationTotalRewards query
  packages/std/src/lib.rs
  packages/std/src/query/distribution.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Add cosmwasm_1_4 feature
  .vscode/settings.json
  packages/std/Cargo.toml
Due: cosmwasm-std

Add cosmwasm_1_4 export
  packages/std/src/exports.rs
Due: cosmwasm-std

Add cosmwasm_1_4 capability
  packages/check/src/main.rs
  packages/vm/src/testing/instance.rs
Due: none

Enable cosmwasm_1_4 feature in go-gen
  packages/go-gen/Cargo.toml
Due: none

Fix missing new line
  .vscode/settings.json
Due: none

Fix DecCoin::amount
  packages/go-gen/src/schema.rs
  packages/std/src/query/distribution.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add suggested DecCoin docs
  packages/std/src/query/distribution.rs
Due: cosmwasm-std

Update cosmwasm_1_4 feature description
  packages/std/Cargo.toml
Due: cosmwasm-std

Add new query responses to go-gen tests
  packages/go-gen/src/main.rs
  packages/go-gen/tests/cosmwasm_std__DelegationRewardsResponse.go
  packages/go-gen/tests/cosmwasm_std__DelegationTotalRewardsResponse.go
  packages/go-gen/tests/cosmwasm_std__DelegatorValidatorsResponse.go
  packages/go-gen/tests/cosmwasm_std__DistributionQuery.go
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Add must_use to Instance::recycle
  packages/vm/src/instance.rs
Due: none

Set version: 1.4.0-rc.1
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Format changelog
  CHANGELOG.md
Due: none

Update doc links
  docs/MESSAGE_TYPES.md
Due: none

Add Int64/Int128/Int256/Int512 to MESSAGE_TYPES
  docs/MESSAGE_TYPES.md
Due: none

Remove custom rustfmt.toml files from contracts
  contracts/reflect/rustfmt.toml
  contracts/staking/rustfmt.toml
Due: none

Enable cosmwasm_1_4 for reflect contract
  contracts/reflect/Cargo.toml
Due: none

Update schema
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
Due: none

Add migrating docs for 1.4
  MIGRATING.md
Due: none

Set version: 1.4.0
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Add abs function for all signed ints
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
Due: cosmwasm-std

Add tests
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
Due: cosmwasm-std

Add zero abs test
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
Due: cosmwasm-std

Add unsigned_abs for Int{64,128,256,512}
  CHANGELOG.md
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
Due: cosmwasm-std

Update clru to 0.6.1
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
Due: none

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
