Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Change system result and contract result to fit v010
  packages/std/src/results/contract_result.rs
  packages/std/src/results/system_result.rs
Due: cosmwasm-std

Revert "Change system result and contract result to fit v010"
  packages/std/src/results/contract_result.rs
  packages/std/src/results/system_result.rs
Due: cosmwasm-std

WasmQuery::Smart s/callback_code_hash/code_hash/
  packages/std/src/query/wasm.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Add support for plaintext logs
  packages/std/src/mock.rs
  packages/std/src/results/events.rs
  packages/std/src/results/mod.rs
  packages/std/src/results/response.rs
Due: cosmwasm-std

Fix some more code_hash remnants
  contracts/floaty/src/contract.rs
  contracts/hackatom/src/contract.rs
  packages/vm/src/imports.rs
Due: none

Small rustdoc fix
  packages/std/src/results/response.rs
Due: cosmwasm-std

Add secp256k1_sign & ed25519_sign to API
  packages/crypto/src/ed25519.rs
  packages/crypto/src/errors.rs
  packages/crypto/src/lib.rs
  packages/crypto/src/secp256k1.rs
  packages/std/src/errors/mod.rs
  packages/std/src/errors/recover_pubkey_error.rs
  packages/std/src/errors/signing_error.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/errors/verification_error.rs
  packages/std/src/lib.rs
  packages/std/src/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/imports.rs
Due: cosmwasm-crypto, cosmwasm-std

idl: integrity check for query names in generated JSON
  Cargo.lock
  contracts/hackatom/Cargo.lock
  packages/schema-derive/Cargo.toml
  packages/schema-derive/src/lib.rs
  packages/schema/src/query_response.rs
Due: cosmwasm-schema

contracts: update Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
Due: none

schema-derive: remove unused dep
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/schema-derive/Cargo.toml
Due: none

schema, schema-derive: refactor
  contracts/hackatom/schema/hackatom.json
  contracts/hackatom/schema/query_msg.json
  packages/schema-derive/src/lib.rs
  packages/schema/src/query_response.rs
Due: cosmwasm-schema

schema: better errors for the integrity check
  contracts/hackatom/examples/schema.rs
  contracts/hackatom/schema/hackatom.json
  contracts/hackatom/schema/query_msg.json
  packages/schema/src/query_response.rs
Due: cosmwasm-schema

schema: make `responses` in IDL optional
  contracts/hackatom/examples/schema.rs
  packages/schema/src/idl.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

schema-derive: introduce generate_api!()
  packages/schema-derive/src/lib.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

schema-derive: Cargo.toml fix
  packages/schema-derive/Cargo.toml
Due: none

hackatom: migrate to the generate_api!() macro
  contracts/hackatom/examples/schema.rs
  packages/schema/src/lib.rs
Due: cosmwasm-schema

clippy
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

schema: simplify tests
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

schema: QueryResponse tests
  packages/schema/src/query_response.rs
Due: cosmwasm-schema

schema-derive: refactor
  packages/schema-derive/src/generate_api.rs
  packages/schema-derive/src/lib.rs
  packages/schema-derive/src/query_responses.rs
Due: none

schema: doc comments for proc macros
  packages/schema/src/lib.rs
  packages/schema/src/query_response.rs
Due: cosmwasm-schema

schema-derive: go nuts with boilerplate removal
  contracts/hackatom/examples/schema.rs
  contracts/hackatom/schema/balance_response.json
  contracts/hackatom/schema/execute_msg.json
  contracts/hackatom/schema/instantiate_msg.json
  contracts/hackatom/schema/migrate_msg.json
  contracts/hackatom/schema/query_msg.json
  contracts/hackatom/schema/state.json
  contracts/hackatom/schema/sudo_msg.json
  contracts/hackatom/schema/verifier_response.json
  packages/schema-derive/src/generate_api.rs
  packages/schema-derive/src/lib.rs
Due: none

schema-derive: assorted fixes
  packages/schema-derive/src/generate_api.rs
  packages/schema-derive/src/lib.rs
  packages/schema/schema/cw20.json
  packages/schema/src/lib.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

schema: improve proc macro doc comments
  packages/schema/src/lib.rs
Due: cosmwasm-schema

schema: doc comment style
  packages/schema/src/idl.rs
Due: cosmwasm-schema

Add `{secp256k1,ed25519}_sign()` to `ExternalApi`
  packages/crypto/src/errors.rs
  packages/std/src/errors/recover_pubkey_error.rs
  packages/std/src/errors/signing_error.rs
  packages/std/src/errors/verification_error.rs
  packages/std/src/imports.rs
  packages/vm/src/imports.rs
Due: cosmwasm-crypto, cosmwasm-std

Fix C imports for `{secp256k1,ed25519}_sign()`
  packages/std/src/imports.rs
Due: cosmwasm-std

Add serde magic to Attribute
  packages/std/src/results/events.rs
Due: cosmwasm-std

Rename code_hash to callback_code_hash internally
  packages/std/src/query/wasm.rs
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Revert previous commit for WasmMsg
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

schema-derive: panic msg tests
  packages/schema-derive/src/query_responses.rs
  packages/schema/src/query_response.rs
Due: cosmwasm-schema

Fix Cargo.toml of cosmwasm-storage
  Cargo.lock
  packages/storage/Cargo.toml
Due: cosmwasm-storage

Decimal: Implement missing checked methods
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

Decimal256: Implement missing checked methods
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Update changelog
  CHANGELOG.md
Due: none

Don't serde rename SystemResult or ContractResult
  packages/std/src/results/contract_result.rs
  packages/std/src/results/system_result.rs
Due: cosmwasm-std

Change the name of funds back to send
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Rewrite limit_to_pages to avoid storing 2^32 in u32
  packages/vm/src/wasm_backend/store.rs
Due: none

put `schema-derive` in separate codecov flag
  codecov.yml
Due: none

schema: rename API generation macros for clarity
  contracts/hackatom/examples/schema.rs
  packages/schema-derive/src/generate_api.rs
  packages/schema-derive/src/lib.rs
  packages/schema/src/lib.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
