Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-core, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

fixes:
  - "/root/project/::" # reduce root, e.g. "/root/project/path/" => "path/"

flags:
  cosmwasm-check:
    paths:
      - packages/check/
  cosmwasm-core:
    paths:
      - packages/core/
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-schema-derive:
    paths:
      - packages/schema-derive/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-vm:
    paths:
      - packages/vm/
  cosmwasm-vm-derive:
    paths:
      - packages/vm-derive/

chore: Use Binary instead of Checksum
  packages/std/src/query/bank.rs
  packages/std/src/query/distribution.rs
  packages/std/src/query/ibc.rs
  packages/std/src/query/mod.rs
  packages/std/src/query/staking.rs
  packages/std/src/query/wasm.rs
  packages/std/src/testing/mock.rs
  packages/std/src/types.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/mock.rs
Due: cosmwasm-std, cosmwasm-vm

chore: Move impl_hidden_constructor macro to lib.rs
  contracts/cyberpunk/schema/cyberpunk.json
  contracts/cyberpunk/schema/raw/response_to_mirror_env.json
  packages/std/src/lib.rs
  packages/std/src/query/mod.rs
  packages/std/src/types.rs
Due: cosmwasm-std

chore: Update Changelog
  CHANGELOG.md
Due: none

chore: Move the macro to utils module
  packages/std/src/lib.rs
  packages/std/src/query/bank.rs
  packages/std/src/query/distribution.rs
  packages/std/src/query/ibc.rs
  packages/std/src/query/staking.rs
  packages/std/src/query/wasm.rs
  packages/std/src/types.rs
  packages/std/src/utils.rs
Due: cosmwasm-std

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: Update after review
  packages/std/src/binary.rs
  packages/std/src/testing/mock.rs
  packages/std/src/types.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/mock.rs
Due: cosmwasm-std, cosmwasm-vm

Update packages/vm/src/testing/mock.rs
  packages/vm/src/testing/mock.rs
Due: cosmwasm-vm

Update packages/std/src/testing/mock.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Update packages/std/src/types.rs
  packages/std/src/types.rs
Due: cosmwasm-std

chore: Update after review
  packages/std/src/binary.rs
  packages/std/src/testing/mock.rs
  packages/std/src/utils.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/mock.rs
Due: cosmwasm-std, cosmwasm-vm

chore: Add test for hex encoding
  packages/std/src/binary.rs
Due: cosmwasm-std

feat: Add Tx hash to TransactionInfo and make it non exhaustive (#2480)
  CHANGELOG.md
  contracts/cyberpunk/schema/cyberpunk.json
  contracts/cyberpunk/schema/raw/response_to_mirror_env.json
  packages/std/src/binary.rs
  packages/std/src/lib.rs
  packages/std/src/query/bank.rs
  packages/std/src/query/distribution.rs
  packages/std/src/query/ibc.rs
  packages/std/src/query/mod.rs
  packages/std/src/query/staking.rs
  packages/std/src/query/wasm.rs
  packages/std/src/testing/mock.rs
  packages/std/src/types.rs
  packages/std/src/utils.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/mock.rs
Due: cosmwasm-std, cosmwasm-vm

chore: Deprecate FeeEnabledChannel and FeeEnabledChannelResponse
  packages/std/src/lib.rs
  packages/std/src/query/ibc.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

chore: Remove IBC fees
  CHANGELOG.md
  packages/go-gen/tests/cosmwasm_std__IbcMsg.go
  packages/go-gen/tests/cosmwasm_std__IbcQuery.go
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/std/src/query/ibc.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

chore: Update and fix CHANGELOG
  CHANGELOG.md
Due: none

chore: Deprecate `FeeEnabledChannel` and `FeeEnabledChannelResponse` (#2481)
  CHANGELOG.md
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
  packages/std/src/lib.rs
  packages/std/src/query/ibc.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Export RawRangeResponse
  packages/std/src/lib.rs
Due: cosmwasm-std

Fix distribution test feature gate
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Fix clippy lint
  packages/std/src/storage_keys/range.rs
Due: cosmwasm-std

Undo go-gen array change
  packages/go-gen/src/schema.rs
Due: none

Add RawRangeEntry type
  packages/go-gen/tests/cosmwasm_std__RawRangeResponse.go
  packages/std/src/lib.rs
  packages/std/src/query/wasm.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add RawRange query variant
  packages/std/src/query/wasm.rs
  packages/std/src/storage_keys/mod.rs
  packages/std/src/storage_keys/range.rs
Due: cosmwasm-std

Support RawRangeResponse in go-gen
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
  packages/go-gen/tests/cosmwasm_std__RawRangeResponse.go
Due: none

Add cosmwasm_3_0 capability
  docs/CAPABILITIES-BUILT-IN.md
  packages/std/Cargo.toml
  packages/std/src/exports/exports.rs
  packages/std/src/query/wasm.rs
  packages/std/src/storage_keys/mod.rs
  packages/std/src/testing/mock.rs
  packages/vm/src/testing/instance.rs
Due: cosmwasm-std, cosmwasm-vm

Fix tests
  packages/go-gen/Cargo.toml
  packages/go-gen/src/schema.rs
  packages/go-gen/tests/cosmwasm_std__WasmQuery.go
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add RawRangeResponse test
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

Disable go-gen WasmQuery test
  packages/go-gen/src/main.rs
  packages/go-gen/tests/cosmwasm_std__WasmQuery.go
Due: none

Improve test
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

chore: Remove IBC fees (#2479)
  CHANGELOG.md
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
  packages/go-gen/tests/cosmwasm_std__IbcMsg.go
  packages/go-gen/tests/cosmwasm_std__IbcQuery.go
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/std/src/query/ibc.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Fix RawRangeQuery go type
  packages/go-gen/tests/cosmwasm_std__WasmQuery.go
Due: none

Adjust go type again
  packages/go-gen/src/main.rs
  packages/go-gen/tests/cosmwasm_std__RawRangeResponse.go
Due: none

Use tuple as RawRangeEntry
  packages/go-gen/tests/cosmwasm_std__RawRangeResponse.go
  packages/std/src/query/wasm.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Revert "Undo go-gen array change"
  packages/go-gen/src/schema.rs
Due: none

Fix slice handling in go-gen
  packages/go-gen/src/go.rs
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
Due: none

Fix the IBC2 acknowledge struct
  packages/std/src/ibc2.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Update test contract
  packages/vm/testdata/ibc2.wasm
Due: cosmwasm-vm

Compiled with older compiler. 1.87 breaks stuff.
  packages/vm/testdata/ibc2.wasm
Due: cosmwasm-vm
