Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

std: implement query_wasm_contract_info
  packages/std/src/traits.rs
Due: cosmwasm-std

document QuerierWrapper::query_wasm_contract_info
  CHANGELOG.md
  packages/std/src/traits.rs
Due: cosmwasm-std

std: implement PartialEq for LHS refs of math types
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

std: partialeq tests for math types
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

std: avoid unnecessary unchecked cast in tests
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Update staking.rs
  packages/std/src/query/staking.rs
Due: cosmwasm-std

Added unclaimed rewards query
  packages/std/src/query/staking.rs
Due: cosmwasm-std

Use clippy from Rust 1.63.0 in CI
  .circleci/config.yml
Due: none

Added deprecation message in check_contract.
  packages/vm/examples/check_contract.sh
Due: none

Disable clippy's derive_partial_eq_without_eq for #[cw_serde]
  devtools/check_workspace.sh
  devtools/test_workspace.sh
  packages/schema-derive/src/cw_serde.rs
Due: none

Add Eq implementations suggested by clippy
  contracts/floaty/src/state.rs
  contracts/hackatom/src/state.rs
  contracts/ibc-reflect-send/src/ibc_msg.rs
  contracts/ibc-reflect-send/src/state.rs
  contracts/ibc-reflect/src/state.rs
  contracts/queue/src/state.rs
  contracts/reflect/src/state.rs
  contracts/staking/src/state.rs
  packages/profiler/src/code_blocks.rs
  packages/profiler/src/operators.rs
  packages/schema/src/query_response.rs
  packages/schema/tests/idl.rs
  packages/std/src/coins.rs
  packages/std/src/errors/system_error.rs
  packages/std/src/ibc.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/query/bank.rs
  packages/std/src/query/ibc.rs
  packages/std/src/query/mod.rs
  packages/std/src/query/staking.rs
  packages/std/src/query/wasm.rs
  packages/std/src/results/contract_result.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/empty.rs
  packages/std/src/results/events.rs
  packages/std/src/results/response.rs
  packages/std/src/results/submessages.rs
  packages/std/src/results/system_result.rs
  packages/std/src/types.rs
  packages/vm/src/backend.rs
  packages/vm/src/cache.rs
  packages/vm/src/environment.rs
Due: cosmwasm-schema, cosmwasm-std

Error message in rs file and removed check_contract.sh
  .circleci/config.yml
  packages/vm/examples/check_contract.rs
  packages/vm/examples/check_contract.sh
Due: none

Replace .iter().cloned() with .into_iter()
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/limited.rs
Due: cosmwasm-std

Rename methods from features to capabilities
  CHANGELOG.md
  contracts/hackatom/tests/integration.rs
  contracts/staking/tests/integration.rs
  docs/FEATURES.md
  packages/vm/benches/main.rs
  packages/vm/examples/check_contract.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/features.rs
  packages/vm/src/instance.rs
  packages/vm/src/lib.rs
  packages/vm/src/testing/instance.rs
Due: none

Add back FEATURES.md
  docs/FEATURES.md
Due: none

Change text of Features -> Capabilities
  docs/CAPABILITIES.md
Due: none

Rename module features -> capabilities
  packages/vm/src/cache.rs
  packages/vm/src/capabilities.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/instance.rs
  packages/vm/src/lib.rs
  packages/vm/src/testing/instance.rs
Due: none

Rename supported_capabilities to available_capabilities
  CHANGELOG.md
  docs/CAPABILITIES.md
  packages/vm/benches/main.rs
  packages/vm/examples/check_contract.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/testing/instance.rs
Due: none

Added cw-check-contract to cosmwasm/packages.
  packages/cw-check-contract/Cargo.toml
  packages/cw-check-contract/README.md
  packages/cw-check-contract/src/main.rs
Due: none

Using local cw-check-contract in config.yml.
  .circleci/config.yml
  Cargo.lock
Due: none

cw-check-contract CI setup and changelog update.
  .circleci/config.yml
  CHANGELOG.md
  packages/cw-check-contract/Cargo.toml
Due: none

Using capabilities_from_csv instead of old features.
  packages/cw-check-contract/src/main.rs
Due: none

Run prettier on README.md
  packages/cw-check-contract/README.md
Due: none

Run check_contract on every wasm file.
  .circleci/config.yml
Due: none

Ignore floaty.wasm as it is meant to fail.
  .circleci/config.yml
Due: none

Rename features to capabilities in check-contract
  packages/cw-check-contract/src/main.rs
Due: none

cosmwasm-check: support multiple wasm blobs
  Cargo.lock
  packages/cw-check-contract/Cargo.toml
  packages/cw-check-contract/src/main.rs
Due: none

cosmwasm-check: handle failures in multiple files
  packages/cw-check-contract/src/main.rs
Due: none

cosmwasm-check: style
  packages/cw-check-contract/src/main.rs
Due: none

cosmwasm-check: add some color for readability
  Cargo.lock
  packages/cw-check-contract/Cargo.toml
  packages/cw-check-contract/src/main.rs
Due: none

CI: fix contract checks
  .circleci/config.yml
Due: none

DIRTY - don't merge - CI test
  .circleci/config.yml
Due: none

cosmwasm-check: clean up Cargo.toml
  Cargo.lock
  packages/cw-check-contract/Cargo.toml
Due: none

Update required parameters
  README.md
Due: none

docs: description for instantiate
  README.md
Due: none

check: rename crate to `cosmwasm-check`
  Cargo.lock
  packages/cw-check-contract/Cargo.toml
  packages/vm/examples/check_contract.rs
Due: none

rename `cw-check-contract` folder to `check`
  .circleci/config.yml
  devtools/check_workspace.sh
  packages/check/Cargo.toml
  packages/check/README.md
  packages/check/src/main.rs
  packages/cw-check-contract/README.md
Due: none

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
