Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

fixes:
  - "/root/project/::" # reduce root, e.g. "/root/project/path/" => "path/"

flags:
  cosmwasm-check:
    paths:
      - packages/check/
  #cosmwasm-core:
  #  paths:
  #    - packages/core/
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-schema-derive:
    paths:
      - packages/schema-derive/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-vm:
    paths:
      - packages/vm/
  cosmwasm-vm-derive:
    paths:
      - packages/vm-derive/

chore: fix typo in README.md
  README.md
Due: none

Fix typos
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

chore: fix some typos and inaccuracies
  packages/vm/src/compatibility.rs
  packages/vm/src/instance.rs
Due: cosmwasm-vm

chore: fix typo in README.md (#2556)
  README.md
Due: none

docs: fix typos (#2554)
  packages/std/src/query/wasm.rs
  packages/std/src/traits.rs
  packages/vm/src/backend.rs
Due: cosmwasm-std, cosmwasm-vm

Update contracts.yml (#2555)
  .github/workflows/contracts.yml
Due: none

chore: fix some typos and inaccuracies (#2559)
  packages/vm/src/compatibility.rs
  packages/vm/src/instance.rs
Due: cosmwasm-vm

docs: fix minor grammar
  contracts/ibc-reflect-send/README.md
Due: none

Fix typos (#2558)
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

docs: fix minor grammar (#2560)
  contracts/ibc-reflect-send/README.md
Due: none

doc: fix typos
  README.md
  docs/CAPABILITIES.md
  docs/ERROR_HANDLING.md
Due: none

chore: fix some comments
  packages/schema-derive/src/query_responses.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/vm-derive/src/lib.rs
Due: cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm-derive

CI: migrate workflows to checkout v6
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
Due: none

doc: fix typos (#2561)
  README.md
  docs/CAPABILITIES.md
  docs/ERROR_HANDLING.md
Due: none

CI: migrate workflows to checkout v6 (#2564)
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
Due: none

chore: fix some comments (#2562)
  packages/schema-derive/src/query_responses.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/vm-derive/src/lib.rs
Due: cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm-derive

Removed unneeded files.
  .editorconfig
  .mergify.yml
  .prettierignore
  .prettierrc.json
  .taplo.toml
  .vscode/settings.json
  _typos.toml
  codecov.yml
Due: none

Updated security policy.
  SECURITY.md
Due: none

Temporarily removed workflows.
  .circleci/config.yml
  .github/workflows/autofix.yml
  .github/workflows/contract.yml
  .github/workflows/toml.yml
  .github/workflows/typo-check.yml
  .github/workflows/workspace.yml
Due: none

Removed unneeded files. (#2568)
  .editorconfig
  .mergify.yml
  .prettierignore
  .prettierrc.json
  .taplo.toml
  .vscode/settings.json
  _typos.toml
  codecov.yml
Due: none

Updated security policy. (#2569)
  SECURITY.md
Due: none

Temporarily removed workflows. (#2570)
  .circleci/config.yml
  .github/workflows/autofix.yml
  .github/workflows/contract.yml
  .github/workflows/toml.yml
  .github/workflows/typo-check.yml
  .github/workflows/workspace.yml
Due: none

Redirectred to CosmWasm documentation.
  MIGRATING.md
Due: none

Redirectred to CosmWasm documentation. (#2571)
  MIGRATING.md
Due: none

Added all checks.
  Taskfile.yml
  contracts/crypto-verify/tests/integration.rs
  contracts/nested-contracts/tests/integration.rs
  devtools/check-contracts.sh
  devtools/clean-contracts.sh
  devtools/update-schemas.sh
Due: none

Refactored Cargo.toml files, added workspace dependencies.
  Cargo.lock
  Cargo.toml
  contracts/hackatom/Cargo.toml
  contracts/queue/Cargo.toml
  packages/check/Cargo.toml
  packages/core/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm-derive/Cargo.toml
  packages/vm/Cargo.toml
  packages/vm/README.md
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Added GitHub workflows.
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
Due: none

Updated Cargo.lock files for contracts.
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Fixed workflows.
  .github/workflows/contracts.yml
  Taskfile.yml
  packages/std/src/lib.rs
Due: cosmwasm-std

Updates.
  .github/workflows/contracts.yml
  packages/check/Cargo.toml
Due: cosmwasm-check

Updates.
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Updates.
  Taskfile.yml
Due: none

Updates.
  Cargo.lock
  packages/go-gen/Cargo.toml
Due: none

Development tools configuration (#2572)
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/tests/integration.rs
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/nested-contracts/tests/integration.rs
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  devtools/check-contracts.sh
  devtools/clean-contracts.sh
  devtools/update-schemas.sh
  packages/check/Cargo.toml
  packages/core/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/std/src/lib.rs
  packages/vm-derive/Cargo.toml
  packages/vm/Cargo.toml
  packages/vm/README.md
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Deprecate IBC fees (#2567)
  CHANGELOG.md
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/std/src/metadata.rs
  packages/std/src/query/ibc.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Prepared CHANGELOG for v2.3.0
  CHANGELOG.md
  packages/vm/Cargo.toml
Due: cosmwasm-vm

Prepared CHANGELOG for v2.3.0 (#2574)
  CHANGELOG.md
  packages/vm/Cargo.toml
Due: cosmwasm-vm

Published version v2.3.0
  Cargo.lock
  Cargo.toml
Due: none

Updates.
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  MIGRATING.md
  SECURITY.md
  Taskfile.yml
  contracts/crypto-verify/tests/integration.rs
  contracts/hackatom/Cargo.toml
  contracts/nested-contracts/tests/integration.rs
  contracts/queue/Cargo.toml
  devtools/check-contracts.sh
  devtools/clean-contracts.sh
  devtools/update-schemas.sh
  packages/crypto/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/std/Cargo.toml
  packages/std/src/lib.rs
  packages/vm/Cargo.toml
  packages/vm/README.md
  packages/vm/benches/main.rs
  packages/vm/examples/heap_profiling.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
Due: cosmwasm-crypto, cosmwasm-std, cosmwasm-vm
