Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Organize queue files
  contracts/queue/examples/schema.rs
  contracts/queue/src/contract.rs
  contracts/queue/src/lib.rs
  contracts/queue/src/msg.rs
  contracts/queue/src/state.rs
  contracts/queue/tests/integration.rs
Due: none

Create QueryMsg::OpenIterators
  contracts/queue/schema/query_msg.json
  contracts/queue/src/contract.rs
  contracts/queue/src/msg.rs
  contracts/queue/tests/integration.rs
Due: none

Uint128: Add bitxor implementation
  packages/std/src/math/decimal.rs
  packages/std/src/math/uint128.rs
Due: cosmwasm-std

WIP
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

Make Unknown error message non-optional
  packages/vm/src/backend.rs
  packages/vm/src/errors/vm_error.rs
  packages/vm/src/imports.rs
Due: none

Replace ToString with Into<String>
  packages/vm/src/backend.rs
Due: none

Implement PartialEq for BackendError
  packages/vm/src/backend.rs
Due: none

Replace ffi_error_ with backend_err_ in test names
  packages/vm/src/backend.rs
Due: none

Make BackendError non_exhaustive
  packages/vm/src/backend.rs
Due: none

Update serde-json-update
  Cargo.lock
  packages/std/Cargo.toml
Due: cosmwasm-std

Cargo.lock updates
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
Due: none

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Add CHANGELOG entry for serde-json-wasm upgrade (#1297) [skip ci]
  CHANGELOG.md
Due: none

Set version: 1.0.0-rc.0
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Bump serde-json-wasm to 0.4.1
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/std/Cargo.toml
Due: cosmwasm-std

Fix link in markdown [ci skip]
  CHANGELOG.md
Due: none

Add initial abort implementation
  contracts/hackatom/src/contract.rs
  packages/std/src/imports.rs
  packages/std/src/lib.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/errors/vm_error.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: cosmwasm-std

Add multiple panic cases
  contracts/hackatom/src/contract.rs
Due: none

Move install_panic_handler to cosmwasm_std
  contracts/hackatom/src/contract.rs
  packages/std/src/lib.rs
  packages/std/src/panic.rs
Due: cosmwasm-std

Install panic handler automatically for all entry points
  contracts/hackatom/src/contract.rs
  packages/std/src/exports.rs
  packages/std/src/panic.rs
Due: cosmwasm-std

Add abort feature
  .circleci/config.yml
  contracts/hackatom/Cargo.toml
  contracts/hackatom/tests/integration.rs
  devtools/check_workspace.sh
  packages/std/Cargo.toml
  packages/std/src/exports.rs
  packages/std/src/imports.rs
  packages/std/src/lib.rs
  packages/std/src/panic.rs
  packages/vm/examples/check_contract.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
  packages/vm/src/testing/instance.rs
Due: cosmwasm-std

Export DelegationResponse from cosmwasm-std/lib.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Add ibcv3 feature, where connect returns version string
  packages/std/Cargo.toml
  packages/std/src/exports.rs
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

ibcv3: Expose relayer in various IbcPacket***Msg types
  packages/std/src/ibc.rs
  packages/std/src/mock.rs
Due: cosmwasm-std

Properly build ibcv3 wasm contract
  contracts/ibc-reflect/Cargo.toml
  contracts/ibc-reflect/src/contract.rs
  packages/std/src/exports.rs
Due: cosmwasm-std

Update cosmwasm-vm to support ibcv3 types
  packages/vm/Cargo.toml
  packages/vm/src/calls.rs
  packages/vm/src/testing/calls.rs
Due: none

Update schema
  contracts/ibc-reflect/schema/packet_msg.json
Due: none

Unify VM parsing for ibcv3 and ibcv1 into one option struct
  contracts/ibc-reflect/src/contract.rs
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/vm/src/calls.rs
  packages/vm/src/testing/calls.rs
Due: cosmwasm-std

Create FEATURES.md
  docs/FEATURES.md
Due: none

Fix hackatom testing
  contracts/hackatom/src/contract.rs
  contracts/hackatom/tests/integration.rs
Due: none

Remove install_panic_handler from non-wasm32 builds
  packages/std/src/panic.rs
Due: cosmwasm-std

Remove abort feature
  .circleci/config.yml
  contracts/hackatom/tests/integration.rs
  devtools/check_workspace.sh
  packages/std/src/exports.rs
  packages/vm/examples/check_contract.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
  packages/vm/src/testing/instance.rs
Due: cosmwasm-std

Add note to "abort" import
  packages/vm/src/instance.rs
Due: none

Make panic error test more stable
  contracts/hackatom/tests/integration.rs
Due: none

Add abort feature to std tests
  .circleci/config.yml
Due: none

Create CHANGELOG entry
  CHANGELOG.md
Due: none

Contract cleanup
  contracts/ibc-reflect-send/src/ibc.rs
  contracts/ibc-reflect-send/tests/integration.rs
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/tests/integration.rs
  packages/std/src/ibc.rs
Due: cosmwasm-std

Change feature flag to ibc3, no extra feature in vm
  contracts/ibc-reflect/Cargo.toml
  packages/std/Cargo.toml
  packages/std/src/ibc.rs
  packages/std/src/mock.rs
  packages/vm/Cargo.toml
Due: cosmwasm-std

Keep new() identical for ibc1 and ibc3
  packages/std/src/ibc.rs
  packages/std/src/mock.rs
Due: cosmwasm-std

Change struct name and add changelog entry
  CHANGELOG.md
  contracts/ibc-reflect/src/contract.rs
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/vm/src/calls.rs
  packages/vm/src/testing/calls.rs
Due: cosmwasm-std

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
