Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Regenerate schemas
  contracts/reflect/schema/raw/response_to_sub_msg_result.json
  contracts/reflect/schema/reflect.json
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Add test for old reply serialization
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

Fix gas_used deserialization
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

Refactor ed25519_batch_verify gas cost
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
Due: none

Remove type
  packages/crypto/benches/main.rs
Due: cosmwasm-crypto

Fix gas limit for crypto-verify
  contracts/crypto-verify/tests/integration.rs
Due: none

Use more realistic humanize and canonicalize mock cost
  packages/vm/src/instance.rs
  packages/vm/src/testing/mock.rs
Due: none

Adjust wasm op gas cost
  packages/vm/src/instance.rs
  packages/vm/src/wasm_backend/engine.rs
Due: none

Update gas cost of secp256 and ed25519
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
Due: none

Fix bls pairing equality cost
  packages/vm/src/environment.rs
Due: none

Fix typo
  packages/vm/src/imports.rs
Due: none

Improve clarity on n vs. k
  packages/crypto/benches/main.rs
  packages/vm/src/imports.rs
Due: cosmwasm-crypto

Update bls12_318 gas cost
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
Due: none

Fix docs how to run benchmarks
  packages/crypto/README.md
Due: cosmwasm-crypto

Remove obsolete comment
  packages/vm/src/imports.rs
Due: none

Fix ed25519_batch gas calculation
  packages/vm/src/imports.rs
Due: none

Document wasm gas changes and benchmark hardware
  docs/GAS.md
Due: none

Deprecate mock_info
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
Due: cosmwasm-std

Add message_info function
  packages/std/src/testing/message_info.rs
  packages/std/src/testing/mod.rs
Due: cosmwasm-std

Adapt tests to message_info
  contracts/burner/src/contract.rs
  contracts/crypto-verify/src/contract.rs
  contracts/cyberpunk/src/contract.rs
  contracts/hackatom/src/contract.rs
  contracts/ibc-reflect-send/src/contract.rs
  contracts/ibc-reflect-send/src/ibc.rs
  contracts/ibc-reflect/src/contract.rs
  contracts/queue/src/contract.rs
  contracts/reflect/src/contract.rs
  contracts/staking/src/contract.rs
  contracts/virus/src/contract.rs
Due: none

Remove usage of mock_info from docs
  packages/std/src/coin.rs
Due: cosmwasm-std

Fix text of message_info documentation
  packages/std/src/testing/message_info.rs
Due: cosmwasm-std

Add MIGRATING entry
  MIGRATING.md
Due: none

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Fix merge issues
  packages/std/src/testing/message_info.rs
  packages/std/src/testing/mod.rs
Due: cosmwasm-std

Fix clippy warnings
  contracts/staking/src/contract.rs
  packages/std/src/testing/assertions.rs
  packages/vm/src/cache.rs
Due: cosmwasm-std

Update codecov and add summary badge to README
  README.md
  codecov.yml
Due: none

imp: custom query type is empty by default
  packages/std/src/query/mod.rs
Due: cosmwasm-std

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-schema, cosmwasm-std
