Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Add cosmwasm/optimizer build instructions
  contracts/README.md
  contracts/cyberpunk/benches/host_vs_wasm.rs
Due: none

Reduce default sample size
  contracts/cyberpunk/benches/host_vs_wasm.rs
Due: none

Upgrade rust-argon2
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/cyberpunk/src/contract.rs
Due: none

Improve argon2 testing
  contracts/cyberpunk/src/contract.rs
  contracts/cyberpunk/tests/integration.rs
Due: none

Add BLS12-381 signature verification
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/cyberpunk/benches/host_vs_wasm.rs
  contracts/cyberpunk/src/contract.rs
  contracts/cyberpunk/src/errors.rs
  contracts/cyberpunk/src/msg.rs
  contracts/cyberpunk/tests/integration.rs
Due: none

Upgrade sha2
  contracts/cyberpunk/Cargo.lock
Due: none

Add arkworks option
  contracts/cyberpunk/Cargo.toml
Due: none

[revert me] Remove cyberpunk schema generator
  contracts/cyberpunk/src/bin/schema.rs
Due: none

Fix benchmark: DrandVerifyG2 -> DrandVerifyG1
  contracts/cyberpunk/benches/host_vs_wasm.rs
Due: none

Add optimized Wasm example
  contracts/cyberpunk/benches/host_vs_wasm.rs
Due: none

Upgrade criterion
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto

Always add backtrace to cosmwasm-vm
  packages/vm/Cargo.toml
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/errors/backtrace.rs
  packages/vm/src/errors/mod.rs
  packages/vm/src/errors/vm_error.rs
Due: none

Fix contracts
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.toml
  contracts/crypto-verify/src/contract.rs
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.toml
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.toml
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.toml
Due: none

Always add backtrace to cosmwasm-std
  packages/std/Cargo.toml
  packages/std/src/binary.rs
  packages/std/src/errors/backtrace.rs
  packages/std/src/errors/mod.rs
  packages/std/src/errors/recover_pubkey_error.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/errors/verification_error.rs
Due: cosmwasm-std

Fix contracts
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.toml
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.toml
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.toml
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Box error for size reduction
  packages/vm/src/errors/backtrace.rs
Due: none

Always add backtrace to cosmwasm-crypto
  packages/crypto/src/backtrace.rs
  packages/crypto/src/errors.rs
  packages/crypto/src/lib.rs
Due: cosmwasm-crypto

Remove references to backtraces features
  docs/USING_COSMWASM_STD.md
  packages/std/src/lib.rs
  packages/vm/src/lib.rs
Due: cosmwasm-std

Always use disabled function for backtrace on wasm
  packages/std/src/errors/backtrace.rs
Due: cosmwasm-std

Remove incorrect Error derive
  packages/std/src/errors/backtrace.rs
Due: cosmwasm-std

Fix docs
  packages/vm/src/errors/backtrace.rs
Due: none

Add example of no_std BT
  packages/std/src/errors/backtrace.rs
Due: cosmwasm-std

Add changelog entry
  CHANGELOG.md
Due: none

Add migrating entry
  MIGRATING.md
Due: none

Add backtraces feature removal to migrating doc
  MIGRATING.md
Due: none

Simplify MockApi implementation
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Fix vm tests
  packages/vm/src/testing/mock.rs
Due: none

Fix std tests
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Remove digit_sum
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
Due: cosmwasm-std

Fix contract tests
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/hackatom/tests/integration.rs
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/tests/integration.rs
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/reflect/src/contract.rs
  contracts/reflect/tests/integration.rs
  contracts/staking/Cargo.lock
  contracts/staking/src/contract.rs
  contracts/staking/tests/integration.rs
  contracts/virus/Cargo.lock
Due: none

Replace vm MockApi with bech32
  Cargo.lock
  packages/std/src/testing/mod.rs
  packages/std/src/testing/shuffle.rs
  packages/vm/Cargo.toml
  packages/vm/src/backend.rs
  packages/vm/src/imports.rs
  packages/vm/src/testing/mock.rs
Due: cosmwasm-std

New implementation of addr_canonicalize and addr_humanize functions.
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Fix vm tests
  packages/vm/benches/main.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/mock.rs
Due: none

Updates.
  contracts/hackatom/src/contract.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Improve vm MockApi
  packages/vm/src/testing/mock.rs
Due: none

Fix hackatom address assumptions
  contracts/hackatom/src/contract.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Fix vm tests
  packages/vm/benches/main.rs
  packages/vm/src/calls.rs
  packages/vm/src/testing/mock.rs
Due: none

Fix contract tests
  contracts/hackatom/tests/integration.rs
  contracts/staking/tests/integration.rs
Due: none

Add colon bech32 test
  packages/std/src/testing/mock.rs
  packages/vm/src/testing/mock.rs
Due: cosmwasm-std

storage key changes
  docs/STORAGE_KEYS.md
Due: none
