Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Elaborate on size estimation
  packages/vm/src/cache.rs
  packages/vm/src/modules/cached_module.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
Due: none

Use size_of_val for the checksum size
  packages/vm/src/checksum.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
Due: none

Upgrade Wasmer to 4.1.0
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
Due: none

Fix review comments
  packages/vm/src/compatibility.rs
Due: none

Refactor wasm validation
  packages/vm/src/compatibility.rs
  packages/vm/src/static_analysis.rs
Due: none

Adjust WasmFeatures for validation
  packages/vm/src/static_analysis.rs
Due: none

Fix contract lock files
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Fix tests
  packages/vm/src/cache.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/static_analysis.rs
Due: none

Reuse validator allocations
  packages/vm/src/static_analysis.rs
Due: none

Parse and validate wasm before static analysis
  packages/vm/src/cache.rs
  packages/vm/src/capabilities.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/lib.rs
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/static_analysis.rs
Due: none

Replace parity-wasm with wasmparser
  Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/cache.rs
  packages/vm/src/capabilities.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/errors/vm_error.rs
  packages/vm/src/static_analysis.rs
Due: none

Validate function bodies
  packages/vm/src/static_analysis.rs
Due: none

Fix lint
  packages/vm/src/compatibility.rs
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Export missing query responses
  packages/std/src/lib.rs
Due: cosmwasm-std

Export all types in query module
  packages/std/src/query/mod.rs
Due: cosmwasm-std

update
  packages/std/src/testing/mock.rs
  packages/std/src/types.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/mock.rs
Due: cosmwasm-std

Reduce feature gates for queries
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/std/src/query/bank.rs
  packages/std/src/query/ibc.rs
  packages/std/src/query/mod.rs
  packages/std/src/query/staking.rs
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

Set version: 1.3.1
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Implement Not for all integers
  packages/std/src/math/mod.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Add tests for Not impl
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Add changelog entry for Not impl
  CHANGELOG.md
Due: none

Upgrade k256 to 0.13.1
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/src/secp256k1.rs
Due: cosmwasm-crypto

Update packages/std/src/testing/assertions.rs
  packages/std/src/testing/assertions.rs
Due: cosmwasm-std

update docs
  packages/std/src/testing/assertions.rs
Due: cosmwasm-std

Fix crypto benches
  packages/crypto/benches/main.rs
Due: cosmwasm-crypto

Test both long and short width for integer padding
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Upgrade bnum to 0.8.0
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Avoid unwrapping recovery ID
  packages/crypto/src/secp256k1.rs
Due: cosmwasm-crypto

Start working on go code generator
  Cargo.lock
  packages/go-gen/Cargo.toml
  packages/go-gen/README.md
  packages/go-gen/src/main.rs
Due: none

Improve go generator
  Cargo.lock
  packages/go-gen/src/main.rs
Due: none

Refactor codegen into own module
  Cargo.lock
  packages/go-gen/Cargo.toml
  packages/go-gen/src/go.rs
  packages/go-gen/src/main.rs
Due: none

Use indenter to format go code
  packages/go-gen/Cargo.toml
  packages/go-gen/src/main.rs
Due: none

Cleanup
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
Due: none

Start enum type generation
  packages/go-gen/Cargo.toml
  packages/go-gen/src/go.rs
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
Due: none

Add env.transaction.hash
  packages/std/src/types.rs
Due: cosmwasm-std

Fix struct indenting
  packages/go-gen/src/go.rs
Due: none

Allow generating go code from enums
  packages/go-gen/src/go.rs
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
  packages/go-gen/src/utils.rs
Due: none

Enable all cosmwasm features for go generator
  packages/go-gen/Cargo.toml
Due: none
