Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Add changelog entry
  CHANGELOG.md
Due: none

Change DecCoin constructor
  packages/std/src/query/distribution.rs
Due: cosmwasm-std

Change coin constructor
  packages/std/src/coin.rs
  packages/std/src/ibc.rs
  packages/std/src/query/bank.rs
Due: cosmwasm-std

Add changelog and migrating entry
  CHANGELOG.md
  MIGRATING.md
Due: none

Remove allocations from math errors
  packages/std/src/coins.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/math/conversion.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
  packages/storage/src/singleton.rs
Due: cosmwasm-std, cosmwasm-storage

Pull out testing wats
  packages/vm/src/modules/in_memory_cache.rs
Due: none

Test zero-size InMemoryCache
  packages/vm/src/modules/in_memory_cache.rs
Due: none

Add `SubMsg::reply_never()`
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

new attempt
  .gitignore
  Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/lib.rs
Due: cosmwasm-std

another attempt
  packages/std/src/sections.rs
  packages/std/src/testing/shuffle.rs
Due: cosmwasm-std

vec vec
  packages/std/src/storage.rs
  packages/std/src/traits.rs
  packages/std/src/types.rs
Due: cosmwasm-std

Use Option<String> for memo field
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect-send/src/contract.rs
  contracts/ibc-reflect-send/src/ibc.rs
  contracts/ibc-reflect-send/tests/integration.rs
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  packages/std/src/ibc.rs
Due: cosmwasm-std

Fix test
  packages/std/src/ibc.rs
Due: cosmwasm-std

Fix schema
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
Due: none

Add memo field to IbcMsg::Transfer
  contracts/ibc-reflect-send/src/contract.rs
  contracts/ibc-reflect-send/src/ibc.rs
  contracts/ibc-reflect-send/tests/integration.rs
  packages/std/src/ibc.rs
Due: cosmwasm-std

Remove serde skip annotation
  packages/std/src/ibc.rs
Due: cosmwasm-std

Set version: 1.5.0
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Update changelog
  CHANGELOG.md
Due: none

UNUSED_MSG_ID, new uses reply_never
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

update WAT text format in several test cases
  packages/vm/src/cache.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: none

Upgrade clippy in CI to Rust 1.73.0
  .circleci/config.yml
Due: none

Privatize CanonicalAddr, Binary and Size inner val
  packages/std/src/addresses.rs
  packages/std/src/binary.rs
  packages/std/src/ibc.rs
  packages/std/src/serde.rs
  packages/vm/src/size.rs
  packages/vm/src/wasm_backend/engine.rs
Due: cosmwasm-std

Fix contracts
  contracts/crypto-verify/src/contract.rs
  contracts/crypto-verify/tests/integration.rs
  contracts/queue/src/contract.rs
  contracts/reflect/src/contract.rs
  contracts/reflect/tests/integration.rs
Due: none

Fix bench
  packages/vm/benches/main.rs
Due: none

Add Size::new
  packages/vm/benches/main.rs
  packages/vm/src/size.rs
  packages/vm/src/wasm_backend/engine.rs
Due: none

Add changelog and migrating entries
  CHANGELOG.md
  MIGRATING.md
Due: none

Remove old ibc functionality
  packages/std/src/exports.rs
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
  packages/vm/src/calls.rs
Due: cosmwasm-std

Add IbcChannelOpenResponse docs
  packages/std/src/ibc.rs
Due: cosmwasm-std

Remove ibc3 feature
  contracts/ibc-reflect-send/src/ibc.rs
  contracts/ibc-reflect/Cargo.toml
  docs/USING_COSMWASM_STD.md
  packages/go-gen/Cargo.toml
  packages/std/Cargo.toml
  packages/std/src/exports.rs
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
  packages/vm/Cargo.toml
  packages/vm/src/calls.rs
Due: cosmwasm-std

Merge imports
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Remove storage from devtools and CI
  .circleci/config.yml
  .mergify.yml
  codecov.yml
  devtools/check_workspace.sh
  devtools/clean.sh
  devtools/deadlinks.py
  devtools/test_workspace.sh
Due: none

Improve readme wording
  README.md
Due: none

Delete cosmwasm-storage
  Cargo.lock
  packages/storage/Cargo.toml
  packages/storage/README.md
  packages/storage/src/bucket.rs
  packages/storage/src/lib.rs
  packages/storage/src/namespace_helpers.rs
  packages/storage/src/prefixed_storage.rs
  packages/storage/src/sequence.rs
  packages/storage/src/singleton.rs
  packages/storage/src/type_helpers.rs
Due: cosmwasm-storage

Remove cosmwasm-storage from README
  README.md
Due: none

Split changelog sections
  CHANGELOG.md
Due: none
