Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

format codecov.yml file
  codecov.yml
Due: none

schema: fix failing doc test
  packages/schema/src/lib.rs
Due: cosmwasm-schema

Decimal/256: Implement pow
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Decimal/256: Implement saturating_pow
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Update changelog
  CHANGELOG.md
Due: none

Decimal/256: Add one more testcase to increase coverage
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

CI: run clippy for schema-derive
  .circleci/config.yml
Due: none

Update codecov.yml
  codecov.yml
Due: none

Decimal/256: Implement ceil/floor rounding
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Decimal/256: Implement checked_ceil; add doc comments
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Upgrade clippy to 1.62.0 and adapt code to new rule
  .circleci/config.yml
  packages/vm/src/errors/vm_error.rs
Due: none

schema-derive: introduce the `msg` macro
  packages/schema-derive/src/lib.rs
  packages/schema-derive/src/msg.rs
  packages/schema/src/lib.rs
Due: cosmwasm-schema

hackatom: migrate to the `msg` macro
  contracts/hackatom/src/msg.rs
Due: none

Add new error for rounding up overflow
  packages/std/src/errors/mod.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Decimal/256: Implement saturating_add/sub/mul
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Uint256/512: Implement saturating_pow
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Implement PartialEq for references for all math types
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Fix formatting in CHANGELOG; add more cases to saturating_ tests to increase coverage
  CHANGELOG.md
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

MIGRATING entry for new schema gen
  MIGRATING.md
Due: none

schema: rename #[msg] to #[cw_serde]
  contracts/hackatom/src/msg.rs
  packages/schema-derive/src/cw_serde.rs
  packages/schema-derive/src/lib.rs
  packages/schema/src/lib.rs
Due: cosmwasm-schema

schema: add documentation for `cw_serde`
  packages/schema/src/lib.rs
Due: cosmwasm-schema

MIGRATING.md: typo
  MIGRATING.md
Due: none

schema-derive: cargo fmt
  packages/schema-derive/src/lib.rs
Due: none

Update MIGRATING.md with new version number
  MIGRATING.md
Due: none

MIGRATING.md update
  MIGRATING.md
Due: none

add bank supply query
  packages/std/src/mock.rs
  packages/std/src/query/bank.rs
  packages/std/src/query/mod.rs
Due: cosmwasm-std

std: debug fmt interprets WasmMsg binary data as string
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

export `SupplyResponse`
  packages/std/src/lib.rs
Due: cosmwasm-std

add a helper function for querying supply
  packages/std/src/traits.rs
Due: cosmwasm-std

update schema
  contracts/reflect/schema/query_msg.json
  packages/std/schema/query_request.json
Due: cosmwasm-std

update import
  packages/std/src/traits.rs
Due: cosmwasm-std

fix import
  packages/std/src/traits.rs
Due: cosmwasm-std

Restore iterator feature
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-std, cosmwasm-storage

Inline zero() and one() consistently
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Use write_api! in IBC contracts
  contracts/ibc-reflect-send/examples/schema.rs
  contracts/ibc-reflect-send/schema/account_response.json
  contracts/ibc-reflect-send/schema/admin_response.json
  contracts/ibc-reflect-send/schema/execute_msg.json
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/instantiate_msg.json
  contracts/ibc-reflect-send/schema/list_accounts_response.json
  contracts/ibc-reflect-send/schema/query_msg.json
  contracts/ibc-reflect/examples/schema.rs
  contracts/ibc-reflect/schema/ibc-reflect.json
  contracts/ibc-reflect/schema/instantiate_msg.json
  contracts/ibc-reflect/schema/query_msg.json
Due: none
