Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-core, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

fixes:
  - "/root/project/::" # reduce root, e.g. "/root/project/path/" => "path/"

flags:
  cosmwasm-check:
    paths:
      - packages/check/
  cosmwasm-core:
    paths:
      - packages/core/
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-schema-derive:
    paths:
      - packages/schema-derive/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-vm:
    paths:
      - packages/vm/
  cosmwasm-vm-derive:
    paths:
      - packages/vm-derive/

doc(comment): Add code comments
  packages/std/src/metadata.rs
Due: cosmwasm-std

Rollback changes
  packages/std/src/lib.rs
  packages/std/src/query/bank.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

refactor(metadata): Add deserializer for denom_units and aliases to handle null values
  packages/std/src/metadata.rs
Due: cosmwasm-std

chore(fmt): Fix code format
  packages/std/src/metadata.rs
Due: cosmwasm-std

chore(crate): Fix struct imports
  packages/std/src/lib.rs
  packages/std/src/query/bank.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Rollback cyberpunk test related codes
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/cyberpunk/src/contract.rs
Due: none

chore(Cargo): Downgrade Cargo.lock version from 4 to 3
  contracts/cyberpunk/Cargo.lock
Due: none

Delete redundant test
  packages/std/src/metadata.rs
Due: cosmwasm-std

fix(metadata): update test comments to reflect error handling for missing fields
  packages/std/src/metadata.rs
Due: cosmwasm-std

feat(metadata): add unit and integration tests for DenomMetadata handling null values
  packages/std/src/metadata.rs
Due: cosmwasm-std

chore(test): Move all unit tests to test module
  packages/std/src/metadata.rs
Due: cosmwasm-std

Add changelog entry
  CHANGELOG.md
Due: none

Send `Ibc2Msg::SendPacket` in ibc2 contract (#2418)
  contracts/ibc2/schema/raw/execute.json
  contracts/ibc2/src/bin/schema.rs
  contracts/ibc2/src/contract.rs
  contracts/ibc2/src/lib.rs
  contracts/ibc2/src/msg.rs
  contracts/ibc2/src/state.rs
  packages/std/src/ibc2.rs
Due: cosmwasm-std

Review fixes
  contracts/ibc2/src/contract.rs
Due: none

chore: fix some comments (#2404)
  contracts/ibc-reflect/src/contract.rs
  packages/vm/src/wasm_backend/limiting_tunables.rs
Due: cosmwasm-vm

feat: Add WriteAcknowledgement to Ibc2Msg
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/response_to_query_state.json
  contracts/ibc2/src/contract.rs
  contracts/ibc2/src/msg.rs
  contracts/ibc2/src/state.rs
  packages/std/src/ibc2.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

feat: Add WriteAcknowledgement to Ibc2Msg (#2425)
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/response_to_query_state.json
  contracts/ibc2/src/contract.rs
  contracts/ibc2/src/msg.rs
  contracts/ibc2/src/state.rs
  packages/std/src/ibc2.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

fix: Remove the workaround
  contracts/ibc2/src/contract.rs
Due: none

fix: Remove the workaround (#2449)
  contracts/ibc2/src/contract.rs
Due: none

chore: source_client instead of channel_id in IBCv2
  contracts/ibc2/src/contract.rs
  contracts/ibc2/src/state.rs
  packages/std/src/ibc2.rs
Due: cosmwasm-std

hand out bumps ot the cosmwasm crew
  Cargo.lock
Due: none

Update cosmos_msg.rs
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Update cosmos_msg.rs (#2452)
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

chore: source_client instead of channel_id in IBCv2 (#2450)
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/response_to_query_state.json
  contracts/ibc2/src/contract.rs
  contracts/ibc2/src/state.rs
  packages/std/src/ibc2.rs
Due: cosmwasm-std

Fix benchmark capabilities
  packages/vm/benches/main.rs
Due: cosmwasm-vm

Remove non-existant capability
  packages/vm/benches/main.rs
Due: cosmwasm-vm

Add cosmwasm_2_2 description
  docs/CAPABILITIES-BUILT-IN.md
Due: none

Replace downcast-rs with Rust 1.86 casting
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Adjust changelog entries
  CHANGELOG.md
Due: none

Remove downcasting helper
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

feat: Add IBCv2 timeout entrypoint
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/response_to_query_state.json
  contracts/ibc2/src/contract.rs
  contracts/ibc2/src/state.rs
  packages/std/src/exports.rs
  packages/std/src/ibc2.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/lib.rs
  packages/vm/src/static_analysis.rs
  packages/vm/testdata/ibc2.wasm
Due: cosmwasm-std, cosmwasm-vm

Update packages/std/src/exports.rs
  packages/std/src/exports.rs
Due: cosmwasm-std

Use Uint256 for Coin amount
  packages/std/src/coin.rs
  packages/std/src/coins.rs
  packages/std/src/testing/message_info.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/instance.rs
Due: cosmwasm-std, cosmwasm-vm

Fix staking contract
  contracts/staking/src/contract.rs
  contracts/staking/src/state.rs
Due: none

Update schemas
  contracts/hackatom/schema/hackatom.json
  contracts/hackatom/schema/raw/response_to_other_balance.json
  contracts/hackatom/schema/raw/sudo.json
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/acknowledgement_msg_balances.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect-send/schema/raw/response_to_account.json
  contracts/ibc-reflect-send/schema/raw/response_to_list_accounts.json
  contracts/ibc-reflect/schema/ibc/acknowledgement_msg_balance.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  contracts/staking/schema/raw/response_to_investment.json
  contracts/staking/schema/staking.json
Due: none

Fix go-gen
  packages/go-gen/src/schema.rs
Due: none
