Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

cosmwasm_std: Decimal checked_pow
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

document checked mul and pow for decimal types
  CHANGELOG.md
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Decimal::checked_pow 0^0 = 1 test
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

more comments
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Move checked_mul/checked_pow CHANGELOG entry to Unreleased [skip ci]
  CHANGELOG.md
Due: none

Upgrade ed25519-zebra to version 3
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Implement Sub/SubAssign for Uint64
  CHANGELOG.md
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Create helper trait to ensure trait implementations
  packages/std/src/math/mod.rs
Due: cosmwasm-std

Upgrade Wasmer to 2.2.1
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/profiler/Cargo.toml
  packages/vm/Cargo.toml
Due: none

Implement Mul/MulAssign for Uint64
  CHANGELOG.md
  packages/std/src/math/mod.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Test mul_assign
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Upgrade clippy job to Rust 1.59.0 and adapt code
  .circleci/config.yml
  packages/std/src/assertions.rs
Due: cosmwasm-std

Upgrade clippy job to Rust 1.59.0
  .circleci/config.yml
Due: none

Upgrade Wasmer to 2.2.1
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/vm/Cargo.toml
Due: none

Move Wasmer upgrade to Changed [skip ci]
  CHANGELOG.md
Due: none

Standarize ops:: import across all Uint implementations
  packages/std/src/math/mod.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Implement RemAssign for Uint64/128/256/512
  packages/std/src/math/mod.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Update changelog
  CHANGELOG.md
Due: none

Implement pow/checked_pow for all Uint
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Add temporary unimplemented mark before proper implementation
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Add proper pow implementations for Uint256/512
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Add missing tests for pow implementations; Update the changelog
  CHANGELOG.md
  packages/std/src/math/uint128.rs
Due: cosmwasm-std

Simplify Uint64/128 MAX call and remove reference from pow signature
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Install forward_ref
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/std/Cargo.toml
Due: cosmwasm-std

Add CHANGELOR entry
  CHANGELOG.md
Due: none

Add backporter script
  devtools/backport_math.sh
Due: none

Backport uint types
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Implement Add/AddAssign for Decimal/Decimal256 types
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/mod.rs
Due: cosmwasm-std

Create AllImplDecimal trait to track progress
  packages/std/src/math/mod.rs
Due: cosmwasm-std

Add tests for Add/AddAssign in Decimal/Decimal256
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Implement SubAssign for Decimal/Decimal256 types
  CHANGELOG.md
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/mod.rs
Due: cosmwasm-std

Add tests for Sub/SubAssign in Decimal/Decimal256
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Set version: 0.16.6
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Set version: 1.0.0-beta7
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Implement MulAssign and mul for refs for Decimal/Decimal256 types
  CHANGELOG.md
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/mod.rs
Due: cosmwasm-std

Add const implementations for is_zero/atomics/decimal_places methods
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Uint512 makes contructor const
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Use words instead of bytes in is_zero implementation inside Uint256/Uint512
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std
