Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Revert "Update Rust CI version"
  .circleci/config.yml
Due: none

Fix replacement order
  packages/vm/Cargo.toml
Due: none

Fix replacement order (again)
  packages/vm/Cargo.toml
Due: none

Disable toml array reordering
  .taplo.toml
Due: none

Fix conflict
  packages/vm/Cargo.toml
Due: none

Fix conflicts
  packages/vm/Cargo.toml
Due: none

feat: Add TransferV2
  packages/std/src/ibc.rs
Due: cosmwasm-std

chore: Add replier contract to CI and apply review comments
  .circleci/config.yml
  contracts/replier/Cargo.toml
  contracts/replier/src/lib.rs
  contracts/replier/tests/integration.rs
Due: none

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-schema, cosmwasm-std

chore: fix typos
  contracts/replier/src/lib.rs
Due: none

chore: Contract that tests replies and msg execution order
  contracts/replier/.cargo/config.toml
  contracts/replier/Cargo.lock
  contracts/replier/Cargo.toml
  contracts/replier/schema/hackatom.json
  contracts/replier/schema/raw/execute.json
  contracts/replier/schema/raw/instantiate.json
  contracts/replier/schema/raw/migrate.json
  contracts/replier/schema/raw/query.json
  contracts/replier/schema/raw/response_to_get_int.json
  contracts/replier/schema/raw/response_to_other_balance.json
  contracts/replier/schema/raw/response_to_recurse.json
  contracts/replier/schema/raw/response_to_verifier.json
  contracts/replier/schema/raw/sudo.json
  contracts/replier/src/bin/schema.rs
  contracts/replier/src/lib.rs
  contracts/replier/src/schema/raw/execute.json
  contracts/replier/src/schema/raw/instantiate.json
  contracts/replier/src/schema/raw/query.json
  contracts/replier/src/schema/replier.json
Due: none

chore: Replies test contract (#2306)
  .circleci/config.yml
  contracts/replier/.cargo/config.toml
  contracts/replier/Cargo.lock
  contracts/replier/Cargo.toml
  contracts/replier/schema/raw/execute.json
  contracts/replier/schema/raw/instantiate.json
  contracts/replier/schema/raw/migrate.json
  contracts/replier/schema/raw/query.json
  contracts/replier/schema/raw/response_to_get_int.json
  contracts/replier/schema/raw/response_to_other_balance.json
  contracts/replier/schema/raw/response_to_recurse.json
  contracts/replier/schema/raw/response_to_verifier.json
  contracts/replier/schema/raw/sudo.json
  contracts/replier/schema/replier.json
  contracts/replier/src/bin/schema.rs
  contracts/replier/src/lib.rs
  contracts/replier/src/schema/raw/execute.json
  contracts/replier/src/schema/raw/instantiate.json
  contracts/replier/src/schema/raw/query.json
  contracts/replier/src/schema/replier.json
  contracts/replier/tests/integration.rs
Due: none

typo fix file_system_cache.rs
  packages/vm/src/modules/file_system_cache.rs
Due: none

typo fix addresses.rs
  packages/std/src/addresses.rs
Due: cosmwasm-std

typos conversion.rs
  packages/std/src/math/conversion.rs
Due: cosmwasm-std

typo README.md
  contracts/reflect/README.md
Due: none

typos msgpack.rs
  packages/std/src/msgpack.rs
Due: cosmwasm-std

Update contracts/reflect/README.md
  contracts/reflect/README.md
Due: none

Fix typos
  packages/crypto/src/bls12_381/points.rs
  packages/std/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-std

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Merge 2.2 changelog
  CHANGELOG.md
Due: none

Add other release branch changelog entries to main
  CHANGELOG.md
Due: none

Update SEMANTICS.md
  SEMANTICS.md
Due: none

Update README.md
  README.md
Due: none

Update MIGRATING.md
  MIGRATING.md
Due: none

Add E2E scaffold
  packages/cw-schema-codegen/tests/go-e2e/go.mod
Due: none

Add Go E2E tests
  packages/cw-schema-codegen/src/main.rs
  packages/cw-schema-codegen/templates/go/enum.tpl.go
  packages/cw-schema-codegen/templates/go/struct.tpl.go
  packages/cw-schema-codegen/tests/go-e2e/.gitignore
  packages/cw-schema-codegen/tests/go-e2e/go.mod
  packages/cw-schema-codegen/tests/go-e2e/go.sum
  packages/cw-schema-codegen/tests/go-e2e/main.go
  packages/cw-schema-codegen/tests/go.rs
Due: none

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
