Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Update packages/crypto/src/bls12_318/hash.rs
  packages/crypto/src/bls12_318/hash.rs
Due: cosmwasm-crypto

Move constants, add sources
  packages/crypto/src/bls12_318/constants.rs
  packages/crypto/src/bls12_318/mod.rs
Due: cosmwasm-crypto

Add generator tests
  packages/crypto/src/bls12_318/points.rs
Due: cosmwasm-crypto

Remove _COMPRESSED from BLS points
  contracts/crypto-verify/src/bls12_381.rs
  packages/crypto/benches/main.rs
  packages/crypto/src/bls12_318/constants.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/src/lib.rs
  packages/crypto/tests/bls12_381.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-crypto, cosmwasm-std

Add docs and clarifications to verify_g1/verify_g2
  contracts/crypto-verify/src/bls12_381.rs
Due: none

Remove ark-bls12-381 from crypto-verify contract
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
Due: none

Gate tests behind `std` feature
  packages/crypto/src/bls12_318/constants.rs
Due: cosmwasm-crypto

Revamp region system
  packages/std/src/exports.rs
  packages/std/src/imports.rs
  packages/std/src/memory.rs
  packages/vm/src/memory.rs
Due: cosmwasm-std

Add some documentation
  packages/std/src/memory.rs
Due: cosmwasm-std

Rename to `into_vec`
  packages/std/src/exports.rs
  packages/std/src/imports.rs
  packages/std/src/memory.rs
Due: cosmwasm-std

Make the ownership markers unit structs
  packages/std/src/memory.rs
Due: cosmwasm-std

Remove redundant assertion
  packages/vm/src/memory.rs
Due: none

Split up functions for slices and vectors
  packages/std/src/exports.rs
  packages/std/src/imports.rs
  packages/std/src/memory.rs
Due: cosmwasm-std

`T` -> `O`
  packages/std/src/memory.rs
Due: cosmwasm-std

Add constant assertions to check size of a region
  packages/std/src/memory.rs
Due: cosmwasm-std

Set the crate version centrally via the workspace
  Cargo.toml
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std

Set the crate version centrally via the workspace
  Cargo.toml
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Setup cargo-release
  CHANGELOG.md
  Cargo.toml
  devtools/release_checks.sh
  devtools/set_version.sh
  packages/vm/Cargo.toml
Due: none

Optimize string decoding, simplify function
  packages/std/src/imports.rs
  packages/std/src/memory.rs
Due: cosmwasm-std

Remove sealed pattern
  packages/std/src/memory.rs
Due: cosmwasm-std

Add some more docs
  packages/std/src/memory.rs
Due: cosmwasm-std

Rename aggregate_pairing_equality -> pairing_equality
  CHANGELOG.md
  contracts/crypto-verify/src/bls12_381.rs
  packages/core/src/errors/mod.rs
  packages/core/src/errors/recover_pubkey_error.rs
  packages/core/src/errors/verification_error.rs
  packages/core/src/lib.rs
  packages/crypto/benches/main.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/errors.rs
  packages/crypto/src/lib.rs
  packages/crypto/tests/bls12_381.rs
  packages/std/src/imports.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: cosmwasm-crypto, cosmwasm-std

Test aggregated validation
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
Due: cosmwasm-crypto

Add `.unwrap()` disclaimer
  packages/crypto/src/bls12_318/hash.rs
  packages/std/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-std

Add bls12_381_pairing_equality docs
  packages/std/src/traits.rs
Due: cosmwasm-std

Make `g1/g2_sum` private
  packages/crypto/src/bls12_318/aggregate.rs
Due: cosmwasm-crypto

Implement pairing functions, and a fast pairing equality function
  Cargo.lock
  packages/crypto/src/bls12_318/aggregate.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/src/lib.rs
Due: cosmwasm-crypto

test hash to g2
  packages/crypto/testdata/bls-tests/sign/sign_case_11b8c7cad5238946.json
  packages/crypto/testdata/bls-tests/sign/sign_case_142f678a8d05fcd1.json
  packages/crypto/testdata/bls-tests/sign/sign_case_37286e1a6d1f6eb3.json
  packages/crypto/testdata/bls-tests/sign/sign_case_7055381f640f2c1d.json
  packages/crypto/testdata/bls-tests/sign/sign_case_84d45c9c7cca6b92.json
  packages/crypto/testdata/bls-tests/sign/sign_case_8cd3d4d0d9a5b265.json
  packages/crypto/testdata/bls-tests/sign/sign_case_c82df61aa3ee60fb.json
  packages/crypto/testdata/bls-tests/sign/sign_case_d0e28d7e76eb6e9c.json
  packages/crypto/testdata/bls-tests/sign/sign_case_f2ae1097e7d0e18b.json
  packages/crypto/testdata/bls-tests/sign/sign_case_zero_privkey.json
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Use assembly feature
  packages/crypto/Cargo.toml
  packages/vm/src/environment.rs
  packages/vm/src/testing/instance.rs
Due: cosmwasm-crypto

Regenerate lockfiles
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Add pairing equality tests
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
Due: cosmwasm-crypto

Readjust gas values
  packages/vm/src/environment.rs
  packages/vm/src/testing/instance.rs
Due: none

Fix compile errors
  packages/crypto/Cargo.toml
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/src/ed25519.rs
  packages/crypto/src/lib.rs
  packages/crypto/src/secp256r1.rs
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Vendor own version of `HashFunction`
  packages/crypto/src/bls12_318/hash.rs
  packages/std/Cargo.toml
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-crypto, cosmwasm-std

Add error tests
  packages/crypto/src/bls12_318/pairing.rs
Due: cosmwasm-crypto

Remove batch verify test for now
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
