Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Use iterator
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
Due: none

Fail if no type generated
  packages/go-gen/src/main.rs
Due: none

Refactor
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
Due: none

Improve readme
  packages/go-gen/Cargo.toml
  packages/go-gen/README.md
  packages/go-gen/src/main.rs
Due: none

Add env.transaction.hash to mock_env()
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add serialization and deserialization to Coins
  packages/std/src/coins.rs
Due: cosmwasm-std

Fix wasm_execute docs
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Fix Validator struct docs
  packages/std/src/query/staking.rs
Due: cosmwasm-std

Add docs about label validation
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Update schema
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
Due: none

Fix typo
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Add missing error exports
  packages/std/src/lib.rs
Due: cosmwasm-std

Add changelog entry for missing errors
  CHANGELOG.md
Due: none

Set version: 1.3.2
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

feat: Provide native way to cast deps to empty
  CHANGELOG.md
  packages/std/src/deps.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Document usage of CosmWasm gas values
  packages/vm/src/backend.rs
  packages/vm/src/environment.rs
Due: none

Implement From<&Coin> for CoinRef
  packages/std/src/coin.rs
Due: cosmwasm-std

Keep whole Coin struct in Coins helper
  packages/std/src/coin.rs
  packages/std/src/coins.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Implement IntoIterator for Coins
  packages/std/src/coin.rs
  packages/std/src/coins.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Fix test
  packages/std/src/coins.rs
Due: cosmwasm-std

Apply suggestions from code review
  packages/std/src/coins.rs
Due: cosmwasm-std

Simplify coins formatting
  packages/std/src/coins.rs
Due: cosmwasm-std

Fix Coins Display impl
  packages/std/src/coins.rs
Due: cosmwasm-std

Add changelog entry for Coins iterators
  CHANGELOG.md
Due: none

Implement ExactSizeIterator for Coins iterators
  packages/std/src/coins.rs
Due: cosmwasm-std

feat: Added parameter for the table size limit
  Cargo.lock
  packages/check/Cargo.toml
  packages/check/src/main.rs
  packages/vm/src/compatibility.rs
Due: none

fix(test): Updated tests accordingly
  packages/vm/src/cache.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/testing/instance.rs
Due: none

fix(linting): Put import behind a `cfg` like uses
  packages/schema/src/remove.rs
Due: cosmwasm-schema

Use doc comments
  packages/schema/src/export.rs
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/std/src/traits.rs
  packages/vm/src/testing/querier.rs
Due: cosmwasm-schema, cosmwasm-std

Document order of Coins::{to_vec, into_vec}
  packages/std/src/coins.rs
Due: cosmwasm-std

Replace acronyms
  packages/go-gen/src/go.rs
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
  packages/go-gen/src/utils.rs
Due: none

Add test cases for all responses and queries
  packages/go-gen/src/main.rs
  packages/go-gen/tests/cosmwasm_std__AllBalanceResponse.go
  packages/go-gen/tests/cosmwasm_std__AllDelegationsResponse.go
  packages/go-gen/tests/cosmwasm_std__AllDenomMetadataResponse.go
  packages/go-gen/tests/cosmwasm_std__AllValidatorsResponse.go
  packages/go-gen/tests/cosmwasm_std__BalanceResponse.go
  packages/go-gen/tests/cosmwasm_std__BankQuery.go
  packages/go-gen/tests/cosmwasm_std__BondedDenomResponse.go
  packages/go-gen/tests/cosmwasm_std__CodeInfoResponse.go
  packages/go-gen/tests/cosmwasm_std__ContractInfoResponse.go
  packages/go-gen/tests/cosmwasm_std__DelegationResponse.go
  packages/go-gen/tests/cosmwasm_std__DelegatorWithdrawAddressResponse.go
  packages/go-gen/tests/cosmwasm_std__DenomMetadataResponse.go
  packages/go-gen/tests/cosmwasm_std__DistributionQuery.go
  packages/go-gen/tests/cosmwasm_std__IbcQuery.go
  packages/go-gen/tests/cosmwasm_std__StakingQuery.go
  packages/go-gen/tests/cosmwasm_std__SupplyResponse.go
  packages/go-gen/tests/cosmwasm_std__ValidatorResponse.go
  packages/go-gen/tests/cosmwasm_std__WasmQuery.go
Due: none

Constify Decimal/Decimal256 constructors
  CHANGELOG.md
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Remove extra brackets
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Make ten constant const
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Add missing newline
  packages/go-gen/tests/cosmwasm_std__AllDenomMetadataResponse.go
Due: none

Fix acronym replacement
  packages/go-gen/src/go.rs
  packages/go-gen/src/schema.rs
  packages/go-gen/src/utils.rs
Due: none

Improve docs of Validator::address
  packages/std/src/query/staking.rs
Due: cosmwasm-std

Set version: 1.3.3
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage
