Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Remove default debug handler
  packages/vm/src/instance.rs
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Use BTreeSet in AnalysisReport
  packages/vm/src/cache.rs
  packages/vm/src/static_analysis.rs
Due: none

Fix lint
  packages/vm/src/static_analysis.rs
Due: none

Remove interface version 7 support
  .circleci/config.yml
  packages/vm/Cargo.toml
  packages/vm/src/compatibility.rs
Due: none

Add CacheOptions::new
  CHANGELOG.md
  packages/vm/src/cache.rs
Due: none

Revert "Add optional json annotations for custom types"
  packages/go-gen/src/go.rs
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
  packages/go-gen/tests/cosmwasm_std__IbcMsg.go
Due: none

Use new Uint64 wasmvm types
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
  packages/go-gen/tests/cosmwasm_std__IbcMsg.go
Due: none

Add CodeInfoResponse go-gen test
  packages/go-gen/src/main.rs
  packages/go-gen/tests/cosmwasm_std__CodeInfoResponse.go
Due: none

Add as_slice to Checksum
  packages/std/src/checksum.rs
Due: cosmwasm-std

Use Checksum type in CodeInfoResponse
  packages/std/src/checksum.rs
  packages/std/src/query/wasm.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add Checksum serde test
  packages/std/src/checksum.rs
Due: cosmwasm-std

Add Checksum to [u8; 32] conversion
  packages/std/src/checksum.rs
Due: cosmwasm-std

Add Checksum::from_hex
  packages/std/src/checksum.rs
Due: cosmwasm-std

Change go-gen type mapping
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
Due: none

Add to_schema_files test
  packages/schema/src/idl.rs
Due: cosmwasm-schema

Move Checksum into cosmwasm_std
  packages/std/src/checksum.rs
  packages/std/src/lib.rs
  packages/vm/src/cache.rs
  packages/vm/src/lib.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
Due: cosmwasm-std

Fix benchmark code
  packages/vm/benches/main.rs
Due: none

Fix CodeInfoResponse comment
  packages/go-gen/tests/cosmwasm_std__CodeInfoResponse.go
Due: none

Fix virus contract
  contracts/virus/src/contract.rs
Due: none

Remove Deref impl for Checksum
  contracts/virus/src/contract.rs
  packages/std/src/checksum.rs
Due: cosmwasm-std

Add changelog entry about Checksum removal
  CHANGELOG.md
Due: none

Deprecate SubMsgResponse::data
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

Add msg_responses to SubMsgResponse
  packages/std/src/results/mod.rs
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

Fix vm
  packages/vm/src/calls.rs
Due: none

Fix contracts
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/tests/integration.rs
  contracts/reflect/src/contract.rs
  contracts/reflect/tests/integration.rs
Due: none

Update contract schemas
  contracts/reflect/schema/raw/response_to_sub_msg_result.json
  contracts/reflect/schema/reflect.json
Due: none

Rename MsgResponseValue to MsgResponse
  packages/std/src/results/mod.rs
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

Update schema
  contracts/reflect/schema/raw/response_to_sub_msg_result.json
  contracts/reflect/schema/reflect.json
Due: none

Improve deprecation msg
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

Improve SubMsgResult test
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

Add test for pre-2.0 SubMsgResponse
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

Reduce default benchmarking time
  packages/vm/benches/main.rs
Due: none

Add cyberpunk benchmarking
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/cyberpunk/benches/host_vs_wasm.rs
  contracts/cyberpunk/src/contract.rs
Due: none

Run cache tests with two different contracts
  packages/vm/benches/main.rs
Due: none

Upgrade criterion
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto
