Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Add note about module serialization version to cost function
  packages/vm/src/wasm_backend/engine.rs
Due: none

Update packages/std/src/query/ibc.rs
  packages/std/src/query/ibc.rs
Due: cosmwasm-std

Set all fees for PayPacketFee example
  packages/std/src/ibc.rs
Due: cosmwasm-std

Update schemas
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
Due: none

Update schema
  contracts/ibc-reflect/schema/ibc/packet_msg.json
Due: none

Add ibc fee docs
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Add cosmwasm_2_2 feature
  contracts/ibc-reflect/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/std/Cargo.toml
  packages/std/src/exports.rs
  packages/std/src/ibc.rs
Due: cosmwasm-std

Fix tests
  packages/std/src/ibc.rs
  packages/std/src/testing/mock.rs
  packages/vm/src/testing/instance.rs
Due: cosmwasm-std

Add FeeEnabledChannel query
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/std/src/query/ibc.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Adjust docs and naming
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
  packages/go-gen/tests/cosmwasm_std__IbcMsg.go
  packages/std/src/ibc.rs
Due: cosmwasm-std

Add ibc fee messages
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  packages/std/src/ibc.rs
Due: cosmwasm-std

Update go-gen tests
  packages/go-gen/tests/cosmwasm_std__IbcMsg.go
  packages/go-gen/tests/cosmwasm_std__IbcQuery.go
Due: none

Update schemas
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Bump docs.rs cosmwasm feature
  packages/std/Cargo.toml
Due: cosmwasm-std

New schema format
  packages/cw-schema-derive/Cargo.toml
  packages/cw-schema-derive/src/expand.rs
  packages/cw-schema-derive/src/lib.rs
  packages/cw-schema/.gitignore
  packages/cw-schema/Cargo.lock
  packages/cw-schema/Cargo.toml
  packages/cw-schema/src/default_impls.rs
  packages/cw-schema/src/lib.rs
  packages/cw-schema/tests/basic.rs
  packages/cw-schema/tests/derive.rs
  packages/cw-schema/tests/example.json
  packages/cw-schema/tests/snapshots/basic__snapshot_jsonschema.snap
  packages/cw-schema/tests/snapshots/derive__snapshot_schema.snap
Due: none

Add cosmwasm_2_2 to reflect contract
  contracts/reflect/Cargo.toml
Due: none

Bump curve25519-dalek to 4.1.3
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Bump `zerovec` and `zerovec-derive`
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  devtools/update_crate.sh
Due: none

Update reflect schema
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
Due: none

Fix CI
  .circleci/config.yml
Due: none

Unfinished: Add debug logs to cosmwasm-check
  packages/check/src/main.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/lib.rs
Due: none

Add mock_environment to std and vm
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
  packages/vm/src/testing/mock.rs
  packages/vm/src/testing/mod.rs
Due: cosmwasm-std

Add unit test for cost function
  packages/vm/src/wasm_backend/engine.rs
Due: none

Fix `mock_dependencies_with_balance`
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Change tests to use mock_environment
  contracts/burner/src/contract.rs
  contracts/burner/tests/integration.rs
  contracts/crypto-verify/src/contract.rs
  contracts/crypto-verify/tests/integration.rs
  contracts/cyberpunk/src/contract.rs
  contracts/cyberpunk/tests/integration.rs
  contracts/hackatom/src/contract.rs
  contracts/hackatom/tests/integration.rs
  contracts/ibc-reflect-send/src/contract.rs
  contracts/ibc-reflect-send/src/ibc.rs
  contracts/ibc-reflect-send/tests/integration.rs
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/tests/integration.rs
  contracts/queue/src/contract.rs
  contracts/queue/tests/integration.rs
  contracts/reflect/src/contract.rs
  contracts/reflect/tests/integration.rs
  contracts/staking/src/contract.rs
  contracts/staking/tests/integration.rs
  contracts/virus/src/contract.rs
  packages/vm/examples/heap_profiling.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/instance.rs
Due: none

Use new function for new mock_dependencies_with_contract_balance functionality
  contracts/burner/src/contract.rs
  contracts/hackatom/src/contract.rs
  contracts/queue/src/contract.rs
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
Due: cosmwasm-std

Fix benchmark and tests
  packages/std/src/coin.rs
  packages/vm/benches/main.rs
Due: cosmwasm-std

Fix MockInstanceOptions backend_error handling
  packages/vm/src/testing/instance.rs
Due: none

Fix borrowing
  packages/check/src/main.rs
  packages/vm/src/compatibility.rs
Due: none

Add --verbose flag to cosmwasm-check
  packages/check/src/main.rs
  packages/check/tests/cosmwasm_check_tests.rs
Due: none

Fix test lints
  packages/vm/src/compatibility.rs
Due: none

Add rename_all support
  packages/cw-schema-derive/src/expand.rs
  packages/cw-schema/tests/derive.rs
  packages/cw-schema/tests/snapshots/derive__snapshot_schema.snap
Due: none

Let mock_env return a contract address that is compatible with MockApi
  CHANGELOG.md
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Improve BankQuerier docs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Update mock_env and MOCK_CONTRACT_ADDR in cosmwasm-vm
  CHANGELOG.md
  packages/vm/src/instance.rs
  packages/vm/src/testing/mock.rs
Due: none

Deduplicate a little
  packages/cw-schema-derive/src/expand.rs
  packages/cw-schema/tests/basic.rs
  packages/cw-schema/tests/derive.rs
Due: none

Bump clippy version to 1.80.0 in CI
  .circleci/config.yml
Due: none

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
