Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

make 1.64.0 clippy happy
  packages/profiler/src/instrumentation.rs
  packages/vm/src/modules/versioning.rs
Due: none

Update READMEs with `cosmwasm-check` info
  README.md
  packages/check/README.md
Due: none

doc: linting
  README.md
Due: none

docs: run prettier locally
  README.md
Due: none

update README.md
  README.md
Due: none

check: include proper version in the CLI tool
  packages/check/src/main.rs
Due: none

check: attribute the original author :)
  packages/check/Cargo.toml
Due: none

check: update README.md
  packages/check/README.md
Due: none

Rust docs
  packages/std/src/query/mod.rs
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Adding raw query to be able to patch cosmwasm-std with secret-cosmwasm-std
  packages/std/src/mock.rs
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

Decimal: Implement missing checked methods
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

fix poorly resolved merge conflict
  packages/std/src/traits.rs
Due: cosmwasm-std

Decimal256: Implement missing checked methods
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Decimal/256: Implement pow
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Decimal/256: Implement saturating_pow
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Decimal/256: Add one more testcase to increase coverage
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Decimal/256: Implement ceil/floor rounding
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Decimal/256: Implement checked_ceil; add doc comments
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Uint256/512: Implement saturating_pow
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Implement PartialEq for references for all math types
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Inline zero() and one() consistently
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Uint/Decimal: Implement const MIN
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Decimal/256: Implement checked_div_euclid
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Decimal/256: Implement checked_div_euclid
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Decimal: Remove unnecessarily added testcases
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Bump k256
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/src/identity_digest.rs
  packages/crypto/src/secp256k1.rs
Due: cosmwasm-crypto

Update contracts lock files
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
Due: none

Uint256/512: Implement checked_div_euclid
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

std: implement PartialEq for LHS refs of math types
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

std: partialeq tests for math types
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

hide BankQuery::Supply behind the `cosmwasm_1_1` feature
  packages/std/Cargo.toml
  packages/std/src/exports.rs
  packages/std/src/lib.rs
  packages/std/src/mock.rs
  packages/std/src/query/bank.rs
  packages/std/src/query/mod.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

fix Rust 1.63 lints
  packages/std/src/query/bank.rs
Due: cosmwasm-std

generate std schemas including cosmwasm_1_1 feature
  devtools/check_workspace.sh
Due: none

test BankQuery::Supply using the reflect contract
  contracts/reflect/Cargo.toml
  contracts/reflect/tests/integration.rs
  packages/check/src/main.rs
  packages/vm/examples/check_contract.rs
  packages/vm/src/testing/instance.rs
Due: none

update CI after introducing the `cosmwasm_1_1` feature
  .circleci/config.yml
Due: none

avoid BankQuerier.supplies ending up with invalid state
  packages/std/src/mock.rs
Due: cosmwasm-std

fixed default for WasmQuerier
  packages/std/src/mock.rs
Due: cosmwasm-std

trying to fix a compiler error by removing chrono from dependencies
  packages/std/Cargo.toml
Due: cosmwasm-std

testing with the chrono dependency again to confirm diagnosis
  packages/std/Cargo.toml
Due: cosmwasm-std

fixed some backtrace errors
  packages/std/src/errors/recover_pubkey_error.rs
  packages/std/src/errors/signing_error.rs
  packages/std/src/errors/verification_error.rs
Due: cosmwasm-std

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
