Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

fix ut
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: none

add get_ex set_ex remove_ex
  packages/std/src/imports.rs
  packages/std/src/storage.rs
  packages/std/src/traits.rs
  packages/storage/src/prefixed_storage.rs
Due: cosmwasm-std, cosmwasm-storage

add do_db_read_ex_test
  packages/vm/src/calls.rs
  packages/vm/testdata/ex_test/1000000000000000000000000000000u128.wasm
  packages/vm/testdata/ex_test/1000u128.wasm
Due: none

cosmwasm_std: remove dependency on DefaultHasher in tests
  Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/addresses.rs
  packages/std/src/binary.rs
  packages/std/src/hex_binary.rs
  packages/std/src/lib.rs
  packages/std/src/test_utils.rs
Due: cosmwasm-std

cosmwasm_std: use BTreeMap in testing mocks
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Convert test helper into assert_hash_works
  packages/std/src/addresses.rs
  packages/std/src/binary.rs
  packages/std/src/hex_binary.rs
  packages/std/src/lib.rs
  packages/std/src/test_utils.rs
  packages/std/src/testing/assertions.rs
  packages/std/src/testing/mod.rs
Due: cosmwasm-std

Implement QueryResponseType trait for responses
  packages/std/src/query/distribution.rs
  packages/std/src/query/staking.rs
Due: cosmwasm-std

Extend QueryResponseType constraints
  packages/std/src/query/query_response.rs
Due: cosmwasm-std

Remove into
  packages/std/src/query/mod.rs
Due: cosmwasm-std

cosmwasm_std: prefer core and alloc modules to prepare for no_std
  packages/std/src/addresses.rs
  packages/std/src/assertions.rs
  packages/std/src/binary.rs
  packages/std/src/coin.rs
  packages/std/src/coins.rs
  packages/std/src/deps.rs
  packages/std/src/errors/recover_pubkey_error.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/errors/system_error.rs
  packages/std/src/errors/verification_error.rs
  packages/std/src/exports.rs
  packages/std/src/hex_binary.rs
  packages/std/src/ibc.rs
  packages/std/src/imports.rs
  packages/std/src/lib.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/isqrt.rs
  packages/std/src/math/mod.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
  packages/std/src/memory.rs
  packages/std/src/results/contract_result.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/response.rs
  packages/std/src/results/system_result.rs
  packages/std/src/serde.rs
  packages/std/src/storage.rs
  packages/std/src/testing/assertions.rs
  packages/std/src/testing/mock.rs
  packages/std/src/timestamp.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Fix compiler warning
  contracts/cyberpunk/src/msg.rs
Due: none

Set version: 1.3.0
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Update changelog
  CHANGELOG.md
Due: none

add-fast-serde
  packages/std/src/lib.rs
  packages/std/src/serde_basic_type.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

optimize handle gas
  packages/vm/src/calls.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: none

csdb optimize
  packages/std/src/imports.rs
  packages/std/src/storage.rs
  packages/std/src/traits.rs
  packages/storage/src/prefixed_storage.rs
  packages/vm/src/calls.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/testdata/counter.wasm
  packages/vm/testdata/ex_test/1000000000000000000000000000000u128.wasm
  packages/vm/testdata/ex_test/1000u128.wasm
Due: cosmwasm-std, cosmwasm-storage

Update packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

cosmwasm_std: simplify ‘T can be used with HashSet’ tests
  packages/std/src/addresses.rs
  packages/std/src/binary.rs
  packages/std/src/hex_binary.rs
  packages/std/src/testing/assertions.rs
Due: cosmwasm-std

cosmwasm-std: avoid dependency on std::error::Error
  packages/std/src/errors/system_error.rs
Due: cosmwasm-std

typ
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: none

check err
  packages/std/src/traits.rs
Due: cosmwasm-std

Update mergify config
  .mergify.yml
Due: none

Fix backport branch
  .mergify.yml
Due: none

Migrate make_engine to make_runtime_engine
  packages/check/src/main.rs
  packages/vm/examples/module_size.rs
  packages/vm/src/cache.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/lib.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/versioning.rs
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/mod.rs
  packages/vm/src/wasm_backend/store.rs
Due: none

Apply suggestions from code review
  packages/vm/src/cache.rs
Due: none

Remove make_runtime_store/make_store_with_engine
  packages/vm/src/instance.rs
  packages/vm/src/lib.rs
  packages/vm/src/wasm_backend/mod.rs
  packages/vm/src/wasm_backend/store.rs
Due: none

Create new compiling engines when Wasm is recompiled
  packages/vm/src/cache.rs
Due: none

Add comment on runtime_engine
  packages/vm/src/cache.rs
Due: none

Remove some unused values
  packages/vm/src/cache.rs
Due: none

Refactore code to reuse an engine
  packages/vm/examples/module_size.rs
  packages/vm/src/cache.rs
  packages/vm/src/instance.rs
  packages/vm/src/lib.rs
  packages/vm/src/modules/cached_module.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/mod.rs
  packages/vm/src/wasm_backend/store.rs
Due: none

Let compile not create its own engine
  packages/check/src/main.rs
  packages/vm/examples/module_size.rs
  packages/vm/src/cache.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/modules/versioning.rs
  packages/vm/src/wasm_backend/compile.rs
Due: none

Create new engines for each compilation
  packages/vm/src/cache.rs
  packages/vm/src/lib.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
  packages/vm/src/wasm_backend/mod.rs
  packages/vm/src/wasm_backend/store.rs
Due: none

Remove extra middlewares feature
  packages/check/src/main.rs
  packages/vm/examples/module_size.rs
  packages/vm/src/cache.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
  packages/vm/src/modules/versioning.rs
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/store.rs
Due: none

Rename store.rs -> engine.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/mod.rs
Due: none

Use compile consistently
  packages/vm/src/cache.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
  packages/vm/src/modules/versioning.rs
Due: none

Apply suggestion from code review
  packages/vm/src/modules/file_system_cache.rs
Due: none

Bump MODULE_SERIALIZATION_VERSION
  packages/vm/src/modules/file_system_cache.rs
Due: none

Update base64 dependency to 0.21
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/benches/main.rs
  packages/crypto/src/secp256k1.rs
  packages/std/Cargo.toml
  packages/std/src/binary.rs
Due: cosmwasm-crypto, cosmwasm-std

Add key size to cache element size
  packages/vm/src/checksum.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
Due: none
