Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

fixes:
  - "/root/project/::" # reduce root, e.g. "/root/project/path/" => "path/"

flags:
  cosmwasm-check:
    paths:
      - packages/check/
  #cosmwasm-core:
  #  paths:
  #    - packages/core/
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-schema-derive:
    paths:
      - packages/schema-derive/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-vm:
    paths:
      - packages/vm/
  cosmwasm-vm-derive:
    paths:
      - packages/vm-derive/

Fully fix min version build
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-vm

Add compiler error for incorrect entry_point macro usage
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Improve comment and error message
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Update test
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Add ibc callbacks entrypoints to enum
  packages/vm/src/static_analysis.rs
Due: cosmwasm-vm

Let Int256::new take an i128 argument
  packages/std/src/math/int256.rs
Due: cosmwasm-std

Let Int512::new take an i128 argument
  packages/std/src/math/int512.rs
Due: cosmwasm-std

Let Uint512::new take an u128 argument
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Let Uint256::new take an u128 argument
  packages/std/src/math/uint256.rs
Due: cosmwasm-std

Deprecate Uint256::from_u128 and Int256::from_i128
  packages/std/src/math/decimal256.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/std/src/math/uint256.rs
Due: cosmwasm-std

Bump min time version to 0.3.35
  packages/vm/Cargo.toml
Due: cosmwasm-vm

Remove unnecessary brackets and incorrect indent to make clippy 1.87 happy
  contracts/burner/tests/integration.rs
  contracts/crypto-verify/tests/integration.rs
  contracts/cyberpunk/tests/integration.rs
  contracts/empty/tests/integration.rs
  contracts/hackatom/tests/integration.rs
  contracts/ibc-callbacks/tests/integration.rs
  contracts/ibc-reflect-send/tests/integration.rs
  contracts/ibc-reflect/tests/integration.rs
  contracts/queue/tests/integration.rs
  contracts/reflect/tests/integration.rs
  contracts/staking/tests/integration.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
Due: cosmwasm-std

Update comment regarding ecdsa dependency in cosmwasm-crypto
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Explain the use of Option<...> in InMemoryCache and avoid unwrap
  packages/vm/src/modules/in_memory_cache.rs
Due: cosmwasm-vm

Update lockfiles
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
Due: none

Downgrade backtrace crate
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Add minimum lazy_static version
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
Due: cosmwasm-vm

Add minimum backtrace version
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
Due: cosmwasm-vm

cargo update
  Cargo.lock
Due: none

chore: replace dead reference in README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Regen lockfiles
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/nested-contracts/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/std/src/types.rs
Due: cosmwasm-std

Fix derives
  contracts/ibc2/src/state.rs
Due: none

Fix snapshot tests
  packages/cw-schema/tests/snapshots/basic__snapshot_jsonschema.snap
Due: none

Fix broken EntryPoints.md link in README
  README.md
Due: none

Copy doctests for contains_only
  packages/std/src/coins.rs
Due: cosmwasm-std

Remove comment
  contracts/staking/src/contract.rs
Due: none

Fix staking contract
  contracts/staking/src/contract.rs
  contracts/staking/src/state.rs
Due: none

Make `GovMsg` `#[non_exhaustive]` for consistency
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Use Uint256 for Coin amount
  packages/std/src/coin.rs
  packages/std/src/coins.rs
  packages/std/src/testing/message_info.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/instance.rs
Due: cosmwasm-std, cosmwasm-vm

Fix doctests
  packages/std/src/coins.rs
Due: cosmwasm-std

Update schemas
  contracts/hackatom/schema/hackatom.json
  contracts/hackatom/schema/raw/response_to_other_balance.json
  contracts/hackatom/schema/raw/sudo.json
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/acknowledgement_msg_balances.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect-send/schema/raw/response_to_account.json
  contracts/ibc-reflect-send/schema/raw/response_to_list_accounts.json
  contracts/ibc-reflect/schema/ibc/acknowledgement_msg_balances.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  contracts/staking/schema/raw/response_to_investment.json
  contracts/staking/schema/staking.json
Due: none

Fix go-gen
  packages/go-gen/src/schema.rs
Due: none

Replace `Inflector` with `heck` in `go-gen`
  Cargo.lock
  packages/go-gen/Cargo.toml
  packages/go-gen/src/go.rs
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
Due: none

Remove aggressive comment towards myself :3
  packages/cw-schema-derive/src/expand.rs
Due: none

Add `Box` support
  packages/cw-schema/src/default_impls.rs
  packages/cw-schema/src/lib.rs
  packages/cw-schema/tests/derive.rs
  packages/cw-schema/tests/snapshots/basic__snapshot_jsonschema.snap
  packages/cw-schema/tests/snapshots/derive__snapshot_schema.snap
Due: none

Remove Confio from SECURITY.md
  SECURITY.md
Due: none

Make new CustomMsg more ergonomic
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std
