Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-core, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

fixes:
  - "/root/project/::" # reduce root, e.g. "/root/project/path/" => "path/"

flags:
  cosmwasm-check:
    paths:
      - packages/check/
  cosmwasm-core:
    paths:
      - packages/core/
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-schema-derive:
    paths:
      - packages/schema-derive/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-vm:
    paths:
      - packages/vm/
  cosmwasm-vm-derive:
    paths:
      - packages/vm-derive/

chore: Further renaming
  CHANGELOG.md
  contracts/ibcv2/Cargo.toml
  contracts/ibcv2/schema/ibcv2.json
  contracts/ibcv2/schema/raw/response_to_query_state.json
  contracts/ibcv2/src/contract.rs
  docs/CAPABILITIES-BUILT-IN.md
  packages/check/src/main.rs
  packages/go-gen/tests/cosmwasm_std__ContractInfoResponse.go
  packages/std/Cargo.toml
  packages/std/src/exports.rs
  packages/std/src/ibc2.rs
  packages/std/src/lib.rs
  packages/std/src/query/wasm.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
  packages/std/src/traits.rs
  packages/vm/Cargo.toml
  packages/vm/src/calls.rs
  packages/vm/src/lib.rs
  packages/vm/src/static_analysis.rs
  packages/vm/src/testing/instance.rs
  packages/vm/testdata/ibcv2.wasm
Due: cosmwasm-check, cosmwasm-std, cosmwasm-vm

chore: fix feature flag usage
  .circleci/config.yml
  packages/vm/src/calls.rs
Due: cosmwasm-vm

chore: Renmae ibcv2 contract -> ibc2
  .circleci/config.yml
  .mergify.yml
  contracts/README.md
  contracts/ibc2/.cargo/config.toml
  contracts/ibc2/Cargo.lock
  contracts/ibc2/Cargo.toml
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/instantiate.json
  contracts/ibc2/schema/raw/query.json
  contracts/ibc2/schema/raw/response_to_query_state.json
  contracts/ibc2/src/bin/schema.rs
  contracts/ibc2/src/contract.rs
  contracts/ibc2/src/lib.rs
  contracts/ibc2/tests/integration.rs
  packages/vm/src/calls.rs
  packages/vm/testdata/ibc2.wasm
  packages/vm/testdata/ibcv2.wasm
Due: cosmwasm-vm

feat: IBCv2 receive packet entrypoint (#2403)
  .circleci/config.yml
  .mergify.yml
  CHANGELOG.md
  contracts/README.md
  contracts/ibc2/.cargo/config.toml
  contracts/ibc2/Cargo.lock
  contracts/ibc2/Cargo.toml
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/instantiate.json
  contracts/ibc2/schema/raw/query.json
  contracts/ibc2/schema/raw/response_to_query_state.json
  contracts/ibc2/src/bin/schema.rs
  contracts/ibc2/src/contract.rs
  contracts/ibc2/src/lib.rs
  contracts/ibc2/tests/integration.rs
  docs/CAPABILITIES-BUILT-IN.md
  packages/check/src/main.rs
  packages/go-gen/tests/cosmwasm_std__ContractInfoResponse.go
  packages/std/Cargo.toml
  packages/std/src/eureka.rs
  packages/std/src/exports.rs
  packages/std/src/ibc2.rs
  packages/std/src/lib.rs
  packages/std/src/query/wasm.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
  packages/std/src/traits.rs
  packages/vm/Cargo.toml
  packages/vm/src/calls.rs
  packages/vm/src/lib.rs
  packages/vm/src/static_analysis.rs
  packages/vm/src/testing/instance.rs
  packages/vm/testdata/ibc2.wasm
Due: cosmwasm-check, cosmwasm-std, cosmwasm-vm

Add info about ibc_v2 entrypoint to AnalysisReport (#2401)
  packages/vm/src/cache.rs
  packages/vm/src/static_analysis.rs
  packages/vm/testdata/ibcv2.wasm
Due: cosmwasm-vm

Rename ibcv2 to ibc2
  .circleci/config.yml
  packages/vm/src/cache.rs
  packages/vm/src/static_analysis.rs
  packages/vm/testdata/ibcv2.wasm
Due: cosmwasm-vm

Update CHANGELOG-pre1.0.0.md
  CHANGELOG-pre1.0.0.md
Due: none

Move `MemoryStorage` to `cosmwasm_std::testing::MockStorage`
  CHANGELOG.md
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
  packages/std/src/testing/storage.rs
Due: cosmwasm-std

patch/nullable-metadata-field
  packages/std/src/metadata.rs
Due: cosmwasm-std

nullable aliases
  packages/std/src/metadata.rs
Due: cosmwasm-std

feat: use Uint256 for Coin
  packages/std/src/coin.rs
  packages/std/src/coins.rs
  packages/std/src/math/uint256.rs
  packages/std/src/testing/message_info.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/instance.rs
Due: cosmwasm-std, cosmwasm-vm

Correct minor spelling and grammar mistakes
  contracts/ibc-reflect/README.md
Due: none

fix(test): Fix test codes
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Correct minor spelling and grammar mistakes
  contracts/reflect/README.md
Due: none

feat(query): Introduce non-breaking changes to handle nullable data stated in https://github.com/CosmWasm/cosmwasm/issues/2414
  packages/std/src/metadata.rs
  packages/std/src/query/bank.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

chore(fmt): Code formatting
  packages/std/src/query/bank.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Send `Ibc2Msg::SendPacket` in ibc2 contract (#2418)
  contracts/ibc2/src/bin/schema.rs
  contracts/ibc2/src/contract.rs
  contracts/ibc2/src/lib.rs
  contracts/ibc2/src/msg.rs
  contracts/ibc2/src/state.rs
  packages/std/src/ibc2.rs
Due: cosmwasm-std

doc(comment): Add code comments
  packages/std/src/metadata.rs
Due: cosmwasm-std

chore(crate): Fix struct imports
  packages/std/src/lib.rs
  packages/std/src/query/bank.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Remove unused env from coins example code
  packages/std/src/coin.rs
Due: cosmwasm-std

Remove mock_info
  CHANGELOG.md
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
Due: cosmwasm-std

Remove abort feature
  .circleci/config.yml
  .vscode/settings.json
  CHANGELOG.md
  packages/std/Cargo.toml
  packages/std/src/lib.rs
Due: cosmwasm-std

Use serde_json instead of serde_json_wasm
  Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/ibc.rs
  packages/std/src/serde.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Bump serde_json to latest version 1.0.140
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-schema, cosmwasm-std, cosmwasm-vm

Update contracts
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/tests/integration.rs
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Add CHANGELOG entry Replace dependency `serde-json-wasm` with `serde_json`
  CHANGELOG.md
Due: none

Update floaty too
  contracts/floaty/Cargo.lock
Due: none

Fix expected gas value
  contracts/hackatom/tests/integration.rs
Due: none

Bump minimum CW version to 1.5 in CI
  .circleci/config.yml
Due: none

Update ed25519.rs
  packages/crypto/src/ed25519.rs
Due: cosmwasm-crypto

feat: Add WriteAcknowledgement to Ibc2Msg
  packages/std/src/ibc2.rs
Due: cosmwasm-std

Make `GovMsg` `#[non_exhaustive]` for consistency
  CHANGELOG.md
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Update MIGRATING.md
  MIGRATING.md
Due: none

Update cosmos_msg.rs
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Update ibc2 schema
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/execute.json
Due: none

Remove `serde-json-wasm` mention from README.md
  README.md
Due: none

Update state.rs
  contracts/ibc-reflect-send/src/state.rs
Due: none

Update state.rs
  contracts/ibc-reflect/src/state.rs
Due: none
