Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Update crypto package
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/README.md
  packages/crypto/benches/main.rs
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-std

Fix badges
  packages/crypto/README.md
  packages/std/README.md
  packages/storage/README.md
Due: cosmwasm-crypto, cosmwasm-std, cosmwasm-storage

Lock JSON schema version
  packages/schema/src/lib.rs
  packages/schema/src/schema_for.rs
Due: cosmwasm-schema

Add a README to `cosmwasm-schema-derive`
  packages/schema-derive/README.md
Due: none

Revert "Add a README to `cosmwasm-schema-derive`"
  packages/schema-derive/README.md
Due: none

Remove `cranelift` default feature from all contracts
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.toml
  contracts/floaty/Cargo.toml
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.toml
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.toml
Due: none

rename `coins.rs` to `coin.rs`
  packages/std/src/coin.rs
  packages/std/src/lib.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/std/src/types.rs
Due: cosmwasm-std

Fix Coin import in ibc.rs
  packages/std/src/ibc.rs
Due: cosmwasm-std

add `Coins` struct
  packages/std/src/coins.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

document schema_for
  CHANGELOG.md
  packages/schema/src/schema_for.rs
Due: cosmwasm-schema

Update packages/schema/src/schema_for.rs
  packages/schema/src/schema_for.rs
Due: cosmwasm-schema

schema: refactor and docs
  packages/schema-derive/src/query_responses.rs
  packages/schema-derive/src/query_responses/context.rs
  packages/schema/src/query_response.rs
Due: cosmwasm-schema

lints
  packages/schema-derive/src/query_responses.rs
Due: none

Make QueryResponses tests clearer
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

QueryResponses: Add `JsonSchema` bound to type params
  packages/schema-derive/src/query_responses.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

QueryResponses: Add an option to not infer trait bounds
  packages/schema-derive/src/query_responses.rs
Due: none

CHANGELOG entry
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Document type of gas that is used for gas limits
  packages/std/src/results/submessages.rs
  packages/vm/src/environment.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/instance.rs
Due: cosmwasm-std

Update schemas
  contracts/reflect/schema/reflect.json
Due: none

Add comment regarding rounding behaviour to multiply_ratio/checked_multiply_ratio
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Use resolver version 2 in workspace
  Cargo.toml
Due: none

Adapt codebase to clippy 1.65.0
  contracts/floaty/src/contract.rs
  contracts/hackatom/src/contract.rs
  packages/crypto/src/ed25519.rs
  packages/std/src/binary.rs
  packages/storage/src/bucket.rs
  packages/storage/src/singleton.rs
  packages/vm/src/cache.rs
Due: cosmwasm-crypto, cosmwasm-std, cosmwasm-storage

Upgrade clippy CI job to 1.65.0
  .circleci/config.yml
Due: none

Set version: 1.1.6
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Update prettier and re-format text
  CHANGELOG.md
  devtools/format_md.sh
  devtools/format_yml.sh
Due: none

dirty: checked_mul_* macros
  packages/std/src/errors/mod.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/math/macros.rs
  packages/std/src/math/mod.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Add CI job for testing cosmwasm-vm on Windows
  .circleci/config.yml
Due: none

Change filesystem errors to be consistent across operating systems
  packages/vm/src/cache.rs
  packages/vm/src/filesystem.rs
  packages/vm/src/lib.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/mod.rs
Due: none

Remove system specific detail from error message
  packages/vm/src/cache.rs
Due: none

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Add `cosmwasm_1_2 feature`
  packages/std/Cargo.toml
Due: cosmwasm-std

Add `GovMsg::VoteWeighted`
  packages/std/src/lib.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/mod.rs
Due: cosmwasm-std

Update CHANGELOG
  CHANGELOG.md
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

Add the `cosmwasm_1_2` export
  packages/std/src/exports.rs
Due: cosmwasm-std

schema: Add option to generate separate JSON schema files
  packages/schema-derive/src/generate_api.rs
  packages/schema/src/idl.rs
Due: cosmwasm-schema

CHANGELOG update
  CHANGELOG.md
Due: none
