Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Update docs/STORAGE_KEYS.md
  docs/STORAGE_KEYS.md
Due: none

Update docs/CAPABILITIES.md
  docs/CAPABILITIES.md
Due: none

Update packages/std/src/errors/std_error.rs
  packages/std/src/errors/std_error.rs
Due: cosmwasm-std

Store engine together with Module to fix memory increase issue
  packages/vm/src/cache.rs
  packages/vm/src/modules/cached_module.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/in_memory_cache.rs
  packages/vm/src/modules/mod.rs
  packages/vm/src/modules/pinned_memory_cache.rs
Due: none

Add CHANGELOG entry for fixing #1978
  CHANGELOG.md
Due: none

Use more solid Send and Sync bounds
  packages/std/src/testing/mock.rs
  packages/vm/src/backend.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/querier.rs
Due: cosmwasm-std

Set version: 1.5.2
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Update changelog
  CHANGELOG.md
Due: none

Export MsgResponse
  CHANGELOG.md
  packages/std/src/lib.rs
Due: cosmwasm-std

Bump clippy to 1.75.0 and adapt codebase
  .circleci/config.yml
  contracts/burner/src/contract.rs
  contracts/burner/tests/integration.rs
  contracts/hackatom/src/contract.rs
  contracts/hackatom/tests/integration.rs
  packages/std/src/errors/std_error.rs
  packages/vm/src/modules/mod.rs
  packages/vm/src/wasm_backend/mod.rs
Due: cosmwasm-std

Bump MODULE_SERIALIZATION_VERSION to v9
  CHANGELOG.md
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add PR link to CHANGELOG
  CHANGELOG.md
Due: none

Upgrade Wasmer to 4.2.5
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
Due: none

Remove explicit enumset dependency
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
Due: none

Only enable dhat dependency if feature is enabled
  packages/vm/Cargo.toml
  packages/vm/examples/memory.rs
Due: none

Add some docs
  packages/vm/examples/memory.rs
Due: none

Try example with dhat
  Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/examples/memory.rs
Due: none

Adpt example to API changes
  packages/vm/examples/memory.rs
Due: none

Allow running memory example without dhat
  packages/vm/Cargo.toml
  packages/vm/examples/memory.rs
Due: none

Improve testing
  packages/vm/examples/memory.rs
Due: none

Ignore dhat-heap.json
  .gitignore
Due: none

Remove unused dhat-ad-hoc
  packages/vm/Cargo.toml
Due: none

Cleanup
  packages/vm/examples/memory.rs
Due: none

Set version: 1.4.3
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Keep track of number of functions, args and ouputs
  packages/vm/src/parsed_wasm.rs
Due: none

Add function number checks
  packages/vm/src/compatibility.rs
Due: none

Catch panic
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Rename `GovMsg::Vote`
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Fix test
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Set version: 2.0.0-beta.1
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std

Improve comments for consistency
  packages/crypto/src/secp256k1.rs
  packages/crypto/src/secp256r1.rs
Due: cosmwasm-crypto

Improve naming in secp256k1 tests as well
  packages/crypto/src/secp256k1.rs
Due: cosmwasm-crypto

Add valid test vectors for secp256r1 verification
  packages/crypto/src/secp256r1.rs
Due: cosmwasm-crypto

Revert wrongly removed exports
  packages/std/src/results/mod.rs
  packages/vm/src/modules/mod.rs
  packages/vm/src/wasm_backend/mod.rs
Due: cosmwasm-std

nit
  packages/crypto/src/secp256k1.rs
Due: cosmwasm-crypto
