Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

fixes:
  - "/root/project/::" # reduce root, e.g. "/root/project/path/" => "path/"

flags:
  cosmwasm-check:
    paths:
      - packages/check/
  #cosmwasm-core:
  #  paths:
  #    - packages/core/
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-schema-derive:
    paths:
      - packages/schema-derive/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-vm:
    paths:
      - packages/vm/
  cosmwasm-vm-derive:
    paths:
      - packages/vm-derive/

Fix python single tuple enum variant codegen
  packages/cw-schema-codegen/templates/python/enum.tpl.py
  packages/cw-schema-codegen/tests/snapshots/python_tpl__simple_enum-4.snap
  packages/cw-schema-codegen/tests/snapshots/python_tpl__simple_enum.snap
Due: none

Fix python <3.10 support
  packages/cw-schema-codegen/templates/python/enum.tpl.py
  packages/cw-schema-codegen/tests/snapshots/python_tpl__simple_enum-4.snap
  packages/cw-schema-codegen/tests/snapshots/python_tpl__simple_enum.snap
Due: none

Ignore e2e tests requiring tools by default
  .circleci/config.yml
  packages/cw-schema-codegen/tests/go.rs
  packages/cw-schema-codegen/tests/python_tpl.rs
  packages/cw-schema-codegen/tests/typescript.rs
Due: none

docs: add crate-level documentation with CosmWasm overview and docs link
  packages/vm/src/lib.rs
Due: cosmwasm-vm

Update main.rs
  packages/check/src/main.rs
Due: cosmwasm-check

Fix Go template
  packages/cw-schema-codegen/templates/go/enum.tpl.go
Due: none

Update lib.rs
  packages/cw-schema-derive/src/lib.rs
Due: none

Update lib.rs
  packages/cw-schema/src/lib.rs
Due: none

Update lib.rs
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Update lib.rs
  packages/schema-derive/src/lib.rs
Due: cosmwasm-schema-derive

Update lib.rs
  packages/schema/src/lib.rs
Due: cosmwasm-schema

Update lib.rs
  packages/crypto/src/lib.rs
Due: cosmwasm-crypto

Update lib.rs
  packages/core/src/lib.rs
Due: none

Update lib.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Update lib.rs
  packages/vm-derive/src/lib.rs
Due: cosmwasm-vm-derive

Export ValidatorMetadata
  packages/std/src/lib.rs
Due: cosmwasm-std

Add changelog entry
  CHANGELOG.md
Due: none

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/cw-schema/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-schema, cosmwasm-std, cosmwasm-vm

Fix python tuple code-gen
  packages/cw-schema-codegen/src/python/mod.rs
Due: none

Fix ts codegen
  packages/cw-schema-codegen/src/typescript/mod.rs
Due: none

Unify e2e tests
  packages/cw-schema-codegen/src/typescript/mod.rs
  packages/cw-schema-codegen/tests/go.rs
  packages/cw-schema-codegen/tests/python_tpl.rs
  packages/cw-schema-codegen/tests/typescript.rs
  packages/cw-schema-codegen/tests/utils.rs
Due: none

Update MIGRATING.md
  MIGRATING.md
Due: none

Fix link
  MIGRATING.md
Due: none

Fix cw-schema-codegen dependency
  Cargo.lock
  packages/cw-schema-codegen/Cargo.toml
Due: none

Remove language check
  packages/cw-schema-codegen/src/main.rs
Due: none

Fix python bytes codegen
  packages/cw-schema-codegen/src/python/mod.rs
  packages/cw-schema-codegen/templates/python/struct.tpl.py
  packages/cw-schema-codegen/tests/rust-e2e/Cargo.lock
  packages/cw-schema-codegen/tests/snapshots/python_tpl__simple_enum-2.snap
  packages/cw-schema-codegen/tests/snapshots/python_tpl__simple_enum-3.snap
  packages/cw-schema-codegen/tests/snapshots/python_tpl__simple_enum-4.snap
Due: none

Add schema-codegen metadata to Cargo.toml
  packages/cw-schema-codegen/Cargo.toml
Due: none

Simplify ts codegen test
  packages/cw-schema-codegen/tests/snapshots/typescript__codegen_snap-2.snap
  packages/cw-schema-codegen/tests/snapshots/typescript__codegen_snap-3.snap
  packages/cw-schema-codegen/tests/snapshots/typescript__codegen_snap-4.snap
  packages/cw-schema-codegen/tests/snapshots/typescript__codegen_snap-5.snap
  packages/cw-schema-codegen/tests/snapshots/typescript__codegen_snap.snap
  packages/cw-schema-codegen/tests/typescript.rs
  packages/cw-schema-codegen/tests/utils.rs
Due: none

Fix Rust codegen Binary type
  packages/cw-schema-codegen/src/rust/mod.rs
Due: none

Simplify rust e2e test for schema codegen
  packages/cw-schema-codegen/src/typescript/mod.rs
  packages/cw-schema-codegen/tests/rust-e2e/src/gen.rs
  packages/cw-schema-codegen/tests/rust-e2e/src/main.rs
  packages/cw-schema-codegen/tests/rust.rs
Due: none

Add CW 3.0 to MIGRATING.md
  MIGRATING.md
Due: none

Fix changelog link
  CHANGELOG.md
Due: none

Minor fixes.
  Cargo.toml
  IBC.md
  README.md
  deny.toml
Due: none

Unified security policy.
  SECURITY.md
Due: none

fix: correct malformed crates.io links in crypto README
  packages/crypto/README.md
Due: cosmwasm-crypto

Updated copyright notice.
  NOTICE
Due: none

Removed CircleCI configuration.
  .circleci/config.yml
Due: none

Removed autoformatting MarkDown, YAML and TOML files.
  .github/workflows/autofix.yml
Due: none

Added workflow for updating schemas.
  .github/workflows/schemas.yml
Due: none
