Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Contract cleanup
  contracts/ibc-reflect-send/src/ibc.rs
  contracts/ibc-reflect-send/tests/integration.rs
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/tests/integration.rs
  packages/std/src/ibc.rs
Due: cosmwasm-std

Properly build ibcv3 wasm contract
  contracts/ibc-reflect/Cargo.toml
  contracts/ibc-reflect/src/contract.rs
  packages/std/src/exports.rs
Due: cosmwasm-std

Update cosmwasm-vm to support ibcv3 types
  packages/vm/Cargo.toml
  packages/vm/src/calls.rs
  packages/vm/src/testing/calls.rs
Due: none

Unify VM parsing for ibcv3 and ibcv1 into one option struct
  contracts/ibc-reflect/src/contract.rs
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/vm/src/calls.rs
  packages/vm/src/testing/calls.rs
Due: cosmwasm-std

Add ibcv3 feature, where connect returns version string
  packages/std/Cargo.toml
  packages/std/src/exports.rs
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

ibcv3: Expose relayer in various IbcPacket***Msg types
  packages/std/src/ibc.rs
  packages/std/src/mock.rs
Due: cosmwasm-std

Change feature flag to ibc3, no extra feature in vm
  contracts/ibc-reflect/Cargo.toml
  packages/std/Cargo.toml
  packages/std/src/ibc.rs
  packages/std/src/mock.rs
  packages/vm/Cargo.toml
Due: cosmwasm-std

Change struct name and add changelog entry
  CHANGELOG.md
  contracts/ibc-reflect/src/contract.rs
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/vm/src/calls.rs
  packages/vm/src/testing/calls.rs
Due: cosmwasm-std

Update schema
  contracts/ibc-reflect/schema/packet_msg.json
Due: none

Move changelog entry to Unreleased section
  CHANGELOG.md
Due: none

Set version: 1.0.0
  CHANGELOG.md
  Cargo.lock
  MIGRATING.md
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Fix CHANGELOG links [skip ci]
  CHANGELOG.md
Due: none

Demo deny_unknown_fields
  contracts/burner/schema/migrate_msg.json
  contracts/burner/src/msg.rs
Due: none

Upgrade crossbeam-utils to 0.8.8
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
Due: none

Upgrade crossbeam-deque
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
Due: none

schema: introduce CosmWasm IDL
  Cargo.lock
  packages/schema/Cargo.toml
  packages/schema/src/idl.rs
  packages/schema/src/lib.rs
Due: cosmwasm-schema

Add one constructor for Uint types
  CHANGELOG.md
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Add couple tests despite I shouldn't probablt add them
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Organize uint new/zero/one tests
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Add `abs_diff` function for math package
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

code hash
  contracts/hackatom/src/contract.rs
  packages/std/src/mock.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/types.rs
  packages/vm/src/testing/mock.rs
Due: cosmwasm-std

Add const ident for possible struct and remove Into<T>
  packages/std/src/math/decimal.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Use manual implementation of abs_diff instead of native
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Use lasted version of wasmer (2.2.1 -> 2.3.0)
  Cargo.lock
  packages/profiler/Cargo.toml
  packages/profiler/src/operators.rs
  packages/vm/Cargo.toml
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: none

MAX_WASM_MEMORY off by one error.
  packages/vm/src/wasm_backend/store.rs
Due: none

Add CHANGELOG entry for abs_diff
  CHANGELOG.md
Due: none

Change storage cargo toml
  Cargo.lock
  packages/storage/Cargo.toml
Due: cosmwasm-storage

Change cargo toml's default not to include iterator
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-std, cosmwasm-storage

Implement From<Decimal> for Decimal256
  CHANGELOG.md
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

schema: add placeholder test for IDL
  Cargo.lock
  packages/schema/Cargo.toml
  packages/schema/src/idl.rs
  packages/schema/src/lib.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

schema: include query responses in IDL
  packages/schema/src/idl.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

schema: add more msgs to IDL
  packages/schema/src/idl.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

schema: add error type to IDL
  packages/schema/src/idl.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

schema: IDL - don't provide a way to deserialize
  Cargo.lock
  packages/schema/Cargo.toml
  packages/schema/src/idl.rs
  packages/schema/src/lib.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

schema: test IDL version number for semver compat
  packages/schema/src/idl.rs
Due: cosmwasm-schema

schema: remove errors from IDL
  packages/schema/src/idl.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

schema: rename `version` to `idl_version`
  packages/schema/src/idl.rs
Due: cosmwasm-schema

schema: IDL render errors
  packages/schema/Cargo.toml
  packages/schema/src/idl.rs
Due: cosmwasm-schema

hackatom: example API export
  Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/hackatom/examples/schema.rs
  contracts/hackatom/schema/api.json
  contracts/hackatom/src/lib.rs
Due: none

update contracts
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/examples/schema.rs
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/schema/src/idl.rs
Due: cosmwasm-schema
