Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Updated CHANGELOG.md for version v2.2.3
  CHANGELOG.md
Due: none

Published version v2.2.3
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/nested-contracts/Cargo.lock
  contracts/nested-contracts/Cargo.toml
  contracts/nested-contracts/inner-contract/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
Due: none

Added manual workflow dispatch.
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
Due: none

Unified GH actions versions.
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
  devtools/check-contracts.sh
  devtools/update-schemas.sh
Due: none

Unified maintanance tools.
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
  Taskfile.yml
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/nested-contracts/Cargo.toml
  contracts/nested-contracts/inner-contract/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
  devtools/check-contracts.sh
  devtools/clean-contracts.sh
  devtools/update-schemas.sh
  packages/schema/src/remove.rs
Due: cosmwasm-schema

core: assert BLS12-381 generator length invariants
  packages/core/tests/test_bls12_381.rs
Due: none

Update state.rs
  contracts/ibc-reflect-send/src/state.rs
Due: none

Update state.rs
  contracts/ibc-reflect/src/state.rs
Due: none

chore: improve code comments clarity
  packages/vm/src/imports.rs
Due: cosmwasm-vm

Update contract.rs
  contracts/crypto-verify/src/contract.rs
Due: none

Assert BLS12-381 generator length invariants (#2586)
  packages/core/tests/test_bls12_381.rs
Due: none

chore: replace manual modulo checks with is multiple of
  packages/crypto/src/bls12_381/aggregate.rs
  packages/crypto/src/bls12_381/pairing.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-crypto, cosmwasm-std

chore: fix some typos
  packages/std/src/results/events.rs
  packages/std/src/traits.rs
  packages/vm/src/modules/pinned_memory_cache.rs
Due: cosmwasm-std, cosmwasm-vm

Fix some typos (#2591)
  packages/std/src/results/events.rs
  packages/std/src/traits.rs
  packages/vm/src/modules/pinned_memory_cache.rs
Due: cosmwasm-std, cosmwasm-vm

Updated schemas.
  contracts/reflect/schema/cw_schema/raw/response_to_sub_msg_result.json
  contracts/reflect/schema/cw_schema/reflect.json
  contracts/reflect/schema/raw/response_to_sub_msg_result.json
  contracts/reflect/schema/reflect.json
Due: none

Clarify ed25519 batch benchmark comment
  packages/crypto/benches/main.rs
Due: cosmwasm-crypto

test: remove unused schema snapshot
  packages/cw-schema/tests/snapshots/basic__snapshot_jsonschema.snap
Due: none

Updated MIGRATING.md
  MIGRATING.md
Due: none

Updated MIGRATING.md (#2595)
  MIGRATING.md
Due: none

Fix typos and redundant naming
  packages/vm/benches/main.rs
  packages/vm/src/environment.rs
Due: cosmwasm-vm

Fix typos and redundant naming (#2596)
  packages/vm/benches/main.rs
  packages/vm/src/environment.rs
Due: cosmwasm-vm

Update README.md
  README.md
Due: none

Moved header links to the end of file.
  CHANGELOG.md
Due: none

Refactored Unreleased section.
  CHANGELOG.md
Due: none

Added changes for version v2.3.0
  CHANGELOG.md
Due: none

Added changes fo versions v2.2.2 and v2.2.1
  CHANGELOG.md
Due: none

Formatting.
  CHANGELOG.md
Due: none

Added changes for version v2.2.3.
  CHANGELOG.md
Due: none

Updated CHANGELOG (#2598)
  CHANGELOG.md
Due: none

Aligned CHANGELOG with the version on main branch.
  CHANGELOG.md
Due: none

Aligned CHANGELOG with the verion on main barnch.
  CHANGELOG-pre-1.0.0.md
  CHANGELOG.md
Due: none

Renamed the old changelog file.
  CHANGELOG-pre-1.0.0.md
Due: none

Update README.md (#2597)
  README.md
Due: none

Updated Telegram link.
  README.md
Due: none

Fixed typos.
  README.md
  packages/crypto/Cargo.toml
  packages/vm/Cargo.toml
  packages/vm/README.md
Due: cosmwasm-crypto, cosmwasm-vm

Aligned CHANGELOG with the version on main branch (#2599)
  CHANGELOG-pre-1.0.0.md
  CHANGELOG.md
Due: none

Aligned CHANGELOG with the verion on main barnch. (#2600)
  CHANGELOG-pre-1.0.0.md
  CHANGELOG.md
Due: none

Updated Telegram link. (#2601)
  README.md
Due: none

Fixed typos. (#2602)
  README.md
  packages/crypto/Cargo.toml
  packages/vm/Cargo.toml
  packages/vm/README.md
Due: cosmwasm-crypto, cosmwasm-vm

Path conditions:
  cosmwasm-check: any of: packages/check/
  cosmwasm-crypto: any of: packages/crypto/
  cosmwasm-derive: any of: packages/derive/
  cosmwasm-schema: any of: packages/schema/
  cosmwasm-schema-derive: any of: packages/schema-derive/
  cosmwasm-std: any of: packages/std/
  cosmwasm-vm: any of: packages/vm/
  cosmwasm-vm-derive: any of: packages/vm-derive/
