Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Add test for left and right shifts
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Fix checked_shr and checked_shl for Uint128
  packages/std/src/math/uint128.rs
Due: cosmwasm-std

Add checked_shl and checked_shr to Uint64
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Add changelog entry
  CHANGELOG.md
Due: none

Coin uses same output for Debug as Display
  packages/std/src/coin.rs
Due: cosmwasm-std

Update packages/std/src/math/decimal.rs
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

Fix CHANGELOG formatting
  CHANGELOG.md
Due: none

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Update packages/std/src/math/decimal256.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Fix formatting
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Changed format as per PR review
  CHANGELOG.md
  packages/std/src/coin.rs
Due: cosmwasm-std

Add bps conversion to Decimal and Decimal256
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Update CHANGELOG
  CHANGELOG.md
Due: none

Add Timestamp::{plus,minus}_{minutes, hours, days}
  packages/std/src/timestamp.rs
Due: cosmwasm-std

Set version: 1.2.7
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Update changelog
  CHANGELOG.md
Due: none

Highlight Sign-extension operations in Gatekeeper
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: none

Add FromStr implementation for Coin, closes #1575
  packages/std/src/coin.rs
Due: cosmwasm-std

Add special error type for Coin's FromStr
  packages/std/src/coin.rs
  packages/std/src/errors/mod.rs
  packages/std/src/errors/std_error.rs
Due: cosmwasm-std

Swap expected and actual value in assertions
  packages/std/src/coin.rs
Due: cosmwasm-std

Fix lint
  packages/std/src/coin.rs
Due: cosmwasm-std

Check for missing amount when parsing Coin
  packages/std/src/coin.rs
  packages/std/src/errors/std_error.rs
Due: cosmwasm-std

Check table section
  CHANGELOG.md
  packages/vm/src/compatibility.rs
Due: none

Upgrade parity-wasm to 0.45
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
Due: none

Remove unnecessary vector clone
  packages/vm/src/compatibility.rs
Due: none

Only create BTreeSet of names for the error message
  packages/vm/src/compatibility.rs
Due: none

Limit number of imports during static validation
  CHANGELOG.md
  packages/vm/src/compatibility.rs
Due: none

Add target_id
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add target_id to modules path
  Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
Due: none

Make modules_path_works test Windows complient
  packages/vm/src/modules/file_system_cache.rs
Due: none

Refactor FileSystemCache::new to only have one ending
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add .wasm file extension to wasm files, fixes #1665
  packages/vm/src/cache.rs
Due: none

Bump MODULE_SERIALIZATION_VERSION to v6
  CHANGELOG.md
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add helper to Coins
  packages/std/src/coins.rs
Due: cosmwasm-std

Apply suggestions from code review
  packages/std/src/coins.rs
Due: cosmwasm-std

Add extend method for Coins
  packages/std/src/coins.rs
Due: cosmwasm-std

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
