Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

fixes:
  - "/root/project/::" # reduce root, e.g. "/root/project/path/" => "path/"

flags:
  cosmwasm-check:
    paths:
      - packages/check/
  #cosmwasm-core:
  #  paths:
  #    - packages/core/
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-schema-derive:
    paths:
      - packages/schema-derive/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-vm:
    paths:
      - packages/vm/
  cosmwasm-vm-derive:
    paths:
      - packages/vm-derive/

Refactored tests for cosmwasm-check.
  Taskfile.yml
  packages/check/tests/cosmwasm_check_tests.rs
Due: cosmwasm-check

Refactored tests for cosmwasm-check. (#2619)
  Taskfile.yml
  packages/check/tests/cosmwasm_check_tests.rs
Due: cosmwasm-check

Replaced deprecated code of assert_cmd (#2617)
  Cargo.lock
  packages/check/Cargo.toml
  packages/check/tests/cosmwasm_check_tests.rs
Due: cosmwasm-check

Replaced depracated code of assect_cmd. (#2618)
  Cargo.lock
  packages/check/Cargo.toml
  packages/check/tests/cosmwasm_check_tests.rs
Due: cosmwasm-check

Refactored tests for cosmwasm-check.
  packages/check/tests/cosmwasm_check_tests.rs
Due: cosmwasm-check

Refactored tests for cosmwasm-check. (#2620)
  packages/check/tests/cosmwasm_check_tests.rs
Due: cosmwasm-check

Refactored tests for cosmwasm-check. (#2621)
  packages/check/tests/cosmwasm_check_tests.rs
Due: cosmwasm-check

Initial chamges.
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
  Taskfile.yml
  contracts/cyberpunk/tests/integration.rs
  contracts/floaty/src/floats.rs
  devtools/check-contracts.sh
  devtools/update-schemas.sh
  packages/cw-schema/tests/snapshots/non_static__non_static_schema.snap
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: cosmwasm-vm

Fixed clippy warnings.
  packages/crypto/src/bls12_381/aggregate.rs
  packages/crypto/src/bls12_381/pairing.rs
  packages/crypto/tests/bls12_381.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-crypto, cosmwasm-std

Added clippy to all checks.
  Taskfile.yml
Due: none

Updated workflows.
  .github/workflows/contracts.yml
Due: none

Updates.
  Cargo.lock
  Taskfile.yml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  devtools/check-contracts.sh
  packages/vm/Cargo.toml
Due: cosmwasm-vm

Fix Rust comment typos
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Fixed tests.
  packages/vm/src/modules/file_system_cache.rs
Due: cosmwasm-vm

Fix Rust comment typos (#2623)
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Fix README grammar
  contracts/ibc-reflect-send/README.md
  contracts/ibc-reflect/README.md
  packages/check/README.md
  packages/go-gen/README.md
Due: cosmwasm-check

Clarify API comments
  packages/std/src/testing/mock.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/testing/mock.rs
Due: cosmwasm-std, cosmwasm-vm

Fix README grammar (#2624)
  contracts/ibc-reflect-send/README.md
  contracts/ibc-reflect/README.md
  packages/check/README.md
  packages/go-gen/README.md
Due: cosmwasm-check

Clarify API comments (#2625)
  packages/std/src/testing/mock.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/testing/mock.rs
Due: cosmwasm-std, cosmwasm-vm

Initial changes.
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/burner/tests/integration.rs
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/crypto-verify/src/webauthn.rs
  contracts/cyberpunk/Cargo.toml
  devtools/check-contracts.sh
  devtools/update-schemas.sh
  packages/crypto/src/bls12_381/aggregate.rs
  packages/crypto/src/bls12_381/pairing.rs
  packages/crypto/tests/bls12_381.rs
  packages/go-gen/src/schema.rs
  packages/std/src/deps.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint64.rs
  packages/vm/Cargo.toml
  packages/vm/src/compatibility.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/versioning.rs
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: cosmwasm-crypto, cosmwasm-std, cosmwasm-vm

Added a task for generating HTML code coverage report.
  Taskfile.yml
Due: none

Refactored tests.
  packages/std/src/math/decimal.rs
  packages/std/tests/mod.rs
  packages/std/tests/test_math/mod.rs
  packages/std/tests/test_math/test_decimal.rs
Due: cosmwasm-std

Added tests to improve code coverage.
  packages/std/src/math/decimal.rs
  packages/std/tests/test_math/test_decimal.rs
Due: cosmwasm-std

Optimize Decimal::sqrt using ilog10
  packages/std/src/math/decimal.rs
  packages/std/src/math/uint128.rs
Due: cosmwasm-std

Added tests.
  Taskfile.yml
  packages/std/tests/test_math/test_decimal.rs
Due: cosmwasm-std

Optimize Decimal::sqrt using ilog10 (#2604)
  packages/std/src/math/decimal.rs
  packages/std/src/math/uint128.rs
Due: cosmwasm-std

Added test.
  Taskfile.yml
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

Added tests.
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

Improved code coverage for `decimal.rs` (#2628)
  Taskfile.yml
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

Applied changes from main.
  packages/std/src/math/decimal.rs
  packages/std/src/math/uint128.rs
  packages/std/tests/test_math/test_decimal.rs
Due: cosmwasm-std

Refactored tests for `decimal.rs` (#2626)
  packages/std/src/math/decimal.rs
  packages/std/tests/mod.rs
  packages/std/tests/test_math/mod.rs
  packages/std/tests/test_math/test_decimal.rs
Due: cosmwasm-std

Optimize Decimal256::sqrt using ilog10
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint256.rs
Due: cosmwasm-std

Optimize Decimal256::sqrt using ilog10 (#2629)
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint256.rs
Due: cosmwasm-std

Refactored tests for Decimal256.
  packages/std/src/math/decimal256.rs
  packages/std/tests/test_math/mod.rs
  packages/std/tests/test_math/test_decimal256.rs
Due: cosmwasm-std

Refactored tests for Decimal256. (#2631)
  packages/std/src/math/decimal256.rs
  packages/std/tests/test_math/mod.rs
  packages/std/tests/test_math/test_decimal256.rs
Due: cosmwasm-std

Improved code coverage for decimal256.
  Taskfile.yml
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/tests/test_math/test_decimal.rs
  packages/std/tests/test_math/test_decimal256.rs
Due: cosmwasm-std

Short-circuit zero results in decimal from_atomics
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/std/tests/test_math/test_decimal.rs
  packages/std/tests/test_math/test_decimal256.rs
Due: cosmwasm-std

Updated schemas.
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/cw_schema/raw/execute.json
  contracts/reflect/schema/cw_schema/reflect.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  contracts/staking/schema/cw_schema/raw/instantiate.json
  contracts/staking/schema/cw_schema/raw/response_to_investment.json
  contracts/staking/schema/cw_schema/staking.json
  contracts/staking/schema/raw/instantiate.json
  contracts/staking/schema/raw/response_to_investment.json
  contracts/staking/schema/staking.json
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Clarify WasmMsg instantiate comments
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std
