Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Upgrade assert_cmd
  Cargo.lock
  packages/check/Cargo.toml
Due: none

Implement missing From conversions for Int512
  packages/std/src/math/conversion.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/mod.rs
Due: cosmwasm-std

Implement const fn to convert i128 to Int256
  packages/std/src/math/int256.rs
Due: cosmwasm-std

Add test for grow_be_int
  packages/std/src/math/conversion.rs
Due: cosmwasm-std

Add TryFrom impl to convert bigger to smaller ints
  packages/std/src/math/conversion.rs
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int64.rs
Due: cosmwasm-std

Fix clippy
  packages/std/src/math/int128.rs
Due: cosmwasm-std

Improve shrink_be_int readability
  packages/std/src/math/conversion.rs
Due: cosmwasm-std

Improve docs
  packages/std/src/math/conversion.rs
Due: cosmwasm-std

Add missing TryFrom integer conversions
  packages/std/src/math/int128.rs
  packages/std/src/math/int64.rs
Due: cosmwasm-std

Add changelog entry
  CHANGELOG.md
Due: none

Require cosmwasm-vm and cosmwasm-std to match cosmwasm-check version
  CHANGELOG.md
  packages/check/Cargo.toml
Due: none

Move pre 1.0.0 CHANGELOG to separate file
  CHANGELOG-pre1.0.0.md
  CHANGELOG.md
Due: none

Fix shrink_be_int bounds check
  packages/std/src/math/conversion.rs
Due: cosmwasm-std

Add is_negative fn to signed ints
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
Due: cosmwasm-std

Add missing checked_multiply_ratio implementations
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int64.rs
Due: cosmwasm-std

Add missing TryFrom impls for Uint64
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Add missing unsigned int to signed int conversions
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
Due: cosmwasm-std

Simplify TryFrom impls
  packages/std/src/math/conversion.rs
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Add signed to unsigned TryFroms
  packages/std/src/math/conversion.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Fix unused imports
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Fix test
  packages/std/src/math/uint128.rs
Due: cosmwasm-std

Add static assertions
  Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/math/conversion.rs
Due: cosmwasm-std

Fix Cargo.lock files
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Add TryFrom tests
  packages/std/src/math/conversion.rs
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/mod.rs
  packages/std/src/math/num_consts.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Fix import
  packages/std/src/math/conversion.rs
Due: cosmwasm-std

attempt to support secp256r1
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/README.md
  packages/crypto/benches/main.rs
  packages/crypto/src/lib.rs
  packages/crypto/src/secp256k1.rs
  packages/crypto/src/secp256r1.rs
  packages/crypto/testdata/secp256r1_tests.json
  packages/std/src/imports.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: cosmwasm-crypto, cosmwasm-std

nit
  packages/crypto/src/secp256k1.rs
Due: cosmwasm-crypto

Add link to CHANGELOG from GitHub Release notes
  .circleci/config.yml
Due: none

Fixed clippy warnings.
  packages/vm/benches/main.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: none

Fixed clippy warnings.
  packages/go-gen/src/schema.rs
  packages/std/src/addresses.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Spellings.
  packages/std/src/errors/system_error.rs
Due: cosmwasm-std

Applied lint suggestions.
  packages/go-gen/src/schema.rs
Due: none

Fixed Description.
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Fixed description.
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Removed usages of Addr deprecated functions.
  packages/std/src/addresses.rs
  packages/std/src/assertions.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Removed dependencies from deprecated code.
  contracts/hackatom/src/contract.rs
  contracts/staking/src/contract.rs
  contracts/virus/src/contract.rs
Due: none
