Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Update schemas to doc changes
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
Due: none

Improve comments on high/low-S handling
  packages/crypto/src/secp256k1.rs
Due: cosmwasm-crypto

Improve some test code
  packages/crypto/src/secp256k1.rs
Due: cosmwasm-crypto

Debug impl for Decimal256 uses decimal output.
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Include type in Debug output
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Improve decimal{,256}_implements_debug test code
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Add to_uint_floor, to_uint_ceil
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Add unit tests
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

fix(std): add alloc imports to staking
  packages/std/src/query/staking.rs
Due: cosmwasm-std

Add std to cosmwasm-std in contracts
  contracts/cyberpunk/Cargo.toml
  contracts/hackatom/Cargo.toml
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.toml
  packages/std/src/exports.rs
  packages/std/src/imports.rs
  packages/std/src/memory.rs
  packages/std/src/panic.rs
Due: cosmwasm-std

Fix no_std dependencies
  Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/deps.rs
  packages/std/src/errors/recover_pubkey_error.rs
  packages/std/src/errors/verification_error.rs
  packages/std/src/lib.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/mod.rs
  packages/std/src/serde.rs
  packages/std/src/storage.rs
  packages/std/src/testing/mod.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Fix all features for no_std
  Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Fix CI for no_std
  .circleci/config.yml
  packages/std/src/exports.rs
  packages/std/src/imports.rs
  packages/std/src/lib.rs
  packages/std/src/memory.rs
Due: cosmwasm-std

Fix CI and dependency resolver
  .circleci/config.yml
  CHANGELOG.md
  packages/std/Cargo.toml
  packages/std/src/lib.rs
  packages/std/src/memory.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/testing/mock.rs
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-std, cosmwasm-storage

Fix CHANGELOG.md
  CHANGELOG.md
Due: none

Add `no_std` target to CI
  .circleci/config.yml
  packages/std/src/ibc.rs
Due: cosmwasm-std

Implement to_uint_ceil without modulo operation
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Test to_uint_floor for value < 1
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Test compatibility with old workaround
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Fix virus instantiation
  contracts/virus/src/contract.rs
Due: none

Add CHANGELOG entry for to_uint_floor/to_uint_ceil [ci skip]
  CHANGELOG.md
Due: none

Set version: 1.2.1
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Add type-safe unwrap example
  packages/std/src/never.rs
Due: cosmwasm-std

Upgrade `no_std` to 1.3
  packages/std/Cargo.toml
  packages/std/src/addresses.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/errors/verification_error.rs
  packages/std/src/lib.rs
  packages/std/src/math/uint128.rs
  packages/std/src/query/wasm.rs
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Expose CheckedMultiplyFractionError publicly
  packages/std/src/lib.rs
Due: cosmwasm-std

Fix backtraces feature
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/src/lib.rs
  packages/std/src/lib.rs
  packages/vm/src/lib.rs
Due: cosmwasm-crypto, cosmwasm-std

Revert package names (#10)
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  packages/crypto/Cargo.toml
  packages/crypto/README.md
  packages/derive/Cargo.toml
  packages/std/Cargo.toml
  packages/std/README.md
  packages/std/examples/schema.rs
  packages/std/src/addresses.rs
  packages/std/src/assertions.rs
  packages/std/src/binary.rs
  packages/std/src/coin.rs
  packages/std/src/hex_binary.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
  packages/std/src/query/mod.rs
  packages/std/src/results/contract_result.rs
  packages/std/src/results/response.rs
  packages/std/src/results/submessages.rs
  packages/std/src/results/system_result.rs
  packages/std/src/testing/mock.rs
  packages/std/src/timestamp.rs
  packages/std/src/traits.rs
  packages/std/src/types.rs
  packages/storage/Cargo.toml
  packages/storage/README.md
  packages/storage/src/type_helpers.rs
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-std, cosmwasm-storage

Bump versions to 1.1.9 (#11)
  Cargo.lock
  contracts/hackatom/Cargo.lock
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Fix backtraces feature
  packages/crypto/Cargo.toml
  packages/crypto/src/lib.rs
  packages/std/src/lib.rs
Due: cosmwasm-crypto, cosmwasm-std

Add update_crate script
  devtools/update_crate.sh
Due: none

Update schemars to 0.8.12
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Re-generate schemas
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
Due: none

Upgrade clippy job to Rust 1.67.1
  .circleci/config.yml
Due: none

Add CHANGELOG entry for CheckedMultiplyFractionError
  CHANGELOG.md
Due: none

Add mocking capabilities for ibc querying
  packages/std/src/testing/mock.rs
Due: cosmwasm-std
