Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

provide msgpack serialization in `std`
  Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/binary.rs
  packages/std/src/hex_binary.rs
  packages/std/src/lib.rs
  packages/std/src/msgpack.rs
Due: cosmwasm-std

style
  packages/std/src/msgpack.rs
Due: cosmwasm-std

update lockfiles
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

msgpack: save structs as maps, not vectors
  packages/std/src/msgpack.rs
Due: cosmwasm-std

Checksum: compact serialization
  packages/std/src/checksum.rs
Due: cosmwasm-std

fix rmp-serde dep
  packages/std/Cargo.toml
Due: cosmwasm-std

msgpack: add test for modifying struct fields
  packages/std/src/msgpack.rs
Due: cosmwasm-std

msgpack: extra test
  packages/std/src/msgpack.rs
Due: cosmwasm-std

downgrade wat
  Cargo.lock
Due: none

Change gas
  contracts/hackatom/tests/integration.rs
  packages/vm/src/instance.rs
  packages/vm/src/wasm_backend/engine.rs
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

update test comments
  packages/std/src/msgpack.rs
Due: cosmwasm-std

Remove obsolete ecdsa dependency
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Bump k256 to ^0.13.3
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/src/secp256k1.rs
Due: cosmwasm-crypto

Resolve some conflicts
  Cargo.lock
  contracts/empty/Cargo.lock
Due: none

Backport code changes to please clippy to 1.5 branch
  contracts/burner/src/contract.rs
  contracts/burner/tests/integration.rs
  contracts/hackatom/src/contract.rs
  contracts/hackatom/tests/integration.rs
  contracts/staking/src/contract.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/testing/assertions.rs
  packages/vm/src/cache.rs
Due: cosmwasm-std

Add CHANGELOG entry
  CHANGELOG.md
Due: none

add emojis to utf8 msgpack test
  packages/std/src/msgpack.rs
Due: cosmwasm-std

Fix failing test with RUST_BACKTRACE enabled
  packages/std/src/errors/std_error.rs
Due: cosmwasm-std

Add changelog entry
  CHANGELOG.md
Due: none

Document CustomMsg
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-schema, cosmwasm-std

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Bump module serialization version
  packages/vm/src/modules/file_system_cache.rs
Due: none

Update time crate
  Cargo.lock
  packages/vm/Cargo.toml
Due: none

Fix module version in tests
  packages/vm/src/modules/file_system_cache.rs
Due: none
