Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Updated CHANGELOG.
  CHANGELOG.md
Due: none

Fixed doc warnings.
  packages/crypto/src/secp256k1.rs
  packages/schema/src/lib.rs
  packages/std/src/addresses.rs
  packages/std/src/binary.rs
  packages/std/src/coins.rs
  packages/std/src/errors/system_error.rs
  packages/std/src/hex_binary.rs
  packages/std/src/ibc.rs
  packages/std/src/query/distribution.rs
  packages/std/src/query/staking.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/empty.rs
  packages/std/src/sections.rs
  packages/std/src/storage.rs
  packages/std/src/storage_keys/length_prefixed.rs
  packages/std/src/testing/mock.rs
  packages/std/src/testing/shuffle.rs
  packages/std/src/traits.rs
  packages/storage/src/type_helpers.rs
  packages/vm/src/backend.rs
  packages/vm/src/cache.rs
  packages/vm/src/instance.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/sections.rs
  packages/vm/src/testing/storage.rs
  packages/vm/src/wasm_backend/engine.rs
Due: cosmwasm-crypto, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Fixed schema.
  contracts/crypto-verify/schema/crypto-verify.json
  contracts/cyberpunk/schema/cyberpunk.json
Due: none

Fix test comments init -> instantiate
  packages/vm/src/cache.rs
Due: none

Reproduce bug in pin implementation
  packages/vm/src/cache.rs
Due: none

Execute instances in pin_unpin_works test
  packages/vm/src/cache.rs
Due: none

Pull out test_hackatom_instance_execution
  packages/vm/src/cache.rs
Due: none

Add test reproducing the issue
  packages/vm/src/cache.rs
Due: none

Annotate compiled module consistenly
  packages/vm/src/cache.rs
Due: none

Fix misuse of Module
  packages/vm/src/cache.rs
Due: none

Fix bug for the pin implementation
  packages/vm/src/cache.rs
Due: none

Add CHANGELOG entry for Wasmer engine regression fix
  CHANGELOG.md
Due: none

Set version: 1.4.1
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Update changelog
  CHANGELOG.md
Due: none

Fix docs.rs features
  packages/std/Cargo.toml
Due: cosmwasm-std

Fix typo
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add .module file extension
  packages/vm/src/modules/file_system_cache.rs
Due: none

Bump module serialization version
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Set version: 1.5.0-rc.0
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Remove depreated symbols
  packages/std/src/addresses.rs
  packages/std/src/lib.rs
  packages/std/src/query/wasm.rs
  packages/std/src/results/mod.rs
  packages/std/src/results/submessages.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Fix tests
  packages/std/src/addresses.rs
  packages/std/src/assertions.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Increase resource class for coverage job
  .circleci/config.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add unmaintained warning to storage README
  packages/storage/README.md
Due: cosmwasm-storage

docs: fix typos
  IBC.md
  MIGRATING.md
  docs/simulate_riffle_shuffle.py
Due: none

Add migration docs
  MIGRATING.md
Due: none

Add migration entry for 2.0
  MIGRATING.md
Due: none

Make GasConfig non_exhaustive
  packages/vm/src/environment.rs
Due: none

correcting the info on messages/submessages ordering in semantics.md
  SEMANTICS.md
Due: none

Remove mixed uint decimal arithmetic
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Fix staking contract
  contracts/staking/src/contract.rs
Due: none

Add changelog and migrating entry
  CHANGELOG.md
  MIGRATING.md
Due: none

md formatting
  SEMANTICS.md
Due: none

Use Into<Self> for all `full_mul` impls
  packages/std/src/math/int128.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Make CacheOptions non-exhaustive
  packages/vm/benches/main.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
Due: none

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
