Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

more lints
  contracts/hackatom/examples/schema.rs
Due: none

contrat schemas
  contracts/hackatom/schema/api.json
Due: none

schema: make api.json deterministic (use BTreeMap)
  contracts/hackatom/schema/api.json
  packages/schema/src/idl.rs
Due: cosmwasm-schema

schema: raise IDL test coverage
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

schema: include contract meta in IDL
  contracts/hackatom/examples/schema.rs
  contracts/hackatom/schema/api.json
  packages/schema/src/idl.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

hackatom: provide contract name and version in schema
  contracts/hackatom/examples/schema.rs
  contracts/hackatom/src/contract.rs
Due: none

hackatom: deny unknown fields for all msgs and responses
  contracts/hackatom/schema/api.json
  contracts/hackatom/schema/execute_msg.json
  contracts/hackatom/schema/instantiate_msg.json
  contracts/hackatom/schema/migrate_msg.json
  contracts/hackatom/schema/query_msg.json
  contracts/hackatom/schema/sudo_msg.json
  contracts/hackatom/schema/verifier_response.json
  contracts/hackatom/src/msg.rs
Due: none

hackatom: name contract api hackatom.json
  contracts/hackatom/examples/schema.rs
  contracts/hackatom/schema/hackatom.json
Due: none

schema: mark IDL version 1.0.0
  contracts/hackatom/schema/hackatom.json
  packages/schema/src/idl.rs
Due: cosmwasm-schema

Modified Smart query to contain code_hash
  packages/std/src/query/wasm.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

hackatom: remove contract name/version consts
  contracts/hackatom/examples/schema.rs
  contracts/hackatom/src/contract.rs
Due: none

schema: make execute and query msgs optional
  contracts/hackatom/examples/schema.rs
  packages/schema/src/idl.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

schema: remove lifetime param from JsonApi
  packages/schema/src/idl.rs
Due: cosmwasm-schema

hackatom: style
  contracts/hackatom/examples/schema.rs
Due: none

Decimal: Implement rem/rem_assign
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

Decimal256: Implement rem/rem_assign
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Remove AllImplDecimal
  packages/std/src/math/mod.rs
Due: cosmwasm-std

Decimal/256: Tests for Rem panicking at division by zero
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Update changelog
  CHANGELOG.md
Due: none

Change naming
  packages/std/src/query/wasm.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Remove admin, rename code_hash in query, fix tests
  packages/std/schema/cosmos_msg.json
  packages/std/schema/query_request.json
  packages/std/src/mock.rs
  packages/std/src/query/wasm.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

schema: add a way to tie queries to responses
  Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/hackatom/examples/schema.rs
  contracts/hackatom/src/msg.rs
  packages/schema/src/idl.rs
  packages/schema/src/lib.rs
  packages/schema/src/query_response.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

Update contracts
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
Due: none

schema-derive: add some tests
  packages/schema-derive/src/lib.rs
Due: none

schema-derive: don't gen trait when compiling to wasm
  packages/schema-derive/src/lib.rs
Due: none

schema-derive: fix query names in api file
  contracts/hackatom/schema/hackatom.json
  packages/schema-derive/src/lib.rs
Due: none

schema-derive: remove unnecessary dep
  Cargo.lock
  packages/schema-derive/Cargo.toml
Due: none

update codecov.yaml with schema-derive
  codecov.yml
Due: none

circleci: build schema-derive
  .circleci/config.yml
Due: none

schema: derive macro for QueryResponses
  Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/hackatom/schema/hackatom.json
  contracts/hackatom/src/msg.rs
  packages/schema-derive/Cargo.toml
  packages/schema-derive/src/lib.rs
  packages/schema/Cargo.toml
  packages/schema/src/query_response.rs
Due: cosmwasm-schema

schema-derive: style
  packages/schema-derive/src/lib.rs
Due: none

schema: owned strings only for simplicity
  packages/schema-derive/src/lib.rs
  packages/schema/src/idl.rs
  packages/schema/src/query_response.rs
Due: cosmwasm-schema

schema: rename query_responses -> response_schemas
  contracts/hackatom/examples/schema.rs
  packages/schema-derive/src/lib.rs
  packages/schema/src/query_response.rs
Due: cosmwasm-schema

schema: update IDL tests
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

schema-derive: more tests
  Cargo.lock
  contracts/hackatom/Cargo.lock
  packages/schema-derive/Cargo.toml
  packages/schema-derive/src/lib.rs
Due: none

schema-derive: verify `rename_all = "snake_case"` is used
  Cargo.lock
  packages/schema-derive/Cargo.toml
  packages/schema-derive/src/lib.rs
Due: none

Revert "schema-derive: verify `rename_all = "snake_case"` is used"
  Cargo.lock
  packages/schema-derive/Cargo.toml
  packages/schema-derive/src/lib.rs
Due: none

Change system result for queries
  packages/std/src/results/system_result.rs
Due: cosmwasm-std

Revert SystemResult
  packages/std/src/results/system_result.rs
Due: cosmwasm-std

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
