Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Update CHANGELOG formatting
  CHANGELOG.md
  devtools/format_md.sh
  devtools/format_yml.sh
Due: none

Set version: 1.1.9
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Add contract folders to arm64 caching
  .circleci/config.yml
Due: none

Split into two caches: v4-arm64-workspace-... and v4-arm64-contracts-...
  .circleci/config.yml
Due: none

Upgrade serde-json-wasm to 0.5.0
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/std/Cargo.toml
Due: cosmwasm-std

Create introduction to the CosmWasm development contracts
  contracts/README.md
Due: none

Add StorageLoop, MemoryLoop, MessageLoop, AllocateLargeMemory and Panic to cyberpunk
  contracts/cyberpunk/schema/cyberpunk.json
  contracts/cyberpunk/schema/raw/execute.json
  contracts/cyberpunk/src/contract.rs
  contracts/cyberpunk/src/msg.rs
Due: none

Add Unreachable message to cyberpunk contract
  contracts/cyberpunk/schema/cyberpunk.json
  contracts/cyberpunk/schema/raw/execute.json
  contracts/cyberpunk/src/contract.rs
  contracts/cyberpunk/src/msg.rs
Due: none

Cleanup cyberpunk unreachable
  contracts/cyberpunk/src/contract.rs
Due: none

Re-build cyberpunk.wasm
  packages/vm/testdata/cyberpunk.wasm
Due: none

Test panic and unreachable
  packages/vm/src/calls.rs
Due: none

Contracts: Move all schema.rs from examples to src/bin
  contracts/burner/.cargo/config
  contracts/burner/src/bin/schema.rs
  contracts/crypto-verify/.cargo/config
  contracts/crypto-verify/src/bin/schema.rs
  contracts/cyberpunk/.cargo/config
  contracts/cyberpunk/src/bin/schema.rs
  contracts/floaty/.cargo/config
  contracts/floaty/src/bin/schema.rs
  contracts/hackatom/.cargo/config
  contracts/hackatom/src/bin/schema.rs
  contracts/ibc-reflect-send/.cargo/config
  contracts/ibc-reflect-send/src/bin/schema.rs
  contracts/ibc-reflect/.cargo/config
  contracts/ibc-reflect/src/bin/schema.rs
  contracts/queue/.cargo/config
  contracts/queue/src/bin/schema.rs
  contracts/reflect/.cargo/config
  contracts/reflect/src/bin/schema.rs
  contracts/staking/.cargo/config
  contracts/staking/src/bin/schema.rs
Due: none

Remove poorly maintaned schema generator from cosmwasm-std
  .circleci/config.yml
  packages/std/.cargo/config
  packages/std/examples/schema.rs
  packages/std/schema/block_info.json
  packages/std/schema/cosmos_msg.json
  packages/std/schema/query_request.json
  packages/std/schema/timestamp.json
Due: cosmwasm-std

Merged CW 1.1.9 (set to 1.1.0 on our packages)
  .github/workflows/ci.yml
Due: none

Added custom rust install action (default one is outdated)
  .github/actions/install-rust/README.md
  .github/actions/install-rust/action.yml
  .github/actions/install-rust/main.js
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: none

entry_point: add ability to provide alias for cosmwasm_std
  packages/derive/src/lib.rs
Due: cosmwasm-derive

entry_point: add ability to use alias for cosmwasm_std
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Remove sccache
  .github/workflows/lint.yml
Due: none

Move riffle_shuffle insto its own file
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
  packages/std/src/testing/shuffle.rs
Due: cosmwasm-std

Improve docs and testing
  packages/std/src/testing/mock.rs
  packages/std/src/testing/shuffle.rs
  packages/vm/src/testing/mock.rs
Due: cosmwasm-std

Increate CANONICAL_LENGTH from 54 to 90 in MockApi
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Improve error messages for BackendApi length restrictions
  packages/vm/src/testing/mock.rs
Due: none

Increase CANONICAL_LENGTH from 54 to 64 on backend MockApi
  packages/vm/src/imports.rs
  packages/vm/src/testing/mock.rs
Due: none

Add CHANGELOG entry: Increase length limit for address conversion
  CHANGELOG.md
Due: none

Hackatom: Change error case to too long and increase value to > 90 bytes
  contracts/hackatom/src/contract.rs
Due: none

Add missing cyberpunk and floaty entries to clippy config
  .circleci/config.yml
Due: none

Sort contracts alphabetically
  .circleci/config.yml
Due: none

Fix check_workspace.sh [skip ci]
  devtools/check_workspace.sh
Due: none

Add optional checksum to ContractInfoResponse
  packages/std/src/query/wasm.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Pull out check_contract CI command and check contract formatting there
  .circleci/config.yml
Due: none

Remove contracts from clippy job
  .circleci/config.yml
Due: none

Bump min Rust to 1.60.0
  .circleci/config.yml
  .github/workflows/ci.yml
Due: none

Bump cosmwasm-std version to 1.1.9 in [dev-dependencies] [skip ci]
  packages/schema/Cargo.toml
Due: cosmwasm-schema

Set version: 1.2.0-beta.0
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Rename instantiate2_address -> _instantiate2_address and mark as unstable
  CHANGELOG.md
  packages/std/src/addresses.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Organize From implementations
  packages/std/src/binary.rs
  packages/std/src/hex_binary.rs
Due: cosmwasm-std

Implement AsRef<[u8]> for Binary and HexBinary
  CHANGELOG.md
  packages/std/src/binary.rs
  packages/std/src/hex_binary.rs
Due: cosmwasm-std

Add WasmMsg::Instantiate2
  CHANGELOG.md
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect-send/schema/raw/migrate.json
  contracts/ibc-reflect-send/schema/raw/sudo.json
  contracts/ibc-reflect/schema/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/raw/migrate.json
  contracts/reflect/schema/raw/sudo.json
  contracts/reflect/schema/reflect.json
  docs/CAPABILITIES-BUILT-IN.md
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std
