Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

update `wasmer` to `2.3.0`
  Cargo.lock
  packages/profiler/Cargo.toml
  packages/profiler/src/operators.rs
  packages/vm/Cargo.toml
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: none

Update contract Cargo.lock files
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
Due: none

Update IBC.md
  IBC.md
Due: none

CHANGELOG update
  CHANGELOG.md
Due: none

CI: update MSRV from 1.56.1 to 1.59.0
  .circleci/config.yml
  .github/workflows/ci.yml
Due: none

hackatom: update argon2 test expected gas
  contracts/hackatom/tests/integration.rs
Due: none

std: make `abort` feature default
  CHANGELOG.md
  packages/std/Cargo.toml
Due: cosmwasm-std

std: make Decimal::DECIMAL_PLACES public
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

std: docs for Decimal::DECIMAL_PLACES
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

add unit test for bank query helpers
  Cargo.lock
  Cargo.toml
  contracts/bank-query/Cargo.toml
  contracts/bank-query/src/contract.rs
  contracts/bank-query/src/lib.rs
  contracts/bank-query/src/msg.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

add an entry to changelog
  CHANGELOG.md
Due: none

Update packages/std/src/query/bank.rs
  packages/std/src/query/bank.rs
Due: cosmwasm-std

clarify in comment the case if a denom doesn not exist
  packages/std/src/query/bank.rs
Due: cosmwasm-std

add a unit test for querying the supply of a non-existing denom
  packages/std/src/mock.rs
Due: cosmwasm-std

revert changes made to `Cargo.toml` (not supposed to be pushed)
  Cargo.lock
  Cargo.toml
Due: none

remove a contract unintentionally pushed (only used for local testing)
  contracts/bank-query/Cargo.toml
  contracts/bank-query/src/contract.rs
  contracts/bank-query/src/lib.rs
  contracts/bank-query/src/msg.rs
Due: none

format changelog
  CHANGELOG.md
Due: none

revert unintential changes made to `Cargo.toml`
  Cargo.lock
Due: none

update schema
  contracts/reflect/schema/query_msg.json
  packages/std/schema/query_request.json
Due: cosmwasm-std

updat schema
  contracts/reflect/schema/reflect.json
Due: none

Uint/Decimal: Implement const MIN
  CHANGELOG.md
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Decimal/256: Implement checked_div_euclid
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Decimal/256: Implement checked_div_euclid
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Update changelog
  CHANGELOG.md
Due: none

Decimal: Remove unnecessarily added testcases
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

bump `interface_version` to 9
  packages/std/src/exports.rs
  packages/vm/README.md
  packages/vm/src/compatibility.rs
Due: cosmwasm-std

Fix cosmwasm-vm tests on windows
  Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/benches/main.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/static_analysis.rs
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/testdata/floaty_windows.wasm
  packages/vm/testdata/hackatom_windows.wasm
  packages/vm/testdata/ibc_reflect_windows.wasm
Due: none

update CHANGELOG regarding `interface_version_9`
  CHANGELOG.md
Due: none

CI: upload grcov coverage including branch data
  .circleci/config.yml
Due: none

`s/handle/execute/` in `entry_point!` docs
  packages/derive/src/lib.rs
Due: cosmwasm-derive

update README.md
  README.md
Due: none

Plaintext log shouldn't be encrypted
  packages/std/src/results/events.rs
Due: cosmwasm-std

Don't skip serialization of encrypted field
  packages/std/src/results/events.rs
Due: cosmwasm-std

Bump k256
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/src/identity_digest.rs
  packages/crypto/src/secp256k1.rs
Due: cosmwasm-crypto

Update contracts lock files
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
Due: none

chore: use serde_json instead of serde_json_wasm
  Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/ibc.rs
  packages/std/src/serde.rs
Due: cosmwasm-std

Uint256/512: Implement checked_div_euclid
  CHANGELOG.md
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Update CHANGELOG
  CHANGELOG.md
Due: none
