Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Write up API functions
  packages/crypto/src/bls12_318/hash.rs
  packages/std/Cargo.toml
  packages/std/src/imports.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: cosmwasm-crypto, cosmwasm-std

Add cases for empty lists
  packages/core/src/errors/verification_error.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/errors.rs
  packages/std/src/imports.rs
Due: cosmwasm-crypto, cosmwasm-std

Add aggregate verify tests
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Specific error cases on point aggregation
  packages/core/src/errors/mod.rs
  packages/core/src/errors/recover_pubkey_error.rs
  packages/core/src/errors/verification_error.rs
  packages/core/src/lib.rs
  packages/crypto/src/bls12_318/aggregate.rs
  packages/crypto/src/errors.rs
  packages/crypto/src/lib.rs
  packages/crypto/tests/bls12_381.rs
  packages/std/src/imports.rs
  packages/vm/src/imports.rs
Due: cosmwasm-crypto, cosmwasm-std

Remove raw `pairing_equality` function
  CHANGELOG.md
  contracts/crypto-verify/src/bls12_381.rs
  packages/crypto/benches/main.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/lib.rs
  packages/crypto/tests/bls12_381.rs
  packages/std/src/imports.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: cosmwasm-crypto, cosmwasm-std

Add generator tests
  packages/crypto/src/bls12_318/points.rs
Due: cosmwasm-crypto

Constants for success
  packages/vm/src/imports.rs
Due: none

Remove ark-bls12-381 from crypto-verify contract
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
Due: none

Remove _COMPRESSED from BLS points
  contracts/crypto-verify/src/bls12_381.rs
  packages/crypto/benches/main.rs
  packages/crypto/src/bls12_318/constants.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/src/lib.rs
  packages/crypto/tests/bls12_381.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-crypto, cosmwasm-std

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix compile-error on WASM
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/src/bls12_318/hash.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/lib.rs
Due: cosmwasm-crypto

Replace `.clone_from_slice` with `.copy_from_slice`
  packages/crypto/src/bls12_318/aggregate.rs
  packages/crypto/src/bls12_318/points.rs
Due: cosmwasm-crypto

Move constants, add sources
  packages/crypto/src/bls12_318/constants.rs
  packages/crypto/src/bls12_318/mod.rs
Due: cosmwasm-crypto

Gate tests behind `std` feature
  packages/crypto/src/bls12_318/constants.rs
Due: cosmwasm-crypto

Update lockfiles
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Refactor contract tests
  contracts/crypto-verify/schema/crypto-verify.json
  contracts/crypto-verify/schema/raw/query.json
  contracts/crypto-verify/schema/raw/response_to_verify_bls12_pairing_equality_g1.json
  contracts/crypto-verify/schema/raw/response_to_verify_bls12_pairing_equality_g2.json
  contracts/crypto-verify/src/bls12_381.rs
  contracts/crypto-verify/src/contract.rs
  contracts/crypto-verify/src/msg.rs
  contracts/crypto-verify/tests/integration.rs
Due: none

Add docs and clarifications to verify_g1/verify_g2
  contracts/crypto-verify/src/bls12_381.rs
Due: none

Update packages/crypto/src/bls12_318/hash.rs
  packages/crypto/src/bls12_318/hash.rs
Due: cosmwasm-crypto

Remove error checks about empty pairing equality
  packages/core/src/errors/verification_error.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/errors.rs
  packages/std/src/imports.rs
Due: cosmwasm-crypto, cosmwasm-std

Document bitwise OR operation
  packages/crypto/src/bls12_318/constants.rs
Due: cosmwasm-crypto

Fix changelog
  CHANGELOG.md
Due: none

Exclude go-gen from cargo-release
  packages/go-gen/Cargo.toml
Due: none

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-schema, cosmwasm-std

Fix unused import warnings
  packages/vm/src/modules/mod.rs
  packages/vm/src/wasm_backend/mod.rs
Due: none

Exclude cosmwasm-storage from cargo-release
  packages/storage/Cargo.toml
Due: cosmwasm-storage

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Adjust gas values, move out variables
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
Due: none

Port to new region system
  packages/std/src/imports.rs
Due: cosmwasm-std

Add test pairing_equality_works_for_empty_lhs
  packages/crypto/src/bls12_318/pairing.rs
Due: cosmwasm-crypto

Add workspace check on merge commit
  .github/workflows/contract.yml
  .github/workflows/workspace.yml
Due: none

Add Test workspace
  .github/workflows/workspace.yml
Due: none

Fix imports
  contracts/ibc-callbacks/src/msg.rs
  packages/std/src/exports.rs
Due: cosmwasm-std

Fix doctest
  packages/std/src/ibc/callbacks.rs
Due: cosmwasm-std

Fix import
  packages/vm/src/calls.rs
Due: none
