Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

further attempts to fix backtrace errors
  packages/std/src/errors/recover_pubkey_error.rs
  packages/std/src/errors/verification_error.rs
Due: cosmwasm-std

attempt to fix the new problems I created in the past 2 commits
  packages/std/src/errors/recover_pubkey_error.rs
  packages/std/src/errors/signing_error.rs
  packages/std/src/errors/verification_error.rs
Due: cosmwasm-std

Fix for build failure: 'expected unit struct,... found struct variant' on WasmQuery::Raw line
  packages/std/src/mock.rs
Due: cosmwasm-std

Adapt capability format docs to allow underscore
  docs/CAPABILITIES.md
Due: none

Set up a new testing contract
  contracts/tests/.cargo/config
  contracts/tests/Cargo.lock
  contracts/tests/Cargo.toml
  contracts/tests/examples/schema.rs
  contracts/tests/schema/tests.json
  contracts/tests/src/contract.rs
  contracts/tests/src/errors.rs
  contracts/tests/src/lib.rs
  contracts/tests/src/msg.rs
  contracts/tests/tests/integration.rs
Due: none

Remove argon2 test from hackatom
  Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/hackatom/src/contract.rs
  contracts/hackatom/src/msg.rs
  contracts/hackatom/tests/integration.rs
Due: none

testing contract: test the MirrorEnv endpoints
  contracts/tests/src/contract.rs
  contracts/tests/src/msg.rs
  contracts/tests/tests/integration.rs
  packages/std/src/types.rs
Due: cosmwasm-std

Remove copies of hackatom's ExecuteMsg comment
  contracts/floaty/src/msg.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

testing contract: remove unused Error variant
  contracts/tests/src/errors.rs
Due: none

Update contract schemas
  contracts/hackatom/schema/hackatom.json
  contracts/tests/examples/schema.rs
  contracts/tests/schema/tests.json
Due: none

testing contract: rename Error type
  contracts/tests/src/contract.rs
  contracts/tests/src/errors.rs
  contracts/tests/src/msg.rs
Due: none

rename the `tests` contract to `cyberpunk`
  contracts/cyberpunk/.cargo/config
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/cyberpunk/examples/schema.rs
  contracts/cyberpunk/schema/cyberpunk.json
  contracts/cyberpunk/src/contract.rs
  contracts/cyberpunk/src/errors.rs
  contracts/cyberpunk/src/lib.rs
  contracts/cyberpunk/src/msg.rs
  contracts/cyberpunk/tests/integration.rs
Due: none

style
  contracts/cyberpunk/src/contract.rs
Due: none

cyberpunk: remove unnecessary comment
  contracts/cyberpunk/src/msg.rs
Due: none

CI: test cyberpunk
  .circleci/config.yml
Due: none

fix cyberpunk integration tests
  contracts/cyberpunk/tests/integration.rs
Due: none

cyberpunk: style
  contracts/cyberpunk/src/contract.rs
Due: none

CHANGELOG: add a note about 1.0 compatibility
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

CHANGELOG: provide PR link
  CHANGELOG.md
Due: none

oops
  CHANGELOG.md
Due: none

Allow = versions in set_version.sh
  devtools/set_version.sh
Due: none

Set version: 1.1.0-rc.1
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Remove and ignore packages/schema/schema/cw20.json
  packages/schema/.gitignore
  packages/schema/schema/cw20.json
Due: cosmwasm-schema

Remove sha2 dependency from floaty
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/floaty/schema/floaty.json
  contracts/floaty/src/contract.rs
  contracts/floaty/src/msg.rs
Due: none

Upgrade sha2 to 0.10 in cosmwasm-vm
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/vm/Cargo.toml
Due: none

Upgrade sha2/sha3 in contracts
  Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
Due: none

Set version: 1.1.0-rc.2
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Implement PartialEq for `Binary` and `u8` arrays
  CHANGELOG.md
  packages/std/src/binary.rs
Due: cosmwasm-std

Adapt test and docs to remove outdated limitations
  packages/std/src/binary.rs
Due: cosmwasm-std

schema: test for accepting empty QueryMsg
  packages/schema-derive/src/cw_serde.rs
  packages/schema-derive/src/query_responses.rs
  packages/schema/src/query_response.rs
Due: cosmwasm-schema

schema: support empty QueryMsg in QueryResponses
  packages/schema/src/query_response.rs
Due: cosmwasm-schema

Set version: 1.1.0
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Set version 1.1.0 in CHANGELOG
  CHANGELOG.md
Due: none

Fix version in MIGRATING
  MIGRATING.md
Due: none

Improve CHANGELOG entries for the cosmwasm-check tool
  CHANGELOG.md
Due: none

schema-derive: support unit-like enum variants
  packages/schema/src/query_response.rs
Due: cosmwasm-schema

clippy
  packages/vm/src/compatibility.rs
Due: none

schema: more comprehensive QueryResponses test
  packages/schema/src/query_response.rs
Due: cosmwasm-schema

CHANGELOG update
  CHANGELOG.md
Due: none

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
