Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Fix test vectors reference
  packages/crypto/src/secp256r1.rs
Due: cosmwasm-crypto

format_sh
  packages/crypto/testdata/extract_sig_gen.sh
Due: cosmwasm-crypto

Allow broken utf8 / unknown lint
  packages/std/src/errors/std_error.rs
Due: cosmwasm-std

nit
  packages/crypto/src/secp256k1.rs
Due: cosmwasm-crypto

Secp256r1 plumbing / tests
  README.md
  packages/std/src/imports.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: cosmwasm-std

attempt to support secp256r1
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/README.md
  packages/crypto/benches/main.rs
  packages/crypto/src/lib.rs
  packages/crypto/src/secp256k1.rs
  packages/crypto/src/secp256r1.rs
  packages/crypto/testdata/secp256r1_tests.json
  packages/std/src/imports.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: cosmwasm-crypto, cosmwasm-std

Add secp256r1_recover_pubkey tests
  packages/crypto/src/lib.rs
  packages/crypto/src/secp256r1.rs
Due: cosmwasm-crypto

cargo fmt
  packages/crypto/src/secp256r1.rs
  packages/vm/src/imports.rs
Due: cosmwasm-crypto

Add secp256r1_verify benchmark
  packages/crypto/benches/main.rs
Due: cosmwasm-crypto

cargo schema
  contracts/crypto-verify/schema/crypto-verify.json
  contracts/crypto-verify/schema/raw/query.json
  contracts/crypto-verify/schema/raw/response_to_verify_secp256_r1_signature.json
Due: none

cargo +1.70.0 clippy
  packages/std/src/errors/std_error.rs
Due: cosmwasm-std

Fix clippy warnings
  packages/crypto/benches/main.rs
  packages/crypto/src/secp256r1.rs
Due: cosmwasm-crypto

crypto-verify verify secp256r1 integration tests
  contracts/crypto-verify/tests/integration.rs
Due: none

Add secp256r1_recover_pubkey benchmark
  packages/crypto/benches/main.rs
Due: cosmwasm-crypto

Add secp256r1_recover_pubkey
  packages/crypto/src/secp256r1.rs
Due: cosmwasm-crypto

Add crypto-verify verify secp256r1 support
  contracts/crypto-verify/src/contract.rs
  contracts/crypto-verify/src/msg.rs
Due: none

Add extra secp256r1 tests
  packages/crypto/src/secp256r1.rs
  packages/crypto/testdata/secp256r1_tests.json
Due: cosmwasm-crypto

Update contract lock files
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Add ecdsa mod
  packages/crypto/src/ecdsa.rs
  packages/crypto/src/lib.rs
  packages/crypto/src/secp256k1.rs
  packages/crypto/src/secp256r1.rs
Due: cosmwasm-crypto

cargo fmt
  packages/crypto/src/secp256r1.rs
Due: cosmwasm-crypto

Update lock file
  Cargo.lock
Due: none

Add source test vectors and extraction script for reference
  packages/crypto/testdata/186-4ecdsatestvectors/Readme.txt
  packages/crypto/testdata/186-4ecdsatestvectors/SigGen.txt
  packages/crypto/testdata/extract_sig_gen.sh
Due: cosmwasm-crypto

Improve / consolidate naming
  packages/crypto/src/secp256r1.rs
Due: cosmwasm-crypto

cargo clippy
  packages/std/src/errors/std_error.rs
  packages/std/src/results/mod.rs
  packages/vm/src/imports.rs
Due: cosmwasm-std

Update secp256[kr]1_* gas cost estimations based on CI benchs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
Due: none

Fix / improve secp256r1 verification tests
  packages/vm/src/imports.rs
Due: none

Add report curves and hashes options
  packages/crypto/testdata/extract_sig_gen.sh
Due: cosmwasm-crypto

Add secp256r1 branch to CI benchmarks
  .circleci/config.yml
Due: none

Add a couple more test vectors
  packages/crypto/src/secp256r1.rs
Due: cosmwasm-crypto

Fix / adjust supported imports checks
  packages/vm/src/compatibility.rs
Due: none

Fix rebase errors
  packages/std/src/errors/std_error.rs
  packages/vm/src/modules/mod.rs
  packages/vm/src/wasm_backend/mod.rs
Due: cosmwasm-std

Fix timings in comments
  packages/vm/src/environment.rs
Due: none

doc edit
  packages/std/src/errors/std_error.rs
  packages/std/src/hex_binary.rs
  packages/std/src/ibc.rs
  packages/std/src/query/mod.rs
Due: cosmwasm-std

Bump serde-json-wasm and bnum
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/std/Cargo.toml
Due: cosmwasm-std

Upgrade CI image to node:20.11.0-bookworm
  .circleci/config.yml
Due: none

Bump serde-json-wasm and bnum
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/std/Cargo.toml
Due: cosmwasm-std

Bump serde-json-wasm and bnum
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/std/Cargo.toml
Due: cosmwasm-std

Use bytes for reading region from wasm memory
  packages/vm/src/memory.rs
Due: none

Add doc to RegionBytes
  packages/vm/src/memory.rs
Due: none

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
