Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Add SECURITY.md [skip ci]
  SECURITY.md
Due: none

Update README.md
  README.md
Due: none

Format markdown
  README.md
Due: none

Merge pull request #1275 from rtviii/patch-2
  README.md
Due: none

Add tests for Response::add_attributes
  packages/std/src/results/response.rs
Due: cosmwasm-std

Improve add_attribute/add_attributes docs for working with optionals
  packages/std/src/results/response.rs
Due: cosmwasm-std

Upgrade Rust edition to 2021
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.toml
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.toml
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.toml
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/profiler/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/std/src/conversion.rs
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Remove all use statements for TryInto/TryFrom/FromIterator since they are in scope by default now
  contracts/crypto-verify/src/ethereum.rs
  packages/crypto/src/ed25519.rs
  packages/crypto/src/secp256k1.rs
  packages/std/src/addresses.rs
  packages/std/src/binary.rs
  packages/std/src/import_helpers.rs
  packages/std/src/iterator.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/isqrt.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
  packages/std/src/memory.rs
  packages/vm/src/cache.rs
  packages/vm/src/checksum.rs
  packages/vm/src/conversion.rs
  packages/vm/src/imports.rs
  packages/vm/src/limited.rs
  packages/vm/src/modules/versioning.rs
  packages/vm/src/static_analysis.rs
  packages/vm/src/testing/storage.rs
  packages/vm/src/wasm_backend/store.rs
Due: cosmwasm-crypto, cosmwasm-std

Update changelog
  CHANGELOG.md
Due: none

Uint64/128/256 checked multiply implementation
  packages/std/src/errors/mod.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Expose CheckedMultiplyRatio error enum in lib.rs; adjust error in tests for consistency
  packages/std/src/errors/std_error.rs
  packages/std/src/lib.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Remove brackets in CheckedMultiplyRatio error
  packages/std/src/errors/std_error.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Decimal/Decimal256: Implement checked_from_ratio
  CHANGELOG.md
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Decimal/Decimal256: Refactor checked_from_ratio implementation to use its own error type
  packages/std/src/errors/mod.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/lib.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Add link to Pair->Record renaming
  CHANGELOG.md
Due: none

Remove cosmwasm_std::Pair
  CHANGELOG.md
  packages/std/src/iterator.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Bump clippy version to 1.60.0
  .circleci/config.yml
Due: none

Add feature allow_interface_version_7
  .circleci/config.yml
  CHANGELOG.md
  packages/vm/Cargo.toml
  packages/vm/src/compatibility.rs
Due: none

Implement list of SUPPORTED_INTERFACE_VERSIONS
  packages/vm/src/compatibility.rs
Due: none

Reduce indent in tests
  packages/vm/src/compatibility.rs
Due: none

Small clarification in SEMANTICS.md about submessages error propagation
  SEMANTICS.md
Due: none

Update SEMANTICS.md
  SEMANTICS.md
Due: none

Add MIGRATING entry
  MIGRATING.md
Due: none

Test SubMsgResult::unwrap and ::unwrap_err
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

Rename SubMsgExecutionResponse to SubMsgResponse
  CHANGELOG.md
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/tests/integration.rs
  contracts/reflect/src/contract.rs
  contracts/reflect/tests/integration.rs
  packages/std/src/lib.rs
  packages/std/src/results/mod.rs
  packages/std/src/results/submessages.rs
  packages/vm/src/calls.rs
Due: cosmwasm-std

Decimal256: Implement Div/DivAssign
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Decimal: Implement DivAssign
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

Decimal: Implement division by decimal
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

Update changelog
  CHANGELOG.md
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Decimal: improve div implementation
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Decimal: Adjust div overflow error message in test to new implementation
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/mod.rs
Due: cosmwasm-std

Div implementations used checked_from_ratio now for more precise panics
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Remove unused type StargateResponse
  contracts/reflect/schema/query_msg.json
  packages/std/src/query/mod.rs
  packages/std/src/query/stargate.rs
Due: cosmwasm-std

Upgrade k256 to 0.10
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/benches/main.rs
  packages/crypto/src/secp256k1.rs
Due: cosmwasm-crypto

Change contract keys to 4 byte
  contracts/queue/src/contract.rs
Due: none

Fix cache name
  contracts/README.md
Due: none

Add me as author
  contracts/queue/Cargo.toml
Due: none

Implement Default for empty
  packages/std/src/results/empty.rs
Due: cosmwasm-std

Use singlepass by default
  contracts/queue/Cargo.toml
Due: none
