Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Update packages/crypto/tests/wycheproof_secp256k1.rs
  packages/crypto/tests/wycheproof_secp256k1.rs
Due: cosmwasm-crypto

Elaborate on "k*G has a large x-coordinate" case for secp256k1
  packages/crypto/tests/wycheproof_secp256k1.rs
Due: cosmwasm-crypto

Fix secp256r1_recover_pubkey text
  packages/crypto/src/secp256r1.rs
Due: cosmwasm-crypto

Add default implementations for secp256r1_verify/secp256r1_recover_pubkey
  CHANGELOG.md
  packages/std/src/traits.rs
Due: cosmwasm-std

Expose metrics for the pinned memory cache
  packages/vm/src/cache.rs
  packages/vm/src/modules/pinned_memory_cache.rs
Due: none

Add test
  packages/vm/src/modules/pinned_memory_cache.rs
Due: none

Add test to `heavy_metrics` function
  packages/vm/src/cache.rs
Due: none

Remove allocations from test
  packages/vm/src/cache.rs
Due: none

Rename to `PinnedMetrics`, extend tests to multiple modules
  packages/vm/src/cache.rs
Due: none

Remove `Deref` comment
  packages/vm/src/modules/pinned_memory_cache.rs
Due: none

Include the size estimate into the pinned metrics
  packages/vm/src/cache.rs
Due: none

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Export structs
  packages/vm/src/lib.rs
Due: none

Shrink buffer down to length to uphold safety invariant
  packages/std/src/memory.rs
Due: cosmwasm-std

Abstract away the source behind an unsafe trait
  packages/std/src/imports.rs
  packages/std/src/memory.rs
Due: cosmwasm-std

Remove `AsRef<[u8]>` bounds
  packages/std/src/memory.rs
Due: cosmwasm-std

Update packages/std/src/memory.rs
  packages/std/src/memory.rs
Due: cosmwasm-std

Adjust documentation
  packages/std/src/memory.rs
Due: cosmwasm-std

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update `cosmwasm-derive` and partially rewrite it
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/derive/Cargo.toml
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Update `cosmwasm-schema-derive`, improve error messages
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/schema-derive/Cargo.toml
  packages/schema-derive/src/cw_serde.rs
  packages/schema-derive/src/generate_api.rs
  packages/schema-derive/src/lib.rs
  packages/schema-derive/src/query_responses.rs
  packages/schema-derive/src/query_responses/context.rs
Due: none

Format code
  packages/schema-derive/src/query_responses.rs
Due: none

Fix changelog
  CHANGELOG.md
Due: none

Remove `manyhow` from the dependency tree
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/schema-derive/Cargo.toml
  packages/schema-derive/src/cw_serde.rs
  packages/schema-derive/src/error.rs
  packages/schema-derive/src/generate_api.rs
  packages/schema-derive/src/lib.rs
  packages/schema-derive/src/query_responses.rs
  packages/schema-derive/src/query_responses/context.rs
Due: none

Use absolute path in expansion
  packages/schema-derive/src/error.rs
Due: none

Remove `heck` dependency
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/schema-derive/Cargo.toml
  packages/schema-derive/src/query_responses.rs
Due: none

Remove turbofish
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Add snake case test back
  packages/schema-derive/src/query_responses.rs
Due: none

Bump clippy to 1.77.0
  .circleci/config.yml
  contracts/staking/src/contract.rs
  packages/std/src/testing/assertions.rs
  packages/vm/src/cache.rs
Due: cosmwasm-std

Disable 4294967296usize on non-64 bit platforms
  packages/vm/src/conversion.rs
Due: none

Make crate used in `entry_point` configurable
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Add changelog entry
  CHANGELOG.md
Due: none

Remove empty check
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
