Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-core, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Add exports feature to enable exports
  CHANGELOG.md
  contracts/cyberpunk/Cargo.toml
  contracts/hackatom/Cargo.toml
  contracts/reflect/Cargo.toml
  contracts/replier/Cargo.toml
  contracts/staking/Cargo.toml
  docs/USING_COSMWASM_STD.md
  packages/std/Cargo.toml
  packages/std/src/lib.rs
Due: cosmwasm-std

Remove zlib in coverage job
  .circleci/config.yml
Due: none

Update wasmer
  Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
Due: cosmwasm-vm

Update lockfiles
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Add comment about reference types to Gatekeeper
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: cosmwasm-vm

Compile hackatom with newer Rust
  .circleci/config.yml
Due: none

Add tests
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: cosmwasm-vm

Enable reference-types
  packages/vm/src/cache.rs
  packages/vm/src/parsed_wasm.rs
Due: cosmwasm-vm

Fix func_ref_test
  packages/vm/src/cache.rs
Due: cosmwasm-vm

Fix bulk_table_operations_not_supported test
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: cosmwasm-vm

Add cosmwasm_3_0 capability
  docs/CAPABILITIES-BUILT-IN.md
  packages/std/Cargo.toml
  packages/std/src/exports/exports.rs
  packages/std/src/query/wasm.rs
  packages/std/src/storage_keys/mod.rs
  packages/std/src/testing/mock.rs
  packages/vm/src/testing/instance.rs
Due: cosmwasm-std, cosmwasm-vm

Fix tests
  packages/go-gen/Cargo.toml
  packages/go-gen/src/schema.rs
  packages/go-gen/tests/cosmwasm_std__WasmQuery.go
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add RawRange query variant
  packages/std/src/query/wasm.rs
  packages/std/src/storage_keys/mod.rs
  packages/std/src/storage_keys/range.rs
Due: cosmwasm-std

Export RawRangeResponse
  packages/std/src/lib.rs
Due: cosmwasm-std

Fix clippy lint
  packages/std/src/storage_keys/range.rs
Due: cosmwasm-std

Support RawRangeResponse in go-gen
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
  packages/go-gen/tests/cosmwasm_std__RawRangeResponse.go
Due: none

Fix distribution test feature gate
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Add RawRangeResponse test
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

feat: Remove the generic param from CosmosMsg
  contracts/hackatom/tests/integration.rs
  contracts/ibc-reflect-send/tests/integration.rs
  contracts/ibc2/src/contract.rs
  packages/std/src/ibc.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/response.rs
  packages/std/src/results/submessages.rs
  packages/vm/benches/main.rs
  packages/vm/examples/heap_profiling.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/calls.rs
Due: cosmwasm-std, cosmwasm-vm

Bump `ring`
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Rename to `ibc2_packet_ack`
  packages/vm/src/calls.rs
  packages/vm/src/lib.rs
Due: cosmwasm-vm

Fix limits of acknowledge endpoint
  packages/vm/src/calls.rs
Due: cosmwasm-vm

Rename to "client"
  packages/std/src/ibc2.rs
Due: cosmwasm-std

Add tests
  contracts/ibc2/src/contract.rs
  contracts/ibc2/src/state.rs
  packages/std/src/exports.rs
  packages/std/src/ibc2.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
  packages/vm/src/calls.rs
  packages/vm/testdata/ibc2.wasm
Due: cosmwasm-std, cosmwasm-vm

Format
  packages/std/src/exports/exports.rs
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
  packages/vm/src/calls.rs
Due: cosmwasm-std, cosmwasm-vm

Fix issues from merge
  packages/std/src/exports/exports.rs
  packages/std/src/exports/mod.rs
  packages/vm/testdata/ibc2.wasm
Due: cosmwasm-std, cosmwasm-vm

Regenerate schema
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/response_to_query_state.json
  packages/std/src/exports/mod.rs
Due: cosmwasm-std

Run coverage with all features
  .circleci/config.yml
Due: none

Add CHANGELOG entry
  CHANGELOG.md
Due: none

feat: Add support for IBCv2 Sent entry point
  CHANGELOG.md
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/response_to_query_state.json
  contracts/ibc2/src/contract.rs
  contracts/ibc2/src/state.rs
  packages/std/src/exports/exports.rs
  packages/std/src/exports/mod.rs
  packages/std/src/ibc2.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/lib.rs
  packages/vm/src/static_analysis.rs
  packages/vm/testdata/ibc2.wasm
Due: cosmwasm-std, cosmwasm-vm

Update packages/std/src/ibc2.rs
  packages/std/src/ibc2.rs
Due: cosmwasm-std

chore: Update static analysis with ack entry point
  packages/vm/src/cache.rs
  packages/vm/src/static_analysis.rs
Due: cosmwasm-vm

chore: Update schema
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/response_to_query_state.json
Due: none

feat: Add support for IBCv2 Send entry point (#2477)
  CHANGELOG.md
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/response_to_query_state.json
  contracts/ibc2/src/contract.rs
  contracts/ibc2/src/state.rs
  packages/std/src/exports/exports.rs
  packages/std/src/exports/mod.rs
  packages/std/src/ibc2.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/lib.rs
  packages/vm/src/static_analysis.rs
  packages/vm/testdata/ibc2.wasm
Due: cosmwasm-std, cosmwasm-vm

up
  packages/vm/src/modules/in_memory_cache.rs
Due: cosmwasm-vm

docs: fix typos (#2478)
  packages/vm/src/modules/in_memory_cache.rs
Due: cosmwasm-vm

feat: Add Tx checksum to TransactionInfo and make it non exhaustive
  contracts/cyberpunk/schema/cyberpunk.json
  contracts/cyberpunk/schema/raw/response_to_mirror_env.json
  packages/std/src/query/mod.rs
  packages/std/src/testing/mock.rs
  packages/std/src/types.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/mock.rs
Due: cosmwasm-std, cosmwasm-vm

chore: Release
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-schema, cosmwasm-std, cosmwasm-vm

Path conditions:
  cosmwasm-check: any of: packages/check/
  cosmwasm-core: any of: packages/core/
  cosmwasm-crypto: any of: packages/crypto/
  cosmwasm-derive: any of: packages/derive/
  cosmwasm-schema: any of: packages/schema/
  cosmwasm-schema-derive: any of: packages/schema-derive/
  cosmwasm-std: any of: packages/std/
  cosmwasm-vm: any of: packages/vm/
  cosmwasm-vm-derive: any of: packages/vm-derive/
