Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Started development version v3.0.4-dev
  Cargo.lock
  Cargo.toml
Due: none

Updated dependencies in contracts.
  Taskfile.yml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Prepared development version v2.2.7-dev
  Cargo.lock
  Cargo.toml
Due: none

Fixed typos.
  EntryPoints.md
Due: none

Fixed typos.
  IBC.md
Due: none

Prepared development version v2.3.2-dev
  Cargo.lock
  Cargo.toml
Due: none

Prepared development version v3.0.4-dev
  Cargo.lock
  Cargo.toml
Due: none

Updated documentation links.
  SEMANTICS.md
Due: none

Added sync_pinned_codes function.
  packages/vm/src/cache.rs
Due: cosmwasm-vm

Updates.
  packages/vm/src/cache.rs
Due: cosmwasm-vm

Published version v2.2.7-rc.1
  Cargo.lock
  Cargo.toml
Due: none

Published version v2.3.2-rc.0
  Cargo.lock
  Cargo.toml
Due: none

Published version v3.0.4-rc.0
  Cargo.lock
  Cargo.toml
Due: none

Prepared version v2.2.7
  Cargo.lock
  Cargo.toml
Due: none

Prepared version v2.3.2
  Cargo.lock
  Cargo.toml
Due: none

Prepared version v3.0.4
  Cargo.lock
  Cargo.toml
Due: none

Updated contract dependencies.
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/nested-contracts/Cargo.lock
  contracts/nested-contracts/Cargo.toml
  contracts/nested-contracts/inner-contract/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
Due: none

Updated contracts dependencies.
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
Due: none

Updated contracts dependencies.
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/ibc2/Cargo.lock
  contracts/ibc2/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/replier/Cargo.lock
  contracts/replier/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
Due: none

Prepared development version 3.0.5-dev
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Updated CHANGELOG.
  CHANGELOG.md
Due: none

Prepared version v2.2.7 (#2611)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  EntryPoints.md
  IBC.md
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/nested-contracts/Cargo.lock
  contracts/nested-contracts/Cargo.toml
  contracts/nested-contracts/inner-contract/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
  packages/vm/src/cache.rs
Due: cosmwasm-vm

Prepared version v2.3.2 (#2612)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  EntryPoints.md
  IBC.md
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
  packages/vm/src/cache.rs
Due: cosmwasm-vm

Prepared version v3.0.4 (#2613)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  SEMANTICS.md
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/ibc2/Cargo.lock
  contracts/ibc2/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/replier/Cargo.lock
  contracts/replier/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
  packages/vm/src/cache.rs
Due: cosmwasm-vm

Updated released versions.
  README.md
Due: none

Updated released versions. (#2614)
  README.md
Due: none

feat: enable bulk memory
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: cosmwasm-vm

Replaced deprecated code
  Cargo.lock
  packages/check/Cargo.toml
  packages/check/tests/cosmwasm_check_tests.rs
Due: cosmwasm-check

Replaced deprecated code (#2616)
  Cargo.lock
  packages/check/Cargo.toml
  packages/check/tests/cosmwasm_check_tests.rs
Due: cosmwasm-check

Replaced deprecated code of assert_cmd
  Cargo.lock
  packages/check/Cargo.toml
  packages/check/tests/cosmwasm_check_tests.rs
Due: cosmwasm-check

Replaced depracated code of assect_cmd.
  Cargo.lock
  packages/check/Cargo.toml
  packages/check/tests/cosmwasm_check_tests.rs
Due: cosmwasm-check

Path conditions:
  cosmwasm-check: any of: packages/check/
  cosmwasm-crypto: any of: packages/crypto/
  cosmwasm-derive: any of: packages/derive/
  cosmwasm-schema: any of: packages/schema/
  cosmwasm-schema-derive: any of: packages/schema-derive/
  cosmwasm-std: any of: packages/std/
  cosmwasm-vm: any of: packages/vm/
  cosmwasm-vm-derive: any of: packages/vm-derive/
