Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Fix `AddAssign` implementation of `GasInfo`
  CHANGELOG.md
  packages/vm/src/backend.rs
Due: none

Create test: file_system_cache_store_uses_expected_path
  packages/vm/src/modules/file_system_cache.rs
Due: none

Bump module serialization format to v2
  CHANGELOG.md
  packages/vm/src/modules/file_system_cache.rs
Due: none

Set version: 1.0.0-beta5
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Update Wasmer to 2.1.1 and bump module serialization version
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
Due: none

Use rkyv version 0.7.31, avoiding hashbrown 0.12
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
Due: none

Update docs/GAS.md
  docs/GAS.md
Due: none

Fix 1 Teragas/second -> 1 Teragas/millisecond
  docs/GAS.md
Due: none

Improve readability of Gas docs and add section on overflow potential
  docs/GAS.md
Due: none

Set version: 0.16.4
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Set image to ubuntu-2004:202201-02 in coverage job
  .circleci/config.yml
Due: none

Improve deadlink checker
  devtools/deadlinks.py
Due: none

Fix BFT Time link
  packages/std/src/types.rs
Due: cosmwasm-std

Generate JSON Schema for BlockInfo
  packages/std/examples/schema.rs
  packages/std/schema/block_info.json
  packages/std/src/types.rs
Due: cosmwasm-std

Test vector against slice in tests
  contracts/ibc-reflect/schema/acknowledgement_msg_balances.json
  contracts/ibc-reflect/schema/acknowledgement_msg_dispatch.json
  contracts/ibc-reflect/schema/acknowledgement_msg_who_am_i.json
  packages/std/src/results/contract_result.rs
  packages/std/src/results/system_result.rs
Due: cosmwasm-std

Create dedicated SubMsgResult
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/tests/integration.rs
  contracts/reflect/src/contract.rs
  contracts/reflect/tests/integration.rs
  packages/std/src/lib.rs
  packages/std/src/results/mod.rs
  packages/std/src/results/submessages.rs
  packages/vm/src/calls.rs
Due: cosmwasm-std

Add entries to CHANGELOG and MIGRATING
  CHANGELOG.md
  MIGRATING.md
Due: none

Add tests for is_err and is_ok
  packages/std/src/results/response.rs
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

Update README.md
  README.md
Due: none

Bump MODULE_SERIALIZATION_VERSION to v3
  packages/vm/src/modules/file_system_cache.rs
Due: none

Upgrade Wasmer to 2.2.0-rc2
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/profiler/Cargo.toml
  packages/vm/Cargo.toml
Due: none

Add arm64 job to CI
  .circleci/config.yml
Due: none

Upgrade Wasmer to 2.2.0
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/profiler/Cargo.toml
  packages/vm/Cargo.toml
Due: none

Check Wasmer module version
  packages/vm/src/modules/file_system_cache.rs
Due: none

Use faster ARM image
  .circleci/config.yml
Due: none

Run integration tests on ARM
  .circleci/config.yml
Due: none

Extract versioning and add wasmer module version to folder name
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/mod.rs
  packages/vm/src/modules/versioning.rs
Due: none

Bump Wasmer dependency to 2.2.0-rc1
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/profiler/Cargo.toml
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
Due: none

Run one vm test step only
  .circleci/config.yml
Due: none

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Upgrade Wasmer to 2.2.0
  .circleci/config.yml
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/mod.rs
  packages/vm/src/modules/versioning.rs
Due: none

Fix shellcheck warning SC2220
  devtools/format_md.sh
  devtools/format_sh.sh
  devtools/format_yml.sh
Due: none

Fix shellcheck warning SC2220 [skip ci]
  devtools/format_md.sh
  devtools/format_sh.sh
  devtools/format_yml.sh
Due: none

Implement Rem for Uint{64,128,256,512}
  CHANGELOG.md
  Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Update lockfiles of contracts
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
Due: none

Add test msg for recursive calls
  contracts/hackatom/schema/execute_msg.json
  contracts/hackatom/src/contract.rs
  contracts/hackatom/src/msg.rs
Due: none

Set version: 0.16.5
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Set version: 1.0.0-beta6
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

cosmwasm_std: Decimal checked multiplication
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std
