Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

fixes:
  - "/root/project/::" # reduce root, e.g. "/root/project/path/" => "path/"

flags:
  cosmwasm-check:
    paths:
      - packages/check/
  #cosmwasm-core:
  #  paths:
  #    - packages/core/
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-schema-derive:
    paths:
      - packages/schema-derive/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-vm:
    paths:
      - packages/vm/
  cosmwasm-vm-derive:
    paths:
      - packages/vm-derive/

Use dyn CustomMsg
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/hackatom/tests/integration.rs
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/src/msg.rs
  contracts/ibc-reflect-send/tests/integration.rs
  contracts/reflect/src/contract.rs
  contracts/reflect/src/msg.rs
  contracts/reflect/tests/integration.rs
  packages/std/Cargo.toml
  packages/std/src/deps.rs
  packages/std/src/exports/exports.rs
  packages/std/src/ibc.rs
  packages/std/src/never.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/empty.rs
  packages/std/src/results/response.rs
  packages/std/src/results/submessages.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/benches/main.rs
  packages/vm/examples/heap_profiling.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/calls.rs
Due: cosmwasm-std, cosmwasm-vm

Cleanup
  packages/std/src/exports/exports.rs
  packages/std/src/ibc.rs
  packages/std/src/results/response.rs
  packages/std/src/results/submessages.rs
  packages/vm/src/calls.rs
  packages/vm/src/testing/calls.rs
Due: cosmwasm-std, cosmwasm-vm

Fix reflect contract
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/reflect/src/contract.rs
  contracts/reflect/src/msg.rs
  contracts/reflect/tests/integration.rs
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Bring back json schema support (sort of)
  packages/std/src/ibc.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/response.rs
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

cargo fmt
  packages/vm/benches/main.rs
  packages/vm/examples/heap_profiling.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/instance.rs
Due: cosmwasm-vm

Update schemas
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
Due: none

Fix lints
  packages/std/src/ibc.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/response.rs
  packages/vm/benches/main.rs
  packages/vm/examples/heap_profiling.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
Due: cosmwasm-std, cosmwasm-vm

Use impl from `typeid` crate instead of vendored hack
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/cw-schema/Cargo.toml
  packages/cw-schema/src/lib.rs
Due: none

Adjust CustomMsg schema
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Fix comment
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Add support for `default` and `skip_serializing_if` by annotating them as `Option<T>`, mute warning attribute instead of env var
  packages/cw-schema-derive/Cargo.toml
  packages/cw-schema-derive/src/expand.rs
Due: none

Remove `JsonCwApi` reexport
  packages/schema/src/lib.rs
Due: cosmwasm-schema

Remove unused result and error types
  packages/schema-derive/src/generate_api.rs
  packages/schema-derive/src/query_responses.rs
  packages/schema/src/lib.rs
  packages/schema/src/query_response.rs
Due: cosmwasm-schema, cosmwasm-schema-derive

Add tracking issue
  packages/cw-schema-derive/src/expand.rs
Due: none

Fix tests
  packages/schema-derive/src/generate_api.rs
Due: cosmwasm-schema-derive

New error type. Now with 99% less enum cases
  packages/check/src/main.rs
  packages/check/tests/cosmwasm_check_tests.rs
  packages/std/src/addresses.rs
  packages/std/src/assertions.rs
  packages/std/src/binary.rs
  packages/std/src/checksum.rs
  packages/std/src/coins.rs
  packages/std/src/encoding.rs
  packages/std/src/errors/backtrace.rs
  packages/std/src/errors/mod.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/hex_binary.rs
  packages/std/src/iterator.rs
  packages/std/src/lib.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
  packages/std/src/msgpack.rs
  packages/std/src/results/contract_result.rs
  packages/std/src/results/submessages.rs
  packages/std/src/serde.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-check, cosmwasm-std

Split Validator type for better extensibility
  packages/go-gen/tests/cosmwasm_std__AllValidatorsResponse.go
  packages/std/src/query/staking.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Fix errors in contracts, fix scripts
  contracts/burner/src/contract.rs
  contracts/crypto-verify/src/contract.rs
  contracts/crypto-verify/src/ethereum.rs
  contracts/cyberpunk/src/contract.rs
  contracts/hackatom/src/contract.rs
  contracts/ibc-callbacks/src/contract.rs
  contracts/ibc-reflect-send/src/contract.rs
  contracts/ibc-reflect-send/src/ibc.rs
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc2/src/contract.rs
  contracts/nested-contracts/Cargo.lock
  contracts/reflect/src/contract.rs
  contracts/replier/src/lib.rs
  contracts/staking/src/contract.rs
  devtools/build_min.sh
  devtools/check_contracts_full.sh
  devtools/check_contracts_medium.sh
  devtools/check_workspace.sh
  devtools/clean.sh
  devtools/clean_contracts.sh
  devtools/format_contracts.sh
  devtools/format_md.sh
  devtools/format_sh.sh
  devtools/format_yml.sh
  devtools/test_workspace.sh
  devtools/update_crate.sh
  devtools/update_schemas.sh
  packages/crypto/testdata/extract_sig_gen.sh
  packages/std/src/exports/imports.rs
  packages/std/src/lib.rs
  packages/vm/examples/module_size.sh
Due: cosmwasm-crypto, cosmwasm-std, cosmwasm-vm

Fix all contract tests
  contracts/burner/src/contract.rs
  contracts/crypto-verify/src/contract.rs
  contracts/cyberpunk/src/contract.rs
  contracts/cyberpunk/src/errors.rs
  contracts/hackatom/src/contract.rs
  contracts/hackatom/src/errors.rs
  contracts/ibc-callbacks/src/state.rs
  contracts/ibc-reflect-send/src/state.rs
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/src/state.rs
  contracts/ibc-reflect/tests/integration.rs
  contracts/reflect/src/contract.rs
  contracts/reflect/src/errors.rs
  contracts/reflect/src/state.rs
  contracts/staking/src/contract.rs
  contracts/staking/src/state.rs
  contracts/virus/src/errors.rs
  packages/std/src/errors/std_error.rs
Due: cosmwasm-std

Fix integration tests
  contracts/burner/tests/integration.rs
  contracts/crypto-verify/tests/integration.rs
  contracts/hackatom/tests/integration.rs
  contracts/nested-contracts/inner-contract/Cargo.lock
  contracts/staking/tests/integration.rs
Due: none

Encode default as `defaulting`
  contracts/burner/schema/cw_schema/burner.json
  contracts/burner/schema/cw_schema/raw/migrate.json
  contracts/cyberpunk/schema/cw_schema/cyberpunk.json
  contracts/cyberpunk/schema/cw_schema/raw/response_to_mirror_env.json
  contracts/ibc-callbacks/schema/cw_schema/ibc-callbacks.json
  contracts/ibc-callbacks/schema/cw_schema/raw/execute.json
  contracts/ibc-callbacks/schema/cw_schema/raw/response_to_callback_stats.json
  contracts/reflect/schema/cw_schema/raw/execute.json
  contracts/reflect/schema/cw_schema/raw/response_to_sub_msg_result.json
  contracts/reflect/schema/cw_schema/reflect.json
  packages/cw-schema-derive/src/expand.rs
  packages/cw-schema/src/lib.rs
Due: none

Add changelog entries
  CHANGELOG.md
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Update contracts/ibc-reflect-send/src/state.rs
  contracts/ibc-reflect-send/src/state.rs
Due: none

Update contracts/ibc-reflect/src/state.rs
  contracts/ibc-reflect/src/state.rs
Due: none

Change back sed command
  packages/crypto/testdata/extract_sig_gen.sh
Due: cosmwasm-crypto

Also check for ConversionOverflowError
  packages/std/src/errors/std_error.rs
Due: cosmwasm-std

Check for overflow
  contracts/staking/src/contract.rs
Due: none

Fix test errors
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/tests/integration.rs
  contracts/staking/src/contract.rs
Due: none

Update packages/crypto/testdata/extract_sig_gen.sh
  packages/crypto/testdata/extract_sig_gen.sh
Due: cosmwasm-crypto

Update contracts/staking/src/state.rs
  contracts/staking/src/state.rs
Due: none

Update contracts/hackatom/src/contract.rs
  contracts/hackatom/src/contract.rs
Due: none

Fix typos
  contracts/reflect/README.md
  packages/vm/src/cache.rs
Due: cosmwasm-vm

Add missing derive
  packages/std/src/query/staking.rs
Due: cosmwasm-std

Update snapshot
  packages/cw-schema/tests/snapshots/basic__snapshot_jsonschema.snap
Due: none
