Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Remove non-dangling requirement
  packages/std/src/memory.rs
Due: cosmwasm-std

Add changelog entries
  CHANGELOG.md
Due: none

Fix warnings on nightly
  Cargo.lock
  packages/go-gen/src/schema.rs
  packages/std/Cargo.toml
  packages/std/src/lib.rs
  packages/vm/Cargo.toml
  packages/vm/src/environment.rs
Due: cosmwasm-std

Manually edit lockfile version
  Cargo.lock
Due: none

Downgrade derive_more to beta
  Cargo.lock
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-std

Update lockfiles
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/nested-contracts/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-std

Add gas cost
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/memory.rs
Due: none

feat: Add TransferV2
  contracts/ibc-callbacks/schema/ibc-callbacks.json
  contracts/ibc-callbacks/schema/raw/execute.json
  contracts/ibc-callbacks/src/contract.rs
  contracts/ibc-callbacks/src/msg.rs
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  packages/go-gen/src/schema.rs
  packages/go-gen/tests/cosmwasm_std__IbcMsg.go
  packages/std/src/ibc.rs
  packages/std/src/ibc/transfer_msg_builder_v2.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Implement from_be_bytes/from_le_bytes for Uint64 and Uint128
  CHANGELOG.md
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Create and use from_and_to_bytes
  packages/std/src/math/conversion.rs
  packages/std/src/math/int128.rs
  packages/std/src/math/int64.rs
Due: cosmwasm-std

Increase test coverage of Int{64,128}::from_{be,le}_bytes
  packages/std/src/math/int128.rs
  packages/std/src/math/int64.rs
Due: cosmwasm-std

Fix spelling: generaor -> generator
  packages/crypto/src/bls12_381/points.rs
Due: cosmwasm-crypto

Use primitive_to_wrapped_int for Uint64, Uint128, Uint256 and Uint512
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Create and use primitive_to_wrapped_int to improve readability
  packages/std/src/math/conversion.rs
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
Due: cosmwasm-std

Implement From<Uint{64,128}> for u{64,128} and From<Int{64,128}> for i{64,128}
  CHANGELOG.md
  packages/std/src/math/conversion.rs
  packages/std/src/math/int128.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Only run typos on changed files
  .github/workflows/typo-check.yml
Due: none

Introduce typo
  packages/std/src/addresses.rs
Due: cosmwasm-std

Fix typo
  packages/std/src/addresses.rs
Due: cosmwasm-std

feat: Use Coin instead of Token and remove memo from Frowarding
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  packages/go-gen/tests/cosmwasm_std__IbcMsg.go
  packages/std/src/ibc.rs
  packages/std/src/ibc/transfer_msg_builder_v2.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Add changelog entry
  CHANGELOG.md
Due: none

feat: Add cosmwasm_3_0 feature flag ; Remove non_exhaustive
  .circleci/config.yml
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  packages/check/src/main.rs
  packages/go-gen/Cargo.toml
  packages/std/Cargo.toml
  packages/std/src/exports.rs
  packages/std/src/ibc.rs
  packages/std/src/lib.rs
  packages/vm/src/testing/instance.rs
Due: cosmwasm-std

Update README.md
  contracts/README.md
Due: none

Add instantiate2_custom_len_address
  packages/std/src/addresses.rs
Due: cosmwasm-std

Make new instantiate2 function public
  packages/std/src/lib.rs
Due: cosmwasm-std

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
