Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-core, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Avoid the all_balances query in hackathon
  contracts/hackatom/schema/hackatom.json
  contracts/hackatom/schema/raw/execute.json
  contracts/hackatom/schema/raw/query.json
  contracts/hackatom/src/contract.rs
  contracts/hackatom/src/msg.rs
  contracts/hackatom/tests/integration.rs
Due: none

Add cosmwasm capabilities to --available-capabilities in custom_capabilities_check
  packages/check/tests/cosmwasm_check_tests.rs
Due: cosmwasm-check

Adapt example code
  packages/vm/examples/multi_threaded_cache.rs
Due: cosmwasm-vm

Unlink ibc_reflect.wasm and hackatom.wasm; recompile them
  packages/vm/testdata/hackatom.wasm
  packages/vm/testdata/ibc_reflect.wasm
Due: cosmwasm-vm

Adapt tests to new realities
  packages/vm/benches/main.rs
  packages/vm/examples/heap_profiling.rs
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/static_analysis.rs
Due: cosmwasm-vm

Update build instructions for VM testdata
  packages/vm/README.md
Due: cosmwasm-vm

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Adaot gas values to recompiled contract
  packages/vm/src/instance.rs
Due: cosmwasm-vm

Ignore files from typecheck in CI
  .github/workflows/typo-check.yml
Due: none

Update wasmer to 6.0
  Cargo.lock
  contracts/crypto-verify/Cargo.lock
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
  packages/vm/src/wasm_backend/limiting_tunables.rs
Due: cosmwasm-std, cosmwasm-vm

Fix tests
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/versioning.rs
Due: cosmwasm-vm

Add tests
  packages/vm/src/wasm_backend/compile.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: cosmwasm-vm

Enable reference-types in static-analysis, but not Gatekeeper
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: cosmwasm-vm

Compile hackatom with newer Rust version
  .circleci/config.yml
Due: none

Create `Envs`, a factory for making mock `Env`s
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
Due: cosmwasm-std

feat: Add WriteAcknowledgement to Ibc2Msg
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/response_to_query_state.json
  contracts/ibc2/src/contract.rs
  packages/std/src/ibc2.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Rollback changes
  packages/std/src/lib.rs
  packages/std/src/query/bank.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

refactor(metadata): Add deserializer for denom_units and aliases to handle null values
  packages/std/src/metadata.rs
Due: cosmwasm-std

feat(metadata): Add test
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/cyberpunk/src/contract.rs
  packages/std/src/metadata.rs
Due: cosmwasm-std

chore(fmt): Fix code format
  packages/std/src/metadata.rs
Due: cosmwasm-std

chore(Cargo): Downgrade Cargo.lock version from 4 to 3
  contracts/cyberpunk/Cargo.lock
Due: none

Rollback cyberpunk test related codes
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/cyberpunk/src/contract.rs
Due: none

feat(metadata): add unit and integration tests for DenomMetadata handling null values
  packages/std/src/metadata.rs
Due: cosmwasm-std

Use contains instead of any in compatibility check
  packages/vm/src/compatibility.rs
Due: cosmwasm-vm

Add raw entrypoint and message definition
  .vscode/settings.json
  packages/std/src/ibc2.rs
  packages/vm/src/calls.rs
  packages/vm/src/lib.rs
Due: cosmwasm-std, cosmwasm-vm

Format code
  packages/vm/src/compatibility.rs
Due: cosmwasm-vm

Make block_time variable and iterate until overflow
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Test all values of mock_env
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add EnvsOptions to make block_time, initial_height, initial_time, chain_id
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
Due: cosmwasm-std

Make EnvsOptions fields pub
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Delete redundant test
  packages/std/src/metadata.rs
Due: cosmwasm-std

fix(metadata): update test comments to reflect error handling for missing fields
  packages/std/src/metadata.rs
Due: cosmwasm-std

chore(test): Move all unit tests to test module
  packages/std/src/metadata.rs
Due: cosmwasm-std

chore(fmt): Code formatting
  packages/std/src/query/bank.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

feat(query): Introduce non-breaking changes to handle nullable data stated in https://github.com/CosmWasm/cosmwasm/issues/2414
  packages/std/src/metadata.rs
  packages/std/src/query/bank.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Path conditions:
  cosmwasm-check: any of: packages/check/
  cosmwasm-core: any of: packages/core/
  cosmwasm-crypto: any of: packages/crypto/
  cosmwasm-derive: any of: packages/derive/
  cosmwasm-schema: any of: packages/schema/
  cosmwasm-schema-derive: any of: packages/schema-derive/
  cosmwasm-std: any of: packages/std/
  cosmwasm-vm: any of: packages/vm/
  cosmwasm-vm-derive: any of: packages/vm-derive/
