Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Pull out estimate_module_size
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add CHANGELOG entry
  CHANGELOG.md
Due: none

rename marker to FinalizeTx
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Add trace functionality
  CHANGELOG.md
  README.md
  contracts/hackatom/src/contract.rs
  packages/std/src/imports.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: cosmwasm-std

Add debug_with_gas functionality
  CHANGELOG.md
  README.md
  contracts/hackatom/src/contract.rs
  packages/std/src/imports.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: cosmwasm-std

Remove size estimation comment from store
  packages/vm/src/modules/file_system_cache.rs
Due: none

Rename estimate_module_size to module_size
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add target_id
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add target_id to modules path
  Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
Due: none

Make modules_path_works test Windows complient
  packages/vm/src/modules/file_system_cache.rs
Due: none

Refactor FileSystemCache::new to only have one ending
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add the memo field in IbcMsg::Transfer
  contracts/ibc-reflect-send/src/contract.rs
  contracts/ibc-reflect-send/src/ibc.rs
  contracts/ibc-reflect-send/tests/integration.rs
  packages/std/src/ibc.rs
Due: cosmwasm-std

memo Option -> String
  contracts/ibc-reflect-send/src/contract.rs
  packages/std/src/ibc.rs
Due: cosmwasm-std

fix: remove as well
  SEMANTICS.md
Due: none

fix: typographic errors
  SEMANTICS.md
  contracts/README.md
  contracts/staking/README.md
  docs/USING_COSMWASM_STD.md
  packages/crypto/README.md
  packages/storage/README.md
Due: cosmwasm-crypto, cosmwasm-storage

fix: fix The to They
  README.md
Due: none

fix: fix validate markdown files issue by running format_md script
  SEMANTICS.md
  docs/USING_COSMWASM_STD.md
Due: none

Bump MODULE_SERIALIZATION_VERSION to v5
  CHANGELOG.md
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add configurable debug_handler to Environment
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
Due: none

Add set_debug_handler/unset_debug_handler to Instance; fix internal cloning
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: none

Print debug to STDERR by default
  CHANGELOG.md
  packages/vm/src/instance.rs
Due: none

Add debug example to cyberpunk
  contracts/cyberpunk/schema/cyberpunk.json
  contracts/cyberpunk/schema/raw/execute.json
  contracts/cyberpunk/src/contract.rs
  contracts/cyberpunk/src/msg.rs
  contracts/cyberpunk/tests/integration.rs
Due: none

Test unset_debug_handler in integration test
  contracts/cyberpunk/tests/integration.rs
Due: none

Create extensible DebugInfo struct
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/tests/integration.rs
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/lib.rs
Due: none

Rebuild cyberpunk testing contract
  packages/vm/testdata/cyberpunk.wasm
Due: none

Test set_debug_handler/unset_debug_handler
  packages/vm/src/instance.rs
Due: none

Deprecate PartialEq between Addr and String
  CHANGELOG.md
  packages/std/src/addresses.rs
Due: cosmwasm-std

Implement PartialEq between Addr and &Addr
  CHANGELOG.md
  packages/std/src/addresses.rs
  packages/std/src/forward_ref.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Use forward_ref_partial_eq in more places
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
  packages/std/src/results/events.rs
Due: cosmwasm-std

Implement PartialEq for `Event == &Event` and `&Event == Event`
  CHANGELOG.md
  packages/std/src/results/events.rs
Due: cosmwasm-std

Update Cargo.toml
  packages/std-compat/Cargo.toml
Due: none

Add #[must_use] to applicable math operations
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/fraction.rs
  packages/std/src/math/isqrt.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Add note about must_use to changelog
  CHANGELOG.md
Due: none

Set version: 1.2.5
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Fix changelog
  CHANGELOG.md
Due: none

Add storage keys docs and pull in some functions
  docs/STORAGE_KEYS.md
  packages/std/src/lib.rs
  packages/std/src/storage_keys/length_prefixed.rs
  packages/std/src/storage_keys/mod.rs
Due: cosmwasm-std

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
