Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Add missing semicolon
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

Implement Sum for Decimal types
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

Add iter::sum test for empty list of Decimals
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

Update CHANGELOG with addition of std::iter::Sum for Decimal
  CHANGELOG.md
Due: none

Implement sum for Decimal256
  CHANGELOG.md
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Rename test functions
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Fix interface version in comment
  packages/std/src/exports.rs
Due: cosmwasm-std

Add configurable number of contracts to multi-threaded get_instance benchmark
  Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/benches/main.rs
Due: none

Update hackatom test contract
  packages/vm/testdata/hackatom_1.0.wasm
Due: none

Fix / restore hackatom test
  contracts/hackatom/src/contract.rs
Due: none

Add a GetInt query
  contracts/hackatom/src/contract.rs
  contracts/hackatom/src/msg.rs
Due: none

Change to 1024 threads for comparison with original version
  packages/vm/benches/main.rs
Due: none

Update schema
  contracts/hackatom/schema/query_msg.json
Due: none

Adjust gas values
  packages/vm/src/instance.rs
Due: none

Add multiple contracts to get_instance mt benchmark
  Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/benches/main.rs
Due: none

Revert "Change to 1024 threads for comparison with original version"
  packages/vm/benches/main.rs
Due: none

Add dev branch to CI benchmarks
  .circleci/config.yml
Due: none

Set version: 1.0.0-beta3
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Run lint on packages/derive and packages/profiler
  .circleci/config.yml
  devtools/check_workspace.sh
Due: none

Fix lint issues
  packages/profiler/src/code_blocks.rs
  packages/profiler/src/instrumentation.rs
  packages/profiler/src/main.rs
Due: none

Update contract lock files
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
Due: none

Update to serde-json-wasm v0.3.2
  Cargo.lock
  packages/std/Cargo.toml
Due: cosmwasm-std

Use the same Sum implementation for all number types
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Update README.md
  README.md
Due: none

Remove stack trace when converting wasmer::RuntimeError to VmError
  packages/vm/src/errors/vm_error.rs
Due: none

Make VmError::runtime_err private
  packages/vm/src/errors/vm_error.rs
Due: none

Test error message in hackatom integration test
  contracts/hackatom/tests/integration.rs
Due: none

Create 1.0.0-beta3 CHANGELOG section
  CHANGELOG.md
Due: none

Update Wasmer to 2.1.1
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/profiler/Cargo.toml
  packages/vm/Cargo.toml
Due: none

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Set version: 0.16.3
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Create 0.16.3 CHANGELOG header
  CHANGELOG.md
Due: none

Set version: 1.0.0-beta4
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
