Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

feat: Conditional migrate call with extra MigrateInfo argument after contract update
  .circleci/config.yml
  contracts/README.md
  contracts/hackatom/Cargo.toml
  contracts/hackatom/src/contract.rs
  contracts/hackatom/src/errors.rs
  contracts/hackatom/tests/integration.rs
  packages/check/src/main.rs
  packages/derive/src/lib.rs
  packages/std/src/exports.rs
  packages/std/src/lib.rs
  packages/std/src/types.rs
  packages/vm/src/calls.rs
  packages/vm/src/environment.rs
  packages/vm/src/errors/vm_error.rs
  packages/vm/src/lib.rs
  packages/vm/src/testing/calls.rs
  packages/vm/src/testing/mod.rs
Due: cosmwasm-derive, cosmwasm-std

CosmosMsg::Any doc comment typo
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

chore: Add CHANGELOG and extend error msg
  CHANGELOG.md
  packages/vm/src/environment.rs
  packages/vm/src/errors/vm_error.rs
Due: none

Conditional migrate call with extra MigrateInfo argument after contract update (#2212)
  .circleci/config.yml
  CHANGELOG.md
  contracts/README.md
  contracts/hackatom/Cargo.toml
  contracts/hackatom/src/contract.rs
  contracts/hackatom/src/errors.rs
  contracts/hackatom/tests/integration.rs
  packages/check/src/main.rs
  packages/derive/src/lib.rs
  packages/std/src/exports.rs
  packages/std/src/lib.rs
  packages/std/src/types.rs
  packages/vm/src/calls.rs
  packages/vm/src/environment.rs
  packages/vm/src/errors/vm_error.rs
  packages/vm/src/lib.rs
  packages/vm/src/testing/calls.rs
  packages/vm/src/testing/mod.rs
Due: cosmwasm-derive, cosmwasm-std

Show compile time in cosmwasm-check --verbose
  packages/check/src/main.rs
Due: none

Auto-fix schemas
  .github/workflows/autofix.yml
  devtools/update_schemas.sh
Due: none

Document entry_point in cosmwasm-std instead of derive
  Cargo.lock
  packages/derive/Cargo.toml
  packages/derive/src/lib.rs
  packages/std/src/lib.rs
Due: cosmwasm-derive, cosmwasm-std

Restructure derive crate
  packages/derive/src/entry_point.rs
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Add packages and CI config
  .circleci/config.yml
  Cargo.lock
  packages/derive/Cargo.toml
  packages/derive/src/hash_function.rs
  packages/derive/src/lib.rs
  packages/vm-derive-impl/Cargo.toml
  packages/vm-derive-impl/src/main.rs
  packages/vm-derive/Cargo.toml
  packages/vm-derive/src/main.rs
Due: cosmwasm-derive

chore: Add deprecation mark
  contracts/burner/src/contract.rs
  contracts/hackatom/src/contract.rs
  contracts/ibc-reflect/src/contract.rs
  contracts/reflect/src/contract.rs
  packages/std/src/query/bank.rs
  packages/std/src/query/ibc.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/querier.rs
Due: cosmwasm-std

Implement using only the most high quality linker hacks
  Cargo.lock
  packages/derive/src/hash_function.rs
  packages/derive/src/lib.rs
  packages/vm-derive-impl/Cargo.toml
  packages/vm-derive-impl/src/hash_function.rs
  packages/vm-derive-impl/src/lib.rs
  packages/vm-derive-impl/src/main.rs
  packages/vm-derive-impl/src/read_wasmer_version.rs
  packages/vm-derive/Cargo.toml
  packages/vm-derive/src/lib.rs
  packages/vm-derive/src/main.rs
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/wasm_backend/engine.rs
Due: cosmwasm-derive

Revert derive restructure
  packages/derive/src/entry_point.rs
  packages/derive/src/lib.rs
  packages/vm/src/modules/file_system_cache.rs
Due: cosmwasm-derive

Regenerate lockfiles
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/derive/Cargo.toml
Due: cosmwasm-derive

Add feature to syn
  packages/vm-derive-impl/Cargo.toml
Due: none

Add a test to verify the hash is actually fixed
  packages/vm/src/modules/file_system_cache.rs
Due: none

Update test
  packages/vm/src/modules/file_system_cache.rs
Due: none

Update Confio GmbH copyright years in NOTICE
  NOTICE
Due: none

chore: Add deprecation mark (#2247)
  contracts/burner/src/contract.rs
  contracts/hackatom/src/contract.rs
  contracts/ibc-reflect/src/contract.rs
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
  contracts/reflect/src/contract.rs
  packages/std/src/query/bank.rs
  packages/std/src/query/ibc.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/querier.rs
Due: cosmwasm-std

Comment out VM cache
  .circleci/config.yml
Due: none

Revert "Comment out VM cache"
  .circleci/config.yml
Due: none

Force disable incremental compilation
  .circleci/config.yml
Due: none

println! debugging :P
  .circleci/config.yml
  packages/vm-derive-impl/src/hash_function.rs
  packages/vm-derive/src/lib.rs
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Format code using rustfmt before hashing (please don't yell at me for this D:)
  packages/vm-derive-impl/src/hash_function.rs
Due: none

Update hash
  packages/vm-derive-impl/src/hash_function.rs
  packages/vm/src/modules/file_system_cache.rs
Due: none

Hash in a manual value
  packages/vm-derive-impl/src/hash_function.rs
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add back constant test
  packages/vm-derive-impl/Cargo.toml
  packages/vm-derive-impl/src/hash_function.rs
  packages/vm/src/modules/file_system_cache.rs
Due: none

chore: Bump wasmer
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add typo check to the CI
  .github/workflows/typo-check.yml
Due: none

Exclude schemas from spell check
  _typos.toml
Due: none

Exclude JSON files inside the crypto package
  _typos.toml
Due: none

Format GitHub Action
  .github/workflows/typo-check.yml
Due: none

Correct all obvious typos
  CHANGELOG-pre1.0.0.md
  CHANGELOG.md
  IBC.md
  MIGRATING.md
  contracts/burner/tests/integration.rs
  contracts/crypto-verify/src/webauthn.rs
  contracts/empty/tests/integration.rs
  contracts/ibc-callbacks/tests/integration.rs
  contracts/ibc-reflect-send/src/ibc.rs
  contracts/ibc-reflect-send/src/state.rs
  contracts/ibc-reflect-send/tests/integration.rs
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/src/state.rs
  contracts/ibc-reflect/tests/integration.rs
  contracts/reflect/src/contract.rs
  contracts/reflect/tests/integration.rs
  contracts/staking/schema/raw/instantiate.json
  contracts/staking/schema/raw/response_to_investment.json
  contracts/staking/schema/staking.json
  contracts/staking/src/contract.rs
  contracts/staking/src/msg.rs
  contracts/staking/src/state.rs
  docs/simulate_riffle_shuffle.py
  packages/crypto/src/ed25519.rs
  packages/go-gen/src/main.rs
  packages/go-gen/tests/cosmwasm_std__IbcMsg.go
  packages/schema-derive/src/query_responses/context.rs
  packages/schema/tests/idl.rs
  packages/std/src/query/distribution.rs
  packages/vm/examples/module_size.sh
  packages/vm/src/backend.rs
  packages/vm/src/cache.rs
  packages/vm/src/errors/communication_error.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/mock.rs
  packages/vm/src/testing/querier.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
  packages/vm/src/wasm_backend/limiting_tunables.rs
Due: cosmwasm-crypto, cosmwasm-schema, cosmwasm-std

'fo' -> 'foo', 'ba' -> 'bar'
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

Add disable line regex, fix tests
  _typos.toml
  contracts/ibc-reflect-send/src/state.rs
  contracts/ibc-reflect/src/state.rs
  packages/schema/src/remove.rs
Due: cosmwasm-schema

Deduplicate serde impls for integers
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/mod.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Use u8 literal notation
  packages/std/src/msgpack.rs
Due: cosmwasm-std

Add messagepack encoding tests for integer types
  packages/std/src/msgpack.rs
Due: cosmwasm-std

cargo-llvm-cov + caching
  .circleci/config.yml
Due: none
