Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Add tests for NonZero types
  Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/serde.rs
Due: cosmwasm-std

Use property tests instead
  Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/serde.rs
Due: cosmwasm-std

Format TOML
  contracts/nested-contracts/Cargo.toml
  contracts/nested-contracts/inner-contract/Cargo.toml
Due: none

Only use proptests
  packages/std/src/serde.rs
Due: cosmwasm-std

Remove the `cranelift` features
  Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.toml
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.toml
  packages/vm/Cargo.toml
  packages/vm/src/wasm_backend/engine.rs
Due: none

Regenerate lockfiles
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/nested-contracts/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Add back no-op `cranelift` feature
  packages/vm/Cargo.toml
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Document entry_point in cosmwasm-std instead of derive
  Cargo.lock
  packages/derive/Cargo.toml
  packages/derive/src/lib.rs
  packages/std/src/lib.rs
Due: cosmwasm-derive, cosmwasm-std

Fix cherrypick issues
  Cargo.lock
  packages/derive/Cargo.toml
  packages/derive/src/lib.rs
  packages/std/src/lib.rs
Due: cosmwasm-derive, cosmwasm-std

Fix cherry-pick issue
  Cargo.lock
  packages/derive/Cargo.toml
  packages/derive/src/lib.rs
  packages/std/src/lib.rs
Due: cosmwasm-derive, cosmwasm-std

Fix cherry-pick issue
  packages/derive/Cargo.toml
  packages/derive/src/lib.rs
  packages/std/src/lib.rs
Due: cosmwasm-derive, cosmwasm-std

Update doc comment
  packages/vm-derive/src/lib.rs
Due: none

Update doc comment
  packages/vm-derive/src/lib.rs
  packages/vm/src/modules/file_system_cache.rs
Due: none

Fix doc test
  packages/vm-derive/src/lib.rs
Due: none

Update test
  packages/vm/src/modules/file_system_cache.rs
Due: none

Allow setting wasm limits after instantiation
  packages/vm/src/cache.rs
Due: none

Fix
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/instance.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/metering.rs
  packages/vm/src/wasm_backend/mod.rs
Due: none

Fix
  packages/vm/src/errors/communication_error.rs
  packages/vm/src/imports.rs
  packages/vm/src/sections.rs
Due: none

Remove outdated comment
  packages/vm/src/modules/file_system_cache.rs
Due: none

Update hash
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add typedefs for uniffi, add compilable subproject
  Cargo.lock
  packages/ffi/Cargo.toml
  packages/ffi/src/api.rs
  packages/ffi/src/db.rs
  packages/ffi/src/error.rs
  packages/ffi/src/iterator.rs
  packages/ffi/src/lib.rs
  packages/ffi/src/metrics.rs
  packages/ffi/src/querier.rs
Due: none

Fix CI
  packages/cw-schema/Cargo.toml
  packages/vm/src/environment.rs
Due: none

Add description to cosmwasm-vm-derive
  packages/vm-derive/Cargo.toml
Due: none

Add missing Cargo.toml fields
  packages/vm-derive/Cargo.toml
Due: none

chore: Release
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-schema, cosmwasm-std

Update optimizer for contracts
  .circleci/config.yml
Due: none

Fix typo
  packages/vm/src/environment.rs
Due: none

Suppress linter warning
  packages/std/src/math/num_consts.rs
Due: cosmwasm-std

Initial codegen tool
  Cargo.lock
  packages/cw-schema-codegen/Cargo.toml
  packages/cw-schema-codegen/src/main.rs
  packages/cw-schema-codegen/templates/rust/enum.tpl.rs
  packages/cw-schema-codegen/templates/rust/struct.tpl.rs
Due: none

Migrate BLAKE3 to BLAKE2 for easier cross-compilation
  Cargo.lock
  packages/vm-derive/Cargo.toml
  packages/vm-derive/src/hash_function.rs
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
Due: none

I'm a professional
  Cargo.lock
Due: none

Regenerate lockfiles
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

cargo fmt
  packages/vm/src/modules/file_system_cache.rs
Due: none

Update documentation and names
  packages/vm-derive/src/hash_function.rs
  packages/vm/src/modules/file_system_cache.rs
Due: none

Add bit length of hash to docs
  packages/vm/src/modules/file_system_cache.rs
Due: none
