Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Add big endian compiler error
  packages/vm/src/memory.rs
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Use bytes for reading region from wasm memory
  packages/vm/src/memory.rs
Due: none

Add doc to RegionBytes
  packages/vm/src/memory.rs
Due: none

Fix changelog
  CHANGELOG.md
Due: none

Avoid unnecessary error handling in from_wasm_bytes
  packages/vm/src/memory.rs
Due: none

Add test vectors from Project Wycheproof
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/testdata/wycheproof/README.md
  packages/crypto/testdata/wycheproof/ecdsa_secp256r1_sha256_test.json
  packages/crypto/testdata/wycheproof/ecdsa_secp256r1_sha3_256_test.json
  packages/crypto/testdata/wycheproof/ecdsa_secp256r1_sha3_512_test.json
  packages/crypto/testdata/wycheproof/ecdsa_secp256r1_sha512_test.json
  packages/crypto/tests/wycheproof_secp256r1.rs
Due: cosmwasm-crypto

Use Vec for type params analysis
  packages/vm/src/parsed_wasm.rs
Due: none

Adjust function limits
  packages/vm/src/compatibility.rs
Due: none

Count sum of all params over all functions
  packages/vm/src/compatibility.rs
  packages/vm/src/parsed_wasm.rs
Due: none

Restrict total number of function params
  packages/vm/src/compatibility.rs
  packages/vm/src/parsed_wasm.rs
Due: none

Fix casing
  packages/vm/src/parsed_wasm.rs
Due: none

Add CHANGELOG entry for #1991
  CHANGELOG.md
Due: none

Apply suggestions from code review
  packages/crypto/testdata/wycheproof/README.md
Due: cosmwasm-crypto

Apply review feedback
  packages/crypto/tests/wycheproof_secp256r1.rs
Due: cosmwasm-crypto

Add payload field to SubMsg and Reply
  packages/std/src/results/response.rs
  packages/std/src/results/submessages.rs
  packages/vm/src/calls.rs
Due: cosmwasm-std

Adapt contracts to new new payload field in Reply
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/tests/integration.rs
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/raw/response_to_sub_msg_result.json
  contracts/reflect/schema/reflect.json
  contracts/reflect/src/contract.rs
  contracts/reflect/tests/integration.rs
Due: none

Add CHANGELOG entry for payload field
  CHANGELOG.md
Due: none

Fix some links in docs (extra [)
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Add SubMsg::with_payload
  CHANGELOG.md
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

Add MIGRATING entry for payload
  MIGRATING.md
Due: none

Test SubMsg::new, ::reply_never, ::reply_always, ::with_gas_limit, ::with_payload
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

Improve docs on SubMsg.gas_limit
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  packages/std/src/results/submessages.rs
Due: cosmwasm-std

Pin k256 version to 0.13.1
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Unrelated lockfile updates
  contracts/floaty/Cargo.lock
Due: none

Use verify_prehash/recover_from_prehash without going through Identity256
  packages/crypto/src/secp256k1.rs
Due: cosmwasm-crypto

Remove Identity256
  packages/crypto/src/identity_digest.rs
  packages/crypto/src/lib.rs
Due: cosmwasm-crypto

Move digest to dev-dependencies
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Set version: 1.5.3
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Update changelog
  CHANGELOG.md
Due: none

Fix typo in comments
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

feat: schema: feature-gate deny_unknown_fields
  packages/schema-derive/src/cw_serde.rs
  packages/schema/Cargo.toml
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

properly feature-gate allow-unknown-fields
  packages/schema/Cargo.toml
Due: cosmwasm-schema

properly feature gate allow-unknown-fields
  packages/schema-derive/Cargo.toml
  packages/schema-derive/src/cw_serde.rs
Due: none
