Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

changelog
  CHANGELOG.md
Due: none

Set version: 2.0.2
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std

Update changelog
  CHANGELOG.md
Due: none

Set version: 1.5.4
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Set version: 1.4.4
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Fix
  packages/core/src/math/int128.rs
  packages/core/src/math/int256.rs
  packages/core/src/math/int512.rs
  packages/core/src/math/int64.rs
  packages/core/src/math/uint128.rs
  packages/core/src/math/uint256.rs
  packages/core/src/math/uint512.rs
  packages/core/src/math/uint64.rs
Due: none

Fix path in comment
  packages/crypto/tests/rootberg_secp256k1.rs
Due: cosmwasm-crypto

Use position iterator method
  packages/crypto/tests/rootberg_secp256k1.rs
Due: cosmwasm-crypto

elaborate on panic msg for Binary/HexBinary
  packages/core/src/binary.rs
  packages/core/src/hex_binary.rs
Due: none

elaborate on panic msg for Checksum
  packages/std/src/checksum.rs
Due: cosmwasm-std

elaborate on panic msg for Binary/HexBinary
  packages/std/src/binary.rs
  packages/std/src/hex_binary.rs
Due: cosmwasm-std

Iterate in the correct order, add error to attribute
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Simplify rootberg test number check
  packages/crypto/tests/rootberg_secp256k1.rs
Due: cosmwasm-crypto

Use non-normalized rootberg test vectors
  packages/crypto/testdata/rootberg/README.md
  packages/crypto/testdata/rootberg/ecdsa_normalized_secp256k1_keccak256_raw.json
  packages/crypto/testdata/rootberg/ecdsa_secp256k1_keccak256_raw.json
  packages/crypto/testdata/rootberg/ecdsa_secp256k1_sha_256_raw.json
  packages/crypto/tests/rootberg_secp256k1.rs
Due: cosmwasm-crypto

Remove version key-value requirement
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Refactor crypto tests
  packages/crypto/tests/hashers.rs
  packages/crypto/tests/rootberg.rs
  packages/crypto/tests/rootberg_secp256r1.rs
  packages/crypto/tests/wycheproof.rs
  packages/crypto/tests/wycheproof_secp256k1.rs
  packages/crypto/tests/wycheproof_secp256r1.rs
Due: cosmwasm-crypto

Add rootberg secp256r1 tests
  packages/crypto/testdata/rootberg/README.md
  packages/crypto/testdata/rootberg/ecdsa_secp256k1_sha_256_raw.json
  packages/crypto/testdata/rootberg/ecdsa_secp256r1_keccak256_raw.json
  packages/crypto/testdata/rootberg/ecdsa_secp256r1_sha_256_raw.json
  packages/crypto/tests/rootberg_secp256r1.rs
Due: cosmwasm-crypto

Fix formatting
  packages/crypto/tests/wycheproof_secp256r1.rs
Due: cosmwasm-crypto

Rename to `set_state_version`
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Update packages/derive/src/lib.rs
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Enforce value to be in u64 range
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Update CHANGELOG.md
  CHANGELOG.md
Due: none

deprecate compact serialization of some types
  packages/std/src/binary.rs
  packages/std/src/checksum.rs
  packages/std/src/hex_binary.rs
Due: cosmwasm-std

Remove `set_` prefix
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Test attribute on non-migrate function
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Add zero check
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Changelog entry
  CHANGELOG.md
Due: none

Parse the contract state version from the custom section
  Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/cache.rs
  packages/vm/src/parsed_wasm.rs
Due: none

Explicitly use Cow
  packages/vm/src/cache.rs
Due: none

Use `static_validation_err`, mark struct as non-exhaustive
  packages/vm/src/cache.rs
  packages/vm/src/parsed_wasm.rs
Due: none

Add Changelog entry
  CHANGELOG.md
Due: none

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
