Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Update README.md
  contracts/staking/README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CAPABILITIES.md
  docs/CAPABILITIES.md
Due: none

Update GAS.md
  docs/GAS.md
Due: none

Update MESSAGE_TYPES.md
  docs/MESSAGE_TYPES.md
Due: none

Update PINNING.md
  docs/PINNING.md
Due: none

Fix spelling
  docs/CAPABILITIES.md
  docs/GAS.md
Due: none

Format markdown
  docs/MESSAGE_TYPES.md
Due: none

Uncomment eprintln in test cases
  packages/crypto/tests/rootberg_secp256k1.rs
  packages/crypto/tests/rootberg_secp256r1.rs
Due: cosmwasm-crypto

Exclude state_version doc-test
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Limit state_version to wasm target
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Remove batch verify test for now
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Test aggregated validation
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
Due: cosmwasm-crypto

Use assembly feature
  packages/crypto/Cargo.toml
  packages/vm/src/environment.rs
  packages/vm/src/testing/instance.rs
Due: cosmwasm-crypto

Add aggregate pairing equality test
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add generator tests
  packages/crypto/src/bls12_318/constants.rs
Due: cosmwasm-crypto

Add BLS verify tests
  .circleci/config.yml
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/src/lib.rs
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Add aggregation test for G1 elements
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Fix compile errors
  packages/crypto/Cargo.toml
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/src/ed25519.rs
  packages/crypto/src/lib.rs
  packages/crypto/src/secp256r1.rs
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Readjust gas values
  packages/vm/src/environment.rs
  packages/vm/src/testing/instance.rs
Due: none

Add metered cost for aggregation
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
Due: none

Add batch verify test
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Bench hash-to-curve and meter gas usage
  packages/crypto/benches/main.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
Due: cosmwasm-crypto

Add pairing equality test to crypto-verify contract
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/crypto-verify/schema/crypto-verify.json
  contracts/crypto-verify/schema/raw/query.json
  contracts/crypto-verify/schema/raw/response_to_verify_bls12_pairing_equality.json
  contracts/crypto-verify/src/bls12_381.rs
  contracts/crypto-verify/src/contract.rs
  contracts/crypto-verify/src/lib.rs
  contracts/crypto-verify/src/msg.rs
  contracts/crypto-verify/tests/integration.rs
  packages/std/src/imports.rs
  packages/vm/src/testing/instance.rs
Due: cosmwasm-std

Add error tests
  packages/crypto/src/bls12_318/pairing.rs
Due: cosmwasm-crypto

Fix aggregate verify
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/lib.rs
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Convert to byte-based API
  packages/crypto/src/bls12_318/aggregate.rs
  packages/crypto/src/bls12_318/constants.rs
  packages/crypto/src/bls12_318/hash.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/src/lib.rs
Due: cosmwasm-crypto

Vendor own version of `HashFunction`
  packages/crypto/src/bls12_318/hash.rs
  packages/std/Cargo.toml
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-crypto, cosmwasm-std

Fix imports errors
  packages/std/src/imports.rs
Due: cosmwasm-std

Regenerate lockfiles
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Replace `.inspect_err` with `.map_err`
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Pre-allocate storage for terms
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/lib.rs
Due: cosmwasm-crypto

Add fast aggregate verify
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Add hash-to-curve tests
  packages/crypto/src/bls12_318/hash.rs
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Revert test change
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Add benches for aggregation
  packages/crypto/benches/main.rs
Due: cosmwasm-crypto

Remove generic parameters from hashing to the subgroups
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
Due: cosmwasm-crypto
