Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Update changelog
  CHANGELOG.md
Due: none

Make abs_diff const for all integers
  CHANGELOG.md
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Add TryFrom<Decimal256> impl for Decimal
  CHANGELOG.md
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

Refactor AcknowledgementMsg in ibc-reflect and ibc-reflect-send
  contracts/ibc-reflect-send/src/ibc_msg.rs
  contracts/ibc-reflect/schema/acknowledgement_msg_balances.json
  contracts/ibc-reflect/schema/acknowledgement_msg_dispatch.json
  contracts/ibc-reflect/schema/acknowledgement_msg_who_am_i.json
  contracts/ibc-reflect/src/msg.rs
Due: none

Add AcknowledgementMsgs to ibc-reflect-send schemas
  contracts/ibc-reflect-send/schema/acknowledgement_msg_balances.json
  contracts/ibc-reflect-send/schema/acknowledgement_msg_dispatch.json
  contracts/ibc-reflect-send/schema/acknowledgement_msg_who_am_i.json
  contracts/ibc-reflect-send/src/bin/schema.rs
Due: none

Move ibc protocol to ibc subfolder
  contracts/ibc-reflect-send/schema/ibc/acknowledgement_msg_balances.json
  contracts/ibc-reflect-send/schema/ibc/acknowledgement_msg_dispatch.json
  contracts/ibc-reflect-send/schema/ibc/acknowledgement_msg_who_am_i.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/src/bin/schema.rs
  contracts/ibc-reflect/schema/ibc/acknowledgement_msg_balances.json
  contracts/ibc-reflect/schema/ibc/acknowledgement_msg_dispatch.json
  contracts/ibc-reflect/schema/ibc/acknowledgement_msg_who_am_i.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/ibc-reflect/src/bin/schema.rs
Due: none

Rename AcknowledgementMsg::Err to ::Error
  contracts/ibc-reflect-send/src/ibc.rs
  contracts/ibc-reflect-send/src/ibc_msg.rs
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/src/msg.rs
Due: none

Add next_key and next_value to Storage trait
  packages/vm/src/backend.rs
Due: none

Rename to StdAck::Success
  packages/std/src/stdack.rs
Due: cosmwasm-std

Improve some docs around StdAck -> Binary conversion
  packages/std/src/ibc.rs
  packages/std/src/stdack.rs
Due: cosmwasm-std

Add StdAck
  CHANGELOG.md
  packages/std/src/lib.rs
  packages/std/src/stdack.rs
Due: cosmwasm-std

Add db_next_key and db_next_value imports to vm
  packages/vm/src/compatibility.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: none

Add db_next_key and db_next_value imports to std
  packages/check/src/main.rs
  packages/std/Cargo.toml
  packages/std/src/imports.rs
Due: cosmwasm-std

Apply suggestions from code review
  packages/vm/src/backend.rs
  packages/vm/src/compatibility.rs
Due: none

cargo fmt
  packages/vm/src/backend.rs
Due: none

Remove unnecessary capability
  packages/check/src/main.rs
Due: none

Return null pointer when no more elements
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: none

Use range_keys in burner contract
  contracts/burner/Cargo.toml
  contracts/burner/src/contract.rs
Due: none

Implement range_{keys, values} using new imports
  packages/std/src/imports.rs
Due: cosmwasm-std

Add changelog entry
  CHANGELOG.md
Due: none

Fix changelog
  CHANGELOG.md
Due: none

Fix dead links / syntax
  packages/std/src/ibc.rs
Due: cosmwasm-std

Update schema files
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
Due: none

Update to latest wasmer 4.1.x (4.1.2)
  packages/vm/Cargo.toml
Due: none

Update lock files
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Revert "Add changelog entry"
  CHANGELOG.md
Due: none

Impl nth for External(Partial)Iterator
  packages/std/src/imports.rs
Due: cosmwasm-std

Add optional delete field to burner migrate msg
  contracts/burner/schema/burner.json
  contracts/burner/schema/raw/migrate.json
  contracts/burner/src/contract.rs
  contracts/burner/src/msg.rs
  contracts/burner/tests/integration.rs
Due: none

Apply review feedback
  contracts/burner/src/contract.rs
Due: none

Use range_{keys, values} in queue contract
  contracts/queue/Cargo.toml
  contracts/queue/src/contract.rs
Due: none

Refactor
  contracts/burner/src/contract.rs
Due: none

Rename variable _gas_remaining -> _info
  packages/vm/src/instance.rs
Due: none

Upgrade clippy to 1.72.0 and adapt codebase
  .circleci/config.yml
  contracts/cyberpunk/src/contract.rs
  contracts/staking/src/contract.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/ibc.rs
  packages/std/src/results/response.rs
  packages/vm/src/imports.rs
Due: cosmwasm-std

Set version: 1.4.0-beta.1
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
