Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Implement more fine-grained errors for aggregation pairing equality
  packages/core/src/errors/mod.rs
  packages/core/src/errors/recover_pubkey_error.rs
  packages/core/src/errors/verification_error.rs
  packages/core/src/lib.rs
  packages/crypto/src/bls12_318/constants.rs
  packages/crypto/src/bls12_318/hash.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/src/errors.rs
  packages/crypto/src/lib.rs
  packages/std/src/imports.rs
  packages/std/src/lib.rs
  packages/vm/src/imports.rs
Due: cosmwasm-crypto, cosmwasm-std

Add pairing equality tests
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
Due: cosmwasm-crypto

Write up API functions
  packages/crypto/src/bls12_318/hash.rs
  packages/std/Cargo.toml
  packages/std/src/imports.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: cosmwasm-crypto, cosmwasm-std

Use primitive casts
  packages/std/src/imports.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Add cases for empty lists
  packages/core/src/errors/verification_error.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/errors.rs
  packages/std/src/imports.rs
Due: cosmwasm-crypto, cosmwasm-std

Remove unused impls
  packages/crypto/src/bls12_318/points.rs
Due: cosmwasm-crypto

Add aggregate verify tests
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Fix import warnings
  packages/crypto/src/ed25519.rs
Due: cosmwasm-crypto

Adjust gas metering for aggregated pairing equality
  packages/vm/src/imports.rs
Due: none

Add some mock testing
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add CI step for crypto without default features
  .circleci/config.yml
Due: none

Attach functions to the VM
  packages/core/src/errors/recover_pubkey_error.rs
  packages/core/src/errors/verification_error.rs
  packages/crypto/Cargo.toml
  packages/crypto/benches/main.rs
  packages/crypto/src/bls12_318/aggregate.rs
  packages/crypto/src/bls12_318/hash.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/src/errors.rs
  packages/crypto/src/lib.rs
  packages/std/src/traits.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: cosmwasm-crypto, cosmwasm-std

Add supported imports
  packages/vm/src/compatibility.rs
  packages/vm/src/imports.rs
Due: none

Move to arkworks BLS implementation
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/crypto-verify/tests/integration.rs
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/src/bls12_318/constants.rs
  packages/crypto/src/bls12_318/hash.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/tests/bls12_381.rs
  packages/vm/src/environment.rs
  packages/vm/src/testing/instance.rs
Due: cosmwasm-crypto

Implement pairing functions, and a fast pairing equality function
  Cargo.lock
  packages/crypto/src/bls12_318/aggregate.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/src/lib.rs
Due: cosmwasm-crypto

test hash to g2
  packages/crypto/testdata/bls-tests/sign/sign_case_11b8c7cad5238946.json
  packages/crypto/testdata/bls-tests/sign/sign_case_142f678a8d05fcd1.json
  packages/crypto/testdata/bls-tests/sign/sign_case_37286e1a6d1f6eb3.json
  packages/crypto/testdata/bls-tests/sign/sign_case_7055381f640f2c1d.json
  packages/crypto/testdata/bls-tests/sign/sign_case_84d45c9c7cca6b92.json
  packages/crypto/testdata/bls-tests/sign/sign_case_8cd3d4d0d9a5b265.json
  packages/crypto/testdata/bls-tests/sign/sign_case_c82df61aa3ee60fb.json
  packages/crypto/testdata/bls-tests/sign/sign_case_d0e28d7e76eb6e9c.json
  packages/crypto/testdata/bls-tests/sign/sign_case_f2ae1097e7d0e18b.json
  packages/crypto/testdata/bls-tests/sign/sign_case_zero_privkey.json
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Add Changelog entry
  CHANGELOG.md
Due: none

Add BLS branch to benchmarking filter
  .circleci/config.yml
  packages/vm/src/imports.rs
Due: none

Run crypto benchmarks with std feature
  .circleci/config.yml
Due: none

Adjust gas values to represent it more accurately
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
Due: none

Add benchmark for aggregated pairing equality
  packages/crypto/benches/main.rs
Due: cosmwasm-crypto

Remove raw `pairing_equality` function
  CHANGELOG.md
  contracts/crypto-verify/src/bls12_381.rs
  packages/crypto/benches/main.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/lib.rs
  packages/crypto/tests/bls12_381.rs
  packages/std/src/imports.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: cosmwasm-crypto, cosmwasm-std

Remove par_bridge usage
  packages/crypto/src/bls12_318/pairing.rs
Due: cosmwasm-crypto

Adjust gas values
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/testing/instance.rs
Due: none

Specific error cases on point aggregation
  packages/core/src/errors/mod.rs
  packages/core/src/errors/recover_pubkey_error.rs
  packages/core/src/errors/verification_error.rs
  packages/core/src/lib.rs
  packages/crypto/src/bls12_318/aggregate.rs
  packages/crypto/src/errors.rs
  packages/crypto/src/lib.rs
  packages/crypto/tests/bls12_381.rs
  packages/std/src/imports.rs
  packages/vm/src/imports.rs
Due: cosmwasm-crypto, cosmwasm-std

Re-export error type
  packages/crypto/src/bls12_318/aggregate.rs
  packages/std/src/lib.rs
Due: cosmwasm-crypto, cosmwasm-std

Make `g1/g2_sum` private
  packages/crypto/src/bls12_318/aggregate.rs
Due: cosmwasm-crypto

Rename aggregate_pairing_equality -> pairing_equality
  CHANGELOG.md
  contracts/crypto-verify/src/bls12_381.rs
  packages/core/src/errors/mod.rs
  packages/core/src/errors/recover_pubkey_error.rs
  packages/core/src/errors/verification_error.rs
  packages/core/src/lib.rs
  packages/crypto/benches/main.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/errors.rs
  packages/crypto/src/lib.rs
  packages/crypto/tests/bls12_381.rs
  packages/std/src/imports.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: cosmwasm-crypto, cosmwasm-std

Feature-gate imports
  packages/std/src/imports.rs
Due: cosmwasm-std

Add bls12_381_pairing_equality docs
  packages/std/src/traits.rs
Due: cosmwasm-std

Update contracts/crypto-verify/tests/integration.rs
  contracts/crypto-verify/tests/integration.rs
Due: none

Fix contract tests
  contracts/crypto-verify/tests/integration.rs
Due: none

Export constants
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/crypto-verify/tests/integration.rs
  packages/crypto/benches/main.rs
  packages/crypto/src/bls12_318/constants.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/lib.rs
  packages/crypto/tests/bls12_381.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-crypto, cosmwasm-std

Add `.unwrap()` disclaimer
  packages/crypto/src/bls12_318/hash.rs
  packages/std/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-std

Fix compile-error on WASM
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/src/bls12_318/hash.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/lib.rs
Due: cosmwasm-crypto

Update lockfiles
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Refactor contract tests
  contracts/crypto-verify/schema/crypto-verify.json
  contracts/crypto-verify/schema/raw/query.json
  contracts/crypto-verify/schema/raw/response_to_verify_bls12_pairing_equality_g1.json
  contracts/crypto-verify/schema/raw/response_to_verify_bls12_pairing_equality_g2.json
  contracts/crypto-verify/src/bls12_381.rs
  contracts/crypto-verify/src/contract.rs
  contracts/crypto-verify/src/msg.rs
  contracts/crypto-verify/tests/integration.rs
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Replace `.clone_from_slice` with `.copy_from_slice`
  packages/crypto/src/bls12_318/aggregate.rs
  packages/crypto/src/bls12_318/points.rs
Due: cosmwasm-crypto

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
