Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Get rid of mold and the LLVM profile
  .circleci/config.yml
Due: none

Use glibc-based distro
  .circleci/config.yml
Due: none

Add flags
  .circleci/config.yml
Due: none

Use lcov format
  .circleci/config.yml
Due: none

Opt level 2
  .circleci/config.yml
Due: none

No opt-level=2, I guess?
  .circleci/config.yml
Due: none

Use nextest as test runner
  .circleci/config.yml
Due: none

Use mold linker
  .circleci/config.yml
Due: none

cargo install nextest
  .circleci/config.yml
Due: none

Specifically work around cranelift feature
  .circleci/config.yml
Due: none

Improve serialize/deserialize docs for `UintXXX`/`IntYYY`
  packages/std/src/math/mod.rs
Due: cosmwasm-std

Auto-upload
  .circleci/config.yml
Due: none

Add `taplo` for TOML formatting
  .github/workflows/autofix.yml
  .github/workflows/toml.yml
  .taplo.toml
  Cargo.toml
  _typos.toml
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.toml
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.toml
  deny.toml
  packages/crypto/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-schema, cosmwasm-std

Remove Rust toolchain install
  .github/workflows/toml.yml
Due: none

Simplify code
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/derive/src/lib.rs
  packages/std/Cargo.toml
  packages/std/src/lib.rs
Due: cosmwasm-derive, cosmwasm-std

Fix tests
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Featureless entrypoints
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/derive/src/lib.rs
  packages/std/Cargo.toml
  packages/std/src/lib.rs
  packages/vm/src/modules/cached_module.rs
Due: cosmwasm-derive, cosmwasm-std

Add Changelog entry
  CHANGELOG.md
Due: none

Add empty nested contracts that call each other without feature
  .circleci/config.yml
  contracts/nested-contracts/.cargo/config.toml
  contracts/nested-contracts/.editorconfig
  contracts/nested-contracts/.gitignore
  contracts/nested-contracts/Cargo.lock
  contracts/nested-contracts/Cargo.toml
  contracts/nested-contracts/LICENSE
  contracts/nested-contracts/NOTICE
  contracts/nested-contracts/README.md
  contracts/nested-contracts/inner-contract/.cargo/config.toml
  contracts/nested-contracts/inner-contract/.editorconfig
  contracts/nested-contracts/inner-contract/.gitignore
  contracts/nested-contracts/inner-contract/Cargo.toml
  contracts/nested-contracts/inner-contract/LICENSE
  contracts/nested-contracts/inner-contract/NOTICE
  contracts/nested-contracts/inner-contract/README.md
  contracts/nested-contracts/inner-contract/src/bin/schema.rs
  contracts/nested-contracts/inner-contract/src/contract.rs
  contracts/nested-contracts/inner-contract/src/error.rs
  contracts/nested-contracts/inner-contract/src/lib.rs
  contracts/nested-contracts/inner-contract/src/msg.rs
  contracts/nested-contracts/inner-contract/src/state.rs
  contracts/nested-contracts/src/bin/schema.rs
  contracts/nested-contracts/src/contract.rs
  contracts/nested-contracts/src/error.rs
  contracts/nested-contracts/src/lib.rs
  contracts/nested-contracts/src/msg.rs
  contracts/nested-contracts/src/state.rs
Due: none

Generate schemas
  contracts/nested-contracts/inner-contract/Cargo.lock
  contracts/nested-contracts/inner-contract/schema/inner-contract.json
  contracts/nested-contracts/inner-contract/schema/raw/execute.json
  contracts/nested-contracts/inner-contract/schema/raw/instantiate.json
  contracts/nested-contracts/inner-contract/schema/raw/query.json
  contracts/nested-contracts/schema/nested-contracts.json
  contracts/nested-contracts/schema/raw/execute.json
  contracts/nested-contracts/schema/raw/instantiate.json
  contracts/nested-contracts/schema/raw/query.json
Due: none

Test contract cleanup
  contracts/nested-contracts/.editorconfig
  contracts/nested-contracts/.gitignore
  contracts/nested-contracts/LICENSE
  contracts/nested-contracts/NOTICE
  contracts/nested-contracts/README.md
  contracts/nested-contracts/inner-contract/.editorconfig
  contracts/nested-contracts/inner-contract/.gitignore
  contracts/nested-contracts/inner-contract/LICENSE
  contracts/nested-contracts/inner-contract/NOTICE
  contracts/nested-contracts/inner-contract/README.md
Due: none

Use Rust 1.75
  .circleci/config.yml
Due: none

Remove library feature mentions
  contracts/nested-contracts/Cargo.toml
  contracts/nested-contracts/inner-contract/Cargo.toml
  contracts/nested-contracts/inner-contract/src/contract.rs
  contracts/queue/Cargo.toml
  contracts/queue/src/contract.rs
Due: none

Mute clippy lint, revert unrelated change
  contracts/nested-contracts/src/contract.rs
  packages/vm/src/modules/cached_module.rs
Due: none

Remove manual reading of wasmer version
  Cargo.lock
  packages/vm-derive-impl/Cargo.toml
  packages/vm-derive-impl/src/lib.rs
  packages/vm-derive-impl/src/read_wasmer_version.rs
  packages/vm/src/modules/file_system_cache.rs
Due: none

Get rid of `inventory`
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm-derive-impl/Cargo.toml
  packages/vm-derive-impl/src/hash_function.rs
  packages/vm-derive-impl/src/lib.rs
  packages/vm-derive/Cargo.toml
  packages/vm-derive/src/hash_function.rs
  packages/vm-derive/src/lib.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/mod.rs
Due: none

Fix hash
  packages/vm/src/modules/file_system_cache.rs
Due: none

Remove mention of the impl crate from CI
  .circleci/config.yml
Due: none

Fix
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/instance.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/metering.rs
  packages/vm/src/wasm_backend/mod.rs
Due: none

Fix
  packages/vm/src/errors/communication_error.rs
  packages/vm/src/imports.rs
  packages/vm/src/sections.rs
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Fix
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/instance.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/metering.rs
  packages/vm/src/wasm_backend/mod.rs
Due: none

Fix
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/src/instance.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/metering.rs
  packages/vm/src/wasm_backend/mod.rs
Due: none

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-schema, cosmwasm-std, cosmwasm-storage

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-schema, cosmwasm-std

chore: Release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
