Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

fixes:
  - "/root/project/::" # reduce root, e.g. "/root/project/path/" => "path/"

flags:
  cosmwasm-check:
    paths:
      - packages/check/
  #cosmwasm-core:
  #  paths:
  #    - packages/core/
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-schema-derive:
    paths:
      - packages/schema-derive/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-vm:
    paths:
      - packages/vm/
  cosmwasm-vm-derive:
    paths:
      - packages/vm-derive/

Updated CHANGELOG with unreleased issues and PRs.
  CHANGELOG.md
Due: none

Updated CHANGELOG with unreleased issues and PRs. (#2603)
  CHANGELOG.md
Due: none

Optimize Decimal::sqrt using ilog10
  packages/std/src/math/decimal.rs
  packages/std/src/math/uint128.rs
Due: cosmwasm-std

Added edition to workspace.
  Cargo.toml
  packages/check/Cargo.toml
  packages/core/Cargo.toml
  packages/crypto/Cargo.toml
  packages/cw-schema-derive/Cargo.toml
  packages/cw-schema/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm-derive/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Added workspace settings for license and repository.
  Cargo.toml
  packages/check/Cargo.toml
  packages/core/Cargo.toml
  packages/crypto/Cargo.toml
  packages/cw-schema-derive/Cargo.toml
  packages/cw-schema/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm-derive/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Removed unsused release metadata.
  packages/go-gen/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-vm

Updates.
  Cargo.toml
Due: none

Add benchmarking instructions to README
  README.md
Due: none

Fixed workspace settings (#2605)
  Cargo.toml
  packages/check/Cargo.toml
  packages/core/Cargo.toml
  packages/crypto/Cargo.toml
  packages/cw-schema-derive/Cargo.toml
  packages/cw-schema/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm-derive/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Prepared development version v2.2.4-dev
  Cargo.lock
  Cargo.toml
Due: none

Redirected common attributes to workspace settings.
  Cargo.toml
  packages/check/Cargo.toml
  packages/core/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm-derive/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Prepared version v2.2.4-rc.0
  Cargo.lock
  Cargo.toml
Due: none

Updated versions in contracts.
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.toml
  contracts/nested-contracts/Cargo.toml
  contracts/nested-contracts/inner-contract/Cargo.toml
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.toml
Due: none

Updated dependencies in contracts.
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/nested-contracts/Cargo.lock
  contracts/nested-contracts/Cargo.toml
  contracts/nested-contracts/inner-contract/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Prepared version v2.2.4
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/nested-contracts/Cargo.lock
  contracts/nested-contracts/Cargo.toml
  contracts/nested-contracts/inner-contract/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
Due: none

Fixed rmp-serde version to 1.3.0
  packages/std/Cargo.toml
Due: cosmwasm-std

Fixed rmp version to 0.8.14
  Cargo.lock
  packages/std/Cargo.toml
Due: cosmwasm-std

Fixed versions for backtrace and indexmap
  Cargo.lock
  packages/vm/Cargo.toml
Due: cosmwasm-vm

Fixed dependency versions.
  Cargo.lock
  Cargo.toml
Due: none

Prepared version v2.2.5
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/nested-contracts/Cargo.lock
  contracts/nested-contracts/Cargo.toml
  contracts/nested-contracts/inner-contract/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
Due: cosmwasm-std, cosmwasm-vm

Redirected common Cargo attributes to workspace settings.
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  packages/check/Cargo.toml
  packages/core/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm-derive/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Prepared version v2.2.6
  Cargo.lock
  Cargo.toml
Due: none

Updated dependencies in contracts to version =2.2.6
  Taskfile.yml
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/nested-contracts/Cargo.lock
  contracts/nested-contracts/Cargo.toml
  contracts/nested-contracts/inner-contract/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
Due: none

Updated CHANGELOG.
  CHANGELOG.md
Due: none

Redirected common Cargo attributes to workspace settings.
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  packages/check/Cargo.toml
  packages/core/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm-derive/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Prepared version v2.3.1
  Cargo.lock
  Cargo.toml
  Taskfile.yml
Due: none

Updated dependencies in contracts to version =2.3.1
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
Due: none

Add benchmarking instructions to README (#2606)
  README.md
Due: none

Updated contracts.
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/ibc2/Cargo.lock
  contracts/ibc2/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/reflect/schema/cw_schema/raw/query.json
  contracts/reflect/schema/cw_schema/raw/response_to_sub_msg_result.json
  contracts/reflect/schema/cw_schema/reflect.json
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/raw/response_to_sub_msg_result.json
  contracts/reflect/schema/reflect.json
  contracts/replier/Cargo.toml
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.toml
Due: none

Updated contracts.
  contracts/floaty/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Updated contract checks.
  devtools/check-contracts.sh
Due: none

Updated building scripts.
  Taskfile.yml
  devtools/update-schemas.sh
Due: none

Fixed building scripts.
  .github/workflows/contracts.yml
  devtools/check-contracts.sh
Due: none

Removed technical debt (#2609)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
  packages/check/Cargo.toml
  packages/core/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm-derive/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Prepared version v3.0.3
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/ibc2/Cargo.lock
  contracts/ibc2/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/replier/Cargo.lock
  contracts/replier/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
Due: none
