Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

fixes:
  - "/root/project/::" # reduce root, e.g. "/root/project/path/" => "path/"

flags:
  cosmwasm-check:
    paths:
      - packages/check/
  #cosmwasm-core:
  #  paths:
  #    - packages/core/
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-schema-derive:
    paths:
      - packages/schema-derive/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-vm:
    paths:
      - packages/vm/
  cosmwasm-vm-derive:
    paths:
      - packages/vm-derive/

Replaced go-task with taskcmd.
  .taskcmd
  Taskfile.yml
Due: none

Updated changelog.
  CHANGELOG.md
Due: none

Fix typo in HashSet iteration comment
  packages/vm/src/limited.rs
Due: cosmwasm-vm

Fix typo in HashSet iteration comment (#2700)
  packages/vm/src/limited.rs
Due: cosmwasm-vm

Updates.
  packages/vm/src/wasm_backend/engine.rs
Due: cosmwasm-vm

Updates.
  packages/vm/src/instance.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/wasm_backend/engine.rs
Due: cosmwasm-vm

Updates.
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/metering.rs
Due: cosmwasm-vm

Updates.
  packages/vm/src/wasm_backend/metering.rs
Due: cosmwasm-vm

Updates.
  contracts/cyberpunk/tests/integration.rs
  contracts/hackatom/tests/integration.rs
  contracts/queue/tests/integration.rs
Due: none

Updates.
  packages/vm/src/instance.rs
Due: cosmwasm-vm

Updates.
  packages/vm/src/instance.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
Due: cosmwasm-vm

Published version v3.1.0-rc.1
  Cargo.lock
  Cargo.toml
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/cyberpunk/Cargo.toml
  contracts/empty/Cargo.lock
  contracts/empty/Cargo.toml
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-callbacks/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/ibc2/Cargo.lock
  contracts/ibc2/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/replier/Cargo.lock
  contracts/replier/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  contracts/virus/Cargo.lock
  contracts/virus/Cargo.toml
Due: none

docs(ibc-reflect): explain accounts range upper bound
  contracts/ibc-reflect-send/src/state.rs
  contracts/ibc-reflect/src/state.rs
Due: none

docs(ibc-reflect): explain accounts range upper bound (#2702)
  contracts/ibc-reflect-send/src/state.rs
  contracts/ibc-reflect/src/state.rs
Due: none

Upgrade Wasmer from 4.3.7 to 7.3.0
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  packages/check/Cargo.toml
  packages/core/Cargo.toml
  packages/crypto/Cargo.toml
  packages/crypto/src/bls12_381/aggregate.rs
  packages/crypto/tests/bls12_381.rs
  packages/derive/Cargo.toml
  packages/go-gen/src/schema.rs
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/std/src/addresses.rs
  packages/std/src/deps.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
  packages/std/src/testing/mock.rs
  packages/vm/Cargo.toml
  packages/vm/src/compatibility.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/versioning.rs
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
  packages/vm/src/wasm_backend/limiting_tunables.rs
  packages/vm/src/wasm_backend/metering.rs
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm

Build the released cosmwasm-check with Rust 1.82
  .github/workflows/contracts.yml
  Taskfile.yml
Due: none

refactor(std): use primitive integer abs_diff
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Upgrade Wasmer from 7.3.0 to 7.4.0
  .github/workflows/packages.yml
  CHANGELOG.md
  Cargo.lock
  Taskfile.yml
  packages/vm/Cargo.toml
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/versioning.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/limiting_tunables.rs
Due: cosmwasm-vm

update version
  Cargo.lock
  Cargo.toml
Due: none

refactor(std): use primitive integer abs_diff (#2703)
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Bumped version to v3.0.10-rc.0
  Cargo.lock
  Cargo.toml
Due: none

Upgraded Wasner to v7.4.0
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  devtools/check-contracts.sh
  packages/check/Cargo.toml
  packages/core/Cargo.toml
  packages/crypto/Cargo.toml
  packages/crypto/src/bls12_381/aggregate.rs
  packages/crypto/src/bls12_381/pairing.rs
  packages/crypto/tests/bls12_381.rs
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/go-gen/src/schema.rs
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/std/src/deps.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint64.rs
  packages/std/src/testing/mock.rs
  packages/vm-derive/Cargo.toml
  packages/vm/Cargo.toml
  packages/vm/src/compatibility.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/versioning.rs
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
  packages/vm/src/wasm_backend/limiting_tunables.rs
  packages/vm/src/wasm_backend/metering.rs
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Fixed formatting.
  packages/std/src/addresses.rs
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

fix(std): parse Coin amounts as Uint256
  packages/std/src/coin.rs
Due: cosmwasm-std

Disabled reference types.
  packages/vm/src/parsed_wasm.rs
Due: cosmwasm-vm

Removed /dev/null to observe failing output.
  .github/workflows/packages.yml
Due: none

Removed /dev/null to observe failures.
  .github/workflows/packages.yml
Due: none

Commented out multi-threaded havy load test temporarily.
  .github/workflows/packages.yml
Due: none

Bumped version to v2.3.5-rc.2
  Cargo.lock
  Cargo.toml
Due: none

Bumped version to v3.0.10-rc.2
  Cargo.lock
  Cargo.toml
Due: none

fix(std): fix linking on rust 1.96+
  packages/std/src/exports/imports.rs
Due: cosmwasm-std

Upgraded Wasmer to v7.4.0
  Cargo.lock
  Cargo.toml
  Taskfile.yml
  packages/check/Cargo.toml
  packages/core/Cargo.toml
  packages/crypto/Cargo.toml
  packages/crypto/src/bls12_381/aggregate.rs
  packages/crypto/src/bls12_381/pairing.rs
  packages/crypto/tests/bls12_381.rs
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/go-gen/src/schema.rs
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/std/src/addresses.rs
  packages/std/src/deps.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/int128.rs
  packages/std/src/math/int256.rs
  packages/std/src/math/int512.rs
  packages/std/src/math/int64.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
  packages/std/src/testing/mock.rs
  packages/vm-derive/Cargo.toml
  packages/vm/Cargo.toml
  packages/vm/src/compatibility.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/versioning.rs
  packages/vm/src/parsed_wasm.rs
  packages/vm/src/wasm_backend/engine.rs
  packages/vm/src/wasm_backend/gatekeeper.rs
  packages/vm/src/wasm_backend/limiting_tunables.rs
  packages/vm/src/wasm_backend/metering.rs
Due: cosmwasm-check, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Fixed workflows.
  .editorconfig
  .github/workflows/contracts.yml
  .github/workflows/packages.yml
Due: none
