Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Give up MSRV
  docs/MSRV.md
Due: none

Bump Rust version in CI to 1.56.1
  .circleci/config.yml
  .github/workflows/ci.yml
Due: none

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Upgrade uint to 0.9.3
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/std/Cargo.toml
Due: cosmwasm-std

Upgrade rkyv
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
Due: none

Use std::mem::transmute
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Adapt expected gas usage
  contracts/hackatom/tests/integration.rs
Due: none

Set RUST_TEST_THREADS to 8
  .circleci/config.yml
Due: none

Add missing DivideByZeroError export (0.16)
  CHANGELOG.md
  packages/std/src/lib.rs
Due: cosmwasm-std

Add support for configuring Wasm handling to MockQuerier
  CHANGELOG.md
  packages/std/schema/query_request.json
  packages/std/src/mock.rs
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

Add update_wasm to MockQuerier in VM
  packages/vm/src/testing/querier.rs
Due: none

Schema changes because comment has changed - fun stuff, innit mate?
  contracts/reflect/schema/query_msg.json
Due: none

Fix changelog so not modify old entries
  CHANGELOG.md
Due: none

CircleCI: Move deadlinks job to cron to launch every day at 0:00
  .circleci/config.yml
Due: none

Uint256: dedup implementation from_u128 in from_uint128; Fix review comments
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint256.rs
Due: cosmwasm-std

Decimal/256: Add 'new' and 'raw' const constructors
  CHANGELOG.md
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/uint256.rs
Due: cosmwasm-std

Add more testcases to checked implementations in Uint types
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Update rkyv
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
Due: none

Add integration test for floaty
  .circleci/config.yml
  contracts/floaty/Cargo.toml
  contracts/floaty/tests/integration.rs
Due: none

Fix typo: normalzed -> normalized
  packages/std/src/mock.rs
  packages/vm/src/testing/mock.rs
Due: cosmwasm-std

Add CHANGELOG entry for addr_validate
  CHANGELOG.md
Due: none

Update Api::addr_validate documentation
  packages/std/src/traits.rs
Due: cosmwasm-std

Let addr_validate check normalization
  packages/std/src/mock.rs
Due: cosmwasm-std

Normalize casing in BackendApi::canonical_address
  packages/vm/src/testing/mock.rs
Due: none

Let do_addr_validate check address is normalized
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
Due: none

Make clippy happy (clippy::branches_sharing_code)
  contracts/queue/src/contract.rs
Due: none

Set version: 1.0.0-beta8
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Set version: 0.16.7
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage
