Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-core, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

fixes:
  - "/root/project/::" # reduce root, e.g. "/root/project/path/" => "path/"

flags:
  cosmwasm-check:
    paths:
      - packages/check/
  cosmwasm-core:
    paths:
      - packages/core/
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-schema-derive:
    paths:
      - packages/schema-derive/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-vm:
    paths:
      - packages/vm/
  cosmwasm-vm-derive:
    paths:
      - packages/vm-derive/

Update state.rs
  contracts/ibc-reflect/src/state.rs
Due: none

chore: Deprecate IBC fees
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
  packages/std/src/ibc.rs
Due: cosmwasm-std

Add `#[allow(deprecated)]` over reexport
  packages/std/src/lib.rs
Due: cosmwasm-std

Allow usage of deprecated APIs in IBC module
  packages/std/src/ibc.rs
Due: cosmwasm-std

Upgrade ark-* dependencies to 0.5.0
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc2/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/replier/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

chore: Fix 'since' argument
  packages/std/src/ibc.rs
Due: cosmwasm-std

chore: Update CHANGELOG
  CHANGELOG.md
Due: none

Update burner contract to take a list of denoms
  contracts/burner/schema/burner.json
  contracts/burner/schema/raw/migrate.json
  contracts/burner/src/contract.rs
  contracts/burner/src/msg.rs
  contracts/burner/tests/integration.rs
Due: none

Remove BankQuery::AllBalances, AllBalanceResponse and query_all_balances
  packages/go-gen/src/main.rs
  packages/std/src/lib.rs
  packages/std/src/query/bank.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/testing/querier.rs
Due: cosmwasm-std, cosmwasm-vm

Remove usage of BankQuery::AllBalances from reflect test
  contracts/reflect/src/contract.rs
Due: none

Avoid the all_balances query in hackathon
  contracts/hackatom/schema/hackatom.json
  contracts/hackatom/schema/raw/execute.json
  contracts/hackatom/schema/raw/query.json
  contracts/hackatom/src/contract.rs
  contracts/hackatom/src/msg.rs
  contracts/hackatom/tests/integration.rs
Due: none

Remove usage of query_all_balances from ibc-reflect
  contracts/ibc-reflect/schema/ibc/acknowledgement_msg_balance.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/ibc-reflect/src/bin/schema.rs
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/src/msg.rs
  contracts/ibc-reflect/tests/integration.rs
Due: none

f! reflect
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
Due: none

Add new entrypoint for IBCv2 Timeout
  contracts/ibc2/src/contract.rs
  contracts/ibc2/tests/integration.rs
Due: none

Add test for `ibc2_timeout` entry point function
  contracts/ibc2/tests/integration.rs
Due: none

Add `do_ibc2_timeout` function to imports in `contracts/ibc2/src/contract.rs`
  contracts/ibc2/src/contract.rs
Due: none

Add `do_ibc2_timeout` function to handle IBCv2 timeouts
  contracts/ibc2/src/contract.rs
  contracts/ibc2/tests/integration.rs
Due: none

Add `ibc2_timeout` entry point and tests
  contracts/ibc2/schema/raw/query.json
  contracts/ibc2/src/contract.rs
  contracts/ibc2/tests/integration.rs
Due: none

Add `ibc2_timeout` entry point function and update imports in `contract.rs`
  contracts/ibc2/src/contract.rs
Due: none

Add `do_ibc2_timeout` function to imports in `contract.rs`
  contracts/ibc2/src/contract.rs
Due: none

Add `ibc2_timeout` entry point function to handle IBCv2 timeouts
  contracts/ibc2/src/contract.rs
Due: none

Add `ibc2_timeout` entry point function and update `State` struct
  contracts/ibc2/src/contract.rs
Due: none

Rename contract variables to the name of the contract and make them static
  packages/vm/examples/multi_threaded_cache.rs
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/compatibility.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/static_analysis.rs
  packages/vm/src/wasm_backend/compile.rs
Due: cosmwasm-vm

Add ibc callbacks entrypoints to enum
  packages/vm/src/static_analysis.rs
Due: cosmwasm-vm

Test call_migrate and call_migrate_with_info against old hackatom
  packages/vm/src/calls.rs
Due: cosmwasm-vm

Change testdata/hackatom.wasm from link to copy
  packages/vm/README.md
  packages/vm/testdata/hackatom.wasm
Due: cosmwasm-vm

Add changelog entry
  CHANGELOG.md
Due: none

Disable core coverage for now
  .circleci/config.yml
  codecov.yml
Due: none

Fix CI config
  .circleci/config.yml
Due: none

Editorconfig: use 4 spaces for .toml indent
  .editorconfig
Due: none

Remove usage of BankQuery::AllBalances from reflect test
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
  contracts/reflect/src/contract.rs
Due: none
