Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-check, cosmwasm-core, cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-schema-derive, cosmwasm-std, cosmwasm-vm, cosmwasm-vm-derive

Fix doctests
  packages/std/src/coins.rs
Due: cosmwasm-std

Add changelog entry
  CHANGELOG.md
Due: none

Update ed25519.rs
  packages/crypto/src/ed25519.rs
Due: cosmwasm-crypto

Update README.md
  README.md
Due: none

feat: Implement module size limit and overflow protection
  packages/vm/src/compatibility.rs
  packages/vm/src/config.rs
  packages/vm/src/environment.rs
  packages/vm/src/lib.rs
  packages/vm/src/memory.rs
  packages/vm/src/security_tests.rs
Due: cosmwasm-vm

continue to improve testing
  Cargo.lock
  packages/vm/Cargo.toml
  packages/vm/README.md
  packages/vm/src/instance.rs
  packages/vm/src/lib.rs
  packages/vm/src/security_limits.rs
  packages/vm/src/serde.rs
  packages/vm/src/wasm_backend/limiting_tunables.rs
Due: cosmwasm-vm

finish updatge to wasmver v6
  Cargo.lock
  packages/vm/Cargo.toml
Due: cosmwasm-vm

fix file_system_cache test
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/vm/src/modules/file_system_cache.rs
Due: cosmwasm-std, cosmwasm-vm

fix remaining issues and add tests
  packages/vm/benches/main.rs
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/modules/versioning.rs
Due: cosmwasm-vm

bump rust...
  .circleci/config.yml
Due: none

cargo fmt
  packages/vm/src/modules/file_system_cache.rs
  packages/vm/src/security_tests.rs
Due: cosmwasm-vm

add cargo2024
  Cargo.toml
Due: none

find lagging dep
  .github/workflows/contract.yml
  .github/workflows/workspace.yml
  Cargo.toml
Due: none

update
  Cargo.lock
  packages/check/Cargo.toml
Due: cosmwasm-check

Remove comment
  contracts/staking/src/contract.rs
Due: none

Copy doctests for contains_only
  packages/std/src/coins.rs
Due: cosmwasm-std

chore: Update docs
  packages/std/src/exports.rs
  packages/std/src/ibc2.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

feat: Add IBCv2 timeout entrypoint (#2454)
  contracts/ibc2/schema/ibc2.json
  contracts/ibc2/schema/raw/response_to_query_state.json
  contracts/ibc2/src/contract.rs
  contracts/ibc2/src/state.rs
  packages/std/src/exports.rs
  packages/std/src/ibc2.rs
  packages/std/src/lib.rs
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/lib.rs
  packages/vm/src/static_analysis.rs
  packages/vm/testdata/ibc2.wasm
Due: cosmwasm-std, cosmwasm-vm

chore: Update CHANGELOG
  CHANGELOG.md
Due: none

chore: remove HasIBC2EntryPoints
  packages/vm/src/cache.rs
  packages/vm/src/static_analysis.rs
Due: cosmwasm-vm

make cargo fmt feel better
  packages/vm/src/cache.rs
Due: cosmwasm-vm

chore: Update CHANGELOG (#2464)
  CHANGELOG.md
Due: none

chore: update check response
  packages/vm/src/cache.rs
Due: cosmwasm-vm

Undo unnecessary type annotation
  packages/vm/src/cache.rs
Due: cosmwasm-vm

Make EnvsOptions non_exhaustive and add soem docs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add EnvsOptions to make block_time, initial_height, initial_time, chain_id
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
Due: cosmwasm-std

Make block_time variable and iterate until overflow
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Make EnvsOptions fields pub
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Test all values of mock_env
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Remove unnecessary envs_produced
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Create `Envs`, a factory for making mock `Env`s
  packages/std/src/testing/mock.rs
  packages/std/src/testing/mod.rs
Due: cosmwasm-std

Derive Debug for EnvsOptions
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Add CHANGELOG entry for Envs
  CHANGELOG.md
Due: none

Remove IbcQuery::ListChannels and ListChannelsResponse
  packages/go-gen/tests/cosmwasm_std__IbcQuery.go
  packages/std/src/lib.rs
  packages/std/src/query/ibc.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Re-generate schemas
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
Due: none

Add CHANGELOG entry for IbcQuery::ListChannels/ListChannelsResponse removal
  CHANGELOG.md
Due: none

Rename make_dependencies -> deps_from_imports and make it private
  packages/std/src/exports.rs
Due: cosmwasm-std

Remove export of ExternalApi, ExternalQuerier and ExternalStorage
  CHANGELOG.md
  packages/std/src/lib.rs
Due: cosmwasm-std

Move deps_from_imports to bottom of the file
  packages/std/src/exports.rs
Due: cosmwasm-std

Group imports and exports in exports module
  packages/std/src/exports/exports.rs
  packages/std/src/exports/imports.rs
  packages/std/src/exports/memory.rs
  packages/std/src/exports/mod.rs
  packages/std/src/exports/panic.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Path conditions:
  cosmwasm-check: any of: packages/check/
  cosmwasm-core: any of: packages/core/
  cosmwasm-crypto: any of: packages/crypto/
  cosmwasm-derive: any of: packages/derive/
  cosmwasm-schema: any of: packages/schema/
  cosmwasm-schema-derive: any of: packages/schema-derive/
  cosmwasm-std: any of: packages/std/
  cosmwasm-vm: any of: packages/vm/
  cosmwasm-vm-derive: any of: packages/vm-derive/
