Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Test and fix GovMsg serialization
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Add comment to vote field
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Update schemas
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
Due: none

Move some test code
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Add WasmMsg::Instantiate/Instantiate2 serialization tests
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Test serialisation of WasmQuery::ContractInfo/CodeInfo, Contract/CodeInfoResponse
  packages/std/src/query/wasm.rs
Due: cosmwasm-std

Test SystemError::NoSuchContract/NoSuchCode serialization
  packages/std/src/errors/system_error.rs
Due: cosmwasm-std

Moved to message_info
  packages/std/src/types.rs
Due: cosmwasm-std

Test size_of for Uint64/128/256/512
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Set version: 1.2.0-rc.1
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

removed snake_case from serialization of contract_result since it conflicts with v1's interface
  packages/std/src/results/contract_result.rs
Due: cosmwasm-std

removing renaming of json Err variant of contract result, too
  packages/std/src/results/contract_result.rs
Due: cosmwasm-std

also making system-result conform to the previous interface
  packages/std/src/results/system_result.rs
Due: cosmwasm-std

Support fraction multiply
  packages/std/src/errors/mod.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/lib.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/fraction.rs
  packages/std/src/math/mod.rs
  packages/std/src/math/uint128.rs
Due: cosmwasm-std

Add macro abstraction support
  packages/std/src/errors/std_error.rs
  packages/std/src/math/fraction.rs
  packages/std/src/math/uint128.rs
Due: cosmwasm-std

Higher bit size tests
  packages/std/src/math/uint128.rs
Due: cosmwasm-std

Macro & math updates
  packages/std/src/errors/mod.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/lib.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/fraction.rs
  packages/std/src/math/mod.rs
  packages/std/src/math/uint128.rs
Due: cosmwasm-std

tests + trait update
  packages/std/src/math/fraction.rs
Due: cosmwasm-std

extend macro to Uint64/256
  packages/std/src/math/fraction.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

make floor/ceil tenses consistent
  packages/std/src/math/fraction.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Ceil math without redundant expansion
  packages/std/src/math/fraction.rs
Due: cosmwasm-std

Improve zero denom check
  packages/std/src/math/fraction.rs
Due: cosmwasm-std

Ensure no rounds on even divides
  packages/std/src/math/fraction.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Add fraction division support
  packages/std/src/math/fraction.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Add rustdocs
  packages/std/src/math/fraction.rs
Due: cosmwasm-std

add to changlog
  CHANGELOG.md
Due: none

fixed link in SEMANTICS.md to actors info
  SEMANTICS.md
Due: none

fmt
  SEMANTICS.md
Due: none

SEMANTICS.md example is breadth first not depth
  SEMANTICS.md
Due: none

Update SEMANTICS.md
  SEMANTICS.md
Due: none

fixing tests
  packages/std/src/results/contract_result.rs
  packages/std/src/results/system_result.rs
Due: cosmwasm-std

Update bumpalo to 3.12.0
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Add docs on using cosmwasm-std
  docs/USING_COSMWASM_STD.md
Due: none

Add MIGRATING section for 1.2
  MIGRATING.md
Due: none

Set version: 1.2.0
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Make fields of WeightedVoteOption public
  CHANGELOG.md
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Add abort and cosmwasm_1_2 to docs
  packages/std/Cargo.toml
Due: cosmwasm-std

Add rust-analyzer settings
  .gitignore
  .vscode/settings.json
Due: none
