Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

std: Add BankQuery::AllDenomMetadata gated by cosmwasm_1_3 feature flag
  .circleci/config.yml
  CHANGELOG.md
  MIGRATING.md
  docs/CAPABILITIES-BUILT-IN.md
  docs/USING_COSMWASM_STD.md
  packages/check/src/main.rs
  packages/std/Cargo.toml
  packages/std/src/exports.rs
  packages/std/src/lib.rs
  packages/std/src/metadata.rs
  packages/std/src/query/bank.rs
  packages/std/src/query/mod.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
  packages/vm/src/testing/instance.rs
Due: cosmwasm-std

Add cosmwasm_1_3 to rust analyzer
  .vscode/settings.json
Due: none

std: Update BankQuery::AllDenomMetadata query with pagination and add BankQuery::DenomMetadata also gated by cosmwasm_1_3 feature flag
  MIGRATING.md
  packages/std/src/lib.rs
  packages/std/src/metadata.rs
  packages/std/src/pagination.rs
  packages/std/src/query/bank.rs
  packages/std/src/query/mod.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Add paginated mock for AllDenomMetadata query
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Set cosmwasm_1_3 feature for docs.rs
  packages/std/Cargo.toml
Due: cosmwasm-std

DenomMetadata testing
  packages/std/src/iterator.rs
  packages/std/src/pagination.rs
  packages/std/src/query/bank.rs
  packages/std/src/testing/mock.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Fix all denoms metadata mock
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

shell for builds
  rust-toolchain.toml
  shell.nix
Due: none

Add Timestamp type to docs
  docs/MESSAGE_TYPES.md
Due: none

Update docs links
  docs/MESSAGE_TYPES.md
Due: none

draft cw
  packages/std/Cargo.toml
  packages/std/src/addresses.rs
  packages/std/src/cw_std.rs
  packages/std/src/lib.rs
  rust-toolchain.toml
  shell.nix
Due: cosmwasm-std

more cw
  packages/std/src/binary.rs
  packages/std/src/coin.rs
  packages/std/src/cw_std.rs
  packages/std/src/deps.rs
  packages/std/src/exports.rs
  packages/std/src/hex_binary.rs
  packages/std/src/ibc.rs
  packages/std/src/imports.rs
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
  packages/std/src/math/isqrt.rs
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
  packages/std/src/memory.rs
  packages/std/src/results/contract_result.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/results/system_result.rs
  packages/std/src/serde.rs
  packages/std/src/storage.rs
  packages/std/src/timestamp.rs
  packages/std/src/traits.rs
  shell.nix
Due: cosmwasm-std

more
  packages/std/src/cw_std.rs
  packages/std/src/errors/recover_pubkey_error.rs
  packages/std/src/errors/std_error.rs
  packages/std/src/errors/verification_error.rs
Due: cosmwasm-std

Bump module serialization version
  packages/vm/src/modules/file_system_cache.rs
Due: none

Update changelog
  CHANGELOG.md
Due: none

Fix test
  packages/vm/src/modules/file_system_cache.rs
Due: none

Improve CHANGELOG text
  CHANGELOG.md
Due: none

Apply suggestions from code review
  MIGRATING.md
  packages/std/src/query/bank.rs
Due: cosmwasm-std

Add DenomMetadata query to changelog
  CHANGELOG.md
Due: none

Add DenomMetadata to capability docs
  docs/CAPABILITIES-BUILT-IN.md
Due: none

Set version: 1.2.6
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Changed format as per PR review
  CHANGELOG.md
  packages/std/src/coin.rs
Due: cosmwasm-std

Coin uses same output for Debug as Display
  packages/std/src/coin.rs
Due: cosmwasm-std

Fix CHANGELOG formatting
  CHANGELOG.md
Due: none

Add bps conversion to Decimal and Decimal256
  packages/std/src/math/decimal.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Fix formatting
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Update packages/std/src/math/decimal.rs
  packages/std/src/math/decimal.rs
Due: cosmwasm-std

Update packages/std/src/math/decimal256.rs
  packages/std/src/math/decimal256.rs
Due: cosmwasm-std

Update CHANGELOG
  CHANGELOG.md
Due: none

fix mock dep
  packages/std/Cargo.toml
Due: cosmwasm-std

missing bits
  packages/std/src/exports.rs
  packages/std/src/imports.rs
  packages/std/src/memory.rs
Due: cosmwasm-std

Use u32 for pagination limit
  packages/std/src/pagination.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Avoid Vec allocation
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Implement left shift for all ints
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Add backport to mergify config
  .mergify.yml
Due: none

Fix mergify config
  .mergify.yml
Due: none

Add check trait for shift operations
  packages/std/src/math/mod.rs
Due: cosmwasm-std
