Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

fix schema test
  packages/schema-derive/src/cw_serde.rs
Due: none

Add wycheproof tests for ECDSA secp256k1
  packages/crypto/testdata/wycheproof/ecdsa_secp256k1_sha256_test.json
  packages/crypto/testdata/wycheproof/ecdsa_secp256k1_sha512_test.json
  packages/crypto/tests/wycheproof_secp256k1.rs
Due: cosmwasm-crypto

Make hashers more compact
  packages/crypto/tests/wycheproof_secp256k1.rs
Due: cosmwasm-crypto

Deduplicate test case processing
  packages/crypto/tests/wycheproof_secp256k1.rs
Due: cosmwasm-crypto

Test secp256k1_recover_pubkey as well
  packages/crypto/tests/wycheproof_secp256k1.rs
Due: cosmwasm-crypto

Require two pubkey recoveries to succeed
  packages/crypto/src/secp256k1.rs
  packages/crypto/tests/wycheproof_secp256k1.rs
Due: cosmwasm-crypto

Improve DER decoder
  packages/crypto/tests/wycheproof_secp256k1.rs
Due: cosmwasm-crypto

Make test number checks less strict
  packages/crypto/tests/wycheproof_secp256k1.rs
Due: cosmwasm-crypto

Test ecdsa_secp256k1_sha3_256_test.json
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/testdata/wycheproof/README.md
  packages/crypto/testdata/wycheproof/ecdsa_secp256k1_sha3_256_test.json
  packages/crypto/tests/wycheproof_secp256k1.rs
Due: cosmwasm-crypto

Improve test code and disable sha512
  packages/crypto/tests/wycheproof_secp256k1.rs
Due: cosmwasm-crypto

Add ecdsa_secp256k1_sha3_512_test.json and fix sha512 hasher
  packages/crypto/testdata/wycheproof/README.md
  packages/crypto/testdata/wycheproof/ecdsa_secp256k1_sha3_512_test.json
  packages/crypto/tests/wycheproof_secp256k1.rs
Due: cosmwasm-crypto

Improve docs on test vectors
  packages/crypto/testdata/wycheproof/README.md
  packages/crypto/tests/wycheproof_secp256k1.rs
Due: cosmwasm-crypto

Remove obsolete ecdsa dependency
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
Due: cosmwasm-crypto

Bump k256 to ^0.13.3
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/src/secp256k1.rs
Due: cosmwasm-crypto

make deny_unknown_fields an additive feature
  packages/schema-derive/Cargo.toml
  packages/schema-derive/src/cw_serde.rs
  packages/schema/Cargo.toml
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

Add cyberpunk build command
  contracts/README.md
Due: none

Add Noop
  contracts/cyberpunk/schema/cyberpunk.json
  contracts/cyberpunk/schema/raw/execute.json
  contracts/cyberpunk/src/contract.rs
  contracts/cyberpunk/src/msg.rs
Due: none

Rebuild cyberpunk test contract
  packages/vm/benches/main.rs
  packages/vm/src/calls.rs
  packages/vm/src/compatibility.rs
  packages/vm/testdata/cyberpunk.wasm
Due: none

Add measurement_time_s arg to config
  packages/vm/benches/main.rs
Due: none

Add combined benchmarks
  packages/vm/benches/main.rs
Due: none

Enable benchmarking for add-noop
  .circleci/config.yml
Due: none

Rename contract to HACKATOM
  packages/vm/benches/main.rs
Due: none

Update to k256 pre-release to allow high-S in recover pubkey
  Cargo.lock
  packages/crypto/Cargo.toml
  packages/crypto/benches/main.rs
  packages/crypto/src/identity_digest.rs
  packages/crypto/src/secp256k1.rs
Due: cosmwasm-crypto

Set version: 2.0.0-rc.0
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std

Update changelog
  CHANGELOG.md
Due: none

Apply 2.0 changes to reflect and ibc-reflect
  contracts/ibc-reflect/Cargo.toml
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/Cargo.toml
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/raw/query.json
  contracts/reflect/schema/reflect.json
Due: none

Added Sync + Send to Printable used in BT.
  packages/std/src/errors/backtrace.rs
Due: cosmwasm-std

Made GrpcQuery public.
  packages/std/src/lib.rs
Due: cosmwasm-std

Refactored iterator usage.
  packages/go-gen/src/utils.rs
Due: none

Set version: 2.0.0-rc.1
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/go-gen/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std

Fix cosmwasm-check capabilities
  packages/check/src/main.rs
Due: none

fix: update broken link to docs
  contracts/README.md
  contracts/reflect/README.md
  contracts/staking/README.md
Due: none

Add ReplyOn and VoteOption support
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
  packages/go-gen/tests/cosmwasm_std__GovMsg.go
Due: none

Add omitempty for fields with default in go-gen
  packages/go-gen/src/go.rs
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
Due: none

Add Array type to go-gen
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
  packages/go-gen/tests/cosmwasm_std__AllBalanceResponse.go
  packages/go-gen/tests/cosmwasm_std__AllDelegationsResponse.go
  packages/go-gen/tests/cosmwasm_std__AllValidatorsResponse.go
  packages/go-gen/tests/cosmwasm_std__BankMsg.go
  packages/go-gen/tests/cosmwasm_std__DelegationResponse.go
  packages/go-gen/tests/cosmwasm_std__DelegationRewardsResponse.go
  packages/go-gen/tests/cosmwasm_std__DelegationTotalRewardsResponse.go
  packages/go-gen/tests/cosmwasm_std__DelegatorValidatorsResponse.go
  packages/go-gen/tests/cosmwasm_std__DenomMetadataResponse.go
  packages/go-gen/tests/cosmwasm_std__DistributionMsg.go
  packages/go-gen/tests/cosmwasm_std__GovMsg.go
  packages/go-gen/tests/cosmwasm_std__WasmMsg.go
Due: none

Format markdown
  contracts/reflect/README.md
  contracts/staking/README.md
Due: none

Use go slice for nullable arrays
  packages/go-gen/src/main.rs
  packages/go-gen/src/schema.rs
Due: none

Add explanatory comment
  packages/go-gen/src/schema.rs
Due: none

add IDL docs
  docs/idl.md
Due: none

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
