Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

codecov.yml:

comment: false

coverage:
  status:
    project:
      default:
        threshold: 0.05%
    patch:
      default:
        threshold: 0.05%

ignore:
  - "contracts"
  - "packages/profiler"
  # Disabled due to "cargo_tarpaulin: Failed to get test coverage! Error: Failed to run tests: Error running test - SIGILL raised in 5835"
  - "packages/vm"

flags:
  cosmwasm-crypto:
    paths:
      - packages/crypto/
  cosmwasm-derive:
    paths:
      - packages/derive/
  cosmwasm-schema:
    paths:
      - packages/schema/
  cosmwasm-std:
    paths:
      - packages/std/
  cosmwasm-storage:
    paths:
      - packages/storage/

Set version: 1.1.4
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Update CHANGELOG (1.1.4)
  CHANGELOG.md
Due: none

Fix doc comment
  packages/schema-derive/src/query_responses.rs
Due: none

Add query_responses(nested) attribute
  packages/schema-derive/src/lib.rs
  packages/schema-derive/src/query_responses.rs
  packages/schema/src/lib.rs
  packages/schema/src/query_response.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

Fix clippy
  packages/schema-derive/src/query_responses.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

Unify error message
  packages/schema-derive/src/query_responses.rs
Due: none

Remove check for serde(untagged)
  packages/schema-derive/src/query_responses.rs
Due: none

Add name collision test
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

rust-toolchain nightly
  rust-toolchain
Due: none

Improve error when compiling schema gen for wasm
  CHANGELOG.md
  packages/schema-derive/src/generate_api.rs
Due: none

vm: rename ctx -> store
  packages/vm/src/calls.rs
  packages/vm/src/environment.rs
  packages/vm/src/instance.rs
Due: none

vm: align most store-related stuff
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/modules/versioning.rs
  packages/vm/src/testing/instance.rs
Due: none

Fix Cosmos docs links (master -> main)
  contracts/reflect/schema/reflect.json
  packages/std/src/results/events.rs
  packages/std/src/results/response.rs
Due: cosmwasm-std

Pin tarpaulin version to 0.20.1
  .circleci/config.yml
Due: none

Upgrade tarpaulin to 0.21.0
  .circleci/config.yml
Due: none

Exit early when gas left is insufficient
  CHANGELOG.md
  packages/vm/src/imports.rs
Due: none

Upgrade clippy job to Rust 1.64.0
  .circleci/config.yml
Due: none

Remove non_exhaustive from IBC message types.
  CHANGELOG.md
  packages/std/src/ibc.rs
Due: cosmwasm-std

Elaborate on CHANGELOG entry
  CHANGELOG.md
Due: none

Add missing tag links 1.1.2-1.1.4
  CHANGELOG.md
Due: none

Inline wrapping fucntions for Uint64/Uint128 and inprove testing
  packages/std/src/math/uint128.rs
  packages/std/src/math/uint64.rs
Due: cosmwasm-std

Add wrapping methods to Uint256/Uint512
  CHANGELOG.md
  packages/std/src/math/uint256.rs
  packages/std/src/math/uint512.rs
Due: cosmwasm-std

Set version: 1.1.5
  CHANGELOG.md
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Upgrade rust-optimizer to 0.12.9
  .circleci/config.yml
  README.md
  contracts/README.md
  packages/vm/README.md
Due: none

Add array to CanonicalAddr converters
  CHANGELOG.md
  packages/std/src/addresses.rs
Due: cosmwasm-std

Implement Binary/HexBinary <-> CanonicalAddr converters
  CHANGELOG.md
  packages/std/src/addresses.rs
Due: cosmwasm-std

Implement PartialEq between CanonicalAddr and HexBinary/Binary
  CHANGELOG.md
  packages/std/src/addresses.rs
Due: cosmwasm-std

Avoid the usage of CanonicalAddr.0
  packages/std/src/addresses.rs
  packages/std/src/imports.rs
  packages/std/src/testing/mock.rs
Due: cosmwasm-std

Improve documentation of CanonicalAddr
  packages/std/src/addresses.rs
  packages/std/src/traits.rs
Due: cosmwasm-std

Increase dependency requirements to make -Zminimal-versions pass
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/burner/Cargo.toml
  contracts/crypto-verify/Cargo.lock
  contracts/crypto-verify/Cargo.toml
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/floaty/Cargo.toml
  contracts/hackatom/Cargo.lock
  contracts/hackatom/Cargo.toml
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect-send/Cargo.toml
  contracts/ibc-reflect/Cargo.lock
  contracts/ibc-reflect/Cargo.toml
  contracts/queue/Cargo.lock
  contracts/queue/Cargo.toml
  contracts/reflect/Cargo.lock
  contracts/reflect/Cargo.toml
  contracts/staking/Cargo.lock
  contracts/staking/Cargo.toml
  devtools/build_min.sh
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-schema, cosmwasm-std

Move dependency block from std to vm
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/std/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-std

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Update storage-plus links in README.md
  README.md
Due: none

Update memory functions
  packages/vm/src/memory.rs
Due: none

Fun with Stores
  packages/vm/src/cache.rs
  packages/vm/src/calls.rs
  packages/vm/src/environment.rs
  packages/vm/src/imports.rs
  packages/vm/src/instance.rs
  packages/vm/src/memory.rs
  packages/vm/src/testing/instance.rs
Due: none

Remove packages/profiler
  .circleci/config.yml
  .mergify.yml
  CHANGELOG.md
  Cargo.lock
  codecov.yml
  devtools/check_workspace.sh
  devtools/deadlinks.py
  packages/profiler/Cargo.toml
  packages/profiler/src/code_blocks.rs
  packages/profiler/src/instrumentation.rs
  packages/profiler/src/main.rs
  packages/profiler/src/measure.rs
  packages/profiler/src/operators.rs
  packages/profiler/src/profiling.rs
  packages/profiler/src/utils.rs
  packages/profiler/testdata/hackatom.wasm
Due: none

Link to cosmwasm-storage deprecation issue
  README.md
Due: none

Update readmes and cargo.tomls
  packages/std/Cargo.toml
  packages/std/README.md
  packages/storage/Cargo.toml
  packages/storage/README.md
Due: cosmwasm-std, cosmwasm-storage

Fix package names
  Cargo.lock
  contracts/hackatom/Cargo.toml
  packages/derive/Cargo.toml
  packages/profiler/Cargo.toml
  packages/std/Cargo.toml
  packages/std/examples/schema.rs
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-derive, cosmwasm-std, cosmwasm-storage

specify version
  packages/storage/Cargo.toml
Due: cosmwasm-storage
