Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Rename state_version to migrate_version
  packages/derive/src/lib.rs
  packages/vm/src/cache.rs
  packages/vm/src/parsed_wasm.rs
Due: cosmwasm-derive

Rename state version in docs
  CHANGELOG.md
  packages/derive/src/lib.rs
  packages/vm/src/cache.rs
  packages/vm/src/parsed_wasm.rs
Due: cosmwasm-derive

Fix changelog entry
  CHANGELOG.md
Due: none

Implement initial version of TransferMsgBuilder
  packages/std/src/ibc.rs
  packages/std/src/ibc/callbacks.rs
  packages/std/src/ibc/transfer_msg_builder.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Refactor TransferMsgBuilder
  packages/std/src/ibc/transfer_msg_builder.rs
Due: cosmwasm-std

Use TransferMsgBuilder in examples
  contracts/ibc-callbacks/src/contract.rs
  packages/std/src/ibc/callbacks.rs
Due: cosmwasm-std

Undo pub(crate)
  packages/std/src/ibc/callbacks.rs
Due: cosmwasm-std

Add docs to TransferMsgBuilder
  packages/std/src/ibc/transfer_msg_builder.rs
Due: cosmwasm-std

Update packages/std/src/ibc/callbacks.rs
  packages/std/src/ibc/callbacks.rs
Due: cosmwasm-std

Fix CI
  .circleci/config.yml
  packages/crypto/tests/bls12_381.rs
Due: cosmwasm-crypto

Remove core CI config
  .circleci/config.yml
Due: none

Gate BLS dependencies behind target triple instead of feature
  packages/crypto/Cargo.toml
  packages/crypto/src/bls12_318/mod.rs
  packages/std/Cargo.toml
  packages/std/src/addresses.rs
  packages/std/src/errors/system_error.rs
  packages/std/src/math/signed_decimal.rs
  packages/std/src/math/signed_decimal_256.rs
  packages/std/src/timestamp.rs
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-std

Regen lockfiles
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
Due: none

Fix warnings
  packages/std/src/deps.rs
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Fix reexport
  packages/crypto/src/lib.rs
Due: cosmwasm-crypto

Move constants into core package
  .circleci/config.yml
  Cargo.lock
  packages/core/Cargo.toml
  packages/core/src/crypto.rs
  packages/core/src/lib.rs
  packages/crypto/Cargo.toml
  packages/crypto/benches/main.rs
  packages/crypto/src/bls12_318/constants.rs
  packages/crypto/src/bls12_318/hash.rs
  packages/crypto/src/bls12_318/mod.rs
  packages/crypto/src/bls12_318/pairing.rs
  packages/crypto/src/bls12_318/points.rs
  packages/crypto/src/ed25519.rs
  packages/crypto/src/lib.rs
  packages/crypto/src/secp256k1.rs
  packages/crypto/src/secp256r1.rs
  packages/crypto/tests/bls12_381.rs
  packages/std/Cargo.toml
  packages/std/src/lib.rs
  packages/std/src/results/cosmos_msg.rs
  packages/std/src/testing/mock.rs
  packages/vm/Cargo.toml
  packages/vm/src/calls.rs
  packages/vm/src/imports.rs
Due: cosmwasm-crypto, cosmwasm-std

Set backtrace to 0
  devtools/test_workspace.sh
Due: none

Cache build artifacts in GHA cache
  .github/workflows/workspace.yml
Due: none

Fix imports
  packages/std/src/imports.rs
Due: cosmwasm-std

Regen lockfiles
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/empty/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-callbacks/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  contracts/virus/Cargo.lock
  packages/std/src/deps.rs
  packages/std/src/results/cosmos_msg.rs
Due: cosmwasm-std

Fix reference to Uint128
  packages/std/src/testing/message_info.rs
Due: cosmwasm-std

Remove references to std feature
  .circleci/config.yml
Due: none

Add MemoSource trait
  packages/std/src/ibc/transfer_msg_builder.rs
Due: cosmwasm-std

Fix cw_migrate_version code
  packages/derive/src/lib.rs
Due: cosmwasm-derive

Add migrate_version to hackatom for testing
  contracts/hackatom/src/contract.rs
  packages/vm/src/cache.rs
  packages/vm/src/instance.rs
  packages/vm/testdata/hackatom.wasm
  packages/vm/testdata/hackatom_1.3.wasm
Due: none

docs: added CHANGELOG.md
  CHANGELOG.md
Due: none

docs: imp CHANGELOG
  CHANGELOG.md
Due: none

Update CI Rust version
  .circleci/config.yml
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Format changelog
  CHANGELOG.md
Due: none

fix a typo
  packages/crypto/src/bls12_381/aggregate.rs
  packages/crypto/src/bls12_381/constants.rs
  packages/crypto/src/bls12_381/hash.rs
  packages/crypto/src/bls12_381/mod.rs
  packages/crypto/src/bls12_381/pairing.rs
  packages/crypto/src/bls12_381/points.rs
  packages/crypto/src/lib.rs
Due: cosmwasm-crypto

Fix go-gen test
  packages/go-gen/tests/cosmwasm_std__IbcMsg.go
Due: none

Update schemas
  contracts/ibc-reflect/schema/ibc-reflect.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/ibc-reflect/schema/raw/execute.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
Due: none

Add async ack functionality to ibc-reflect
  contracts/ibc-reflect/schema/ibc-reflect.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/ibc-reflect/schema/raw/execute.json
  contracts/ibc-reflect/src/bin/schema.rs
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/src/msg.rs
Due: none

Add async ack prototype
  packages/std/src/ibc.rs
Due: cosmwasm-std

Update schemas
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/schema/ibc/packet_msg.json
  contracts/reflect/schema/raw/execute.json
  contracts/reflect/schema/reflect.json
Due: none

Remove IbcFullAcknowledgement from async ack
  contracts/ibc-reflect-send/schema/ibc-reflect-send.json
  contracts/ibc-reflect-send/schema/ibc/packet_msg.json
  contracts/ibc-reflect-send/schema/raw/execute.json
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/src/msg.rs
  packages/std/src/ibc.rs
Due: cosmwasm-std

Fix ibc-reflect tests
  contracts/ibc-reflect/src/contract.rs
  contracts/ibc-reflect/tests/integration.rs
Due: none

Update go-gen test
  packages/go-gen/tests/cosmwasm_std__IbcMsg.go
Due: none

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
