Repository CosmWasm/CosmWasm: changes, and which Codecov flags are due for each by the changed paths.
All: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

Fix doc text
  packages/std/src/addresses.rs
Due: cosmwasm-std

Test instantiate2_address against test vectors
  Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/addresses.rs
  packages/std/testdata/instantiate2_addresses.json
Due: cosmwasm-std

Add initial instantiate2_address implementation
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/std/Cargo.toml
  packages/std/src/addresses.rs
  packages/std/src/lib.rs
Due: cosmwasm-std

Test Basic Address hash
  packages/std/src/addresses.rs
Due: cosmwasm-std

Test invalid checksum lengths
  packages/std/src/addresses.rs
Due: cosmwasm-std

Add CHANGELOG entry for instantiate2_address
  CHANGELOG.md
Due: none

docs: provide a list of all built-in capabilities
  docs/CAPABILITIES-BUILT-IN.md
  docs/CAPABILITIES.md
Due: none

Revert "docs: provide a list of all built-in capabilities"
  docs/CAPABILITIES-BUILT-IN.md
  docs/CAPABILITIES.md
Due: none

typo
  docs/CAPABILITIES-BUILT-IN.md
Due: none

Update docs/CAPABILITIES.md
  docs/CAPABILITIES.md
Due: none

QueryResponses: no default type in gen'd impl block
  CHANGELOG.md
  packages/schema-derive/src/query_responses.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

run .md formatter
  CHANGELOG.md
Due: none

Set version: 1.1.8
  Cargo.lock
  contracts/burner/Cargo.lock
  contracts/crypto-verify/Cargo.lock
  contracts/cyberpunk/Cargo.lock
  contracts/floaty/Cargo.lock
  contracts/hackatom/Cargo.lock
  contracts/ibc-reflect-send/Cargo.lock
  contracts/ibc-reflect/Cargo.lock
  contracts/queue/Cargo.lock
  contracts/reflect/Cargo.lock
  contracts/staking/Cargo.lock
  packages/check/Cargo.toml
  packages/crypto/Cargo.toml
  packages/derive/Cargo.toml
  packages/schema-derive/Cargo.toml
  packages/schema/Cargo.toml
  packages/std/Cargo.toml
  packages/storage/Cargo.toml
  packages/vm/Cargo.toml
Due: cosmwasm-crypto, cosmwasm-derive, cosmwasm-schema, cosmwasm-std, cosmwasm-storage

CHANGELOG update
  CHANGELOG.md
Due: none

Use Display representation for embedding Wasmer InstantiationErrors
  CHANGELOG.md
  packages/vm/src/instance.rs
Due: none

Fix link to cargo registry on Windows
  .circleci/config.yml
Due: none

Remove check_contract implementation
  packages/vm/examples/check_contract.rs
Due: none

test nested QueryMsg with generics
  Cargo.lock
  packages/schema/Cargo.toml
  packages/schema/tests/generics.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

Support nested QueryMsg with generics
  packages/schema-derive/src/query_responses.rs
  packages/schema/tests/generics.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

Update CHANGELOG
  CHANGELOG.md
Due: none

Test nested QueryMsg w generics
  packages/schema/src/query_response.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

Fix nested QueryMsg with doc comments errors
  CHANGELOG.md
  packages/schema/src/query_response.rs
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

fix schema dependencies
  Cargo.lock
  packages/schema/Cargo.toml
Due: cosmwasm-schema

Add rename_all = serde parameter to struct
  packages/schema-derive/src/cw_serde.rs
Due: none

fix: issue #1527
  packages/schema-derive/src/generate_api.rs
Due: none

Add cache test new_base_dir_will_be_created
  packages/vm/src/cache.rs
Due: none

Check new base dir does not exist yet
  packages/vm/src/cache.rs
Due: none

Fix data in raw/{query,migrate,sudo}.json
  packages/schema/src/idl.rs
Due: cosmwasm-schema

Regenerate contract schemas
  contracts/burner/schema/raw/migrate.json
  contracts/crypto-verify/schema/raw/query.json
  contracts/cyberpunk/schema/raw/query.json
  contracts/floaty/schema/raw/query.json
  contracts/hackatom/schema/raw/migrate.json
  contracts/hackatom/schema/raw/query.json
  contracts/hackatom/schema/raw/sudo.json
  contracts/ibc-reflect/schema/raw/migrate.json
  contracts/ibc-reflect/schema/raw/query.json
  contracts/queue/schema/raw/query.json
  contracts/reflect/schema/raw/query.json
  contracts/staking/schema/raw/query.json
Due: none

Add PR links to raw JSON Schema directory change
  CHANGELOG.md
Due: none

Test cpu_loop
  contracts/cyberpunk/src/contract.rs
  contracts/cyberpunk/src/msg.rs
  packages/vm/README.md
  packages/vm/src/calls.rs
  packages/vm/testdata/cyberpunk.wasm
Due: none

Update schemas for new cpu_loop type
  contracts/cyberpunk/schema/cyberpunk.json
  contracts/cyberpunk/schema/raw/execute.json
Due: none

Add test to reproduce missing QueryResponses path
  packages/schema/tests/idl.rs
Due: cosmwasm-schema

Add CHANGELOG entry for issue #1527
  CHANGELOG.md
Due: none

Path conditions:
  cosmwasm-crypto: any of: packages/crypto/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-derive: any of: packages/derive/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-schema: any of: packages/schema/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-std: any of: packages/std/, but not: contracts, packages/profiler, packages/vm
  cosmwasm-storage: any of: packages/storage/, but not: contracts, packages/profiler, packages/vm
